[2017-05-06 17:06] Skillotic0703 opened #1193 "[Request] Add support for crafttweaker"
It would be cool if we could change rolling machine recipes so I would like you to add support for crafttweaker please!

[2017-05-06 18:23] liach commented on #1193
Use modtweaker mod instead.

[2017-05-06 18:23] #1193 closed, assigned to nobody

[2017-05-06 20:13] purpleposeidon opened #1194 "Tank carts do not netsync their contents properly"

[2017-05-06 21:46] Ommina commented on #1193
Except ModTweaker doesn't have Railcraft support, so the request still stands.

[2017-05-06 23:24] liach commented on #1193
@Ommina https://github.com/jaredlll08/ModTweaker#supported-mods It claims to support Railcraft, so please move to jaredlll08/ModTweaker#478. Thank you!

[2017-05-07 01:04] Generalcamo opened #1195 "Strange syncing issues with Widgets"
I've been doing some testing locally with Electric Locomotives. However, when I disconnect the power going to the Locomotive and open its GUI, it stops long before it appears to run out of charge (Around 24% charge). Closing and reopening the GUI shows the energy correctly at 0%.

I've noticed the same with the Powered Rolling Machine, except with RF instead of Charge.

ADDENDUM: This appear to af

[2017-05-07 01:14] liach commented on #1195
#1194 ?

[2017-05-07 01:20] CovertJaguar commented on #1195
@liach very likely the same issue

[2017-05-07 01:28] Generalcamo commented on #1195
Thinking all the widgets are broken then?

[2017-05-07 01:41] bookerthegeek commented on #1193
@liach I should probably update that page...

Afaik, http://minetweaker3.powerofbytes.com/wiki/ModTweaker is the list broken down between minecraft version.

[2017-05-07 05:57] liach commented on #1195
@CovertJaguar I suggest raising priority to medium because this is rather often and disturbing.

[2017-05-07 06:08] liach commented on #1143
@CovertJaguar Don't we have a tile for laser tracks already?

[2017-05-07 12:48] draknyte1 commented on #1192
No, but it's always a good refresher for the little I did learn.
Is it worth hooking the forge methods or just go with those from vanilla?

Going to be a heap of garbage logging to sift through and re-tune the logger for.

[2017-05-07 13:45] Generalcamo commented on #1194
Related: #1195

[2017-05-07 16:36] Generalcamo opened #1197 "Add a Track Upgrade mechanic to "upgrade" tracks from one type to another"
Supersedes #982

Rather than adding recipes to upgrade tracks individually (Example: H.S Track to H.S Electric Track), why not base it off the Kit mechanics? Craft an Upgrade Kit, which you would then right-click on tracks to upgrade them with that type?

Some examples of kits:
Reinforcing Kit: Upgrades Standard Track to Reinforced Track
High Speed Kit: Upgrades Standard Track and Electric Track t

[2017-05-07 21:18] #982 closed, assigned to nobody

[2017-05-07 22:13] liach commented on #1197
Well, if you really base it off kit mechanics, you will have too many items.

[2017-05-09 02:46] Ristellise opened #1198 "Nether based tracks and rails."
![screenshot_20170509-104628](https://cloud.githubusercontent.com/assets/7894419/25833571/d94513c0-34a4-11e7-9039-10a50a8f7b8a.jpg)

[2017-05-09 12:59] CovertJaguar commented on #1195
I believe the widgets generally use the same code for net sync, and I recall I did have to rewrite it for 1.10.

[2017-05-09 13:01] CovertJaguar commented on #1192
You'd want to hook whatever method results in a chunk being loaded from the disk probably. I'm not really sure where that is. Possibly in ChunkProvider.

[2017-05-09 13:22] liach commented on #1198
So combine with glowing tracks?

[2017-05-09 15:27] Generalcamo commented on #1198
Keep separate as-is for now.

[2017-05-09 23:46] CovertJaguar commented on #1143
It's not the big of a deal I guess. I just have to factor it into the update.

[2017-05-11 04:12] liach commented on #1198
https://github.com/progwml6/Natura/tree/1.10/src/main/java/com/progwml6/natura/nether/block/rail

[2017-05-11 20:46] Cronosus commented on #182
we have same problem on server with RC 9.12.2.0 ..
we use only RF-powered mods, and steam turbine is now totally useless, because no way to convert UE to RF.

[2017-05-11 22:14] Cronosus opened #1199 "[9.12.2.0] Steam Turbine not output RF energy"
Hello
we have problem with RC 9.12.2.0 .. (both MP and SP)
i use only RF-powered mods, and steam turbine is now totally useless, because not output RF energy
And if it output EU, then not found working way to convert EU to RF.

Are you still fixing things in 1.7.10?
thanks in advance

[2017-05-11 22:45] LuigiHutch commented on #1199
Duplicate of https://github.com/CovertJaguar/Railcraft/issues/182. Use Steam engines if you want RF production. The Steam Turbine is desigined only intended for electricity production so EU or charge, RF is not electricity!

[2017-05-11 23:20] #1199 closed, assigned to nobody

[2017-05-12 02:18] purpleposeidon opened #1200 "Spike mauls do not go into the trackman's backpack."

[2017-05-12 16:58] Cronosus commented on #1199
ok, thanks for info

[2017-05-13 01:20] #1200 closed, assigned to Generalcamo

[2017-05-13 01:58] Xxepic-gamerxX opened #1201 "Forge Crashes on startup"
I am playing with many mods and it appears that MC crashes with what im guessing incompatabily issues with another mod in 1.7.10.I attach my crash log here (pastebin didn't seem to work at all)
[crash-2017-05-12_20.49.10-client.txt](https://github.com/CovertJaguar/Railcraft/files/998273/crash-2017-05-12_20.49.10-client.txt)

[2017-05-13 02:19] bookerthegeek commented on #1201
I have no idea why you posted that here. The first lines of the crash are
[code]
Go post this at the correct repository please, but do not expect much help as ```Minecraft Version: 1.7.10``` is now E.O.L. for Immersive Engineering and most other mods.

[2017-05-13 02:33] #1201 closed, assigned to nobody

[2017-05-13 06:58] liach commented on #1201
@Xxepic-gamerxX Go to https://github.com/Blusunrize/ImmersiveEngineering/issues/new

[2017-05-13 07:01] Xxepic-gamerxX commented on #1201
well thx...yea i dont understand much code...i only posted here as the report said the railcraft errored but thanks anyways

[2017-05-13 10:06] CovertJaguar commented on #1194
The tank widget actually uses a far different and very messy sync algorithm from the other widgets.

[2017-05-13 10:12] #1195 closed, assigned to nobody

[2017-05-13 12:18] xiaoxufeiji1a opened #1202 "high-speed track totally same as vanilla boost track in speed[1.10.2]"
I used railcraft few years.
when it been 1.7.10 version.
its high speed track much more faster than vanilla redstone boost track.

but now,i'm using 1.10.2,tried so many forge version.
from Railcraft 10.0.0 to Railcraft 10.1.2 - MC 1.10.2
I have try them all
and still get a slow speed track same as vanilla boost track

and trust me i'm very good as rail worker(at least 1.7.10)
I'm think should be

[2017-05-13 14:00] liach commented on #1202
能不能提供一个gif?
Can you provide a gif for this issue?
Ref #973

[2017-05-13 14:02] liach commented on #1189
Let's take a look again. We might fix it.

[2017-05-13 14:11] xiaoxufeiji1a commented on #1202
can i use Utube?
I'm going to make it
我可以使用Utube 视频吗？

[2017-05-13 14:13] liach commented on #1202
当然可以用Youtube
Of course you can use Youtube

[2017-05-13 14:19] xiaoxufeiji1a commented on #1202
好的 请给我几分钟时间

[2017-05-13 14:32] xiaoxufeiji1a commented on #1202
https://youtu.be/B0P-r_skFJk
你可以看到  原版轨道和高速轨道完全相同
there are all the same speed between RCmod and vanilla track
****
and here is 1.7.10 highspeed: https://youtu.be/jD8rjwYrKAU
1.7.10 is so fast and normal

[2017-05-13 18:20] liach commented on #1202
第一个视频里面高速轨道方向好像反了

[2017-05-13 18:23] liach commented on #1202
然而是我看错了

[2017-05-13 18:26] liach commented on #1004
@CovertJaguar Can you define a desired behavior in this case?

[2017-05-13 23:12] xiaoxufeiji1a commented on #1202
哈哈 ....那这应该是个BUG吧...
希望能尽快修复

[2017-05-13 23:22] Generalcamo opened #1203 "Get rid of CoFH's RF as a dependency/API"
Edit by liach: the whole thing will be under revision since RF is alive now!
Another edit by liach: MJ is gonna be back, so kick RF away!

Redstone Flux is currently unmaintained for 1.10 (until recently) and 1.11. Current plans regarding the updates for it involve requiring mods that use the CoFH Energy API to install a separate dependency. While good for the API, this is bad for Railcraft, espec

[2017-05-14 00:01] purpleposeidon opened #1204 "Trains locking/idle not serialized?"
Locomotives have a "one of my carts is being held by a locking track, so I'll idle even though my button says I'm running" variable, right? It's probably not being serialized.

1. Locomotive at lava refill station, one of the tank carts being held. Locomotive is chill.
2. Visit nether for cart to grab more lava
3. Return, locomotive is not chill & is all sproinged out.

[2017-05-14 00:06] Generalcamo opened #1205 "Add a charge battery(ies)"
Batteries will allow for long-range electric tracks to have buffers attached to them for better reliability, and in the future allow for storage for Charge Machinery.

Planned Types:
- [x] Nickel-Iron - Targeted for initial implementation - medium energy/volume, very poor charge retention, good draw rate, 80% charge efficiency
- [x] Nickel-Zinc - high energy/volume, mediocre charge retention, poor

[2017-05-14 00:10] Generalcamo commented on #824
See #1203, this might be changed and/or closed.

[2017-05-14 00:15] liach commented on #824
Just change it to FE for now.

[2017-05-14 04:48] liach commented on #1205
Ref #1203

[2017-05-14 14:59] liach commented on #1030
Going back to #882... I think it might be caused by the storage in the map of cart links, or something similar.

[2017-05-14 15:06] liach commented on #882
https://minecraft.curseforge.com/projects/world-utils#title-7
We should try with this mod.

[2017-05-15 00:00] #1167 closed, assigned to liach

[2017-05-15 00:03] CovertJaguar commented on #1204
"sproinged out" that's a new one.

[2017-05-15 00:07] CovertJaguar commented on #1204
I think the issue is that I'm not telling the train that it is locked in this case.

[2017-05-15 00:14] CovertJaguar commented on #1204
However, the code looks like it should be handling this correctly. I may need to use the debugger.

[2017-05-15 00:17] CovertJaguar commented on #1202
Sure seemed to work in my testing. hmm.

[2017-05-15 00:17] CovertJaguar commented on #1004
If there is a block under the track, don't dump the mob.

[2017-05-15 00:19] CovertJaguar commented on #1189
I triple checked that I build 10.1.2 correctly.

[2017-05-15 00:20] CovertJaguar commented on #824
No point in changing to FU if we are just going to remove it all anyway.

[2017-05-15 00:25] liach commented on #1189
So it's fixed and included in 10.1.2?

[2017-05-15 00:26] liach commented on #824
So engines are planned to get removed?

[2017-05-15 00:27] Generalcamo commented on #824
This is to be discussed as seen in the checklist in #1203

[2017-05-15 00:41] liach commented on #824
@Generalcamo This is not related to #1203 if you change the energy unit, etc.

[2017-05-15 00:45] purpleposeidon commented on #1204
I may also be wrong! We'll see if I can get it happening again.

[2017-05-15 01:06] CovertJaguar commented on #1189
I didn't say it was fixed. I said I made sure I constructed the jar correctly. I could be an entirely different issue.

[2017-05-15 11:13] Generalcamo commented on #1205
Zinc would probably require another ore. However, I would also propose Zinc-Carbon if we go that route, which would function as a single-use battery.

[2017-05-15 13:23] 1324zzz opened #1206 "Missing: Switch track"
In RailCraft 10.1.2 I missing all switch tracks. WHY?

[2017-05-15 13:39] CovertJaguar commented on #1206
Because you didn't read the changelog? You need a Spike Maul.

[2017-05-15 13:39] #1206 closed, assigned to nobody

[2017-05-15 20:31] liach commented on #1111
So the issue is on command block minecarts. The video comments say so.

[2017-05-15 20:32] liach commented on #946
Confirmed by @Joshwoo70 to be a hitbox issue.

[2017-05-16 07:43] xiaoxufeiji1a commented on #1202
hope that could be release early

[2017-05-16 16:42] MalkContent opened #1207 "[1.10.2-10.1.2] Recipes containing creosote containers don't allow buckets of creosote"
I glanced at the code a bit and I assume that the recipes are intended to accept them. Tried to find why the don't, but didn't find the end of that rabbithole.
Best guess: Bucket gets added only after the recipes are set up.

[2017-05-16 20:18] liach commented on #1207
That is intentional. CJ opened a pull request to forge but was not accepted because he failed to maintain it.

[2017-05-16 21:53] MalkContent commented on #1207
oh. strange. okay then :) i mean i tried this in a vanilla + railcraft only setting with the universal creosote bucket that was added by rc so i'm genuinely curious as to what the issue is.

[2017-05-16 23:27] Generalcamo opened #1209 "Add Zinc Ore/Brass Alloy"
Turns out we are going to need Zinc per #1205, for batteries. I brainstormed a few other uses for Zinc as well, one of which includes Brass:

Planned/Potential Uses:
- [x] Batteries (#1205)
- [ ] Zinc-Chloride - Wait on Chem Lab - Late-Game replacement for Creosote (wood treatment only, not fuel)
- [ ] Uses in Boilers maybe?
- [x] Brass (see Below)

Planned/Potential Uses for Brass:
- [x] Replace

[2017-05-16 23:29] liach commented on #1207
The issue is with fluid containers not recognized in crafting recipe.

[2017-05-16 23:40] Generalcamo commented on #1207
There are some plans to "fix" this with our own implementation of the prior pull request. I'm sure CovertJaguar can explain more though.

[2017-05-17 00:06] liach commented on #1207
https://github.com/MinecraftForge/MinecraftForge/pull/3332

[2017-05-17 02:02] liach commented on #1202
已经修复，将在10.2中放出

[2017-05-17 05:25] liach commented on #946
I once could reproduce this issue, but it eventually disappeared without code change.

[2017-05-17 05:32] liach commented on #1030
We can only close this because this is a very rare single case and no one else reported this.

[2017-05-17 05:34] liach commented on #1123
No one else is affected and we cannot reproduce it. Closing.

[2017-05-17 05:34] #1030 closed, assigned to nobody

[2017-05-17 05:35] liach commented on #949
Closing due to inactivity and not enough information. No one else in 1.7 reported such issue.

[2017-05-17 05:35] #949 closed, assigned to nobody

[2017-05-17 05:38] liach commented on #423
@Generalcamo You work on this since you added metals.

[2017-05-17 06:05] Generalcamo commented on #423
There are no metals to add currently, until Thaumcraft 6 is released.

[2017-05-17 06:13] liach commented on #423
You said you wanted to add invar bores.

[2017-05-17 07:49] CovertJaguar commented on #946
Dunno what you are talking about, I see it every time I load a world in my dev environment.

[2017-05-17 08:18] xiaoxufeiji1a commented on #1202
效率很高，点赞！

[2017-05-17 10:20] Ristellise commented on #946
How to reproduce : https://youtu.be/FJ74K2YWBIs

Using the railcraft patron pack with the latest tag : 1.13

[2017-05-17 12:30] wwng2333 opened #1213 "java.lang.RuntimeException: Invalid Fingerprint"
I rebuild the mod with jdk1.8
[code]

build log:
[code]
and i throw it to mod folder, run the game, game crashed.
here is the log:
[code]

I have no idea about this, plz help. :((

[2017-05-17 12:33] wwng2333 commented on #1213
binary file:
https://transfer.sh/OEFAC/Railcraft_1.10.2-10.2.0-alpha-1-unofficial.jar
https://transfer.sh/hqRw6/Railcraft_1.10.2-10.2.0-alpha-1-unofficial-dev.jar

[2017-05-17 12:35] wwng2333 commented on #1213
My forge version:
1.10.2-forge1.10.2-12.18.3.2281

[2017-05-17 13:02] BrisingrAerowing commented on #1213
The official Jar is signed and errors out if the signing doesn't happen, which it doesn't in an unofficial build. You need to comment out [this method](https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/core/Railcraft.java#L155) to prevent the crash. Also comment out the attribute right above it to prevent other errors.

[2017-05-17 13:12] Generalcamo commented on #423
I never said that. I said they make no sense.

[2017-05-17 13:28] #1213 closed, assigned to nobody

[2017-05-17 13:29] CovertJaguar commented on #1213
Unofficial builds are unsupported.

[2017-05-17 13:56] liach commented on #946
The last video really helps. Guess it might be related to cart items. @Joshwoo70 How is cart dispenser?

[2017-05-17 15:16] liach commented on #1213
However, you can play Railcraft in your own workspace. Run `./gradlew sCiW runClient` to play.
你可以用命令行指令玩，只要输上面那个就行了。

[2017-05-17 16:28] #946 closed, assigned to CovertJaguar

[2017-05-17 16:51] #1209 closed, assigned to Generalcamo

[2017-05-17 17:37] liach commented on #946
lol my guess is right

[2017-05-18 01:40] #1004 closed, assigned to liach

[2017-05-18 02:13] liach commented on #1111
@UnstableCodeScarlet Please provide a crash report.

[2017-05-18 02:15] liach commented on #1111
The biggest issue is that why do you still use command blocks when you can use mods at a lower cost of memory and with a higher efficiency?

[2017-05-18 02:18] liach commented on #1111
Anyways I will try to reproduce it in the dev env.

[2017-05-18 02:26] #1202 closed, assigned to liach

[2017-05-18 03:12] liach commented on #1111
@CovertJaguar After testing, I found that the issue is that minecarts explode when there are too many. The command generates a lot of command block minecarts riding one command block minecart.

[2017-05-18 05:54] liach commented on #1111
Turned out that this explosion is to prevent glitches that too many minecarts are stacking each other, so this behavior will be kept and such commands will not work for now. You should never use command blocks in a modpack (such a stupid idea!) but use mods instead. That's why it explodes and drop a lot of carts.

[2017-05-18 06:04] liach commented on #1197
Refer to #999, we might add both and allows pallets to carry a lot of kits and type upgraders.

[2017-05-18 07:35] liach opened #1215 "Boost enchantment"
Here I suggest adding a boost enchantment. It provides a stronger boost than crowbars without the enchantment or with the enchantment of lower level. Any opinion?

[2017-05-18 11:41] CovertJaguar commented on #1111
We will make the explosion code ignore command minecarts. Since players can't normally acquire them there is no danger of them using them to crash to the server.

[2017-05-18 11:46] hanakocz commented on #1197
Actually my grass track works like this already, when you rightclick it with bonemeal, it changes the track from default one to the grass one, copying all relevant blockStates. See https://github.com/hanakocz/RailCraft-Cosmetic-Additions-2/blob/master/src/main/java/cz/hanakocz/rccosmetic/events/PlayerEventListener.java#L42

For those upgrades it could work similar, just it would need probably have

[2017-05-18 12:03] #1111 closed, assigned to liach

[2017-05-18 16:54] liach commented on #1215
@CovertJaguar Can I add it to 10.2?

[2017-05-18 22:37] Taketzu commented on #1123
I have the same problem in Multiplayer with my hosted Server. I don´t find a way to Fix it.

I have made a Video and a gif of the Problem but i can´t Upload it...
I Uploaded the Video on Youtube (Not Listed) https://youtu.be/F4Qoew6qHNA

Greetings Taketzu

[2017-05-18 23:46] liach commented on #1123
@Taketzu Does this happen with only Railcraft, without other mods?

[2017-05-19 00:00] Taketzu commented on #1123
If i use only Railcraft without other Mods, it works correctly.

[2017-05-19 02:12] liach commented on #1123
Can you test and find out when does it happen? If you are using a modpack, can you report to the modpack author to help find out?

[2017-05-19 06:10] Taketzu commented on #1123
Ok i will contact the FTB Team.

[2017-05-19 14:34] Generalcamo commented on #1207
Affects Railcraft recipes as well. This is a bit more important than I thought.

[2017-05-20 13:48] 5t00 commented on #1123
I've run into this as well - the tunnel bore pops off the rails and turns back into an object as soon as it gets placed in the world. This was with a dozen or so other mods running.

I've since pulled all the non-Railcraft mods out, and the issue persists - but with a new creative world, I can place the tunnel bore with no problem.

The problem shows up for me in a SP world - would the save file f

[2017-05-20 14:25] liach commented on #1123
@5t00 The savegame would be very helpful.

[2017-05-20 14:40] 5t00 commented on #1123
Alright - does github have a handy place to upload something like this? Haven't gotten around to setting up a dropbox account yet or anything.

Also, just in case somebody has a different set of mods to help narrow down what's in common, here's what I was running when I ran into this:

Advanced Rocketry
AutoRegLib
Chameleon
compatlayer
Computronics
Deep Resonance
ElecCore
Embers
Immersive Engineer

[2017-05-20 16:02] liach commented on #1123
@5t00 You can upload logs to https://gist.github.com and upload files with `selecting them` link in the `Write` box.

[2017-05-20 18:54] liach commented on #1215
I am now thinking that such enchantment should help boosting a whole train and derailed carts.

[2017-05-21 02:50] 5t00 commented on #1123
I haven't found any log files generated from this; there's no crash or error message that I've found. The save file should be available at https://www.dropbox.com/s/t3i8vcnid1q68o2/Tunnels.zip?dl=0 - this is the save that did have other mods on, has had them stripped out, and is still exhibiting the issue.

[2017-05-21 03:30] liach commented on #1123
This map only needs Railcraft, right?

[2017-05-21 06:17] purpleposeidon opened #1216 "Breaking block supporting kitted track drops only kit, not track."

[2017-05-21 10:16] 5t00 commented on #1123
That's right - there's still directory artifacts from the other mods I had installed, but it should be back to Railcraft only.

[2017-05-21 16:18] liach commented on #1036
Fixed by 401a34747260c078b573e740e19e64c6941e54fb

[2017-05-21 16:28] liach opened #1217 "Shunting Aura rendering issues"
In my development environment, when I put on a pair of goggles with shunting aura, it correctly displays link info. However, when I re-enter the game with the goggles already in my equipment slot, it does not show shunting information, even after you take off the goggles. Sometimes if it renders the link info, I can break cart links between a train and the aura still render them as linked (This on

[2017-05-21 21:52] Ashonee75 opened #1218 "Tunnel Bore Suggestion"
I'd like to suggest implementing a large bore cutting head.

Currently the tunnel bore does a 3x3 square tunnel.  I like to replace the walls with a more decorative block.  I'd love to see "large" bore heads that dig an additional block in each direction to make a 5x5 hole and leaves the corners. This way i can fill in the space with a decorative block with out having to dig out the walls.

Recipe

[2017-05-21 22:51] liach commented on #1218
However, tunnel bore will receive a major overhaul in code soon. We will see at that time.

[2017-05-22 00:11] Generalcamo commented on #1218
Duplicate of #649

[2017-05-22 00:11] #1218 closed, assigned to nobody

[2017-05-22 00:13] Generalcamo commented on #649
@CovertJaguar This is one of the major features that hasn't been assigned a milestone yet. What are your thoughts?

Also, enchantment support was added by #1135, which also handles Fortune.

[2017-05-22 00:18] liach commented on #1218
@Ashoneeplayswithballs Comment in that issue instead.

[2017-05-22 01:29] liach opened #1221 "Reduce Buffer stop track hitbox"
When I try to boost a minecart next on the buffer, the crowbar targets the buffer even if I look at the minecart. I suggest reducing the size of the stopping buffer. Pinging @CovertJaguar for opinions.

[2017-05-22 02:13] liach opened #1222 "Add commands to link carts"
Ref #1117
To complete all three features in command blocks, we can change the adjacency of blocks to the relationship in cart linking. Thus, the need for a command that link carts emerge.

[2017-05-22 05:52] purpleposeidon opened #1223 "Destruction not picky enough"
Breaking a tall grass block w/ a destruction crowbar probably shouldn't break tracks.

Also it'd be nice if it only broke like connected tracks of the same type. Maybe don't go through junctions or kits.

[2017-05-22 09:26] CovertJaguar commented on #1221
I guess so.

[2017-05-22 09:49] CovertJaguar commented on #1036
Haha.... no. I wish.

I tried to move interfaces for the block API (different from the cart API) and it just broken everything so horribly I couldn't even figure out how to fix it.

And this isn't really complete either, there is no reference implementation for ICartBattery.

[2017-05-22 16:18] liach commented on #1221
If this is accepted, I will start working on it.

[2017-05-23 01:42] Generalcamo commented on #649
I'll assign it to 10.2 for now to co-incide with #423

[2017-05-23 01:42] Generalcamo commented on #423
After some thought: Bronze Heads might make sense. Would be pretty much the same as Iron but with a different color.

I can do art on Void Metal and Thaumium Heads too while I am at it.

[2017-05-23 05:17] liach commented on #423
Bronze may have a lower durability, I think.

[2017-05-23 21:22] Generalcamo commented on #423
Definitely not. Bronze is equivalent to iron in strength, actually better in the ways that are relevant here.

[2017-05-24 00:19] liach commented on #423
So make them the same. Yay!

[2017-05-24 21:45] purpleposeidon opened #1224 "Feeder unit stops accepting EU even when it should be"

[2017-05-24 21:47] purpleposeidon commented on #1224
Cycling redstone does not make it start converting power again.

[2017-05-25 05:55] jjc54 opened #1225 "Messenger Track Kit Question"
Hi, I was just wondering if there is a specific parameter that I need to enter to get the messenger track kit to display text. I'm not a coder so I'm unsure exactly what "raw json message" means and I've tried a bit of text from online but I cannot get it to work. Could you just post an example of what saying hello would look like using the track kit? Thanks for any help!

[2017-05-25 15:07] CovertJaguar commented on #1225
It uses the same format as the Minecraft /title and /tellraw commands, there are plenty of example online.
Let me know if you need more.

[code]

Some helpful links:
http://minecraft.gamepedia.com/Commands#Raw_JSON_text
https://www.minecraftjson.com/

[2017-05-25 16:48] #1192 closed, assigned to nobody

[2017-05-25 17:37] #1216 closed, assigned to liach

[2017-05-25 21:55] Generalcamo commented on #1225
Should get a wiki page up for this in the near future. Keeping this issue open until that's done.

[2017-05-26 00:14] liach commented on #1225
Well, the dokuwiki is not very convenient to edit compared to the ftb one (ftb wiki looks fine but the modpack is horrible)

[2017-05-26 11:16] sparhawk765 commented on #1224
Not sure if this is related but I have the same problem in FTB Beyond, I have my base chunkloaded via FTBUtilities but when I logout or move dimensions the feeder seems to stop, and turning it off and on again (lever) does nothing. Breaking it and putting it back down on the other hand seems to get it working again. Other machines at the base seems to work fine so the chunks seems to be loaded at

[2017-05-26 22:27] brisingraerowing commented on #1225
There's also [this](http://www.minecraftforum.net/forums/minecraft-discussion/redstone-discussion-and/351959-1-9-json-text-component-for-tellraw-title-books), which has a lot of good info.

[2017-05-26 22:52] droctogonapus opened #1226 "Tank Cart Detector not detecting tank cart."
The Railcraft tank cart is being detected by the item detector, but not the Tank Cart Detector.  Regardless if there's liquid in it or not.

Only mods I had when testing this out are:
CodeChickenCore 1.10.2-2.4.1-103
CodeChickenLib 1.10.2-2.5.8.255
jei 1.10.2-3.14.419
NotEnoughItems 1.10.2-2.1.3.220
Railcraft 1.10.2-10.1.2

![2017-05-26_17 51 21](https://cloud.githubusercontent.com/assets/11169771

[2017-05-26 23:45] #1215 closed, assigned to liach

[2017-05-27 00:45] Generalcamo commented on #1226
Medium Priority because this basically makes an entire block useless.

@droctogonapus Can you test without NEI, CodeChickenCore, and CodeChickenLib?

[2017-05-27 00:50] liach commented on #1226
@Generalcamo We should test lol

[2017-05-27 01:01] Generalcamo commented on #1226
Confirmed independently.

[2017-05-27 01:56] jjc54 commented on #1225
eh I'll check that out. This is a lot to learn just to type welcome to x station though.

[2017-05-27 01:57] jjc54 commented on #1225
I do really appreciate the example above though, it's exactly what I needed!

[2017-05-27 02:20] liach commented on #1225
Guess this is fine then.

[2017-05-27 02:20] #1225 closed, assigned to nobody

[2017-05-27 02:21] liach opened #1228 "Destruction drops tiles disregarding doTileDrops game rule"

[2017-05-27 06:39] liach commented on #1090
@CovertJaguar After a recent look, I found I could change it in fluid class directly.

[2017-05-27 06:46] liach commented on #1109
See #1205

[2017-05-27 07:00] liach commented on #929
I will test this.

[2017-05-28 01:25] liach commented on #1222
Eh, we can probably use `/entitydata`, need to make sure it works

[2017-05-28 05:35] xiaoxufeiji1a opened #1230 "[petition]Could U build a little version for fixed TrackSpeed?"
sorry for ask.that's a petition
I really like Railcraft,and I really need high speed ASAP
but I guess that new version might be release in long time.
I really want to build a high speed railway 😄

[2017-05-28 05:38] liach commented on #1230
Unfortunately not... Railcraft is like Harvestcraft which pre-releases (betas) are only available to patrons. We will try to release as soon as possible.

[2017-05-28 05:39] liach commented on #929
Lol I cannot even open a world with pokecube in my dev env! Don't think we are ever going to support it if it is so naughty.

[2017-05-28 05:39] #929 closed, assigned to liach

[2017-05-28 05:50] xiaoxufeiji1a commented on #1230
em I got it,thanks

[2017-05-28 05:50] xiaoxufeiji1a commented on #1230
I got it thanks

[2017-05-28 16:14] CovertJaguar commented on #1230
Due to the breakThings->fixThings->breakThings nature of the dev cycle, Railcraft is in not state to be released publicly at the moment.

[2017-05-28 16:14] #1230 closed, assigned to nobody

[2017-05-29 07:32] liach opened #1231 "signal actuator recipe"
May be crafted from a switch one plus receiver signal component.

[2017-05-29 08:25] CovertJaguar commented on #1231
What? You mean lever?

[2017-05-29 08:27] CovertJaguar commented on #1090
Maybe, but I'd prefer to leave it as is.

[2017-05-29 08:28] CovertJaguar commented on #1225
Dokuwiki is fine.

[2017-05-29 08:29] CovertJaguar commented on #1224
I've added some debug information to the next build, but have to wait for it get on the server to use it.

[2017-05-29 14:42] liach commented on #1231
from the lever one to the one controlled by the aspects. Intended to have less material waste.

[2017-05-31 03:09] Generalcamo opened #1232 "Migrate to 1.11.2, 1.12.2, and 1.13"
### Notice:
### Public betas for Railcraft on Minecraft 1.12.2 is available [on CurseForge](https://minecraft.curseforge.com/projects/railcraft)!
### For those looking for a working 1.12 branch, see https://github.com/Railcraft/Railcraft/tree/indev-1.12.2  Warning: the branch has git submodules. If you do not know what git submodules are read https://github.com/Railcraft/Railcraft/wiki/Running-ins

[2017-05-31 03:11] CovertJaguar commented on #1232
The only part of the Buildcraft API is used extensively is the Trigger/Action API.

[2017-05-31 03:55] liach commented on #1089
Moved to #1232

[2017-05-31 03:55] #1089 closed, assigned to nobody

[2017-05-31 03:56] liach commented on #1232
@CovertJaguar Priority?

[2017-05-31 04:01] Generalcamo commented on #1232
No priority ATM. At all I mean.

[2017-05-31 04:02] CovertJaguar commented on #1232
Priority equals "do what you can while working on other things".

[2017-05-31 06:52] CovertJaguar opened #1233 "EU Loader/Unloader can only be crafted with charged batteries."
See title.

[2017-05-31 16:58] Generalcamo commented on #1233
As far as I can tell nothing fundamental has changed about how Railcraft handles batteries for a long while now. All I did was correct the name.

I'll investigate this though. I think a wildcard is needed somewhere.

[2017-05-31 19:12] liach commented on #1233
For ic2, they only accept uncharged items.

[2017-05-31 19:22] liach commented on #1233
Crafting recipe is inventory not machines.

[2017-05-31 20:28] Generalcamo commented on #1233
It's both since the maniupulators are classified as machines internally.

[2017-06-01 03:04] Sekra opened #1235 "Conflicted recipe with Extreme Reactors"
I'm having an issue with Extreme Reactors conflicting with a Railcraft recipe;

Currently for Railcraft Creosote oil is created by cooking coal or charcoal in a normal furnace, unfortunately with Extreme Reactors this gets overridden as Graphite Bars.. Since the Railcraft method is just a temporary thing until multiblock devices are re-implemented, not sure how to handle this issue. But at least y

[2017-06-01 05:50] liach commented on #1235
Use alt recipes.

[2017-06-01 06:12] purpleposeidon opened #1236 "Disembarking track puts entities between two blocks"
![image](https://cloud.githubusercontent.com/assets/150333/26666683/0e45e0d2-4656-11e7-94c0-a6d86aeaf4e9.png)
![image](https://cloud.githubusercontent.com/assets/150333/26666553/6f0b9a7a-4655-11e7-8e3f-a8d5607ff674.png)
![image](https://cloud.githubusercontent.com/assets/150333/26666555/72bb44b8-4655-11e7-89ae-998c70a21aa4.png)
(For each image, I ran the cart, flipped the disembarking side, and ra

[2017-06-01 06:58] sparhawk765 opened #1237 "Unattended train on a looped track not possible?"
Hi there. This is just a question since I can't find any good answer googling or searching the forum and I didn't really know where to put it.

I have built a 2000 or so blocks long track that goes in a circle between a few of my friends on a private server. I tried to put a electric train on said track and have it go round and round but it seems it only goes a few hundred blocks and then stops. F

[2017-06-01 07:08] liach commented on #1237
Will be fixed in 10.2, and you'd attach train with a spike cart (chunkloader) at that time.

[2017-06-01 07:08] #1237 closed, assigned to nobody

[2017-06-01 12:36] Generalcamo commented on #1235
@Sekra This is due to the lack of the coke oven right now (as you mentioned). I can confirm it will be fixed totally in 10.3. I'm not sure if it is possible to fix it before then unfortunately.

[2017-06-01 13:32] liach commented on #1235
@generalcamo alt recipes for tracks are using sticks.

[2017-06-01 16:48] Sekra commented on #1235
Excellent news! I should have taken a better look at the configs.. It would seem that Extreme Reactors also have an option to change their recipes from smelting to crafting, if anyone else runs in this same issue. I've also updated my report to their github about the info you posted here.

[2017-06-02 16:21] 7eggert commented on #480
¢¢ from a user: (and some brainstorming)

1) Unless maintenance can be automated, having a durability will just be a PITA. Also if it can be automated, it would be useless to have it in the first place. Therefore I'd rater have infinite durability. Maybe using a little bit more energy would be a better alternative.

Maybe it could be a config option: Durability = 0 → infinite, otherwise track dist

[2017-06-02 21:03] #1233 closed, assigned to Generalcamo

[2017-06-03 02:28] liach commented on #1236
This is actually a bug: when you use `/tp @p 0 64 0` you go to (0.5, 64.0, 0.5) instead. The tracks should work like the command.

[2017-06-03 03:01] Twisted-Code commented on #1010
Good thing immersive engineering is a thing, as it appears I can't get creosote otherwise... that is, unless I'm overlooking something

[2017-06-03 03:03] Twisted-Code opened #1239 "[mod compat] actually additions Jam Guy villager gets trackman trades assigned to it"
I'm currently standing next to a "profession: Jam Guy" villager that has both trades involving jam and completely uncharacteristic trades involving railcraft tracks and such. The villager initially spawned with trades from the right group, but when I unlocked tier II, the new trades were.... different, and not in a good way. I've also encountered a jam villager who has ONLY railcraft trades (for w

[2017-06-03 03:09] liach commented on #1010
@macks2008 Cook coal in furnace.

[2017-06-03 03:12] liach commented on #1239
Does it happen only with these 2 mods? I think it is caused by coremods.

[2017-06-03 11:20] Twisted-Code commented on #1239
That very well could be, especially since one of the mods in play is SpongeForge. I'll do some experimentation and let you know.

[2017-06-03 11:32] Twisted-Code commented on #1010
@liach
first of all, whatever recipe is supposed to be there is being overridden by Extreme Reactors' graphite bar recipe (and I'm not sure removing the recipe for graphite bars via Crafttweaker would cause the other recipe to come back)
secondly, that sounds more like a recipe to make coal coke, not creosote, though I am just guessing seeing as I can't test it for myself

[2017-06-03 12:46] #615 closed

[2017-06-03 12:50] CovertJaguar commented on #1010
That is the correct recipe.

[2017-06-03 13:17] Generalcamo commented on #1010
Coal Coke is intentionally not craftable without the factory module. Smelting Coal for Coal Coke is blatantly overpowered due to how good Coke is.

[2017-06-03 14:40] liach commented on #1010
See #1235 for extreme reactors recipe conflict.

[2017-06-03 14:43] liach commented on #1239
I don't think SpongeForge is the criminal though. Can you provide a list of mods for your server?

[2017-06-03 14:43] liach commented on #1239
And by the way, does it happen with any other mod's villagers?

[2017-06-03 15:05] Twisted-Code commented on #1235
There is also Immersive Engineering's Coke Furnace for those who have or plan to have Immersive Engineering

[2017-06-03 15:48] #1228 closed, assigned to liach

[2017-06-03 21:06] Twisted-Code commented on #1239
Okay, it appears to not be limited to villagers from either mod, and it only seems to happen on my spongeforge server, so I'm opening an issue SF's github. I guess you guys should close your respective issues for now. See Spongeforge [\#1562](https://github.com/SpongePowered/SpongeForge/issues/1562)

[2017-06-04 04:29] #1239 closed, assigned to nobody

[2017-06-04 06:26] liach commented on #1231
@Generalcamo Can you fix this issue too in your recipe branch?

[2017-06-04 14:44] #1231 closed, assigned to nobody

[2017-06-04 14:58] #1222 closed, assigned to nobody

[2017-06-04 16:50] #1236 closed, assigned to nobody

[2017-06-04 23:52] liach commented on #1185
Think it is caused by code chicken lib.

[2017-06-04 23:52] #1185 closed, assigned to nobody

[2017-06-05 16:41] CovertJaguar commented on #1185
Of course it is... that statement does not surprise me in the least.

[2017-06-05 18:59] vico93 commented on #1232
Is there any way we could help 1.11 dev? I'm not a Java coder, but i could test the nightly builds if you like.

[2017-06-05 19:19] liach commented on #1232
@vpontin Go to https://patreon.com/CovertJaguar to support him and get beta builds on 1.11 once it's published.

[2017-06-06 01:19] brisingraerowing opened #1242 "[Suggestion] 3-Way Rail Switch"
How about a 3-Way rail switch ([example](http://s145079212.onlinehome.us/rr/howto/faq/faq_turnouts.htm#lapturnout))?

I mostly want one for a mineshaft I am repairing, as there are several sections where one would be useful.

[2017-06-06 02:13] liach commented on #1242
Please tell us where do you plan to place the actuator.

[2017-06-06 02:56] brisingraerowing commented on #1242
[code]

The lines are tracks, the As are where the actuator can go (only one is needed, of course)

Basically, in a corner next to the tracks.

[2017-06-06 03:47] liach commented on #1242
Ping @CovertJaguar for opinions

[2017-06-06 10:13] vico93 commented on #1232
Dont have money for that. Sorry

[2017-06-06 13:42] Generalcamo commented on #1232
Railcraft is currently not at a state of needing public Nightly builds. Test builds are given to the Patreons as private betas, and to the public as the public beta releases (latest being 10.1.2).

[2017-06-06 14:13] liach commented on #1232
Only betas for version migration would be public on curseforge, I think. At least this is the case for 1.6 to 1.7 and 1.7 to 1.10

[2017-06-06 15:39] Generalcamo commented on #1242
There are several issues with such a thing:

- The fact that this would need to function completely differently from other switches (Analog Redstone Signal, Placement, etc) means this would be unintuitive to users and difficult to code and maintain.
- The usability of it would be limited, as a Redstone circuit would need to be primed for the handling of analog signals. This type of switch is usual

[2017-06-06 15:39] #1242 closed, assigned to nobody

[2017-06-06 16:31] Generalcamo commented on #761
Mostly implemented by ec9c7c9f3305aa77e2f666b3990a2d9ecfa96fa4

Rest was implemented by b04cec67f3204c5533bdfd236c51163e55a09da5

[2017-06-06 16:32] #761 closed

[2017-06-06 16:50] liach commented on #871
I believe we can implement this. We may consider each switch as a node, and we don't necessarily need to list all the stations, but we just put the next node the switch goes to and the type of the railway (We can add one-directional restrictions, can handle trains in different directions, etc) The graph for trains will be like enet; you can make it in entity too if you'd like to.

[2017-06-06 16:51] liach commented on #871
Also @Generalcamo for opinions

[2017-06-06 16:54] liach commented on #1235
I think this issue is not really meaningful. Hope you can get a recipe conflict fixer like crafttweaker for now.

[2017-06-06 16:54] #1235 closed, assigned to nobody

[2017-06-06 17:24] CovertJaguar commented on #871
I guess its possible if you serialize the graph separately from the nodes themselves. Seems annoying to build though.

[2017-06-06 17:27] CovertJaguar commented on #1232
Yes, generally after significant code change caused by an update, the final beta version will get posted publicly for testing purposes. But other than that, its not really necessary. I have plenty of testers between patreons and the server.

[2017-06-06 18:22] #1221 closed, assigned to liach

[2017-06-06 20:00] liach commented on #1232
@Generalcamo We also need to replace the direct manipulation of stack sizes.

[2017-06-07 00:12] liach commented on #656
@Generalcamo You should move steamer to a separate block. I will work on this.

[2017-06-07 00:42] liach commented on #882
@CovertJaguar This issue still exists, confirmed on the patron server.

[2017-06-07 06:31] #1217 closed, assigned to liach

[2017-06-07 06:43] CovertJaguar commented on #882
The Shunting Aura should provide the info necessary to fix it.

[2017-06-07 06:45] liach commented on #882
Can we try with dormant chunk cache disabled?

[2017-06-07 06:57] CovertJaguar commented on #882
Identify the problem first, then start looking for solutions.

[2017-06-07 07:45] liach commented on #1226
Wait it works at intended. I cannot reproduce this "bug", this detector is totally fine.

[2017-06-07 07:46] liach commented on #1226
I am going to close this. The detector works, you need to make sure the mode is right.

[2017-06-07 07:46] #1226 closed, assigned to liach

[2017-06-07 07:58] liach opened #1246 "Tank cart filter recipe"
Same as #869, but it is for 1.10.2

[2017-06-07 14:21] #1190 closed, assigned to nobody

[2017-06-07 15:12] CovertJaguar commented on #1226
An argument could perhaps be made that the default mode is wrong?

[2017-06-07 17:57] #1246 closed, assigned to nobody

[2017-06-07 21:13] krokots commented on #1123
Hi, I have the same problem.
Minecraft 1.10.2, forge 12.18.3.2185
Railcraft 10.1.2
couple of other mods installed, I can provide list.

Tunnel bore pops up immediately after placing in my survival save. But when I create a new creative world, I can place it and it won't pop up.
Also, putting (in survival) bore on a track turn or track slope destroys the bore (in creative it won't let you to place

[2017-06-09 05:34] purpleposeidon opened #1247 "Firestone extremely rare with Natura installed."
I'd say about 98% of the underside of the magma sea is tainted soil, but firestone only generates on netherrack.

![image](https://user-images.githubusercontent.com/150333/26962368-90b89b28-4c9a-11e7-9198-5db5c9343b8a.png)

Relevant code:

https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/worldgen/WorldGenFirestone.java#L53

https://github.com/Railcraft/Rail

[2017-06-09 05:41] purpleposeidon commented on #1247
Staring at things some more it looks like natura basically only allows netherrack underneath gravel & soulsand patches.

[2017-06-09 13:50] Generalcamo commented on #1247
Actually, Firestone generates in patches of isReplaceableOreGen. This is on the other mods to set their block to be replaceable.

[2017-06-09 19:15] #656 closed

[2017-06-09 19:33] CovertJaguar commented on #649
Eh...that's probably super optimistic. I really don't see myself revisiting this before 10.4 or 10.5 at the earliest.

[2017-06-10 01:05] liach commented on #429
This may get delayed indefinitely because of the unclear future of Thaumcraft.

[2017-06-10 05:19] purpleposeidon commented on #1247
Fixed in Natura.

[2017-06-10 05:19] #1247 closed, assigned to nobody

[2017-06-10 09:18] purpleposeidon opened #1248 "Forestry water capsules are infinite in the steam locomotive."
Put a wax capsule of water in the input slot --> goes into the processing slot --> water goes into the loco --> capsule still containing water goes in the output slot.

[2017-06-10 23:54] CovertJaguar commented on #1248
Did I mention I hate fluid containers?

[2017-06-11 12:22] krokots commented on #1123
Some additional info : creating a new survival world with cheats on. You can place bore then. So, at one point something happened in my old save, and since then I can't place bores.

Also : mod list:
bdlib-1.12.4.24-mc1.10.2.jar
BiomesOPlenty-1.10.2-5.0.0.2236-universal.jar
CodeChickenLib-1.10.2-2.5.8.255-universal.jar
CoFHCore-1.10.2-4.1.1.156-universal.jar
EnderCore-1.10.2-0.4.1.65-beta.jar
Ende

[2017-06-11 19:57] liach opened #1249 "Messenger track is currently unusable by normal users"
Only ops can use them because of the json text.

[2017-06-11 19:58] liach opened #1250 "Destruction enchantment don't drop"
It does not drop blocks destroyed by the enchantment.

[2017-06-11 20:11] liach opened #1251 "[Suggestion] Put linking message to the area for "Press LShift to dismount""
This may make things neater. Will decide to implement or not per @CovertJaguar's opinion,

[2017-06-11 20:25] CovertJaguar commented on #1249
I doubt that's the cause, but whatever.

[2017-06-11 21:24] liach commented on #1248
I think this is forestry bug because they did not define their container item for water wax capsules correctly.

[2017-06-11 23:26] Generalcamo commented on #1251
My opinion is that this adds consistency with the changes in 1.11, which is targeted eventually. So I approve of this.

[2017-06-11 23:44] #1250 closed, assigned to liach

[2017-06-11 23:45] CovertJaguar commented on #1248
I need to check if I even fixed the GUI for the locomotive.

[2017-06-12 00:37] purpleposeidon commented on #1248
IC2's fluid/solid canning machine treats wax capsules properly.

[2017-06-12 01:33] liach commented on #1248
I think the train treats buckets, ic2 universal fluid cells, and foundry capsules properly, right?

[2017-06-12 01:44] Generalcamo commented on #1248
Does the train handle lossy containers properly? Ones that are destroyed upon use?

[2017-06-12 17:08] Schmiggolas commented on #1123
Same problem here. I'm using the most recent FTB Direwolf20 Pack. As soon as the bore is placed it converts back to item form.
// edit: running on ded. server btw.

[2017-06-13 01:03] purpleposeidon opened #1254 "Fluid unloader can drain water from steam locomotives"
Let me tell you, this is really obnoxious.

[2017-06-13 12:45] Generalcamo commented on #1254
Best way I can think of to fix this is to disallow unloading from all Locomotives, unless the filter is set to a Locomotive. Basically an opt-in feature.

[2017-06-13 17:09] #1251 closed, assigned to liach

[2017-06-14 06:22] 3TUSK opened #1255 "[1.10.2] Crash when placing peat engine from forestry against rolling machine"
[Crash report](http://paste.ubuntu.com/24854983/). Initially reported by @Glease. Can be reproduced with given mod list (found in crash report).

The issue is most likely due to Forestry removed their method regarding Redstone Flux compatibility  as there is no API packages provide [`cofhapi|energy`](https://github.com/CoFH/RedstoneFlux-API/commit/11e351808ed0cbd181205a61f25f7732a696ce52#diff-e909

[2017-06-14 06:30] 3TUSK commented on #1255
Regarding #1203: while it is planned to get rid of Redstone Flux, before that happens, this issue is still a real bug for those who don't install CoFHLib (or CoFHCore? can't remember exactly) for whatever reason. Please consider about it.

[2017-06-14 07:18] liach commented on #1255
We will indeed remove that api in 10.2, the very next version released. So there is no need to keep that API-we once kept it as a submodule but it simply does not update on time.

[2017-06-14 07:18] liach commented on #1254
Or to allow carts to decide.

[2017-06-14 07:19] liach commented on #1255
And by that time, the machines will no longer use rf. They will switch to Railcraft charge or some similar power source.

[2017-06-14 07:28] 3TUSK commented on #1255
But this doesn't sound like a "rejection" - but, another approach of fixing problem, I will say.

[2017-06-14 07:30] liach commented on #1255
"rejected" means we reject to update the RF api.

[2017-06-14 07:53] 3TUSK commented on #1255
I guess the only possible workaround is adding CoFHLib?

[2017-06-14 16:52] CovertJaguar commented on #1255
Just disable the Powered Rolling Machine and use the Manual one for now.

[2017-06-14 16:54] CovertJaguar commented on #1255
The bigger question....does this affect the @API id for our API. Or do we worry about that for 1.11?

[2017-06-14 19:07] CyanideCarrot opened #1256 "Routing table issue"
It requires the full string rather than the beginning of it. For example:
My locomotive's name is BBL/01/Buildworld
I typed in the string Name=BBL/01 and it didn't work
I then typed Name=BBL/01/Buildworld and it worked

[2017-06-14 20:34] liach commented on #1256
You should check the destination of the locomotive instead. Use tickets.

[2017-06-14 21:12] CyanideCarrot commented on #1256
That wont work with my setup

[2017-06-14 21:17] liach commented on #1256
Why? Talk on discord.

[2017-06-15 05:10] CyanideCarrot commented on #1256
In order to route them to the correct location, I would need a routing detector to detect the name so that the correct routing track activates, which defeats the whole purpose

[2017-06-15 16:08] liach commented on #1256
@bballboy2002 Then just keep the ticket always in the loco inventory instead of naming the carts.

[2017-06-15 16:18] liach commented on #973
Cart colliding does not make explosions yes. Carts don't explode when going up a slope, is that intended?

[2017-06-15 16:18] liach commented on #1249
Fixed by you already.

[2017-06-15 16:18] #1249 closed, assigned to nobody

[2017-06-15 16:37] CyanideCarrot commented on #1256
no i need destinations for other things

[2017-06-15 16:38] CyanideCarrot commented on #1256
just fix the problem

[2017-06-15 16:42] liach commented on #1256
This is not going to fix any problems. Tell me the exact use case and I will derive a resolution.

[2017-06-15 16:45] CyanideCarrot commented on #1256
I am trying to build a depot for the railcraft server, and each train is designated to a specific parking spot. For this I need to use the locomotive name, dest won't work, nothing else will work.

[2017-06-15 16:49] liach commented on #1256
Can you put routing tracks on the parking spots? If you put the routing tracks there you don't need to reroute them by name and then set tickets.

[2017-06-15 17:04] liach commented on #1256
So the solution is that we may add origin tags to tickets so trains may be sorted in that way.

[2017-06-15 18:18] CovertJaguar commented on #1256
Name does not support partial matching. It does however support the regex operator.

[code]

You can ignore whatever liach is babbling about.

@liach be less combative please. -.-

[2017-06-15 18:21] #1256 closed, assigned to liach

[2017-06-15 18:23] CovertJaguar commented on #973
Yes carts colliding when moving opposite direction explodes.

Why would they explode on a slope? They have never exploded on a slope. Yes its intentional.

[2017-06-15 20:55] liach commented on #973
So now we just need to add explosion for cart collision. Drag will be tested later, I guess.

[2017-06-15 21:13] #1255 closed, assigned to nobody

[2017-06-16 00:09] 3TUSK commented on #1255
Since powered rolling machine uses charges now, question: will there be means to get charge in next released version?

[2017-06-16 03:55] liach commented on #1255
Yes, you should read that commit.

[2017-06-16 05:27] 3TUSK commented on #1255
... I saw nothing but #1203 ? Either way I will wait for next release.

[2017-06-16 06:02] liach commented on #1255
@3TUSK Read this: https://github.com/Railcraft/Railcraft/commit/7321d7064c0bda5456cde45ce311a010202696ff#diff-cde1bad81f8d19c277f72a919cdec65fR46

[2017-06-16 07:23] 3TUSK commented on #1255
... `TileChargeFeeder` is abstract. I mean the actual method(s) (in terms of actual gameplay) to get Railcraft charge.

[2017-06-16 13:34] liach commented on #1255
Don't worry, more things will come up as of the release.

[2017-06-16 21:10] DatGurney opened #1257 "[1.10.2] Tank Carts Contents not syncing"
if a tank cart is filled up by a loader or bucket, the liquid doesnt render in the tank until the GUI is opened. Fluid still fills properly so its a fairly minor issue

[2017-06-16 21:41] liach commented on #1257
Dupe of #1194

[2017-06-16 21:41] #1257 closed, assigned to nobody

[2017-06-18 20:47] CovertJaguar commented on #1255
The next release will for sure include craftable, pre-charged single use charge batteries.

Beyond that, the Steam Turbine is still a way off, but there have been some discussion of a lower tech solution, though admittedly not much has come of the conversation so far. I'm open to suggestions.

[2017-06-18 20:48] CovertJaguar commented on #973
"Add" is probably the wrong term. There is code in MinecartHooks for it already. The question is why its not working.

[2017-06-19 05:14] CovertJaguar commented on #1144
Does the smoke dyeing thing cover this, I don't really get it.

[2017-06-19 05:15] CovertJaguar commented on #1050
Fixed by 74b9110b1988e51b7539ac45875a8371dccd56d4

[2017-06-19 05:15] #1050 closed, assigned to nobody

[2017-06-19 05:25] CovertJaguar commented on #437
Pretty sure I added this ages ago.

[2017-06-19 05:25] #437 closed

[2017-06-19 05:27] liach commented on #847
I will test this in Railcraft 10.2 betas.

[2017-06-19 05:28] liach commented on #664
@CovertJaguar Do we add a max placement number like the detected height? Once it exceeds that it stops placing.

[2017-06-19 05:29] liach commented on #1223
@CovertJaguar Should we add a key binding for that careful check (like a mode switch key)?

[2017-06-19 05:30] CovertJaguar commented on #1223
Naw, I'd just only break _like_ blocks.

[2017-06-19 05:32] CovertJaguar commented on #664
I'd probably just modify the scanning function that determines if its a fillable hole to be aware of these blocks and either block progress or remove the troublesome blocks.

[2017-06-19 05:40] liach commented on #1223
How about add modes that have block state check?

[2017-06-19 05:41] liach commented on #664
How about we add a water slot and let it use water to wash first before placing?

[2017-06-19 05:44] liach commented on #1144
No, this says to create different types of effects.

[2017-06-19 06:45] CovertJaguar commented on #664
That seems needlessly complicated.

[2017-06-19 06:46] CovertJaguar commented on #1223
I don't really see why we need a mode at all.

[2017-06-19 19:23] LizzyTrickster commented on #437
yeah

[2017-06-19 22:14] liach commented on #1155
@CovertJaguar I think you can solve this with your newly added items, right?

[2017-06-19 22:14] liach commented on #1224
I will try to test it on the patron server.

[2017-06-19 23:32] purpleposeidon opened #1258 "Worldspike Point xrays"
![image](https://user-images.githubusercontent.com/150333/27310076-a335934e-550c-11e7-9011-bc04b70e1df0.png)

[2017-06-19 23:32] liach commented on #1258
@purpleposeidon Only with spike points?

[2017-06-19 23:43] CovertJaguar commented on #1258
Oh, that's an easy fix, if only I can remember what it is.

[2017-06-19 23:46] CovertJaguar commented on #1258
Probably isOpaqueBlock() is wrong.

[2017-06-20 05:32] liach commented on #1258
Will try to fix this.

[2017-06-20 06:03] liach commented on #973
Hmm explosion sometimes works. We should change the check to checking absolute velocity between two carts.

[2017-06-20 08:01] #1223 closed, assigned to liach

[2017-06-20 08:02] CovertJaguar commented on #1155
I guess a terminal works, I was kind of assuming battery still though, but maybe that's too expensive?

[2017-06-20 08:14] CovertJaguar commented on #973
That sounds suspiciously like the old method I used to check abrupt changes in velocity, like when hitting a wall. Unfortunately, the motion vector is not so well behaved and likes to change randomly at times. Which resulted in random explosions.

[2017-06-21 13:11] SmartGuy202 opened #1262 "Train Dispenser NBT ignore"
Using the DireWolf20 1.10 pack (MC 1.10.2). Trying to make a train dispenser setup and it will not launch a locomotive with a different whistle pitch. Each different locomotive has a separate whistle pitch when I place it down and I cannot get them to match with a tuner. I've had the issue before when trying to move said locomotives through my storage system, managed to get around that by setting

[2017-06-21 17:37] liach commented on #1262
The P.S. part is duplicate of #1189. For that, I doubt it is caused by other mods in the modpack, as it never happened on Railcraft Patron Server.

The rest, however, may be an enhancement.

[2017-06-22 07:13] CovertJaguar commented on #1262
Odd... I know when I wrote the thing it specifically ignored those bits.

[2017-06-22 07:18] CovertJaguar commented on #1262
I suspect canBuildTrain() no longer ignores NBT due to changes to StackKey.

[2017-06-23 08:12] #1262 closed, assigned to liach

[2017-06-26 05:57] purpleposeidon opened #1263 "Allow linking aerials through tracks"
Sometimes one has signal rely blocks underneath tracks, like for signal block relays in corners. It'd be mad convenient to be able to click the track rather than having to excavate the signal box.

[2017-06-26 16:54] CovertJaguar commented on #1263
What a strange place to put them...

[2017-06-27 17:20] bear989 opened #1264 "steel sheers"
I found an issue in 1.7.10 so I thought i would bring it to your attention so you can make sure it isnt an issue in 1.10
steel shears do not deactivate trip wires like regular sheers

[2017-06-28 00:33] #1155 closed, assigned to liach

[2017-06-28 00:33] liach commented on #1263
I don't think it is a good idea...

[2017-06-28 09:07] jamzam90 opened #1265 "OreDict Coke coal and its block"
Could you please ore dict coal coke and its block, im unable to use it in immersive engineering machines that require it.

[2017-06-28 16:00] Forecaster opened #1266 "Newly placed tank carts are not initiliazed correctly (alpha-7)"
This causes them to not accept fluids, and the gui fails to open because there is no tank.

https://gist.github.com/Forecaster/58680dbb0ae553e6a70578e13b70c303

[2017-06-29 21:24] CovertJaguar commented on #1265
The item is registered as "fuelCoke" already.

[2017-06-29 21:25] #1266 closed, assigned to nobody

[2017-06-29 21:30] CovertJaguar commented on #1264
Code probably needs updating. I seem to recall that I had to duplicate most of the code for the shears because it wasn't easily extended.

[2017-07-01 11:12] AlexJ6301 opened #1267 "Spike carts are deleted when removed from track"
Spike carts, personal and standard, are deleted when removed from rails.  They simply disappear.

[2017-07-03 16:01] skittishtrigger opened #1268 "Client spam i/o issue"
http://i.imgur.com/mMWr4w3.png

Not much info for you but it should not do that when placed as "decoration" or by itself.
Was able to do in server and sp environment. (Using beyond pack latest)

[2017-07-04 01:35] CovertJaguar commented on #1268
What block are you placing? What version are you using?

[2017-07-04 01:40] #1268 closed, assigned to nobody

[2017-07-05 05:36] dacioromero commented on #1123
Got the same problem in FTB Beyond in survival, but not in a creative world.

EDIT: Must've been a problem with the save, it works everywhere else. Curious as to what happened.

[2017-07-06 06:16] liach commented on #1264
Although this is indeed a bug, this should happen to all modded shears. This is, in fact, a forge bug.

[2017-07-06 14:12] bear989 commented on #1264
well scissors from Gregtech 6 seem to perform this function without any
issue.

On Thu, Jul 6, 2017 at 2:16 AM, liach <notifications@github.com> wrote:

[2017-07-06 14:40] liach commented on #1264
Is GT6 a coremod? This can only be fixed with coremods IMO.

[2017-07-06 17:51] liach commented on #633
I think I can try this.

[2017-07-06 20:03] CovertJaguar commented on #1264
The only solution I see is to listen for BlockEvent.BreakEvent and do the state change ourselves.

[2017-07-06 20:07] #1267 closed, assigned to liach

[2017-07-06 20:15] #847 closed, assigned to liach

[2017-07-06 20:15] #1258 closed, assigned to liach

[2017-07-06 20:17] CovertJaguar commented on #633
I might be possible these days. MovingSound.java is far more robust than it used to be.

If you figure it out, apply it to whistles too.

I started an attempt with MinecartSound.java in client/utils/sound, but its incomplete.
https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/client/util/sounds/MinecartSound.java

[2017-07-06 21:21] liach commented on #633
Yes, I figured out we can play the sound when the cart is spawned (from events)

[2017-07-07 04:50] CovertJaguar commented on #1224
This fix is incomplete. Nodes that already exist are also rejected in registerNode and that needs to be modify somehow too.

[2017-07-07 05:00] liach commented on #1232
@jefflivsky

[2017-07-07 05:00] liach commented on #1232
Misclick.

[2017-07-11 05:55] Natesky9 opened #1270 "Fluid Cart fluid issues"
testing on the creative server

- [x] fluid carts won't accept fluid from items
- [x] fluid doesn't update until gui is opened

- [ ] somehow, fluid can exist/filter can be changed on a tank cart with a different filter
![2017-07-11_01 23 20](https://user-images.githubusercontent.com/1789946/28052979-082341fe-65dc-11e7-88d0-11afcb006c30.png)

[2017-07-11 06:00] Natesky9 opened #1271 "Signal boxes redstone"
When placed, a signal box will not see adjacent redstone until updated
This nearly led me to believe that boxes could not transmit redstone between linkages

front and the one behind are set up the same, Redstone = Red aspect
though the one in front was placed after the repeater

I do have a request on this, since the boxes have alot of potential. There is no real way to tell whether a box is powe

[2017-07-11 06:06] Natesky9 opened #1272 "Derail stops locomotives even when not actually derailed"
This one is difficult to explain. It's also not that critical, though it would help prevent issues later.

Whenever a cart derails but is prevented from leaving the track, it will act as if it is no longer on a track. Locomotives will not move, and even when re-linked, will cause any carts to immediately derail

also, locomotives tend to just reverse when being pulled by another locomotive, haltin

[2017-07-11 06:16] Natesky9 opened #1273 "Undercutter cart non-solid and placement rules"
Non-full placable blocks (torches, snow, seeds) cannot be placed by the undercutter cart, but can still be placed in the filter

just as well, any non-solid blocks placed in the filter do not get replaced

If this were a mechanic, the undercutter cart could be used for cart-powered farms, as opposed to the alternative of hopper-piston based farms

Either way, can the undercutter cart have the feat

[2017-07-11 16:55] Natesky9 commented on #1197
Why not imitate what EnderIO does when replacing one type of conduit with an upgraded version? Simply swap the base track, while leaving the rest, since there are no invalid combinations of track + kit

I need to test it, but does the track replacer cart correctly replace the base track, mode, kit and all?

[2017-07-11 17:12] Natesky9 commented on #1144
You could make it so that clicking the smoker with different items changes it's particle effect, similar to how they're colored
https://github.com/Railcraft/Railcraft/pull/1244

Charcoal for the default smoke
water bottle for a bubble effect
water bucket for a steam effect
book for the enchanting particles

of course, you could probably use firework stars as well, taking the color, blend color, an

[2017-07-11 17:15] Natesky9 commented on #1137
iirc, this was changed in 1.11 where hopper minecarts could now pick up from more than a block away. They can pick up through soul sand and tilled soil and anything less than a full block

[2017-07-11 17:21] Natesky9 opened #1274 ""Train" detector"
While testing with Forecaster, we found that there was no good way of detecting a "train" with a detector without using a locomotive detector. Usually, there would always be a locomotive powering a train, but that might not always be the case

In the case of some trains, you only want one signal if a detector finds a match, and keep that signal until the entire train has departed, other times you

[2017-07-11 20:55] liach commented on #1197
there are invalid combinations however...

[2017-07-11 23:51] Ristellise commented on #1137
it has all along been in the game since they were introduced in the redstone update.

[2017-07-12 03:05] liach commented on #1270
The update thing is duplicate of #1194, but other bugs are fresh.

[2017-07-12 03:07] liach commented on #1272
Derail in fact is that locomotives consider track direction to be east-west instead of north-south.

[2017-07-16 03:09] liach opened #1279 "Locos don't hurt entities"
On the patron server, I was hit by the train of AlexJ and nothing happened as if I am in creative.

[2017-07-16 03:09] liach commented on #1109
@CovertJaguar Do you plan to add charge battery carts?

[2017-07-16 08:01] liach commented on #882
Closing since we haven't reproduced this in a long time (especially on patron server) and some fixes were already pushed.

[2017-07-16 08:01] #882 closed, assigned to CovertJaguar

[2017-07-16 16:54] liach commented on #585
Try disabling dormant chunk cache.

[2017-07-16 19:38] CovertJaguar commented on #1248
If the GUI only has two slots, then the Locomotive needs a GUI redesign to handle these properly. If it has three slots, then there is a bug in the container handling code.

[2017-07-16 19:39] liach commented on #1248
@CovertJaguar It has three slots. I know what is the fix already.

[2017-07-16 19:44] CovertJaguar commented on #1109
Yes, eventually.

[2017-07-16 19:48] #664 closed

[2017-07-16 19:56] CovertJaguar commented on #1272
Not sure about derailing, but we should probably look at the multi-head situation.

[2017-07-16 20:06] #1137 closed, assigned to liach

[2017-07-16 20:18] liach commented on #1109
Will it be in 10.2? If no, I'd delay this issue.

[2017-07-16 20:58] liach commented on #1270
All three bugs have been addressed in #1285.

[2017-07-16 21:35] CovertJaguar commented on #1109
Its one of those fluid things that will happen when the motivation strikes me probably.

[2017-07-16 21:37] CovertJaguar commented on #1273
Discuss!

[2017-07-16 21:39] CovertJaguar commented on #1274
What's wrong with the Train Detector set to size 2?

[2017-07-16 21:44] CovertJaguar commented on #1254
The PR just disables draining, but I'm pretty sure draining was enabled at some point because people playing with finite water wanted it.

[2017-07-16 21:48] CovertJaguar commented on #585
This issue existed before the dormant chunk cache existed, its been around since the earliest days of Railcraft. The original Forge PR may have fixed the entity issues, but I'm pretty sure the new one they decided to use won't.

[2017-07-16 21:50] liach commented on #1254
So @purpleposeidon, Adding a filter to the unloader is the ultimate solution.

[2017-07-16 22:06] CovertJaguar commented on #1197
There are quite a few invalid combinations actually.

[2017-07-18 02:19] #1224 closed, assigned to liach

[2017-07-18 03:02] #1194 closed, assigned to liach

[2017-07-18 03:02] #1248 closed, assigned to liach

[2017-07-18 03:02] #1270 closed, assigned to liach

[2017-07-18 05:37] liach commented on #1270
For the fluid can exist part, it is intentional. However, after the filter is set, you can no longer input the old type of fluid into the cart.

[2017-07-19 20:46] purpleposeidon opened #1287 "Stack overflow spam loading existing world"
[code]

[2017-07-19 22:06] CovertJaguar commented on #1287
Fixed by 6b1739e5a0aded4a4a2c461035499cfae18725b8

[2017-07-19 22:06] #1287 closed, assigned to nobody

[2017-07-20 16:26] liach commented on #1191
Not anymore in 1.10. We've decided to drop 1.7 support.

[2017-07-20 16:26] #1191 closed, assigned to nobody

[2017-07-22 16:27] Skillotic0703 commented on #1203
You can make RF a soft dependency. Your machines should be able to be powered with charge when RF API isn't present. And when the RF API is loaded, your machines should be able to use both energy systems.
And also now that the RF API is installed as a separate jar file, it will be updated ASAP when future updates come!

[2017-07-22 16:30] Skillotic0703 commented on #1203
https://minecraft.curseforge.com/projects/redstone-flux

[2017-07-22 20:13] liach commented on #1203
@Skillotic0703 That is what we are doing now. We are seeking to remove RF completely because of the imbalance brought by the RF mods.

[2017-07-24 00:56] purpleposeidon opened #1288 "Routing book crash w/ Rider=entity"
A routing book with the line:

    Rider=entity:cow

Crashes when a player rides past:
[code]

[2017-07-24 00:57] purpleposeidon commented on #1288
Routing tables being kinda complex, maybe wrap 'er up in a try-catch?

[2017-07-24 00:58] liach commented on #1288
No, it is that we miss an annotation on an interface

[2017-07-24 05:29] liach commented on #1288
Oh... It is caused by players not having registry names.

[2017-07-26 23:22] winnetrie83 opened #1290 "MC 1.10.2 Not able to find tin ore [not solved!]"
I have been unable to find any tin ore.
I am flying in spectator mode with nightvision.
It is very very very rare or it doesn't generate at all.

[2017-07-27 04:12] liach commented on #1290
It generates in mines in different chunks. I suggest using ore finding methods like OV/OD scanner for finding poor ores and ore mines

[2017-07-27 15:39] andrewminer opened #1291 "Exception with loot table lookup"
I've included Railcraft in a custom modpack, and when I start up my server, I see the following error:
[code]

It doesn't prevent the server from starting up correctly, and everything seems to be working okay except that the chests in the railcraft houses in villages are always empty.

Minecraft 1.10.2
Railcraft 10.1.2

[2017-07-27 20:42] CovertJaguar commented on #1291
Unfortunately the loot system doesn't handle missing items very well. I've reported this to Forge people, but I don't know if they plan to do anything about it.

The solution is to provide your own versions of the loot table with the disabled items removed.

[2017-07-27 20:42] #1291 closed, assigned to nobody

[2017-07-27 20:43] #1290 closed, assigned to nobody

[2017-07-27 22:01] Nedelosk opened #1292 "Outdated CoFH API"
The CoFH API of railcraft is outdated. The CoFH API of railcraft has the owner "CoFHAPI". But since the version 1.4 of the cofh api the name of the api owner is "cofhapi".
https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/src/api/java/cofh/api/energy/package-info.java#L5
https://github.com/CoFH/CoFHLib/blob/1.10.2/src/main/java/cofh/api/energy/package-info.java#L5

[2017-07-27 23:19] liach commented on #1292
Duplicate of #1203

[2017-07-27 23:19] #1292 closed, assigned to nobody

[2017-07-28 01:49] andrewminer commented on #1291
Ah!  Thanks for the explanation!

[2017-07-29 01:12] liach commented on #532
killing this because thaumcraft has an unclear future.

[2017-07-29 01:12] #532 closed

[2017-07-29 01:51] winnetrie83 commented on #1290
After more then 1 hours searching for tin ore in spectator mode, nothing to be found. If people have to find this in normal survival mode, that will be nearly imposseble. For now i will use an other tin ore generation mod. Closing this issue won't solve it by itself.

[2017-07-29 02:11] liach commented on #1290
You can change the configuration for more frequent tin ore generation. Or turn on skygen in the configuration.

[2017-07-29 14:37] winnetrie83 opened #1293 "Suggestion Change electricity to RF"
Since electric locomotives and their tracks can't be used anymore in survival. Because we can't make electricity with railcraft. It would be a good idea to change it to redstone flux as it is the universal power in minecraft.

[2017-07-29 15:17] liach commented on #1293
You should convince @sfPlayer1 to switch ic2 to RF. :trollface:

[2017-07-29 15:17] #1293 closed, assigned to nobody

[2017-07-29 15:20] liach commented on #1293
fyi railcraft will provide means to generate charge in 10.2

[2017-07-29 20:02] winnetrie83 commented on #1293
I have no idea what ic2 has to do with this issue? I don't even play ic2..... You say railcraft provides means to generate charge in 1.10.2? How ? I haven't found a way yet. Can't find any information about it! The only way i know is the admin charge feeder block. Wich is not what i want ofc!

[2017-07-29 20:11] winnetrie83 commented on #1293
Nvm, I just realized you were talking about the railcraft version (10.2) not minecraft.
In that case, good to know it will be added! Do you have much work to do untill that version is ready?

[2017-07-29 21:06] liach commented on #1293
https://github.com/Railcraft/Railcraft/milestone/19

[2017-07-29 21:12] liach commented on #633
Not really from events... The sounds are from packets instead.

[2017-07-29 23:42] winnetrie83 opened #1295 "Track kits registryname [SOLVED]"
If you craft the track kits, all is fine.
When you do the /give player railcraft:track_kit 1 0
it gives you a purple/black block called invalid track kit.
I tried 0,1,2,3,4,etc etc. They all give an invalid track kit.

Edit: Crafttweaker also can't find the proper item.
Edit2: Tested it with only forge and railcraft installed. Same results.

[2017-07-30 10:55] CovertJaguar opened #1296 "Infinite Loop in Tunnel Bore Ballast Code"
The recently accepted PR #1280 for ballast introduced an infinite loop into the code.

[code]

[2017-07-30 11:00] CovertJaguar commented on #1295
That's because they use NBT data for differentiation.

[2017-07-30 11:00] #1295 closed, assigned to nobody

[2017-07-30 11:46] winnetrie83 commented on #1295
Yeah i saw that in the code last night. Is there a way to spawn them in anyway? Sorry to ask btw.
I'm making a modpack that has multiple plates and those of railcraft are not registered in the ore dictionary nor do your recipes use it. So i wanted to change some recipe that require the railcraft steelplate, but i can't change that recipe with crafttweaker for the dumping track because they return

[2017-07-30 11:57] CovertJaguar opened #1297 "Add EMPTY mode for Unloaders"
It should keep the cart until the cart is empty.

[2017-07-30 16:01] winnetrie83 commented on #1295
I have googled alot and found a solution. Basicly i have leared how to use the nbt tags. So i was able to use this in crafttweaker and to customize the recipes. The downside is the way to retrieve that nbt data. Is there a list anywhere or a way to retrieve that nbt tag data more easily? For now i'm using the command:
/entitydata @e[type=Item,r=3] {}

I bet you already knew this, but refused to he

[2017-07-30 16:24] MauveCloud commented on #1295
Have you tried using /mt hand after crafting them?  That should get you the nbt data.

[2017-07-30 16:29] winnetrie83 commented on #1295
@MauveCloud
Oh damn, i didn't know that command does exactly that! Thank you very much!

[2017-07-30 16:50] winnetrie83 opened #1298 "Crash with plate recipe disabled"
I disabled the plates in the items.cfg
After that i restarted the game and it gave me a nullpointer exception.
Here is the crashlog: https://pastebin.com/JkPzK9Wy

There is no alternative recipe (it appears it attempts to find 1), nonetheless it should not crash anyway.
Your plates are not registered in the ore dictionary. Maybe this was intended , i don't know.

[2017-07-30 17:35] liach commented on #1296
This is actually a one-line fix.

[2017-07-30 19:11] liach commented on #1296
@CovertJaguar Can I just add some sort of phase manager for bores?

[2017-07-30 22:27] #1296 closed, assigned to liach

[2017-07-30 22:47] Sora-Canstavia opened #1299 "1.10.2 Hoppercarts not working as expected"
Hi there,

I Don't know if this is a bug or not, but when using hoppercarts, they will not pick up items from the block above them as they are supposed to normally, according to the minecraft wiki: "It will also pick up items that are lying on a block directly above the track." https://minecraft.gamepedia.com/Minecart_with_Hopper#Usage%5C
again, I Don't know if this is intended with Railcraft inst

[2017-07-30 23:30] CovertJaguar commented on #1295
It should be noted that plates will be ore dict'd in 10.2.

[2017-07-30 23:30] CovertJaguar commented on #1299
Oh its most certainly Railcraft's fault.

[2017-07-31 01:05] liach commented on #1299
See #1212

[2017-07-31 01:05] #1299 closed, assigned to liach

[2017-07-31 01:30] #1288 closed, assigned to nobody

[2017-07-31 02:55] Ashonee75 opened #1300 "Tunnel Bore Infinite loop stalling server"
something something infinite loop when tunnel bore is empty of balast.

Liach and Covert you know more about the specifics than i do.

Stalling our server when ever the chunk the tunnel bore is in loads.

Gravel dropping on mud breaks into an entity, the tunnel bore then empties itself of gravel setting up some sort of infinite loop that stalls the server.

[2017-07-31 04:13] liach commented on #1300
@Ashonee75 Fixed #1296

[2017-07-31 04:13] #1300 closed, assigned to nobody

[2017-07-31 08:01] #1298 closed, assigned to CovertJaguar

[2017-07-31 08:01] purpleposeidon opened #1302 "Comments in routing tables?"
[code]

[2017-07-31 08:13] #1302 closed, assigned to nobody

[2017-07-31 22:26] #423 closed

[2017-07-31 22:35] #633 closed

[2017-08-01 02:57] liach commented on #316
@CovertJaguar So what do we do on this?

[2017-08-01 03:05] liach commented on #723
Closing since thaumcraft is unclear in its future.

[2017-08-01 03:05] #429 closed

[2017-08-01 03:06] liach commented on #1147
@CovertJaguar Isn't this done yet?

[2017-08-01 06:26] liach commented on #455
fixed!

[2017-08-01 06:26] #455 closed

[2017-08-01 06:27] liach commented on #635
@CovertJaguar Is this still a bug?

[2017-08-03 02:43] purpleposeidon opened #1303 "Item Unloader doesn't unload into storage drawers"

[2017-08-03 02:57] liach commented on #1303
Guess they use the capability instead of the iinventory

[2017-08-03 03:03] purpleposeidon commented on #1303
https://github.com/jaquadro/StorageDrawers/blob/1.11.2/src/com/jaquadro/minecraft/storagedrawers/block/tile/TileEntityDrawers.java Somewhere 'round here...

[2017-08-03 03:07] liach commented on #1303
Yeah it has a dummy iinventory, that is very sick...

[2017-08-03 03:09] purpleposeidon commented on #1303
https://github.com/jaquadro/StorageDrawers/blob/1.11.2/src/com/jaquadro/minecraft/storagedrawers/block/tile/TileEntityDrawers.java#L691 better link, but that method doesn't have `@Override`...

[2017-08-03 03:19] purpleposeidon commented on #1303
https://github.com/jaquadro/StorageDrawers/blob/1.11.2/src/com/jaquadro/minecraft/storagedrawers/block/tile/TileEntityDrawers.java#L1003-L1022 Capabilities. https://github.com/jaquadro/StorageDrawers/blob/1.11.2/src/com/jaquadro/minecraft/storagedrawers/inventory/DrawerItemHandler.java

[2017-08-03 03:54] liach commented on #1207
We can create a custom recipes class for this for now.

[2017-08-03 09:01] egorkozachenko opened #1304 "Signaling system"
Please help me. I dont find All Signaling system.

[2017-08-03 16:48] liach commented on #1189
@CovertJaguar Fixed by moving sounds.

[2017-08-03 16:48] #1189 closed, assigned to CovertJaguar

[2017-08-03 18:21] liach commented on #1304
Use signal boxes for now. They will be in Railcraft 10.2.

[2017-08-03 18:21] #1304 closed, assigned to nobody

[2017-08-03 18:45] liach commented on #430
Should not be valid any more since we rewrote the code in mc 1.10

[2017-08-03 18:46] liach commented on #837
@CovertJaguar How is this now?

[2017-08-03 18:49] liach commented on #1018
In fact, only anvil cart is feasible here.

[2017-08-03 18:59] liach commented on #1027
Moving into #1207

[2017-08-03 18:59] #1027 closed, assigned to nobody

[2017-08-03 21:31] purpleposeidon commented on #1303
Just check Capabilities before IInventory?

[2017-08-04 00:24] liach commented on #1303
I disagree. Capabilities has some issues. https://github.com/MinecraftForge/MinecraftForge/issues/3344
Will close since this is not really Railcraft's fault.

[2017-08-04 00:24] #1303 closed, assigned to nobody

[2017-08-04 00:25] liach commented on #1204
@purpleposeidon Is it still happening?

[2017-08-04 00:26] purpleposeidon commented on #1204
I haven't noticed it recently.

[2017-08-04 00:30] liach commented on #1204
#1195?

[2017-08-04 03:35] Mimickal opened #1305 "Crash when initializing server with "magic" module disabled"
My forge server crashes on startup when attempting to load Railcraft with the config option `B:"railcraft:magic"=false` set in `modules.cfg`. Setting this option to `true` causes the server to load as expected.

Versions:
 - Minecraft 1.10.2
 - Forge 12.18.3.2281
 - Railcraft 10.1.2

latest.log output:
[code]

[2017-08-04 03:47] liach commented on #1305
Thanks for the report!

[2017-08-04 04:03] liach commented on #1305
Should be fixed by #1177 already. Cannot reproduce in latest alpha.

[2017-08-04 04:03] #1305 closed, assigned to liach

[2017-08-04 07:58] CovertJaguar commented on #430
No we haven't.

[2017-08-04 08:09] CovertJaguar commented on #1147
Yes

[2017-08-04 08:09] #1147 closed, assigned to nobody

[2017-08-04 08:12] CovertJaguar commented on #635
Yes, I haven't touched it.

[2017-08-04 08:13] #1018 closed, assigned to nobody

[2017-08-04 08:14] CovertJaguar commented on #837
Same as ever. The backend is flexible enough to add more, but as stated, paste modes are a bit clunky.

[2017-08-04 08:15] CovertJaguar commented on #316
Nothing, unless you want to dig into the entity movement code.

[2017-08-04 14:30] liach commented on #1018
ok i will open another one for anvil carts

[2017-08-04 15:13] liach opened #1306 "Add anvil cart"
An anvil in a minecart. From #1018

[2017-08-05 20:37] Forecaster opened #1307 "Blacklist mode for unloaders/loaders"
ie. "Move everything expect [items in filter]"

[2017-08-05 20:41] Forecaster opened #1308 "Allow movers to activate a locking track as a group"
Difficult to come up with a title summary for this.

Basically instead of any one mover (loader/unloader) activating the locking track when **it** is done, the track is activated only when **all** movers are done according to their individual conditions.

Currently you are required to either trust one of them to be the slowest, or employ external logic.

It'd be nice if they could cooperate, eithe

[2017-08-06 04:16] liach commented on #1308
Why don't you use an advanced loader?

[2017-08-06 05:14] carcher7878 opened #1309 "No switch tracks in RC 10.1.2"
I've checked my forge version and RC version. all up to latest. This a bug or intended?

[2017-08-06 08:07] Forecaster commented on #1309
Check out the Spike Maul tool. You use it to convert regular tracks into junctions.

[2017-08-06 08:07] #1309 closed, assigned to nobody

[2017-08-06 21:14] carcher7878 commented on #1309
you're a savior, Covert constantly updating his mod and adding new things. I cant keep up :)

[2017-08-07 06:47] carcher7878 opened #1310 "Steve's Cart (advanced detector track) implemented"
I've set up a nice auto mining system with Steve's Carts and Railcraft signals and track (using RC 10.1.2). Steve;s carts on their advanced detector rail will stop the cart and shut off the fuel. However, the rail does not take a redstone signal. Railcraft's locking track works great, however, it doesnt shut off the fuel from steve's cart. Any way we can implement a detector rail that not only sto

[2017-08-07 06:55] liach commented on #1310
I am planning to make a compat for it when railcraft goes to 1.12.

[2017-08-07 13:07] VsUK opened #1311 "Anchors missing? Version 1.10.2 for mc 1.10.2"
Using the last update for 1.10.2 as of 13th May 2017. Looked in the cfg file & anchors are set to true, but I cant find them in creative mode, nor craft them.

Bit of help here. Never used anchors before, didn't know they existed until I asked for help on why my long distance train network kept stopping when i logged off or if they got to far away.

So, bit of help would be great. I am a noob when

[2017-08-07 14:31] VsUK commented on #1010
Anyone know when anchors are put back? Using 13th May 2017 release 1.10.2 for MC 1.10.2 & still no anchors. Makes the whole reason of wanting this mod pointless without anchors!

[2017-08-07 17:20] abculatter2 commented on #1311
The 1.10 update is very much WIP, and most machines have not been ported yet, the world anchor included.

[2017-08-07 20:45] Forecaster commented on #1311
World anchors (now called World Spikes) have been ported and are being tested in the beta versions right now. They will most likely be in the next release (barring anyone finding any significant issues). When the next release will be I don't know yet.

[2017-08-07 20:45] #1311 closed, assigned to nobody

[2017-08-07 20:47] liach commented on #1010
Will be in release 10.2.0

[2017-08-07 23:25] liach commented on #1311
However, you can see the new features here: https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/src/main/resources/change_log.txt

You can play beta versions once you support CovertJaguar on patreon, $5 or more per month: https://www.patreon.com/bePatron?c=81136&rid=1556762

[2017-08-10 00:47] purpleposeidon opened #1312 "Loaders/unloaders no longer transfer tickets to locos"

[2017-08-10 05:59] liach commented on #1312
You should probably use routing tracks instead.

[2017-08-10 06:28] purpleposeidon commented on #1312
It worked just fine in 1.7.10, I used it for my subway. Routing tracks can't be modified with automation.

[2017-08-11 21:46] purpleposeidon opened #1313 "Funky track and cart interactions at short corners, including turnouts"
https://www.youtube.com/watch?v=s2izooojIeY&t=100

[2017-08-11 22:59] liach commented on #1313
@purpleposeidon Does it only happen in one axis? You should turn on F3 debug info if possible.

[2017-08-11 23:00] coryhiller opened #1314 "Can't see to enchant the bore head."
I noticed it said the 10.1.2 version now supports enchanting the bore heads.  How do you go about enchanting them?  I've tried the Anvil, the standard Table, and the Advanced Enchanting Mod but none of them seem to allow me to place an enchantment on the bore head.

[2017-08-11 23:24] purpleposeidon opened #1315 "Comedic Token Signal Linking"
Given this starting scenario in 10.2.0-alpha-15,
![2017-08-11_15 21 45](https://user-images.githubusercontent.com/150333/29233956-d721d79c-7ea8-11e7-869e-a8f603b1e0ba.png)

1. Pairing `(1, 2); (1, 3); (1, 4); (1, 5)` just shuffles the token area down the line, removing the previously added token signal. Probably pretty confusing if you don't have goggles on & the token signals are in a realistic s

[2017-08-11 23:34] purpleposeidon commented on #1313
![2017-08-11_16 34 37](https://user-images.githubusercontent.com/150333/29235379-fcf1bd48-7eb2-11e7-9f5c-9867e7186278.png)

[2017-08-12 00:32] liach commented on #1314
That version is actually bugged. You need to add enchantment with custom NBT tags.

[2017-08-12 01:17] coryhiller commented on #1314
Gotcha! Thank you for the fast response!

On Aug 11, 2017 7:32 PM, "liach" <notifications@github.com> wrote:

[2017-08-14 01:29] edisonkendrick opened #1316 "Railcraft High Speed Tracks"
Hi! I'm using railcraft 10.1.2 for 1.10.2. When I use the high speed tracks, they seem to be not able to **reach their top speed** and just maintains a _normal booster track speed (or even slower)_. I tried every form of redstone but there was no hint of speeding up. Is there any way to solve this? I've tried all of the versions.
(I have worldedit)

[2017-08-14 06:47] liach commented on #1316
Duplicate of #1202

[2017-08-14 06:47] #1316 closed, assigned to nobody

[2017-08-14 22:59] edisonkendrick commented on #1202
@liach This issue has not been solved for me!! I've tried the new version already...

[2017-08-15 00:47] liach commented on #1202
The new version will be 10.2.0 instead of 10.1.2. It is not completed yet.

[2017-08-16 00:47] purpleposeidon commented on #1312
Also it worked fine in 1.10. AKA you broke my test setup :|

[2017-08-19 16:37] 3TUSK opened #1317 "[Suggestion] Adding bees for Forestry"
Imagine a new kind of bee that is capable to help you deploy the tracks (randomly, hopefully). With the help of apiary cart from Forestry, one can imagine that those ~~trackbees~~ "trackmans" will make some ... well, not something really imaginable.

Just a very weird idea while chatting and brainstorming with my friends. I can even imagine that this can cause balance issue. Still, without speakin

[2017-08-19 17:16] forestbat commented on #1317
I don't think it's a good idea——bees can't represent everything，do you want to come to every mod which have resources to get bees for it？

[2017-08-20 00:40] liach commented on #1317
Hmm there are nine :+1:s, but I cannot implement it.

[2017-08-20 00:46] liach commented on #1317
去，curseforge 推广群有毒啊！

[2017-08-20 02:38] 3TUSK commented on #1317
@forestbat
1. ~~Beeeeeeeeeeeeeeeeeeeeeeeeeeeeeeees iiiiiiiiis eeeeeeeeeeeevveeeerryyyyyythhhhhhing.~~
2. Not all bees are designed to give you raw material. Heroic bees kill mobs. Edenic bees give you experiences points. Phantasmal bees ~~resurrect~~ summon the ender dragons. ~~And there are also easter eggs - Merry bees, Tispy bees and Leporine bees.~~
3. For your question: I won't. If resource b

[2017-08-20 03:02] liach commented on #1317
看了代码后发现实现不会很难。只是实现了我不会测试而已。

[2017-08-20 03:03] liach commented on #1317
However, CovertJaguar needs to decide if he likes it.

[2017-08-20 03:44] liach opened #1318 "Wooden tnt carts need a recipe"

[2017-08-20 03:51] forestbat commented on #1317
@3TUSK We shouldn‘t and can't let a mod do everything——that's modpack。

[2017-08-20 04:39] 3TUSK commented on #1317
*You need Groovy or Kotlin runtime compiler to achieve such a weird goal*

[2017-08-22 12:54] MrAnima opened #1319 ""gradlew eclipse" not creating an "eclipse" folder"
I have followed the [build instructions](https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/README.md#building) written in the _README.md_, and even though Gradle tells me that the build was successful, no "eclipse" folder appears in the root of the project. Does this folder have a different location ? I had previously built a few other mods, and nothing wrong occurred.
Thanks !

[2017-08-22 20:36] liach commented on #1319
@MrAnima You don't need that folder. Just import the gradle project in idea or in eclipse after running `gradlew.bat setupDecompWorkspace`.

[2017-08-22 20:57] MrAnima commented on #1319
Okay, thanks a lot, I was used to the classic way of doing things. I'll try that tomorrow.

[2017-08-26 03:56] liach commented on #1319
@MrAnima Is this fine now?

[2017-08-26 07:27] MrAnima commented on #1319
Oh, sorry, everything's fine, I was busy exploring the code and completely forgot, a big thank you for your help, have a great day!

[2017-08-26 13:08] liach commented on #1319
😄

[2017-08-26 13:08] #1319 closed, assigned to nobody

[2017-08-27 11:21] jsmetana opened #1320 "Am I the only one who can't find anywhere a block signal? [1.10.2]"
# I can't find anywhere a block signal.
(not signal box, I mean the block lamp) (I can't find the double, too)

I look in all categories, even from other mods and it wasn't there: (only railcraft categories at photos)
![2017-08-27_12 40 29](https://user-images.githubusercontent.com/29602127/29749178-7da19c54-8b26-11e7-8740-08600c0c838d.png)
![2017-08-27_12 40 40](https://user-images.githubusercont

[2017-08-27 15:45] liach commented on #1320
Thanks for various information provided. Signals are available in the beta versions only for now. Once 10.2.0 is released, you will have access to them.

[2017-08-27 15:45] #1320 closed, assigned to nobody

[2017-08-28 05:24] liach commented on #1314
I will make it implement `ItemTool` for better functionalities.

[2017-08-29 03:51] liach commented on #309
I can implement soaking here, but I don't know if you really want this or another machine.

[2017-08-29 07:42] Magi1053 opened #1324 "1.10 Locomotive stops when out of range."
When I move away from my locomotive it just stops moving. I found this related issue #1237 mentioning a spike cart or chunk loader, but I am not able to find that item ingame or in any railcraft configs.

[2017-08-29 08:34] liach commented on #1324
You need to learn how minecraft works. When you are away, furnaces will stop cooking, too. Use chunk loaders.

[2017-08-29 08:35] #1324 closed, assigned to nobody

[2017-08-29 08:42] liach commented on #1324
chunk loaders are available from different mods, but in the patron only betas, there are worldspikes (or world anchors in 1.7.10) they will be released in next major release.

[2017-08-29 19:48] EnderiumSmith commented on #1205
what about LI-ion? id say very high energy/volume, very good charge retention, good draw rate, 90% efficiency. a have no idea where would you get Lithium tho.

[2017-08-30 03:54] bookerthegeek commented on #309
Why not do both?

[2017-08-30 20:32] kierajreed opened #1325 "Infinite Emerald Villager Glitch (1.10.2)"
In my 1.10.2 modded world with railcraft, a `Trackman` Villager spawned with the following trades:
[code]
I then exploited that for infinite emeralds.

[2017-08-31 06:43] liach commented on #1325
Fix made, will be released in version 10.2.0 for Minecraft 1.10.2.

[2017-08-31 06:44] liach commented on #973
As I've seen, drag is handled in a method now. We have no access to drag information, unfortunately.

[2017-08-31 18:47] #1325 closed, assigned to liach

[2017-08-31 19:21] #1318 closed, assigned to liach

[2017-08-31 19:23] CovertJaguar commented on #1317
Either magic bees or extra bees, added a ton of Railcraft specific bees in the past.

[2017-08-31 19:26] CovertJaguar commented on #1315
I did say it was wonky!

The problem is I don't think I have a backward reference to the signals already in the Token Area. So there is no way I can go back and update them. So the pairing always adds the first signal clicked to the token area of the second signal clicked.

[2017-08-31 19:30] #1314 closed, assigned to liach

[2017-09-01 03:30] liach commented on #1313
@covertjaguar might this be caused by some misplaced magical numbers?

[2017-09-01 03:44] 3TUSK commented on #1317
Cannot verify...?

[2017-09-01 18:35] liach commented on #855
I've implemented all the ideas here. I just need to add a GUI and test.

[2017-09-02 11:21] EnderiumSmith opened #1327 "consider speeding up the update by reducing railcraft to smallest viable product"
railcraft has the problem that its too big to keep up with minecraft updates. shaving off some features could help catching up to 1.12.

the most important feature are the tracks themselves. the tracks, carts and (un)loaders are all its needed for the mod to exist. electric tracks are not essential.

second of importance are locomotive and cart linking.

third are electric tracks. a simple RF tran

[2017-09-02 11:25] EnderiumSmith commented on #1327
forgot about signals. probably more important than electric tracks

[2017-09-02 15:23] liach commented on #1327
Not at all. We are just adding back multiblocks which are hampered by 1.8 rendering update. We are ready for all changes like item stack wrapping. Recipe jsons are not bad, too. We have a utility class that can be easily modified to generate jsons.

[2017-09-02 15:25] liach commented on #1327
If you really want to make railcraft up to date, we can port to 1.12 in one day, but we'd rather get new features in first. Some other mods, such as Aether 2 and carpenterblocks, are still on 1.10.2.

[2017-09-02 15:28] liach commented on #1327
Uh eh, features are not ones that prevent railcraft from keeping up to date. It is caused by bad codebase (minecraft has a trashy codebase in which they find a furnace recipe entry by iterating over a hash set instead of actually using the features of a set)

And most of those "non-essential" features are already ported because they are easy to port. They are, in fact, essential.

[2017-09-02 15:28] #1327 closed, assigned to nobody

[2017-09-02 15:30] liach commented on #1279
@CovertJaguar Can you test? I don't really have a clue on this.

[2017-09-02 17:30] EnderiumSmith commented on #1327
why is multiblock rendering a problem? forge added extra features to json and blocks could change state depending on whats around them like fences. immersive engineering has more complicated multiblocks and didnt have much trouble porting.

[2017-09-02 18:10] LuigiHutch commented on #1327
People only have so much time, splitting stuff up will only be more work.

If you want development to speed up, the project will need more contributors or someway to speed up time.

All rendering has changed in 1.8+ and multi block rendering just hasn't been touched yet and will be done when CJ has time and the current milestone is done.

[2017-09-02 19:16] liach commented on #1327
Again, I can almost make sure that once 10.3 is out, we are ready to jump. 10.2 includes too many fixes (100 issues!) and 10.3 will come faster (for posts, etc. in 10.4, CJ has already been working on them) At that time, we might go to 1.12 or higher, releasing for mc versions in between depending on the situation.

[2017-09-03 23:03] liach commented on #823
@purpleposeidon How are you supposed to handle conditions with these stuff?

[2017-09-03 23:04] liach commented on #1204
I think it exists, since no track kit calls `TileEntity#markDirty` at all!

[2017-09-04 01:25] liach commented on #1204
I've opened a pull to debug. Hope it works!

[2017-09-05 19:18] #1271 closed, assigned to liach

[2017-09-05 19:26] CovertJaguar commented on #1327
All that stuff is already done for the most part. Just some small tweaks needed. Doing what you suggest would increase the effort required, not reduce it, since that is essentially what I had to do for 1.10 and why we are so far behind atm.

[2017-09-05 21:20] CovertJaguar commented on #1317
I don't know what the current state of those mods are. There were bees for Quarried Stone, Abyssal Stone, and Creosote for sure.

[2017-09-05 21:45] aerojas commented on #787
Any news?

[2017-09-05 22:01] AlexIIL commented on #787
None from me sorry, I've been pretty busy with BuildCraft.

[2017-09-07 11:29] Pilad opened #1330 "[1.7.10]Multipliers for steam engines"
You can add multipliers for steam engines to power generation in the configuration file? Standard values are sometimes very small: 20,40,80 rf/tick

[2017-09-07 12:46] pcking99 opened #1331 "Game crashes on startup after installing Railcraft"
Hello. My game crashes in loading mods after installation of Railcraft. It crashes on step 3 of 7 when loading minecraft engine.
MC: 1.10.2
Railcraft: 10.2.0
Log: https://www.dropbox.com/s/60ebwnv6l58s2mm/crash-2017-09-07_14.44.25-client.txt?dl=0

[2017-09-07 12:58] pcking99 commented on #1331
When its doing modelmanaging.

[2017-09-07 14:02] liach commented on #1331
Thanks for speedy reports!
Will ask @covertjaguar to find a fix for his post renderings.

[2017-09-07 14:05] liach commented on #1331
does it crash when only rc is installed?

[2017-09-07 14:07] liach commented on #1330
Sorry, but we've dropped 1.7.10.

[2017-09-07 14:20] pcking99 commented on #1331
let me test. Any core mods requierd?

[2017-09-07 14:36] pcking99 commented on #1331
It works when its only that mod.

[2017-09-07 14:58] liach commented on #1331
I doubt it might be caused by CoFH mods or NEI.

[2017-09-07 15:00] liach commented on #389
I will try this in release 10.2.0.

[2017-09-07 15:27] pcking99 commented on #1331
i tryed to remove NEI but did not work. Then i removed CoFH + mods and then i works. Does this mean i need to start a ticket to the creator of CoFH core?

[2017-09-07 15:40] liach commented on #1331
Yes, @KingLemming might know how to fix it.

[2017-09-07 15:42] #1330 closed, assigned to nobody

[2017-09-07 17:47] #863 closed, assigned to nobody

[2017-09-07 17:50] #1254 closed, assigned to liach

[2017-09-07 17:57] #1274 closed, assigned to nobody

[2017-09-07 18:12] Forecaster opened #1332 "Token signals have no recipes"

[2017-09-08 02:31] liach commented on #389
no longer a bug in 10.2.0.

[2017-09-08 02:31] #389 closed

[2017-09-08 03:12] #1106 closed, assigned to liach

[2017-09-08 03:13] liach commented on #1207
Fixed in that commit above.

[2017-09-08 03:13] #1207 closed, assigned to CovertJaguar, liach

[2017-09-09 10:50] pcking99 commented on #1331
Solved! Looked like Thermal Expansion made the problem.
Solution: Updated Thermal Expansion from 5.1.9.23 to 5.1.10.25.

[2017-09-09 10:50] #1331 closed, assigned to CovertJaguar

[2017-09-10 03:20] liach commented on #873
Guess we will add a track kit for this.

[2017-09-10 03:21] liach commented on #779
I'd not name it sleeper, for sleeper means railroad ties in British English.

[2017-09-10 21:33] liach commented on #779
It turns out that this cart needs a lot of hack, but I've at least done most part of it.

[2017-09-10 21:40] liach commented on #779
@CovertJaguar Can you decide how should player sleep and leave the bed?

[2017-09-11 00:35] liach commented on #892
@CovertJaguar Does this still apply?

[2017-09-11 00:36] liach commented on #645
Aye, although this is extremely easy to implement, we need to wait till multiblocks are back.

[2017-09-13 16:33] pcking99 opened #1334 "Is coke oven missing in 10.2.0?"
Hello. I cant find a way to make coke coal and creosote oil.
I have looked in NEI to find an oven or smelter in railcraft but i cant find it.
What am i doing wrong?

[2017-09-14 04:00] liach commented on #1334
Yes. It is scheduled for [10.3.0](https://github.com/Railcraft/Railcraft/milestone/14).

[2017-09-14 04:00] #1334 closed, assigned to nobody

[2017-09-14 04:01] liach commented on #1179
This one is really hard. We need some gaming pros to discuss on this.

[2017-09-17 15:48] coryhiller opened #1335 "Tunnel Bore Destroys blocks"
Just started using version 10.2.0 and seem to be having an issue with the tunnel bore destroying blocks instead of mining them.  It appears I have the correct settings in the config file.  Hoping you can look into this.

        bore {
            #
            # change to 'destroyBlocks=true' to cause the Bore to destroy the blocks it mines instead of dropping them
            #
            B:des

[2017-09-17 15:50] liach commented on #1335
How about the `doTileDrops` game rule?

[2017-09-17 15:53] coryhiller commented on #1335
I can check that. Which cfg file is that located in?

[2017-09-17 16:01] liach commented on #1335
https://minecraft.gamepedia.com/Commands#gamerule

[2017-09-17 16:04] coryhiller commented on #1335
Sorry for the confusion. That is set to true as well.

[2017-09-17 16:08] dn96 opened #1336 "Minecarts in unloaded chunks causing server to crash"
Hi, minecarts on high speed rails are causing server crashes when they are loaded with a chunk. Now this has caused a player to crash the server every time they join, due to loading this chunk giving an error of ".testHighSpeedCollision" and a lot of others

Crash report included
[crash-2017-09-18_01.57.17-server.txt](https://github.com/Railcraft/Railcraft/files/1309194/crash-2017-09-18_01.57.17-s

[2017-09-17 21:42] liach commented on #1336
Does this happen with only railcraft in 1.7.10?

[2017-09-18 03:31] dn96 commented on #1336
My server is currently on 1.7.10 so I'm currently unsure if this happens on the newer Minecraft versions

[2017-09-18 03:33] liach commented on #1336
1. Use MCEdit to remove those errored minecarts
2. Try to get this on 1.7.10 with only railcraft with no other mods (the latest version is 9.12.2.1 on curseforge, I suggest an update)
3. If you can get it, write down steps here.

[2017-09-20 01:29] liach commented on #1336
@dn96 any updates?

[2017-09-20 19:57] Dockter commented on #1232
@liach where we at with the 1.12.1 update for Railcraft?  Been trying to ping you on IRC but your not around.

Thanks,

[2017-09-23 12:44] t0suj4 opened #1338 "Cart linking depends on two modules"
I've recently installed Railcraft into my Age of Engineering modpack and disabled all modules except for railcraft:train so I could use the furnace minecart in my mine. But it turned out that I also need railcraft:tracks in order to make links with crowbar. It doesn't work without having *both* modules enabled.

[2017-09-23 15:23] liach commented on #1338
fyi there's a config to reenable furnace carts. for the module one, I will look into it. Is there any error message?

[2017-09-23 19:05] t0suj4 commented on #1338
It just fails silently. Nothing in logs. RC is installed as single mod when I test it. AoE can't initialize with railcraft:tracks btw.

It would be great if there was an option to restore pre-1.8 furnace cart behaviour.

[2017-09-24 16:33] PDelta41 commented on #1335
On a hunch, I tried changing " B:destroyBlocks=false" to " B:destroyBlocks=true".
After reloading the game, the bore spit out the blocks it was mining. The behavior is inverted. Should be an easy fix (or just reword the tooltip).

[2017-09-24 17:16] liach commented on #1335
Already fixed in the commit above, waiting to get merged.

[2017-09-25 21:19] steampunko commented on #1310
Will this compat be added to the 1.10.2 version of Railcraft?

[2017-09-26 02:59] liach commented on #1310
@steampunko No.

[2017-09-27 08:54] llloyd4 commented on #1203
Let me see if I understand this, and if I sound stupid please forgive. >.< Does this mean the electric train powered rails and certain machines won't be using RF at all? As I was thinking of setting up some powered rails and an electric train but I couldn't even find the EU powered rail accepter thing that was in 10.1.2. Umm, is there a wiki / guide on how to use powered rails and electric trains

[2017-09-27 15:00] liach commented on #1203
use ic2 charge feeder for now.

[2017-09-28 08:14] alkihis opened #1339 "Locos lose "reverse" mode after a server restart"
In my world, if electric locos, haven't tested yet with standard locos, are going reverse (in their interface), they're going straight after reloading the savegame (at the same speed level), they just lose their reverse tag.

[2017-09-29 20:19] P3rf3ctXZer0 commented on #1232
Eagerly await 1.12.2 release - also can anyone commit to code? I have a few modders that might help.

[2017-09-30 06:39] liach commented on #1232
it's going to take long. all code needs to be reviewed by @covertjaguar and he is going on to a trip in the wild.

[2017-10-01 10:28] Kiritow opened #1340 "Railcraft crashes on Minecraft 1.10.2"
I am using Railcraft 10.2.0 on Minecraft 1.10.2. The game starts successfully. But when I put a signal lamp on the ground, the game crashes.
Here is my crash report:

[crash-2017-10-01_18.19.14-client.txt](https://github.com/Railcraft/Railcraft/files/1347063/crash-2017-10-01_18.19.14-client.txt)

[2017-10-01 20:40] brisingraerowing commented on #1340
This is caused by Optifine breaking API stuff.

[2017-10-01 21:18] kdb424 opened #1341 "Railcraft 10.1.0 Powered rolling machine doesn't accept power."
As stated in the title, running Minecraft 1.10.2 custom mod pack. Tried several mods power sources, mostly RF. Conduites, forestry engines, flux points, ect and nothing will connect to this machine. Looks like RF conversion is no longer available.

[2017-10-01 23:23] Kiritow commented on #1340
I removed the Optifine and everything is ok now. Thanks!

[2017-10-01 23:23] #1340 closed, assigned to nobody

[2017-10-01 23:27] liach commented on #1340
建议升级optifine，如果继续崩溃到 https://github.com/sp614x/optifine/issues/new 汇报

[2017-10-01 23:28] liach commented on #1341
@kdb424 Use railcraft charge instead.

[2017-10-03 00:30] Kiritow commented on #1340
升级了Optifine之后也没有问题了，谢谢！@liach

[2017-10-05 22:03] jayyyin opened #1342 "crash on minecraft version 1.10.2 on both 10.1.2 railcraft and 10.2.0"
almost the identical error for both versions of railcraft

https://pastebin.com/k5V06wY0

[2017-10-06 00:55] liach commented on #1342
1. This is caused by other mods that add items with incorrect capabilities. Remove half by half to test.
2. Will be fixed once version containing #1321 is released.

[2017-10-15 16:35] liach commented on #1342
@jayyyin Any updates?

[2017-10-15 16:35] #1341 closed, assigned to nobody

[2017-10-15 16:36] #1336 closed, assigned to nobody

[2017-10-16 20:38] jayyyin commented on #1342
@liach discovered it was a bug in forge 12.18.3.2488 for minecraft 1.10.2 caused a conflict between Tinker's construct and railcraft so, unrelated it wasn't directly related to railcraft

[2017-10-17 00:46] liach commented on #1342
thanks!

[2017-10-17 00:46] #1342 closed, assigned to nobody

[2017-10-19 18:45] 3TUSK commented on #1317
Closing - see if I can find time to make a new railcraft addon, or pull request some one.

[2017-10-19 18:45] #1317 closed, assigned to CovertJaguar

[2017-10-20 01:24] kehkou opened #1343 "Single-head signals crash game"
Railcraft 10.2.0 release - Win 7 64-bit
Placing a single-block signal causes the game to crash without error message or logs. Reloading the game causes crash on world render; backup saves without block signal in place load fine.

Let me know what other info I need to provide.

Thank you!

[2017-10-20 02:28] Potato-Matic commented on #219
@CovertJaguar

That may be true, but your beta testers are a small group and may not necessarily be representative of the community which uses Railcraft, in all of the varied modpacks and cases. As a casual player who's run into this issue before, I've seen a lot of threads and issues opened on this issue and I'm sure you've seen even more. I think it's far more than evident by now that a signific

[2017-10-20 16:08] liach commented on #1343
is there any hs_err_pid files?

[2017-10-20 16:09] liach commented on #219
1.7.10 is done. this feature won't come.

[2017-10-20 21:01] kehkou commented on #1343
I believe this one is correct (time stamp matches):
G-Drive link: [https://drive.google.com/open?id=0Bw381QoZQ2jFV1NPTXhPZDlwVG8](hs-err-pid.log)

[2017-10-20 22:03] liach commented on #1343
Can you try with VBOs and Vsync? If you can, you should try with and without Optifine and compare the results.

[2017-10-21 01:17] Potato-Matic commented on #219
@liach What do you mean 1.7.10? I'm not referencing a particular version, and as far as I know Railcraft is still being actively developed and supported.

Are you speaking from experience, or are you someone on the Railcraft development team? The beta testers?

[2017-10-21 01:32] liach commented on #219
in 1.10.2, the steam turbine is not back yet. if ae pipes don't work with other inventory machines, open a new issue instead.

[2017-10-21 09:10] Kiritow opened #1344 "Carts become transparent"
Hi, I am using Railcraft 10.2.0 on Minecraft 1.10.2 Server. After running 4 days, we suddenly found all carts become transparent, just like the following picture:
![rc_report_pic1](https://user-images.githubusercontent.com/13619158/31850281-1224e68e-b682-11e7-89df-58b11b578f43.png)
After checking server log, we found an error:
`[16:47:16] [Server thread/ERROR] [Sponge/]: No entity type is register

[2017-10-21 09:26] Ommina commented on #1344
It's not Halloween already, is it?

Oh my.  It is.

Edit in case I sounded glib:  It's a season effect.  You can turn it off in _client.cfg_.

[2017-10-21 09:31] Kiritow commented on #1344
Well... I just forgot it~ Thanks ~!

[2017-10-21 09:31] #1344 closed, assigned to nobody

[2017-10-21 14:04] 1696309 opened #1345 "请问Railcraft 10.2.0的矿车怎么是透明的？"
![image](https://user-images.githubusercontent.com/32982715/31852528-b94f356c-b6ab-11e7-8e01-22a6c615512c.png)

[2017-10-21 14:22] #1345 closed, assigned to nobody

[2017-10-21 14:23] 1696309 commented on #1345
OK #1321

[2017-10-21 22:48] liach commented on #1345
万圣节特效

[2017-10-22 03:19] liach opened #1346 "No entity type is registered for class mods.railcraft.common.carts.EntityTunnelBorePart"

[2017-10-22 03:20] liach commented on #1344
#1346 for that error

[2017-10-22 14:34] 1696309 opened #1347 "Worldspike eats 48 fuels"
在往锚钉里添加燃料时，如果按住shift键，64个的燃料变成了16个

[2017-10-22 15:09] liach commented on #1347
Anchor fuel shift filling. It's been reported on discord, but this is the first issue opened.

[2017-10-23 00:31] 1696309 commented on #1347
when add fuel to the anchor,Hold shift key,64 fuel become 16.

[2017-10-23 05:17] Kiritow opened #1348 "Signals causing game crash"
Sorry, this might be casued by Optifine...

[2017-10-23 05:44] #1348 closed, assigned to nobody

[2017-10-24 05:50] AstralJaeger opened #1349 "Worldspike consumes full stack but accepts only 16 items"
Hello,
on my survival server, I saw that when attempting to put a full stack of void powder in the Worldspike it consumes the full stack but will only accept 16 void powder and void the other 48.

[2017-10-24 06:31] 3TUSK commented on #1349
If you are using shift while putting a full stack of void powder then this issue is duplicate of #1347

[2017-10-24 09:01] AstralJaeger commented on #1349
Sorry wasn't able to decipher the title of #1347

[2017-10-24 14:42] 3TUSK commented on #1349
Yeah that title ... should have been English for reference in future.

[2017-10-24 15:00] liach commented on #1349
duplicate of #1347 then.

[2017-10-24 15:00] #1349 closed, assigned to nobody

[2017-10-24 18:36] gri3229 commented on #1232
@liach! So let the @CovertJaguar give permission to other coders to do it! Many are looking forward to this mod on the new versions.

[2017-10-24 23:53] liach commented on #1232
Ehhm, he is on a hunting trip right now...

[2017-10-26 15:12] ptrstourac opened #1350 "Cart Model issue"
Hi, I´ve got an issue with all railcraft carts. They look like game spawns two carts at once, each with different size.

https://imgur.com/a/DLUBU

[2017-10-26 18:09] ptrstourac commented on #1350
As you can see here: https://imgur.com/a/DLUBU This happens to me with all entities from this mod

[2017-10-26 21:35] DDLPYT commented on #1350
Well its an effect that appears at Halloween ;D
I had the same problem until I found out that you can turn the "ghost trains" off in your configs:
.minecraft/config/railcraft/client

Happy Halloween ;)

[2017-10-27 00:19] 3TUSK commented on #1350
#977 #1344 - Guess there should be some pop-up message to remind people Halloween is coming?

[2017-10-27 02:05] #1350 closed, assigned to nobody

[2017-10-27 13:53] Kiritow opened #1351 "Switch Actuator Motor does not always work"
Hi! I am using Railcraft 10.2.0 on Minecraft 1.10.2. I am writing lua programs (like [this](https://github.com/Kiritow/OpenComputerScripts/blob/master/station_2_6.lua) and schedule trains through my programs with OpenComputers Mod. I found the switch actuator motor does not always work.

For example, in this station, I use 15 signal receiver boxes as input and 14 signal controller boxes as output.

[2017-10-29 04:20] liach commented on #1343
@kehkou Any updates?

[2017-10-29 04:40] kehkou commented on #1343
Sorry, been busy. Without Optifine, the signals seem to work as intended. It was an older version: OptiFine_1.10.2_HD_U_D6.

[2017-10-29 05:13] liach commented on #1343
Thanks. Closing then.

[2017-10-29 05:13] #1343 closed

[2017-11-02 14:13] Kiritow opened #1352 "Unseen cart blocks railway"
Hi, I am using Railcraft 10.2.0 on Minecraft 1.10.2. My train system is blocked by an unseen cart.
As you can see, there's a stopped train.
![rc_report_1](https://user-images.githubusercontent.com/13619158/32330111-0e305044-c01a-11e7-8f5f-6673a3ba12a9.png)
After I started it, it moved and then just stopped there.
![rc_report_2](https://user-images.githubusercontent.com/13619158/32330175-483c25b0-c

[2017-11-02 14:15] Forecaster commented on #1352
Have you tried using a command to destroy entities in a small radius near there?

[2017-11-02 14:27] Kiritow commented on #1352
We tried it when the problem occurred first time. But it didn't seem to work. So we just built walls and change lines.

[2017-11-02 14:28] Forecaster commented on #1352
something like `/kill @e[r=5]`?

[2017-11-02 14:29] Kiritow commented on #1352
Yes.

[2017-11-02 14:29] Forecaster commented on #1352
Inspect the world in mcedit and see if there's an entity there? then delete it?

[2017-11-02 15:09] Kiritow commented on #1352
I am sorry but I can't find any entity there.
![rc_report_6](https://user-images.githubusercontent.com/13619158/32333380-b61af68a-c022-11e7-9e8d-a72c967244e8.png)

[2017-11-02 15:10] Forecaster commented on #1352
That's strange

[2017-11-02 15:18] Kiritow commented on #1352
I restarted the server and when I logged in, I saw a creative locomotive appeared and disappeared immediately. Now everything goes well again...
Another strange thing is that sometimes the locomotive just disappears, leaving all other carts there.

[2017-11-03 02:05] liach commented on #1352
What other mods are on the server?

[2017-11-03 11:23] Kiritow commented on #1352
Sponge, IC2, OpenComputers, InfernalMobs, TConstruct
CodeChickenLib, StatusProtocol, ServerListPlus, ProjectPortals, WorldEdit, twentyticks, Nucleus, ProjectWorlds, TitleMOTD, PermissionManager, Inspector, Stackban, Keys

[2017-11-03 14:07] liach commented on #1352
try with only sponge and railcraft and see the results.

[2017-11-04 00:11] Krougal opened #1353 "10.2.0 crashing IC2"
Crash coming from IC2, obsidian dust recipe conflict. Haven't been able to find any info. Although the crash comes from IC2, disabling Railcraft stops it. I'd wager it's the IC2 API in RC vs IC2.
[crash-2017-11-03_20.02.59-client.txt](https://github.com/Railcraft/Railcraft/files/1442761/crash-2017-11-03_20.02.59-client.txt)
I tried replacing the API in the RC jar myself but no go.
Removing the API

[2017-11-04 00:36] liach commented on #1353
@Generalcamo Did you add that recipe via ic2?

[2017-11-05 03:55] ghost commented on #1353
This can be temporarily worked around by going to railcraft.cfg and editing:
            B:obsidian=true
to
            B:obsidian=false

[2017-11-05 04:10] liach commented on #1136
#1353

[2017-11-05 17:20] Chocohead commented on #1353
The issue lies from https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/modules/ModuleResources.java#L134-L135

It adds in the recipes in pre-init, thus when IC2 adds it's own recipes in init there is a conflict and because IC2 doesn't try to override recipes, it crashes. If the Railcraft recipes are added in init or post-init (or generally after IC2 adds it's

[2017-11-09 10:31] Philosyang commented on #1010
Still can't craft raw firestones with 10.2.0.
![image](https://user-images.githubusercontent.com/24841393/32600962-2d68562a-c57c-11e7-8f5a-e36c7203b215.png)

[2017-11-10 17:32] Philosyang opened #1354 "10.2.0 Release unsolved problems."
Can't craft **raw firestone** from **firestone ore**.
Refer to #1010 for more information.

10.2.0 has been released on curseforge as a stable, even though there isn't in the github releases section.
https://minecraft.curseforge.com/projects/railcraft/files
https://github.com/Railcraft/Railcraft/releases

[2017-11-13 02:38] Trisscar05 opened #1355 "(1.7.10) Firestone ore is missing from various menus, and appears to not be genning (9.12.2.0)"
As the title, it's not appearing in NEI nor the creative menu, and a quick run through the nether (with sigil of suppression and speed buffs to cause the lava to temporarily become invisible as far as can be loaded) has revealed no ore blocks at all.
Natura is installed, though it was added a bit later than a bunch of the nether was loaded, so there is a giant part around the portal that contains

[2017-11-14 04:24] liach commented on #1354
Can you try with IC2 installed? Try macerator recipes.
试试安装工业2有可能有用（打粉机）

[2017-11-14 04:24] liach commented on #1355
@Trisscar05 Can you pull out that railcraft jar and play on a forge client with only that jar? If the problem persists, we will look into it.

[2017-11-14 06:11] Philosyang commented on #1354
Will try asap, but btw I believe the ultimate goal should be something that can be pulverized in any mods’ macerator instead of single compatibility with IC2 machines.

[2017-11-14 07:07] liach commented on #1354
When rock crusher is ported back, the recipe will be in rock crushers.

[2017-11-14 12:23] Trisscar05 commented on #1355
Pulling out the exact files and throwing them into a test forge pack had everything (including, I assume, the gen of firestone ore, didn't have any quick ways to check) seeming to work normally.
Going back into the convoluted pack and replacing the Railcraft jar didn't seem to fix anything, so looks like it's probably a mod conflict. Time to dupe the profile and start ripping mods out till it work

[2017-11-15 04:33] liach commented on #1355
Glad to see this issue resolved. Closing. Comment if you have more questions.

[2017-11-15 04:33] #1355 closed, assigned to nobody

[2017-11-15 04:44] GiovanH opened #1356 "Can't sell kits to trackman villagers"
Working version: Railcraft 10.1.2 for minecraft 1.10.2

Noticed with Whistle Track Kit. Villager requests (#7428/22), but crafting produces item (#7428/0) 7428:22. The trade is not compatible. I assume this issue extends to other kits.

I have only used this version of railcraft, but as this issue has not been reported on the issue tracker, I assume it has not been fixed.

[2017-11-15 07:09] VirtualGaming1 commented on #1232
any update?

[2017-11-15 07:46] liach commented on #1232
@VirtualGaming1 No progress in the recent month. Looking forward...

[2017-11-26 16:41] P3rf3ctXZer0 commented on #1232
By the time this gets ported we will be on 1.13 XD

[2017-11-26 16:59] liach commented on #1232
we can just port it to 1.13 if people request a lot, i guess

[2017-11-26 19:00] SL-RU opened #1357 "All locomotives are extremely slow on activated High Speed booster tracks"
Why electric locomotive is slow on H.S.E. tracks with boosters? I know that in prev. versions was transformer, but where is it now? I've tried with normal I2C charge feeder and with admin charge feeder - the same.
Steam locomotive and admin locomotive is waaaaaaay much faster.

Railcraft 10.2.0 - MC 1.10.2

[2017-11-26 21:45] K1ltu opened #1358 "altsteel config option ignored"
the iron nugget to steel nugget recipe is registered regardless of config setting
running latest curse build as of submission

[2017-11-27 00:52] vico93 commented on #1232
i wonder what would be the code changes to port to 1.13...

[2017-11-27 00:53] Dockter commented on #1232
There are lots of under the hood changes coming in 1.13 that will make the update to 1.12 seem tiny.

[2017-11-27 01:11] liach commented on #1232
@Dockter I don't really mind any more... 1.8's rendering and 1.11's item stacks are already crazy. I guess we can handle another huge change like 1.13 (many railcraft items are already non meta, I think?)

[2017-11-27 01:34] CyanideCarrot commented on #1232
1.13 is basically the "Break everything pointlessly" update
Not just referring to mods being broken, but almost everything is going to be broken, and for no content to be added

[2017-11-27 07:54] liach commented on #1358
Yes, it is not a part of the config yet.

[2017-11-27 08:28] liach commented on #1356
Confirmed. It should be an issue with track kit recipes.

[2017-11-27 08:32] liach commented on #1352
@Kiritow Any updates?

[2017-11-27 12:02] Kiritow commented on #1352
Sorry for such a long delay. I tried it a few days ago and everything was normal.

[2017-11-27 15:38] liach commented on #1352
thanks! i will mark it as resolved. feel free to conment if it happens again and i will reopen.

[2017-11-27 15:38] #1352 closed, assigned to nobody

[2017-11-27 22:33] Dockter commented on #1232
@bballboy2002 nothing could be further from the truth.  Getting rid of the metadata and creating actual items and blocks out of all these damn sub items is long overdue.   Mojang had to do this in order to add new content.  So many of their block and item arrays were at their max.

[2017-11-27 22:40] liach commented on #1232
@Dockter I suggest you talking to CovertJaguar on IRC and seeking to join #railcraft and #railcraft-dev channels on esper.net so that we can ask him to find things out more effectively.

Yes, 1.13 removed the upper limit on item and block ids! Yay! And sponge api suffers less from the reduction of meta data. There IS new content: Bark blocks!

[2017-11-27 23:00] Dockter commented on #1232
There is more new content than just that but I won't be saying what until it goes public.  @liach is CJ back from hunting yet?

[2017-11-28 00:04] liach commented on #1232
He is actually back.

This is the biggest struggle he has currently, which I can hardly help.

[2017-11-29 00:36] bigenergy opened #1359 "Update to 1.11.2 , 1.12+"
Please update!

[2017-11-29 03:05] liach commented on #1359
Duplicate of #1232. Comment there.

[2017-11-29 03:05] #1359 closed, assigned to nobody

[2017-11-29 06:42] liach commented on #1347
Fix found, pushing soon. It is a really silly bug... You can just place a stack of 64 in without using shift, and the items will still go away.

[2017-11-29 07:15] liach commented on #1338
@t0suj4 Verified. Module dependencies are borked.

Edit: Soft dependencies.

[2017-12-01 05:47] liach commented on #1279
Will work on this today!

[2017-12-01 08:40] liach commented on #1279
Seems there is some problem with collision. The collision is not happening when the locomotive is stopped by me (the player colliding the loco)

[2017-12-01 08:40] liach commented on #1279
However, this works for animals.

[2017-12-02 07:40] liach commented on #1357
I will try this one.

[2017-12-02 07:41] liach commented on #1279
I think I may fix this by adjusting the collision boxes of minecarts in `MinecartHooks`

[2017-12-04 19:26] Amelia- commented on #1347
When I had this happen the fuel you put in isn't actually lost. It only shows 16 fuel in the world spike but the spike stays online for days on end without reducing the fuel count.

I'm pretty sure the fuel is just there but not displayed properly.

[2017-12-04 19:56] liach commented on #1347
@amelia- this bug is alread fixed. I am waiting for @CovertJaguar

[2017-12-10 18:00] liach commented on #316
The code is in `EntityMinecart#update` block, which we have little control over. Thus, we cannot really fix this.

[2017-12-10 18:06] liach commented on #585
https://github.com/MinecraftForge/MinecraftForge/issues/1642
There has been a forge ticket on this long ago, but it was pretty much ignored.

[2017-12-10 18:10] liach commented on #585
Also, see
https://bugs.mojang.com/browse/MC-12194
http://www.minecraftforum.net/forums/minecraft-java-edition/survival-mode/2621802-minecarts-disappearing-in-1-8

[2017-12-11 03:04] VirtualGaming1 commented on #1232
can not wait for this mod to be updated to 1.12 for my modpack. but i might hold my modpack back a bit longer then from 1.10.2 to 1.12.2 (Was about a few month holding) reason is that most of the mods will be having a long re coding.

[2017-12-13 14:42] caine717 opened #1360 "[Request] New mode for locomotive track 1.10.2"
Hi, can you please add a mode for the locomotive track that allows us to change the mode of the locomotive. So then there is a locomotive on the the which is in shutdown mode, the track starts the loco and if there is a running locomotive then it stops it. So that I just need one track for running AND stopping? It would be extremly useful
Sincerly Caine717

[2017-12-13 16:07] liach commented on #1360
Then what happens if the loco shuts down on the track after it ran? Does it resume immediately after since it has already stopped?

[2017-12-13 19:07] caine717 commented on #1360
I think you misunderstood me, sorry my English is not the best^^
I mean it would be cool if the track piece for starting the loco and shutting it down would be the same. So you activate the track piece with redstone and the loco stops. Maybe you can start the loco with another impulse of redstone. Or another idea, with a redstone signal you stop the loco and if you shutdown the redstone signal it

[2017-12-13 23:43] liach commented on #1360
In this case, you may use a lockdown track kit instead.

[2017-12-18 21:14] Raven2911b opened #1363 "Switch tracks"
I have used the spike maul to create the switch tracks, but they only seem to turn right. What is the procedure to flip the track and have it turn left? I tried to make a siding off my main line, but the train turns the wrong direction after the second switch and head back on the main line the way it came in.

Thanks

[2017-12-18 21:16] Forecaster commented on #1363
Crowbar. Same as it's always been. If you need additional help go to IRC/Discord.

[2017-12-18 21:16] #1363 closed, assigned to nobody

[2017-12-18 21:21] Raven2911b commented on #1363
Doh!
Sorry... still in learning mode.

[2017-12-20 13:22] BlackSmeim commented on #1232
And hows the progress?

[2017-12-20 15:22] liach commented on #1232
@BlackSmeim Not much progress is made since CovertJaguar is not here. I suggest going on to https://discord.gg/Wr9zxmP and make a petition, because I want him to come out, too.

[2017-12-21 21:07] ex0planetary opened #1364 "Switch tracks do not appear in 10.2.0"
I've been looking into routing, and it seems that the switch tracks have disappeared from both the creative inventory and NEI. The switch actuators are still there, but not the actual tracks. The only other mod I have installed that has anything to do with rails is Steve's Carts Reborn. Does anybody know what is happening?

[2017-12-21 21:08] CyanideCarrot commented on #1364
They aren't accessible in creative inventory, you get them by right-clicking with a spike maul.

[2017-12-22 00:08] ex0planetary commented on #1364
Ah, okay. I'm too used to old versions of Railcraft, apparently...

[2017-12-22 00:08] #1364 closed, assigned to nobody

[2017-12-25 23:13] #1360 closed, assigned to nobody

[2017-12-26 22:43] ghost opened #1365 "The question that probably tired everyone :)"
Is the mod update planned for 1.12.2, eh? And then the normal assembly of mods is not done, because on some versions of the maincraft there are updated modes, but for others there is (well, not including 1.7.10). For example, say as with BuildCraft on 1.12.2 version is, but on 1.10.2 there is no ... and such examples still exist and not a few. I also want to note that without BuildCraft and playin

[2017-12-26 22:52] bookerthegeek commented on #1365
Well they were going to release it on new years day but now that you asked it will be at least another month.

[2017-12-26 22:53] ghost commented on #1365
Well, you must have understood me =D
Otherwise, I did not understand what I said. Thanks for the answer .

[2017-12-27 00:40] liach commented on #1365
Account deleted? Please don't do that next time!

[2017-12-27 00:41] #1365 closed, assigned to nobody

[2017-12-27 03:48] seeker2921 opened #1366 "Crash on local and multiplayer with Bees as the culprit."
All,

I encountered an issue involving Bees and the crafting table. While these apparently have some random connection with zero obvious connection it caused me some headaches.

To reproduce: On forestry, disable bees, all of them, and any bee related thing (config below.) In railcraft, leave default config.

Open a crafting table, Doesn't matter if your local or on a server. Add recipe. Now take

[2017-12-28 08:20] demycat opened #1367 "[1.7.10] Chisel mod broke the texture of steam in Railcraft"
After installing the version of chisel mod 2.9.5.11 for minecraft 1.7.10(railcraft 9.12.2.1), the texture steam became such (screenshot)! How to fix?
On the last screenshot, the answer from the developers Chisel mod.
![2017-12-25_12 46 23](https://user-images.githubusercontent.com/34833284/34404818-88ed32d8-ebb8-11e7-892d-1f18174d8454.png)
![2017-12-25_12 46 27](https://user-images.githubuserconte

[2017-12-28 08:35] liach commented on #1367
@demycat Try in 1.10.2 with latest railcraft on curseforge.

[2017-12-28 09:22] demycat commented on #1367
@liach I need exactly for 1.7.10, and not for 1.10.2

[2017-12-28 09:34] MyNameIsKodos commented on #1367
I am using the same versions of both of these mods, and do not have this issue. Can you replicate it with JUST Railcraft and Chisel installed?

[2017-12-28 10:31] AEnterprise commented on #1367
it isn't realy eighter mod, during startup the first steam to be registered becomes dominant (so only that one texture gets registered)

when you make a world that dominant fluid is saved to the world to preserve it with mod changes, problem in your world is that the dominant fluid saved to the world and picked at startup do not match so it uses the old dominant fluid but it's texture isn't loaded

[2017-12-28 11:19] demycat commented on #1367
@MyNameIsKodos i'm all download from curseforge

[2017-12-28 11:28] demycat commented on #1367
@AEnterprise How to do it?

[2017-12-28 16:39] liach commented on #1367
@demycat Do you have Minefactory reloaded?

Edit: Just give me a mod list.

[2017-12-28 18:14] demycat commented on #1367
@liach I'm not install Minefactory reloaded.
![bandicam 2017-12-28 20-12-10-245](https://user-images.githubusercontent.com/34833284/34419286-9b172470-ec0b-11e7-8b63-78d5fa43f1b3.jpg)
![bandicam 2017-12-28 20-12-30-847](https://user-images.githubusercontent.com/34833284/34419287-9b357c0e-ec0b-11e7-8036-323513700b34.jpg)
![bandicam 2017-12-28 20-12-38-769](https://user-images.githubusercontent.com/3

[2017-12-28 18:15] liach commented on #1367
Unfortunately, I don't know what mods add steam

[2017-12-28 18:17] demycat commented on #1367
@liach only Railcraft(in my build)

[2017-12-28 18:24] liach commented on #1367
@demycat Remove mods except railcraft and chisel until the texture is fine

[2017-12-28 18:36] demycat commented on #1367
@liach I've already tried it, and the results with textures give it a Railcraft + chisel

[2017-12-28 18:41] liach commented on #1367
redownload each mod and try in a clean copy of minecraft, latest forge, with a new world

[2017-12-28 18:42] demycat commented on #1367
@liach just noticed this

[2017-12-28 18:45] demycat commented on #1367
Guys I noticed that the problem with the textures was on version 9.12.2.0, but after the update(to 9.12.2.1) I need to create a new world then the textures of the couple will work fine (I only have 1 world out of 2, now with normal texture pair, but the second one is not)

[2017-12-28 18:47] demycat commented on #1367
Thank you very much for your help, good luck to all!

[2017-12-28 18:47] #1367 closed, assigned to nobody

[2017-12-30 17:53] mainrs commented on #1143
Wouldn't 1.13 solve this issue since there won't be any block id limitations and metadata usage isn't encouraged anymore?

[2017-12-30 18:02] liach commented on #1143
@SirWindfield No. We still need to save block state onto disk in forms of meta. If they really allows storing any block state, then it may help.

[2018-01-05 00:44] liach commented on #1279
Actually, this is related to https://bugs.mojang.com/browse/MC-92165

[2018-01-10 04:19] liach commented on #430
@CovertJaguar This is no longer the case in the tanks in #1362

[2018-01-18 17:31] tonimark commented on #1123
I have the same issue! but I am not using a LAN or the multiplayer world, its single player at creative mod
with cheats mod for more information ask the mod pack that I use:https://forum.resonantri.se/
this log that appears when the bore gets placed and despawned:
[notes.txt](https://github.com/Railcraft/Railcraft/files/1643819/notes.txt)

and the video here:
(it takes me forever to upload and it

[2018-01-18 19:51] liach commented on #1123
@tonimark try and report the log again without foamfix.

[2018-01-18 23:43] janagyjr opened #1368 "LoaderExceptionModCrash"
MC: 1.10.2
Forge: 2511
Railcraft: 10.3.1

Gist: https://gist.github.com/janagyjr/f777b52ea209d19bf9ec6d85f1094899

Crashes during load and is fine when disabled.

[2018-01-18 23:51] liach commented on #1368
it looks like coremod hacks. the fluid field is always initialized by that point in code. can you produce the crash with only ie and rc?

[2018-01-18 23:55] janagyjr commented on #1368
I've disabled IE and IC2 and enabled RC but it still crashes during load. I cannot get the pack to load with RC. I was about to go and see if I could disable creosote in RC and just use the IE one (even if I have to adjust recipes to make it work).

[2018-01-18 23:56] janagyjr commented on #1368
I'll disable everything but RC and see what that gets me

[2018-01-19 00:00] janagyjr commented on #1368
Same
https://gist.github.com/janagyjr/1db33c6fc52bccac21dab0cd662f6dd7

[2018-01-19 20:46] tonimark commented on #1123
k wait a few minutes to reinitializing the game and reproduce the issue

[2018-01-19 21:03] liach commented on #1123
Remember to post the error log with full stacktrace

[2018-01-19 21:15] tonimark commented on #1123
ok I see after removing foam fix the initializing gets very very slow

[2018-01-19 21:56] tonimark commented on #1123
so I have a problem: the initializing freezes due too much ram almost allocated 7.5 GB from my 8 GB
and still no results maybe foam fix request to reproduce the issue

[2018-01-20 01:44] liach commented on #1123
Pinging @asiekierka for ideas.

[2018-01-20 13:16] caine717 opened #1369 "can't craft rails"
Hi, I'm using RC 10.3.1 on MC 1.10.2 and I cannot craft rails with the correct recipe. The output of the crafting table shows me the correct item I want to craft, but every time I click it the rails show up on my cursor like normal, but the disappear immediately and no ressources were used. The server log shows no errors when I'm doing this.

[2018-01-20 15:05] tonimark commented on #1123
I GOT WORSE NEWS not only bore won't be placed but every signe railcraft cart at any type of rail and i am using latest versions of railcraft

[2018-01-20 15:12] tonimark opened #1370 "can't place down any cart"
I tried to place down any type of railcraft train and it won't be placed
here the log
[notes.txt](https://github.com/Railcraft/Railcraft/files/1648910/notes.txt)

if you ask me to remove foam fix I can't because my game won't longer initializing then
for more information contact the modpack that I use:https://forum.resonantri.se/

[2018-01-20 15:24] asiekierka commented on #1123
There's your problem. You're using an ancient version of a mod which patches the everloving class out of Minecraft. http://unascribed.com/foamfix

I'll give them a call.

(This only resolves @tonimark's issue; not the issue this was opened for, as the other reporters do not use an outdated version, or, in fact, any version of FoamFix.)

[2018-01-20 16:43] liach commented on #1369
@caine717 It is caused by railcraft only installed on the client but not on the server in general. Or your server has modified the recipes so that the old recipe does not work. Can you provide more information about your server?

[2018-01-20 16:51] liach commented on #1370
Please update foamfix to 0.7.2 first.

[2018-01-20 16:52] liach commented on #1368
This should not error. I don't know what causes the error exactly.

[2018-01-20 16:54] liach commented on #1123
So @tonimark's discussion moves to #1370 now

[2018-01-20 16:54] asiekierka commented on #1370
Update to the latest version, not just 0.7.2. For 1.10.2, that's actually 0.7.3.

For more information, a lot of the mods in that modpack seem to be outdated, so you are likely to encounter further issues. You might want to consider changing modpacks.

[2018-01-20 16:55] liach commented on #1370
oh. I just saw 0.7.2 on the github repo.

[2018-01-20 16:56] asiekierka commented on #1370
Yes, I already linked them to the download page in the previous issue.

[2018-01-20 17:10] caine717 commented on #1369
Thanks, I had altrecipes active on the serverside. I changed it back to normal, now everything works fine.

Thank you!

[2018-01-20 17:11] #1369 closed, assigned to nobody

[2018-01-20 17:12] liach commented on #1370
Pretty sure I can close this now.

[2018-01-20 17:12] #1370 closed, assigned to nobody

[2018-01-22 05:14] hugoalh opened #1371 "Version for Minecraft Java 1.11.2/1.12.2?"
I love this mod and I hope it will have a version for Minecraft Java 1.11.2 or 1.12.2, please?

[2018-01-22 05:20] 3TUSK commented on #1371
Please see #1232.

Also, welcome to [the discord channel](https://discord.gg/Wr9zxmP) or the irc channel #railcraft on  esper.net.

[2018-01-22 05:22] #1371 closed, assigned to nobody

[2018-01-22 10:25] Shandoo94 opened #1372 "Steam Locomotive doesn't draw water from tank cart"
I haver Railcraft 10.3.1 and my setup is a steam locomotive with fuel and a connected tank cart. When i fill up the tank cart with water the locomotive doesn't draw the water into its own tank. I have tested this in running, shutdown and idle mode.
Is this feature not added to the current version of railcraft or am I missing some config options?

[2018-01-26 07:59] awesomeguy6661 commented on #1357
1.10.2 version 10.3.1 still same

[2018-01-27 04:26] liach opened #1373 "Machine and Multiblock checklist"
Here are the machines and multiblocks to be ported.

- [x] Blast Furnace
- [x] Coke Oven
- [x] ~Engines~ (@Generalcamo is doing a redesign of them - Moved to #1388 because it will be mj-only)
- [x] ~Engraving Bench (private code)~ <- moved to #890
- [x] Flux Transformer
- [x] Force Track Emitter (needs to fix functionality)
- [x] Iron Tank
- [x] Rock Crusher
- [x] Steam Boiler (#1484, thanks TheCo

[2018-01-27 04:27] liach commented on #1354
Ref #1373.

[2018-01-27 17:59] liach commented on #1373
@Dockter FYI, I think we may move to 1.12 once all of these except engraving bench is ported.

[2018-01-28 17:49] liach commented on #890
What's worse, dropbox broke all the links. We need to find a way to fix that

[2018-01-29 05:07] border999 commented on #1232
progress report?

[2018-01-29 05:57] liach commented on #1232
@border999 https://github.com/Railcraft/Railcraft/tree/liach-1.10.2 contributions welcome

[2018-02-02 13:34] Cream-Tea opened #1374 "Create a "Timer" signal block"
The idea for this block is similar to the capacitor block, but instead of emitting redstone for a set amount of seconds, it holds back emitting it for a set amount.

You would connect it to a receiver, and when the receiver is supposed to be emitting redstone the timer will basically delay the output. It would be useful if certain aspects can override the timer.

In the GUI perhaps an option such

[2018-02-02 13:48] Cream-Tea commented on #787
@Joshwoo70 It's been a while but now I might be coming back on track (pun intended).

Now as for news it's not really news, but I don't think I mentioned that I did have a little look over a year ago at the possibility. That was on 1.7.10, there was an event added to forge that would have made it possible but pull requests stopped being accepted on 1.7.10 and Railcraft hadn't updated fully at the

[2018-02-05 01:05] Skullywag opened #1375 "The way Railcraft takes over vanilla ore gen seems wrong to me"
Ill try and surmise my issue:

So Railcraft has multiple config files, 1 for each ore, including vanilla oregen (iron and gold) as you wish to change how it generates, great

So lets say you have multiple mods and you dont want to use Railcrafts generation, you go into each of the railcraft files and set them to 0 blocks to generate.

Now my other mods will handle generating their ores. Great.

Ex

[2018-02-05 05:06] liach commented on #1375
I think you can disable the whole thing somewhere in the config... like disabling the worldgen module or something of that sort.

[2018-02-05 23:45] Skullywag commented on #1375
ok turns out my issue was actually caused by:

tweak {
        #
        # chance that vanilla ore gen (Iron, Gold) will spawn ore uniformly throughout the world, set to zero to disable, min=0, default=100, max=100
        #
        I:vanillaOreGenChance=0
    }

I dont even....very confusing config. :(

[2018-02-06 00:36] liach commented on #1375
Set it back to 100.

[2018-02-06 07:48] Skullywag commented on #1375
Yeah I have done. Regenning my world as I type this. I still feel there could be a "turn off all word generation overrides" option, I mean I know how this is setup now so wont make the same mistake again, but still feels like an easy mistake to make.

[2018-02-08 05:31] draknyte1 opened #1376 "Railcraft not loading in dev. enviro [1.7.10]"
So, whenever I try load Railcraft_1.7.10-9.12.2.1 or a deobf version of such, Eclipse fails to load.

[Obf] - https://pastebin.com/f6wJ9NWN
[Deobf] - https://pastebin.com/wHVg1J5H
[Deobf-No Chisel2] - https://pastebin.com/0F8y2FyU

Any thoughts on the matter mate?

[2018-02-08 05:50] liach commented on #1376
@draknyte1
1. For obf, the `printSignalDebug` field exists here: https://github.com/Railcraft/Railcraft-API/blob/master/mods/railcraft/api/signals/SignalTools.java#L17
(this is 1.7.10)
My conclusion is that one of your mods ships a broken railcraft api.

2. For deobf, how can you make us responsible for codechicken's coremod hacks?
[code]

[2018-02-08 05:51] draknyte1 commented on #1376
@liach, I was just posting both logs for reference. :)

Hmm, I'll see what else ships a RC API. Probably GT.

[2018-02-08 05:57] liach commented on #1376
Or the api may be transformed by some transfromer (coremod)

[2018-02-08 06:10] draknyte1 commented on #1376
hrnng, neither links here work.
http://www.railcraft.info/releases/9-12-2-0

And I can't see anything else in my modlist for dev declaring RC API, nor anything outside GT that touches RC.

I would prefer not to use a Bon2'd copy of RC, lol.

[2018-02-08 06:24] liach commented on #1376
So @CovertJaguar should fix the link to stupid dropbox which changed all its link formats, breaking all dev/api downloads and emblems.

[2018-02-08 06:28] draknyte1 commented on #1376
Well, It seems GT grabs 9.4.0.0 from Maven.. so, the issue is probably from GT (Which I obviously can't remove from Dev, lol)

Might have to see about fixing that then, since 9.4.0.0 loads as expected.

[2018-02-08 06:28] #1376 closed, assigned to nobody

[2018-02-08 06:28] liach commented on #1376
Ah. Hope the api/dev and dropbox drama may end soon.

[2018-02-08 06:30] draknyte1 commented on #1376
I already had a copy of 9.4.0 dev from my GT workspace, just annoying that I'd like to use 9.12.x in my personal workspace but GT isn't liking it in Dev.

Outside of Dev GT seems to load as expected. *shrug*
Doesn't seem to be an issue on RC though :)

[2018-02-11 06:12] Dockter commented on #1232
@CovertJaguar have you abandoned development work on RC?

[2018-02-11 06:19] liach commented on #1232
Uhh, he comes out on railcraft discord as frequent as benimatic comes out on twilight forest discord now. He said he was busy with his life.

[2018-02-12 20:55] mms92 opened #1377 "no access to railcraft.info website"
i can't access [railcraft.info](http://www.railcraft.info/) website , my browser say that i'm not allowed by the website to connect

[2018-02-12 21:01] Forecaster commented on #1377
We are aware. CJ is working on getting the site back up.

[2018-02-12 21:01] #1377 closed, assigned to nobody

[2018-02-12 21:03] mms92 commented on #1377
ok thanks you

[2018-02-13 15:49] Pilad opened #1378 "[1.7.10]Error in compilation"
Install JDK7 , and i create a gradle.properties file in the project root with the following properties:

mcUsername=Steve
mcPassword=ILoveNotch

And error :

****************************
 Powered By MCP:
 http://modcoderpack.com/
 Searge, ProfMobius, Fesh0r,
 R4wk, ZeuX, IngisKahn, bspkrs
 MCP Data version : unknown
****************************

FAILURE: Build failed with an exception.

* Where:
B

[2018-02-13 17:38] liach commented on #1378
@alexiil

[2018-02-13 17:48] AlexIIL commented on #1378
I think this is an issue with how the BC server is configured to handle https vs http connections. Can you retry but change the ````http://*```` dependency to ````https://*````?

[2018-02-13 18:33] Pilad commented on #1378
Not work.

y:\Railcraft-mc-1.7.10>cmd /k gradlew clean build
****************************
 Powered By MCP:
 http://modcoderpack.com/
 Searge, ProfMobius, Fesh0r,
 R4wk, ZeuX, IngisKahn, bspkrs
 MCP Data version : unknown
****************************

FAILURE: Build failed with an exception.

* Where:
Build file 'Y:\Railcraft-mc-1.7.10\build.gradle' line: 241

* What went wrong:
Could not resolve a

[2018-02-13 18:34] Pilad commented on #1378
May be login and password wrong ? ---> > peer not authenticated

[2018-02-13 18:36] AlexIIL commented on #1378
No, you don't need a password to access the buildcraft downloads. Perhaps try updating Java to the latest 8 version? I know that added support for newer ssl protocols, perhaps that's it? (Oh, and can you try accessing [http://www.mod-buildcraft.com/releases/BuildCraft/7.1.23/buildcraft-7.1.23.jar](http://www.mod-buildcraft.com/releases/BuildCraft/7.1.23/buildcraft-7.1.23.jar) in a browser?

[2018-02-13 18:49] primis opened #1379 "[Suggestion] Mechanically powered rails"
Railcraft has a bunch of cool rail types, but one thing it doesn't have is a trolleycar style rail.
Basic idea would be to have a single large motor drive the entire track at the head end, and would be used to chain drive un-powered carts along the route. This would work best realistically for straight line tracks, and have the ability to switch to non-mechanical rails to switch between lines (lik

[2018-02-13 18:51] Pilad commented on #1378
Yes, I can download the file.

[2018-02-15 15:30] liach commented on #1378
@Pilad Any more issues?

[2018-02-15 15:31] liach commented on #1379
I am asking @CovertJaguar here if he likes this.

[2018-02-15 15:33] liach commented on #1368
I cannot reproduced this bug @janagyjr. It is most likely your launcher's fault.

[2018-02-15 15:33] #1368 closed, assigned to liach

[2018-02-15 15:40] Forecaster commented on #1379
How is this going to be balanced against booster tracks?

[2018-02-15 15:59] liach commented on #1379
fore, boosters do not even use power...

[2018-02-15 16:02] Forecaster commented on #1379
...yes, I know. That was kind of the point.

[2018-02-15 16:17] primis commented on #1379
We could make cool trolly carts that only work on these lines, just a suggestion

[2018-02-15 17:38] Forecaster commented on #1379
Right, then the next question becomes, what would the motivation be for using those?

[2018-02-15 17:52] liach commented on #1379
i support this type of track for slopes

[2018-02-15 20:10] Forecaster commented on #1379
Right, but, again, why not just use booster tracks?

[2018-02-15 20:41] liach commented on #1379
Railcraft is customizable. If a server wants to make the game harder, they can remove the booster because it is free. Mechanical tracks then can fulfill this gap and advance the technological theme of the server.

[2018-02-15 22:11] Pilad commented on #1378
No. I do not think

[2018-02-16 05:34] Ommina commented on #1379
OK, but how is this, really, different than powered (RF / Charge / Whatever) tracks?

On one you apply energy to some location on the track, the track powers the locomotive, train moves, life is good.  The other... energy is applied to some location on the track, the track powers the locomotive, and the train moves.

This seems, to me (and I'm just an interested third party) to be the same mechani

[2018-02-16 07:29] Forecaster commented on #1379
It's different from electric tracks and locomotives because with electric tracks you need the locomotive, which itself doesn't do anything, you need that plus carts that do things, like carry items for example. It is a bit similar to that too though.

But it's more similar to booster tracks, except with power use, which is why I'm asking for more mechanical distinction. But so far I've heard nothi

[2018-02-16 17:41] Voxel-Friend opened #1380 "[TC-BETA6] [RC-10.3.1] Creosote Crash"
Installed Mods:
Thaumcraft BETA6
Railcraft 10.3.1

Launcher:
Twitch Client

Crashlog: https://pastebin.com/cceVCGUT

Seems to be related to Creosote potion, perhaps Thaumcraft is looking for a recipe that isn't there.

[2018-02-16 17:55] liach commented on #1380
interesting!

[2018-02-16 23:17] MagusLucius commented on #1380
The problem is Thaumcraft attempting to cast the Creosote Potion to the Minecraft base type, I think.

"Caused by: java.lang.ClassCastException: mods.railcraft.common.items.potion.PotionTypeCreosote$$Lambda$537/1744195342 cannot be cast to net.minecraft.potion.PotionHelper$ItemPredicateInstance"

[2018-02-17 03:58] liach commented on #1380
@Azanor You should not assume that all the conversions are concrete classes.

[2018-02-17 18:52] Samino2 commented on #1116
Soooo how to fix the texture bug? X)

[2018-02-17 18:54] liach commented on #1116
@Samino2 Open a new issue [here](https://github.com/Railcraft/Railcraft/issues/new) instead. If you keep commenting, I may lock this issue.

[2018-02-17 18:57] Samino2 opened #1381 "Steam texture bug 1.7.10"
chisel turn the steam texture in missing texture ^^

[2018-02-17 19:03] liach commented on #1381
Take a look at #1367. Can you download both mods' latest versions from curseforge?
Chisel: https://minecraft.curseforge.com/projects/chisel/files/2287442/download
Railcraft: https://minecraft.curseforge.com/projects/railcraft/files/2458987/download
Create a new world and see if the bug is still there.

[2018-02-17 19:21] Samino2 commented on #1381
nope, don't working

[2018-02-17 19:22] liach commented on #1381
@Samino2 Screenshot, turn on F3

[2018-02-17 19:24] Samino2 commented on #1381
its working, I have just restart my PC ^^

[2018-02-17 19:26] liach commented on #1381
haha. I will close then :smile: glad to see it fixed!

[2018-02-17 19:26] #1381 closed, assigned to nobody

[2018-02-22 18:16] liach commented on #1380
Closing since azanor already fixed it in his code.

[2018-02-22 18:16] #1380 closed, assigned to liach

[2018-02-22 18:16] #1378 closed, assigned to nobody

[2018-02-23 15:23] Sidorion commented on #1308
How about having them emit a signal aspect instead of a redstone signal (or maybe configurable)? That way one can use any aspect-device (receiver, relay, emitter) to do the logic and it would be very railcrafty.

[2018-02-24 03:04] Voxel-Friend commented on #1380
Nice

[2018-02-24 20:00] ghost opened #1382 "this needs to be for 1.12.2"

[2018-02-24 21:00] liach commented on #1382
I am kicking you to #1232. Be aware that CovertJaguar, the only one who can release and push to main branches, is away.

[2018-02-24 21:00] #1382 closed, assigned to nobody

[2018-03-02 19:17] JJablon opened #1383 "Switch track can direct carts travelling only west->east"
Hi! I am using the steel spike maul to change the type of junction to a switch track.
And no matter which direction is Steve (or my character in MP) looking when I click on a track with spike maul, there is always only possible to configure the junction to send carts right or straight. I'd like to be able to send cards travelling from east to west to the left or straight.
I assume there is a bug o

[2018-03-02 19:20] Forecaster commented on #1383
You can switch the direction with a crowbar. Just like you've always been able to since before the spike maul.

[2018-03-02 19:26] JJablon commented on #1383
omg i can't believe I haven't figured it out. Thanks a lot!!!

[2018-03-02 19:26] #1383 closed, assigned to nobody

[2018-03-13 20:44] Ghostlyr opened #1384 "Feed Station & Modded animals compatibility"
I have encountered a problem with breeding modified animals from [ImprovingMinecraft](https://minecraft.curseforge.com/projects/improving-minecraft) modification (with enabled `animals_genetic_evolution` option): all newborn entities lose their information about the generation and go wild (aggressive and unprofitable).  This is an important point of the mechanics of modification and this behavior

[2018-03-14 01:39] liach commented on #1384
I do not know how exactly is this thing handled in IMC after looking at decompiled code. We might need to fire events.

[2018-03-21 23:06] Marcel40625 opened #1385 "[1.10.2] Tunnel Bore doesnt drop into Chestcarts?!"
Hey there, tried today the Tunnel Bore and it seems not dropping his items into linked Chestcarts

any idea?

Running: Railcraft 10.3.1 - MC 1.10.2

Edit: Pulling out of Chestcarts seems to work (Tracks and Coal) bot not dropping.

[2018-03-25 22:53] border999 opened #1386 "Suggestion for Railcraft 1.12.2"
I would suggest using the ender IO method to appease the insane gamers that desire your mod for 1.12.2.
http://ci.tterrag.com/job/EnderIO-Modules/
Put it up on jenkins or someplace and let people play with the incomplete port. People get their mod, (And see a disclaimer in chat about it being heavily incomplete), and you, the devs, get a dedicated workforce to hunt down bugs in what does function

[2018-03-26 03:01] liach commented on #1386
Hmm, you mean to break rc modules into jars?

[2018-03-26 03:12] border999 commented on #1386
That seems to be what Ender IO has been doing and it's working for them by all appearances. So yes, I would recommend that. If it is at all possible to do that without much inconvenience. Also I am one of the people that would love to have the firestone back, because that little stone is amazing.

[2018-03-26 03:14] border999 commented on #1386
If it is at all possible to do that without much inconvenience.

[2018-03-26 07:25] AEnterprise commented on #1386
BC has also been doing it for quite a while, it can sometimes be a little confusing to new users that they are not additional modules but for more advanced players who only want parts of the mod it is much easier then using configs to dissable things, also for modpack makers possibly in the future

[2018-03-27 12:21] LuigiHutch commented on #1386
You do know RC is already modular right? Just not in seperate jars but in the module config. Also seperating the modules into seperate jars just means more time and work when porting.

Also a jenkins is not always useful, especially when it means that even more people to be using random outdated builds. Releasing more builds with known very WIP content can be quite a pain when dealing with bug rep

[2018-03-29 07:19] kylesy20 opened #1387 "[1.7.10 (All versions of RC)] Cannot place wye tracks back-to-back."
Everytime I would place the bottom-side of a wye track to a bottom-side of another wye track, either wye track would change orientation. I've tried rotating it with a crowbar but to no avail.

[2018-03-29 07:20] Forecaster commented on #1387
So rotate them with a crowbar after placing?

[2018-03-29 07:20] kylesy20 commented on #1387
I forgot to mention that rotating with a crowbar doesn't work.

[2018-03-29 17:56] liach commented on #1385
Sorry for the late response, but I believe this is a duplicate issue. Duplicate of #1335.

[2018-03-29 17:56] #1385 closed, assigned to nobody

[2018-04-03 08:07] Marcel40625 commented on #1385
ohh okay ... any idea how close to the next update you guys are? (dont want to push, only interested)

[2018-04-03 13:55] liach commented on #1385
one month or more, but you can fix it via config.

[2018-04-03 16:22] abculatter2 commented on #1379
It can be made with just a bit of iron or steel, making it cheaper then boosters?

This could be further enhanced by making it work with wooden rails, for very cheap but energy-consuming and kinda slow rail lines.

Could also make it so normal boosters either don't work with wooden rails, or the chain link doesn't work with normal rails or above. Also, do wooden tracks have the ability to be elect

[2018-04-03 18:23] liach commented on #1232
Update: first step pushed.
https://github.com/Railcraft/Railcraft/commit/b0fae9419e44ed9f58e5e69f8416038d61299732

Edit: also updated the main issue and checkboxes.

[2018-04-03 19:12] #1339 closed, assigned to liach

[2018-04-03 19:12] #1356 closed, assigned to liach

[2018-04-03 19:12] #1338 closed, assigned to liach

[2018-04-03 19:12] #1347 closed, assigned to liach

[2018-04-03 19:50] bookerthegeek opened #1388 "Add back MJ-producing engines"
Edits by liach: This issue will, from now on, dedicate on tracking the progress of engines, instead of tracking in #1373. The Railcraft team has decided that when three steam engines are back, they will be producing microjoules. However, we are awaiting on BuildCraft's stablization.

Original issue:
Since BC has gone back to using MJ instead of RF, would it be possible to add an engine of some sor

[2018-04-03 19:55] #1335 closed, assigned to liach

[2018-04-03 19:57] 3TUSK commented on #1388
#1232 ?

[2018-04-03 20:01] bookerthegeek commented on #1379
This could be super nice to add integration with.

Imagine powering it with any of the following:
- pneumaticcraft air pressure
- Better with mod rotational energy
- Botania mana beams (More manna faster climb)
- Buildcraft MJ
- COFH RF
- IC2 EU (higher tiers give a faster clone)

And most likely others I can't think of off the top of my head.

Basically I imagine a block under the first mechanica

[2018-04-03 20:03] bookerthegeek commented on #1388
Almost. The previous versions of BC used the COFH api for power, but no longer.

Also they do not use the FU/FE either to my knowledge.

[2018-04-03 20:41] liach commented on #1388
this is likely only for 1.12

[2018-04-03 21:08] AlexIIL commented on #1388
Just FYI the BC MJ API isn't finalised yet, so I don't recommend adding anything *yet*.

[2018-04-04 01:27] liach commented on #1388
@AlexIIL Adding bc api as submodule is safe, right?

[2018-04-04 01:34] AlexIIL commented on #1388
Sort of. I'd recommend using our maven instead though (see https://www.mod-buildcraft.com/pages/maven.html for details) although the api will change in the future, so you would need to ensure you only use safe bits (as far as I know railcraft only uses the trigger and action API, which should be basically final - please check before using anything else, as it might change if I don't think anybody'

[2018-04-04 03:54] bookerthegeek commented on #1388
As a small request in addition, would it be possible to make it a 2x3 multiblock similar to the EU turbine instead of a single block?

[2018-04-04 05:46] liach opened #1390 "Add shield disabling ability to certain tools"
Currently, it is decided that spike mauls will be able to disable shields. Should we add it to crowbars (or crowbars with good enchantments)? Open for public discussion.

This can only be in 1.12.2 versions because of forge limitations.

[2018-04-04 06:33] Forecaster commented on #1390
Do you mean "bypass shields"?

[2018-04-04 06:48] liach commented on #1390
no, they give shields a delay so the defender cannot block for a few seconds.

[2018-04-04 06:48] liach commented on #1390
like what axes do.

[2018-04-04 13:32] vico93 commented on #1232
@liach , did you have any CI set up for us download those beta builds? Just like [ComputerCraft](https://github.com/dan200/ComputerCraft) have (in https://cc.crzd.me)

[2018-04-04 13:56] liach commented on #1232
@vpontin railcraft does not have ci builds. it is against the license.

[2018-04-04 13:58] Dockter commented on #1232
Wait, what?  How is it against the license?

[2018-04-04 14:46] vos6434 opened #1391 "1.12 Correct collision bounding boxes"
you can walk through any block on 1.12
![2018-04-04_14 21 52](https://user-images.githubusercontent.com/21976486/38314924-42337204-381f-11e8-8c8f-7e1dc0403fb4.png)

[2018-04-04 14:48] liach commented on #1232
https://github.com/Railcraft/Railcraft/blob/mc-1.10.2/LICENSE.md#distribution

As defined, CI builds are illegal since CovertJaguar approved none. Moreover, the jar built with `./gradlew build` does not run. The best you can do is to run railcraft in development environment with `./gradlew runClient`.

[2018-04-04 14:48] Player3324 commented on #1391
Most(?) of the AABBs lost their position offset, the port likely didn't account for this yet.

[2018-04-04 14:50] liach commented on #1391
Ah thanks @sfPlayer1. Luckily the mod uses an interface to account for aabbs for tile entities, that would not be very hard. Do you mean those ones which have their World parameters changed to IBlockAccess?

[2018-04-04 15:10] liach opened #1392 "Dynamic light for optifine"
https://github.com/sp614x/optifine/blob/master/OptiFineDoc/doc/shaders.txt#L472

[2018-04-04 16:11] liach commented on #1391
Cannot reproduce after fixing some code style. Guess was a code style issue.

[2018-04-04 16:12] #1391 closed, assigned to liach

[2018-04-04 23:25] vos6434 opened #1393 "1.12 Water wont render inside a tank"
Ignore the pipe not connecting, already fixed.
![2018-04-04_14 29 24](https://user-images.githubusercontent.com/21976486/38339748-d1faf518-3867-11e8-87ec-625831c12fd3.png)

[2018-04-04 23:30] liach commented on #1390
2f900abc20886a91347977fdee9fec23092b4834

[2018-04-05 21:14] liach commented on #1386
@border999 Fyi porting is done. build from source if you wanna play.

[2018-04-05 21:19] liach commented on #1353
fix'd.

[2018-04-05 21:19] #1353 closed, assigned to liach

[2018-04-05 21:20] liach commented on #430
Fix'd.

[2018-04-06 03:54] border999 commented on #1386
How would I go about doing that?

[2018-04-06 04:01] liach commented on #1386
Do `git submodule update --init --recursive` and then `./gradlew runClient`.

[2018-04-06 18:55] liach commented on #1393
Addressing.

[2018-04-06 19:57] border999 commented on #1386
not a sufficient answer for me, I have no experience when it comes to building from a source. I don't even know where that command would go, if there's some software I require.

[2018-04-06 19:59] liach commented on #1386
install git for windows/mac, open git bash, do git clone command to clone railcraft and run that 2 things. btw do you have a discord?

[2018-04-06 20:11] LuigiHutch commented on #1386
Well wait for the betas to be released, no need to reopen the issue as your questions have already be answered. Building source is not be recommended for normal users

[2018-04-06 20:53] liach commented on #1386
Well, this is the only mean allowed by the license

[2018-04-07 05:07] border999 commented on #1386
@liach yep

[2018-04-07 05:14] liach commented on #1386
@border999 join https://discord.gg/VyaUt2r to talk more easily

[2018-04-08 14:42] vos6434 opened #1394 "[All versions] Stretched liquid textures inside a tank"
![2018-04-07_14 33 40](https://user-images.githubusercontent.com/21976486/38468837-646bce80-3b43-11e8-9b6d-97a0b2d841be.png)

[2018-04-08 14:43] liach commented on #1394
this happens in all versions as well.

[2018-04-24 16:07] warplord commented on #1232
Any idea if we will see railcraft for 1.12? Definitely waiting for it to complete my full modlist I'd use.

[2018-04-24 16:22] liach commented on #1232
The code is working for 1.12 but it depends on covertjaguar to release. He is the only one who can make a release.

[2018-04-24 23:45] GazbonicAcid opened #1395 "[Question and/or Request] In 1.7.10 does routing work with traincraft?"
Is there any way to use Railcraft's routing table system with Traincraft's trains directly without attaching a railcraft train to the front?

[2018-04-24 23:52] liach commented on #1395
I do not think so. Only routable carts registered in railcraft api can be routed. This is not on railcraft's side.

[2018-04-24 23:52] #1395 closed, assigned to nobody

[2018-04-28 00:36] liach opened #1396 "Support thaumcraft 6 (for 1.12)"
first, get the api working...

[2018-05-01 05:45] liach opened #1397 "Update cofh api for 1.12"

[2018-05-01 09:42] Njet75 commented on #1232
Is Covertjaguar around?
Missing this mod dearly in 1.12.2

/Michael

[2018-05-02 04:57] liach opened #1398 "fix botania's use of rc api"

[2018-05-03 19:21] liach commented on #889
People frequently report that they cant find ore mines on discord. I think we should kick this issue forward.

[2018-05-03 19:22] liach commented on #780
I think harvest and power plugins work fairly well now. Post connections need some test though.

[2018-05-03 19:22] liach commented on #1136
Is this still the case? will investigate in 1.12.

[2018-05-03 19:24] liach commented on #1390
Closing for now since spike mauls should do.

[2018-05-03 19:24] #1390 closed, assigned to liach

[2018-05-03 19:29] liach commented on #1393
Replaced by #1394

[2018-05-03 19:29] #1393 closed, assigned to liach

[2018-05-03 21:44] Forecaster opened #1399 "Locking tracks catch high-speed trains without explosions"
If a train going at high speed is caught by a locking track it should explode unless slowed down first.

This was not an issue before because locking tracks did not go on high-speed tracks, and high-speed trains would explode when going onto locking tracks because they were always a regular track.

When a high-speed train goes over a powered high-speed locking track nothing should happen.

I'm not

[2018-05-03 22:24] liach commented on #1399
Should we just disable such a combination @Forecaster?

[2018-05-03 22:31] liach commented on #1232
@Njet75 Somehow I missed this comment. Sorry for the late response. CovertJaguar is not around, but I am trying my best and squeezing my free time to work on Railcraft. See https://github.com/Railcraft/Railcraft/tree/liach-1.12.2 if you know how to run mod from source code.

[2018-05-04 06:08] Forecaster commented on #1399
...no?

Why would we do that? It should be made to work properly.

[2018-05-04 13:33] Dockter commented on #1375
Ok, RC doesn't change how Vanilla does its ore generation, it simply adds to it.  These additional gold and iron ores are intended to be ore veins something Vanilla doesn't do.  Reference this ticket for an example of how it does its ore generation:

https://github.com/Railcraft/Railcraft/issues/1400

[2018-05-04 16:31] ZEROX7 commented on #1397
the crash log that was missing

---- Minecraft Crash Report ----

WARNING: coremods are present:
  MalisisSwitchesPlugin (malisisswitches-1.12.2-5.1.0.jar)
  MalisisCorePlugin (malisiscore-1.12.2-6.4.0.jar)
  Inventory Tweaks Coremod (InventoryTweaks-1.64-dev.jar)
  ForgelinPlugin (Forgelin-1.6.0.jar)
  LoadingPlugin (Quark-r1.4-123.jar)
  HammerCoreCore (HammerCore-1.12.2-1.9.9.5.8.jar)
  BetterF

[2018-05-08 02:43] liach commented on #1397
#1401

[2018-05-08 02:43] #1397 closed, assigned to nobody

[2018-05-08 14:09] shelbykauth commented on #1232
If CovertJaguar is really that busy with life, maybe it would be best if he handed the reins over to someone else.  Or rather, share the reins with someone else, like liach.  I mean, I understand that this mod is Jaguar's baby, but it's currently suffocating, and not for lack of development.  It would relieve pressure off of him and give the rest of us the mod we're so dearly missing.

Otherwise,

[2018-05-08 14:17] warplord commented on #1232
I agree - CJ should absolutely let you liach make at least unofficial releases for 1.12, and when he comes around he can make a big real release - but now u are not getting the possible testing you could and we the players are missing a favorite mod ... Don't let Railcraft die please :(

[2018-05-08 14:31] Twilix01 commented on #1232
In reference to mods we learn to live with out, you should take another look at ProjectRed, it just released a 1.12 version yesterday! But getting back on topic for me though, I would like to see this mod not be stuck in development purgatory like Metallurgy 5 appears to be in.

[2018-05-08 14:42] liach commented on #1232
Compared to project red, I certainly have more commit on railcraft than covers1624, the current maintainer of project red, on project red. https://github.com/MrTJP/ProjectRed/graphs/contributors

For your information, it seems CovertJaguar does not like me that much. A guy called Yopu became the first developer and left; ssotangkur came and left; Generalcamo came and left; I remained (probably by

[2018-05-08 14:46] warplord commented on #1232
Well all I meant was that all your hard work would be wasted if a railcraft is left to die in 1.10 forever. So when u come in a release-like state maybe you should consider making an unofficial release if nothing is heard from CJ. It certainly beats leaving the mod to die and all of your and the previous maintainers' work go to waste. Just my opinion.

I am happy to see that you do work on Railcra

[2018-05-08 15:09] shelbykauth commented on #1232
Did It!?!?  Sweet!  Thank you for the info, Twilix01!  Though my point still stands that RedPower died and ProjectRed stepped up to replace it.  And we don't want that to happen to Railcraft.

As for the refactors, that makes sense.  That is a perfectly valid reason for not being available yet.  The main developer going off on a hunting trip and telling everyone else that they can't touch the mod

[2018-05-08 15:15] Njet75 commented on #1232
@liach Hang in there.We all love you :)

[2018-05-08 15:24] warplord commented on #1232
We do and we have our hopes in you to eventually see RC again :) Keep up the good work!

[2018-05-08 15:51] ryanlbowman commented on #1123
I am also having this problem. In a world I created a couple of weeks ago, when I tried to place a bore yesterday, it just drops.
I can create a new world, in survival (with cheats) or creative, and place one just fine, but not in the world I've been working on for a while. I crafted everything by hand, and it doesn't work. I've tried going into creative mode, opening to LAN (with and without chea

[2018-05-08 16:28] liach commented on #1232
:sweat:

[2018-05-08 16:39] liach commented on #1123
can you play in that world and upload your latest log?

[2018-05-08 16:47] ryanlbowman commented on #1123
Sure, this is the log from when I wiped the railcraft configs and restarted it this morning. All I did after restarting was try to place the tunnel bore, and then quit when it didn't work. If this isn't sufficient, I can play around for a while later tonight.
[latest.log](https://github.com/Railcraft/Railcraft/files/1984860/latest.log)

[2018-05-08 18:04] Spenny519 opened #1402 "1.12.2 release soon?"
Was wondering if there will be a 1.12.2 release anytime soon? #1232

[2018-05-08 18:08] Forecaster commented on #1402
There will be one when there is one.

[2018-05-08 18:08] #1402 closed, assigned to nobody

[2018-05-08 18:16] Spenny519 commented on #1232
@liach i just tryed using the version of railcraft from this link https://github.com/Railcraft/Railcraft/tree/liach-1.12.2  and it didnt work
Help plz!!!

[2018-05-08 18:20] liach commented on #1402
you need to delete a line of code. come to discord for more help. link on readme

[2018-05-08 18:26] Spenny519 commented on #1402
i am in the discord and now what? @liach

[2018-05-08 19:38] #1386 closed, assigned to nobody

[2018-05-09 08:23] Ommina commented on #1232
This is not a forum, and I feel uncomfortable treating it as such, but I don't want to leave this unremarked.  CJ is not just the "main developer" -- he's the _owner_.  And that really does mean he can leave it as is, or delete the repository tomorrow and move on with his life.  The licensing is really quite clear.

I don't like it either, as I so desperately want to be running it in 1.12.  I do h

[2018-05-09 12:11] shelbykauth commented on #1232
I... you're right @Ommina
Parent says "Because you'll get hurt", valid reason.  Parent says "Because I said so", not a valid reason.  But kids still have to obey the parents, regardless of the validity of the reasons.

Again, you are correct.  I'll try to make this my last tangental comment.

[2018-05-09 13:53] liach commented on #1232
well, there are a few ways to bypass the license in fact. but whatever.

[2018-05-09 13:55] warplord commented on #1232
I just hope when Railcraft is in a ready state for 1.12 people who are interested (like me) can get to play it. We'll see what happens.

[2018-05-09 14:39] liach commented on #1232
I'll just close this issue for now since all the main stuff needed for 1.12 are done. Those unmarked entries are proved to be optional. 1.13 update will be tracked in different issues in the future.

[2018-05-09 14:39] #1232 closed, assigned to nobody

[2018-05-11 15:45] liach commented on #1203
I guess we will not simply remove RF in the future.

[2018-05-15 18:23] korxal opened #1403 "Server doesn`t start"
Hello,
Did some testing with server side:
1) Compile branch liach-1.12.2
2) Install clean forge-1.12.2-14.23.3.2691
3) Put Railcraft_1.12.2-10.3.1-unofficial-dev.jar to mods folder
4) Run server
Crashed with: NoClassDefFoundError: Lmods/railcraft/common/util/effects/IEffectManager

Thanks for attention...

[2018-05-15 19:16] liach commented on #1403
1. dev jar is not for mod usages. it is for modders to add as a dependency.
2.the normal jar would crash to stop illegal distributions.

if you need more help, ask me on discord.

[2018-05-15 20:38] #1403 closed, assigned to nobody

[2018-05-16 02:49] Dockter opened #1404 "Client Classes being loaded on server"
It appears we are attempting to load client classes on the server.  This needs to be isolated out.

Caused by:  Caused by: java.lang.ClassNotFoundException: net.minecraft.client.util.ITooltipFlag

Link:  https://gist.github.com/Dockter/c9853339825b58451b5ca2512a1f91ab

[2018-05-16 02:53] Dockter opened #1405 "Latest branch update causing complication error"
Getting the following error when attempting to compile latest liach-1.12.2 branch:

![image](http://www.almuramc.com/images/compile-error.png)

Ideas?

FYI, I do have locally a /buildcraft/ folder in my c:/projects directory.

[2018-05-16 03:27] Dockter commented on #1404
This commit fixes this however my branch is behind the current liach-1.12.2 due to the compilation errors stated on a different issue.

https://github.com/AlmuraDev/Railcraft/commit/d1e56bc8f4ea7cb28b9c86bd48cd1a799f594fbc

[2018-05-16 04:03] Dockter commented on #1405
This was caused by using Java JDK 1.8.0 build 60.  Updated to 171 and now everything is fine.

[2018-05-16 04:03] #1405 closed, assigned to nobody

[2018-05-17 05:37] liach commented on #1404
Yep, that event bus loading method is funky indeed.

[2018-05-17 14:38] Dockter commented on #1404
Fixed.

[2018-05-17 14:38] #1404 closed, assigned to nobody

[2018-05-17 14:39] liach commented on #1404
Thanks mike!

[2018-05-17 14:40] liach commented on #779
Should I use a carpet for the bed, I wonder?

[2018-05-17 14:45] liach commented on #532
Respawning this since thaumcraft revived in 1.12, although I do not know if warded jars are still here.

[2018-05-17 22:02] Spenny519 opened #1407 "1.12 crash with IC2"
![ic2crash](https://user-images.githubusercontent.com/36276355/40206042-4e39d8a0-59e3-11e8-821a-73c2327cec72.PNG)
and I don't get this crash when I just have ic2 and railcraft installed on the instance

[2018-05-17 22:07] Spenny519 commented on #1407
![modlist](https://user-images.githubusercontent.com/36276355/40206243-04aa8dd2-59e4-11e8-9a3d-c788ba766586.PNG)
This is the modlist I am using btw

[2018-05-17 22:22] Chocohead commented on #1407
Looks like `detector` is empty, `battery` and `machine` are checked first.

[2018-05-17 22:25] Spenny519 commented on #1407
well the thing is that it was working with no crash yesterday and the this morning, without any changes to anything, it started crashing

[2018-05-17 22:31] Spenny519 commented on #1407
how do I fix it?

[2018-05-18 11:59] bookerthegeek opened #1408 "[1.12.2] Unable to parse dependency"
## Heyo

Caught this in the Console Log.
[code]

Seems to come from [HERE](https://github.com/Railcraft/Railcraft/blob/2cbefd885cfe7197c62edbce06be79c196ff8a7f/src/main/java/mods/railcraft/common/core/Railcraft.java#L54)

[2018-05-18 12:02] bookerthegeek opened #1409 "[1.12.2] Forestry API error"
## Heyo ##

Caught this in the Console Log. Seems something needs to be updated.

[code]

[2018-05-18 12:35] bookerthegeek opened #1410 "[1.12.2] Duplicate recipes registered"
## Heyo
Looking through recipes, I notice that many show up twice, or three times. For example the Cart Detector.
![Recipe45](https://i.imgur.com/0klOMZD.png)
![Recipe526](https://i.imgur.com/F01qAOK.png)

### List of items with Double recipes
- [ ] Cart Detector - Item
- [ ] Cart Detector - Any
- [ ] Cart Detector - Empty
- [ ] Cart Detector - Player
- [ ] Cart Detector - Animal
- [ ] Cart Detect

[2018-05-18 13:09] bookerthegeek opened #1411 "[1.12.2] Missing recipes in JEI"
## Heyo
Here are some recipe related issues;
- Rock Crusher Recipes not showing up in JEI
- Rolling Machine recipes not Showing up in JEI
- Powered Rolling Machine crafts Small Charge Wire Spools for Free ([Image](https://i.imgur.com/gIaMXaa.png))

Working but not in JEI;
- Wooden Tie
- Creosote Wood Block
- Refined Firestone
- Metal Posts

Can not find recipes for the following;
- Force Track Emi

[2018-05-18 13:12] bookerthegeek opened #1412 "[1.12.2] GUI item tooltip issue"
## Heyo
When you are in the Rolling Machine Interface, items do not show there name when you hover over them.
![Image](https://i.imgur.com/uAhXcHc.png)
![Image](https://i.imgur.com/xpW6itj.png)

[2018-05-18 14:39] liach commented on #1408
Hmm, is the api name supposed to be lowercase @AlexIIL?

[2018-05-18 14:41] liach commented on #1407
I do not know how this happens at all since the stack returned should be fine. Or should I register in regular recipes instead of ic2 crafting registry @Chocohead ?

[2018-05-18 14:42] liach commented on #1409
Hmm, I thought these items are supposed to be disabled. The forestry compat needs fixes.

[2018-05-18 15:07] liach commented on #1411
machines recipes are temporarily removed from jei because i don't understand jei that well yet. a few working recipes do not show up because they are of custom types.

[2018-05-18 15:36] Spenny519 commented on #1407
once I disabled the ic2 mod compatibility in the railcraft configs, I got it to load up without it crashing

[2018-05-18 15:47] liach commented on #1407
I do not know what is wrong with the detectors. They are enabled in theory.

[2018-05-18 15:50] AlexIIL commented on #1408
Yeah I've been wondering about that since forge doesn't seem to warn about the API's themselves.

I'll probably need to change all of the API names to lowercase anyway).

[2018-05-18 16:00] Spenny519 commented on #1407
oh btw @Chocohead do you have any plans on updating Advanced machines to 1.12 anytime soon?

[2018-05-18 18:46] liach commented on #1409
Fixed in the last push.

[2018-05-18 18:46] #1409 closed, assigned to nobody

[2018-05-18 19:12] Chocohead commented on #1407
Changing to registering as a normal recipe won't fix the underlying issue that it couldn't find the detector, but without any concrete ability to reproduce the crash that's not especially possible. Have you disabled any particular Railcraft modules in the config that might have stopped it finding the detector?

As for Advanced Machines, it'll be ready when it's ready. It could do with more interna

[2018-05-18 19:46] liach commented on #1412
this is the case for all railcraft guis

[2018-05-18 20:24] Spenny519 commented on #1407
Yes when i disabled the ic2 module in the railcraft config, it stopped crashing and now works

[2018-05-18 20:30] tomelfring commented on #1412
I remember fixing something like this.
You need to add the following to the gui classes:

	@Override
	public void drawScreen(int mouseX, int mouseY, float partialTicks) {
		this.drawDefaultBackground();
		super.drawScreen(mouseX, mouseY, partialTicks);
		this.renderHoveredToolTip(mouseX, mouseY);
}

[2018-05-18 20:34] Chocohead commented on #1407
But without disabling the IC2 module (ie having everything enabled) it does crash?

[2018-05-18 20:40] Spenny519 commented on #1407
Yes if i dont disable it, i crash

[2018-05-18 20:41] Spenny519 commented on #1407
But with the ic2 module disabled and everything else enabled, i dont crash

[2018-05-20 00:28] Chocohead commented on #1407
Quite strange, it shouldn't be able to suddenly break itself without anything changing. We'll probably need additional logging to be able to narrow down on what's wrong, but given we can't directly give you a jar that does make the process more complicated. If I created a branch with some additional logging and protection around the IC2 module would you be ok with compiling and testing with it?

[2018-05-20 02:43] Spenny519 commented on #1407
Yeah im up to doing that to help out with it

[2018-05-20 03:20] border999 commented on #1407
this is a 1.12 version for Railcraft yes? Would there be any means by which I may procure this?

[2018-05-20 04:11] Spenny519 commented on #1407
@border999 it is an unofficial version with many bugs

[2018-05-20 04:12] liach commented on #1407
@border999 Direct message to me on discord if you really want.

[2018-05-20 14:19] Chocohead commented on #1407
That branch should have enough to get an idea why it isn't happy, unless it suddenly starts working again then we'll have no idea what ever went wrong.

[2018-05-20 15:28] Spenny519 commented on #1407
Okay when i get a chance i will compile it and test it out in a new instance with all the same mods

[2018-05-21 15:54] liach opened #1413 "Charge system/ Tile entities reset after world reload"
That when you click with a charge meter, it no longer works. The rendering changes fine, though

[2018-05-21 16:00] liach commented on #1412
Fixed in one of the recent commits.

[2018-05-21 16:00] #1412 closed, assigned to nobody

[2018-05-22 00:04] Dockter opened #1414 "Client loading error - API class not found"
Error:  https://gist.github.com/Dockter/c599ea19c2618aab2f647b0adc8a8782

Branch: Liach-1.12 - as of 5/21/2018

[2018-05-22 00:23] Dockter commented on #1414
Disabling:      B:manipulator_loader_rf=false  within blocks.cfg did not help the matter.

[2018-05-22 00:23] liach commented on #1414
Can you try build 2cbefd885cfe7197c62edbce06be79c196ff8a7f?

[2018-05-23 02:15] #1414 closed, assigned to liach

[2018-05-23 02:17] Dockter opened #1415 "ColorPlugin (ColorProxy instance) always null"
Class:  https://github.com/Railcraft/Railcraft/blob/liach-1.12.2/src/main/java/mods/railcraft/common/plugins/color/ColorPlugin.java#L26

Any Item or Block Class that calls:

ColorPlugin.instance.register(this, this);

will fail because "instance" is null.  Verified with debug.

Confirmed in Production mode with Railcraft ONLY, no other mods.

[2018-05-23 02:25] Dockter commented on #1415
Stumbled upon fix, pushing PR shortly.

[2018-05-24 04:34] liach commented on #1415
Fixed in #1416. Thanks doc! btw the blast furnace is fixed in the last commit.

[2018-05-24 04:34] #1415 closed, assigned to nobody

[2018-05-24 05:05] liach opened #1418 "Start to use Access Transformers"

[2018-05-24 05:06] liach commented on #1375
So now the bug should be fixed by dockter. thanks!

[2018-05-24 05:06] #1375 closed, assigned to nobody

[2018-05-24 14:19] Dockter commented on #1418
This will solve a lot of guessing especially with random numbers being used to determine numeric field values in classes.

[2018-05-25 06:07] border999 opened #1419 "railcraft has redstone flux integrated into it causing hangup with actual mod installed"
tag as 1.12.2 and mod compatibility

[2018-05-26 01:11] Ang3lOfD3ath opened #1420 "Cargo Cart Visual Glitch and Cargo Cart Loader freezing bug"
https://www.youtube.com/watch?v=A5oOFBnrrI4

[2018-05-26 01:32] liach commented on #1420
so it's loading and content render

[2018-05-26 03:48] Ang3lOfD3ath commented on #1420
the loader freezing seems to only happen to the cargo cart and i have to open the cart and click an empty slot for it to start loading again........ i also closed my game and relaunched it and all the Cargo carts that have cobble in them did not render any thing in them till i opened the carts

[2018-05-26 05:18] liach commented on #1420
hmm, same as that tank issue

[2018-05-29 18:42] Stantrien opened #1422 "[1.12.2] Uncrafting carts crash the game"
Placing a chest cart or any other block-in-cart in a crafting table and taking the item out crashes to desktop.

[2018-05-29 18:48] liach commented on #1422
@Stantrien Please give a crash report.

[2018-05-30 02:13] Stantrien commented on #1422
[crash-2018-05-29_20.12.10-client.txt](https://github.com/Railcraft/Railcraft/files/2052092/crash-2018-05-29_20.12.10-client.txt)

This was with a tank cart.

[2018-05-30 02:14] liach commented on #1422
https://gist.github.com/liach/b9b113220e5cf51de1b7a4d9887ca612

[2018-05-30 02:17] Stantrien opened #1423 "[1.12.2] Exiting Manual Rolling Machine gui mid-craft crashes to desktop"
[crash-2018-05-29_20.16.57-client.txt](https://github.com/Railcraft/Railcraft/files/2052102/crash-2018-05-29_20.16.57-client.txt)

[2018-05-30 05:13] liach commented on #1423
https://gist.github.com/liach/6ecfbdfc6b81103beec1c60549fdec24

[2018-05-30 14:50] liach commented on #1423
Will push a fix shortly.

[2018-05-30 15:13] #1423 closed, assigned to nobody

[2018-05-30 15:13] #1422 closed, assigned to nobody

[2018-05-30 20:32] 777Gaming opened #1424 "Railcraft 1.7.10 Copper Ingots messing up Traincraft counter-parts"
Hi, I use multiple mods such as Traincraft and Railcraft. I use the 1.7.10 versions and I have a problem. Ever since I installed Railcraft, I haven't been able to make TC copper ingots and only the RC ones. So maybe a patch could be released adding RC  Copper ore to the 1.7.10 version? Because I want to be able to make the TC Ingots a lot more than the RC ones because I use TC a lot more. Thanks!

[2018-05-30 20:40] liach commented on #1424
Aren't they interchangeable? You can use minetweaker to add them to the same ore dictionary `ingotCopper` and see if that helps.

[2018-05-31 15:37] Dockter opened #1425 "1.12 - TileChestMetals gets stuck in evaluate (swap) methods"
I suspect a bunch of code with inventory manipulators was changed from 1.7.10 that creates this issue.

Observation:  The Metals Chest can condense ingots/nuggets correctly however when it goes to do its swap, it will always return true for the type it finds and never progresses on with target.next.

To Reproduce:  Place a stack of 64 gold ingots in slot 1 of the metal chest.  Condense runs proper

[2018-05-31 16:00] liach commented on #1425
@Dockter The true cause is this:
https://github.com/Railcraft/Railcraft/blob/467ea45dc9f8cc6ff4251e687d8fde6497ee0fd3/src/main/java/mods/railcraft/common/util/inventory/filters/StackFilters.java#L112-L114

[2018-05-31 17:01] Dockter commented on #1425
Testing fix now...

[2018-05-31 17:10] Dockter commented on #1425
Confirmed fixed.

[2018-05-31 17:10] #1425 closed, assigned to liach

[2018-05-31 17:29] liach commented on #1420
Didn't investigate loader freezing, but rendering bug will be fixed in next commit on 1.12.2 branch.

[2018-05-31 18:11] liach commented on #1407
uh no, wrong issue. Should be #1136

[2018-05-31 18:11] #1136 closed, assigned to liach

[2018-05-31 18:11] liach commented on #1136
Fixed the last point.

[2018-05-31 19:54] liach commented on #1373
Chests ported in 2849d9064b9fb990b73a4a9719185df7401eec23

[2018-05-31 19:57] Amelia- commented on #1398
Is the following error caused by this problem?

...
Caused by: java.lang.NoClassDefFoundError: vazkii/botania/common/item/ItemPoolMinecart
...
Caused by: java.lang.ClassNotFoundException: vazkii.botania.common.item.ItemPoolMinecart
...
Caused by: java.lang.NoClassDefFoundError: mods/railcraft/api/core/items/IMinecartItem
...
Caused by: java.lang.ClassNotFoundException: mods.railcraft.api.core.item

[2018-05-31 19:59] liach commented on #1398
exactly, but i need to stablize rc api first.

[2018-05-31 23:26] vos6434 opened #1427 "1.12 bed cart stuff"
![2018-05-31_22 38 16](https://user-images.githubusercontent.com/21976486/40813367-5e134f72-6532-11e8-9089-b4c5437e5aee.png)

[2018-05-31 23:51] vos6434 opened #1428 "bc transformer"
![bc transformer](https://user-images.githubusercontent.com/21976486/40814041-f7eb0b14-6535-11e8-9542-301af27def90.png)

[2018-06-01 05:14] border999 commented on #1373
building was finally successful?

[2018-06-01 05:16] liach commented on #1373
yep, seems just 4 more

[2018-06-02 13:56] xfl03 opened #1429 "[1.12.2] Not well compatible with SpongeForge"
There is some small problems like destory the block will **lose the item** and **cannot open TunnelBore GUI**.
The second problem has an Exception in console:
[code]

Hope to be fixed, thanks to authors!

P.S. another exception
[code]

[2018-06-03 19:06] liach commented on #1429
@Dockter Have you had that before?

[2018-06-03 20:23] js6pak opened #1431 "[1.12.2] Crash"
I'm new to forge...

I tried to build Railcraft 1.12.2 and run this with normal Minecraft.

[code]

[2018-06-03 21:08] LuigiHutch commented on #1431
It doesn’t compile... use runclient or wait for an actual release >_>

[2018-06-03 21:16] js6pak commented on #1431
IntelliJ IDEA runClient:
![image](https://user-images.githubusercontent.com/35262707/40891337-21b8a528-6784-11e8-917b-f71bbddd16f1.png)
[code]

[2018-06-03 22:55] liach commented on #1431
Doesn't b3694a1bb958578d325c57f0c23e41315a5b327e fix it?

[2018-06-04 01:32] liach commented on #1431
Hmm, the runclient should not search the build directory at all.

[2018-06-04 02:28] ZombieHDGaming commented on #1431
@liach the way I found to fix it was to exclude the entire RedstoneFluxAPI package in the build.gradle rather than just the RedstoneFlux class. Railcraft will compile normally and build like it should.

[2018-06-04 02:30] liach commented on #1431
@ZombieHDGaming That would cause #1414 again.

[2018-06-04 02:36] ZombieHDGaming commented on #1431
I'll be quite honest, the main build file for Railcraft is the most convoluted build system I've seen, so I wouldn't be surprised if there wasn't a domino effect from just one option.

[2018-06-04 02:45] liach commented on #1431
I will just drop rf and move to FE. Reference #1282

[2018-06-04 10:41] js6pak commented on #1431
Thanks, 2cbefd8 works :)

[2018-06-04 10:43] js6pak commented on #1431
![image](https://user-images.githubusercontent.com/35262707/40913395-c75a99ee-67f4-11e8-881f-047f5cff40fc.png)

it's normal?

[2018-06-04 11:03] js6pak commented on #1431
Railcraft (liach branch) works only in runClient?

Same error in Minecraft:
[code]

[2018-06-04 11:03] LuigiHutch commented on #1431
Well... it is as you didn't include the localization module. It only runs with runclient that is correct. Please use the discord for random questions about compiling/running next time: https://discordapp.com/invite/Wr9zxmP

[2018-06-04 13:24] liach commented on #1431
it doesn't let you distribute jars to reduce the chance of illegal distributions.

[2018-06-04 17:57] ZombieHDGaming commented on #1431
@liach Upon further testing, I can't seem to reproduce what was caused from #1414 in my own IDE or normal machines testing pack. Railcraft compiled and ran with runClient in IDEA for me with no issue, and I exported the mod (disabling the fingerprint check purely for testing) and the pack booted fine with no errors from what I saw. Unless I'm missing something, I don't think there is a need to mig

[2018-06-04 20:21] liach commented on #1431
@ZombieHDGaming Railcraft will **NEVER** require redstone flux mod as a requirement. Since RF mod must be a requirement mod, we will move all RF stuff to FU. RU is compatible with FU, as far as you are concerned.

[2018-06-04 23:56] bloodmc commented on #1429
This issue should be closed as it is a sponge problem with our inventory implementation.

@Faithcaio Can you get this resolved?

[2018-06-05 00:03] liach commented on #1431
The latest should work.

[2018-06-05 00:30] liach commented on #1429
Seems we need to add this code to every minecart with inventory. Well, this is hard to generalize indeed.
https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityMinecartChest.java#L55-L60

[2018-06-05 02:59] xfl03 commented on #1429
@bloodmc
But I think is it a bug of railcraft, other mods has no Exception.

[2018-06-05 03:24] liach commented on #1429
@xfl03 因为sponge的mixin没有处理好一些类所以出错了

[2018-06-05 05:58] liach commented on #1354
Done in 1.12.

[2018-06-05 05:58] #1354 closed, assigned to liach

[2018-06-05 16:23] Faithcaio commented on #1429
We would need some kind of fallback when we cant do all mixins necessary for the Inventory.

[2018-06-05 16:44] liach commented on #1429
@Faithcaio Hmm, so you suggest railcraft using a compatibility mod for spongeforge, right? I have a prototype at https://github.com/Railcraft/SpongeOnRails already. I will do that.

[2018-06-05 17:07] Faithcaio commented on #1429
Haven't looked at it in a while but I think just implementing
LensProvider
https://github.com/SpongePowered/SpongeCommon/blob/ccbd879e979c6163b42ceaf54ea892a81e726f91/src/main/java/org/spongepowered/common/item/inventory/lens/LensProvider.java#L35
should be enough to make it work.

[2018-06-05 17:14] Faithcaio commented on #1429
Actually I can maybe fix this in Sponge by mixing into EntityMinecartContainer.
Which is an IInventory so I could at least give indexed access...

[2018-06-05 18:00] #1418 closed, assigned to nobody

[2018-06-05 18:01] liach commented on #1431
Hmm, assume the thing is fixed.

[2018-06-05 18:01] #1431 closed, assigned to liach

[2018-06-05 18:07] liach commented on #1429
Should be fixed by SpongePowered/SpongeCommon@13668d9dbc6934a934d5c3ac6632cc0ee10c5851
@xfl03 comment if the first issue is still there. the second one will not affect gameplay, in theory.

[2018-06-05 18:18] Faithcaio commented on #1429
The second has to do with Sponge failing to find all slots of a CraftingInventory (CraftingGrid + OutputSlot)
Looks like there is a Grid `InventoryCrafting` here but not the Slot with an `InventoryCraftResult`

It just catches and prints the error currently. "Normal" Inventory access via plugins still works.

What does this RollingMachine do with its OutputSlot?