[2018-06-05 20:16] liach commented on #1429
Second one fixed by SpongePowered/SpongeCommon#25ec936593afd6bf645877cd3cba49a5509b4841

[2018-06-05 20:16] #1429 closed, assigned to liach

[2018-06-05 20:16] liach commented on #1419
should be fixed.

[2018-06-05 20:16] #1419 closed, assigned to liach

[2018-06-06 05:22] liach commented on #1049
FYI see #1418 for access transformers. They are added to 1.12.

[2018-06-06 11:08] Speiger commented on #1418
@liach before you access transform everything that isnt public yet please check if these variables are accessebile without reflection in the first place in the newer version, because CJ was terrible at checking those kind of things later on, (I reported already a couple of these issue because of that).
I dont mean also to offend you or CJ by that, its just the case, if someone would not report it

[2018-06-06 12:38] liach commented on #1418
@speiger my forge pr had fixed that. sometimes i AT because of side limitations.

[2018-06-06 15:08] liach commented on #1392
https://github.com/sp614x/optifine/blob/master/OptiFineDoc/doc/dynamic_lights.properties

[2018-06-06 15:08] liach commented on #1392
@luigihutch why is this bad? it will be a simple json file.

[2018-06-06 15:58] xfl03 commented on #1429
During the test all the day, I think it has been solved fully.
Thanks!

[2018-06-06 21:42] LuigiHutch commented on #1392
Because then that states that you 'officially' support optifine which I dont think is a great idea.

[2018-06-07 03:43] liach opened #1434 "add coal gas (coke oven gas)"
(This is one of the ways Railcraft can attract users)
Coal gas is something like natural gas. It was used to light things in history. It can also be a component of ChemLab. Comments are welcome!

[2018-06-07 08:40] DarianLStephens commented on #549
Aw, dang. This would have been perfect for an automatic sky bridge rail. I'd place suspended track, put a block under it, and then re-lay normal tracks in its place. It's a shame this doesn't seem to be possible, that would have been a great way to use these things.
Is there any way to automatically lay a skybridge, without using other mods?

[2018-06-07 13:30] liach commented on #549
@darianlstephens the force track emitter will be back.

[2018-06-07 14:53] liach commented on #1434
First, the coal gas will be produced in coke oven. It then can be used as fluid fuel, or as some equivalent of steam (another power system)

[2018-06-07 15:56] liach commented on #1387
You can do it.
![2018-06-07_08 55 43](https://user-images.githubusercontent.com/7806504/41111370-9fc312d8-6a30-11e8-988e-c61e6e4e5f3c.png)

[2018-06-07 15:56] #1387 closed, assigned to nobody

[2018-06-07 16:27] Generalcamo commented on #1434
Definitely not an equivalent of steam. It doesn't have the pressure capable of handling that.

[2018-06-07 18:02] liach commented on #1434
I mean it is a type of power unit, just like how steam is considered as eu/rf/charge

[2018-06-07 21:39] ReiDaTecnologia commented on #1434
Guys i really liking this idea! i hope be added because look good!

[2018-06-07 21:40] Generalcamo commented on #1434
It's not even close to steam @liach. The closest equivalent is raw coal.

[2018-06-09 23:17] Hakameda opened #1435 "Cargo Carts 1.7.10"
Cargo Carts seem to refill the Locomotive while it's attached. Is that intended or anyway to disable. Great for charcoal i'm emptying from the ovens, but it also takes wood and uses it as fuel for Locomotive instead of fuel to coke ovens

[2018-06-11 00:18] liach commented on #1435
taking wood is intentional right now. however, it's a good suggestion to remove this annoying feature or to add a filter.

[2018-06-11 08:06] xfl03 commented on #1410
`BlockDetector` which contains all detectors has been defined in two modules `AutoMation` and `Routing`.
`BlockMachineEquipment` which contains other blocks mentioned has been defined in three modules `AutoMation`, `Factory` and `Steam`.
It may be the reason of this issue.

[2018-06-11 14:58] liach commented on #1410
Resoved by #1437

[2018-06-11 14:58] #1410 closed, assigned to nobody

[2018-06-11 17:15] Hakameda commented on #1435
It would be okay to pull charcoal or something. But even if i can just smack a cargo cart to tell it not to refill

[2018-06-11 17:26] Forecaster commented on #1435
It's not an "annoying feature". You can prevent it pulling from a cart by putting a cart of a different type, like a tank cart, between the cargo cart and the locomotive.

Adding a filter to the locomotive for fuel is a good idea though.

[2018-06-11 18:34] liach commented on #1427
That localization has been added.

[2018-06-11 18:34] #1427 closed, assigned to liach

[2018-06-11 18:35] liach commented on #1411
Now everything except JEI conpat is fixed.

[2018-06-12 00:49] Hakameda commented on #1435
I have it set pulling 3 charcoal carts then wood. Pulls wood but not
charcoal

On Mon, Jun 11, 2018, 11:26 AM Martin <notifications@github.com> wrote:

[2018-06-12 04:02] xfl03 commented on #1411
The third problem may has been fixed in https://github.com/Railcraft/Railcraft/commit/101b6cde9c48d1ea717e624020ab99fa144694c8

[2018-06-12 05:27] liach commented on #1411
Yep. Actually before your commit, it already stops giving free items (or stops giving any output) :trollface:

[2018-06-12 15:49] liach commented on #1435
Hmm, this behavior is not very acceptable. Should have that one fixed. (in 1.10.2+ though)

[2018-06-12 16:17] Hakameda commented on #1435
=(

On Tue, Jun 12, 2018, 9:49 AM liach <notifications@github.com> wrote:

[2018-06-12 17:02] coolnickname opened #1440 "[1.10.2] Flux Transformer requires reopening of world."
After first building the transformer it doesn't do anything. As you can see in the screenshot below it has an efficiency of 100%. After closing and re-opening the world this drops to 80%, loss to 0.5 c/tick and it starts working.

Before the restart the magnifying glass says it's a valid multiblock but it doesn't draw any power from connected Immersive Engineering capacitors (RF batboxes basically

[2018-06-12 17:17] liach commented on #1440
@coolnickname Can you test with my 1.12.2 branch, too?

[2018-06-12 17:33] coolnickname commented on #1440
Maybe later today. I have stuff to do but if I find some time I'll try it out.

[2018-06-13 14:20] Natesky9 commented on #1434
Maybe as an internal unit, but I can't see this working anywhere except as a side-by-side multiblock for passive charge. I just don't think it has the potential. Coal coke, and even charcoal, are treated as products and not always produced to create power. They're consumed, yes, but trying to build a system around the production of something leads to logistical nightmares

[2018-06-13 14:46] liach commented on #1434
it's a fluid for fuel and chemlab.

[2018-06-13 16:07] Generalcamo commented on #1434
If this is for the chemlab, then let's wait on the implementation until we have actual uses. We have enough fuel sources as-is being quite honest.

[2018-06-14 15:02] liach commented on #735
@CovertJaguar I do not think this is the case any more

[2018-06-14 15:09] liach commented on #779
Will close this one for now as it is already in code.

[2018-06-14 15:09] #779 closed

[2018-06-14 15:10] liach commented on #181
@Generalcamo Dunno if we would add this feature. Water tank is much cheaper than iron/steel tanks and I fear this addition may be unfair.

[2018-06-14 15:11] liach commented on #1372
This has been confirmed by @xfl03.

[2018-06-14 15:13] liach commented on #1366
@nedelosk Is the bee manager null or dummy when bees are disabled?

[2018-06-14 15:13] liach commented on #1366
https://github.com/ForestryMC/ForestryMC/issues/1919#issuecomment-355872532

[2018-06-14 15:26] liach commented on #635
Blocked by #1372

[2018-06-14 15:28] liach commented on #1204
This one is actually more similar to #657.

[2018-06-14 15:46] #1366 closed, assigned to nobody

[2018-06-14 17:01] mikeloeven commented on #181
Not really TBH water is a infinite regenerative resource there is really no balance issue here especially since most of the mod packs including RC also have other mods with water collection devices. Honestly I ended up just building a water tank for aesthetics and sticking an Aqueous accumulator inside it with some water blocks.

[2018-06-14 17:32] Generalcamo commented on #181
@liach I had planned to make it more expensive (sort-of), removing the requirement for Slime but requiring bronze plating and creosote blocks.

[2018-06-14 17:34] liach commented on #1440
Fixed on 1.12.2.

[2018-06-14 17:34] #1440 closed, assigned to nobody

[2018-06-14 17:35] liach commented on #181
I strongly agree. I will assign this to you.

[2018-06-14 17:53] liach commented on #1357
In fact this is for all types of locomotives.

[2018-06-18 02:34] Generalcamo commented on #181
This issue has a lot of complicated ideas being put forward, with no clear direction on exactly what should be done. This is going to need some brainstorming on what exactly should be done. I'm almost tempted to close this issue and just make a new one.

Of course I have my own ideas on the implementation, but they involve a potentially controversial rework to the water tank.

[2018-06-18 02:49] Generalcamo commented on #1379
I'm going to unfortunately agree with @Forecaster here. I do not see any reason to implement this when Booster tracks are in the game. Not to mention the complexity of adding this feature: We would need to add a new type of power (pneumatic energy) just for this one thing, and that is not a trivial task.

[2018-06-18 02:51] liach commented on #1379
I'd say a track preventing carts from sliding on slopes would be a good alternative.

[2018-06-18 02:51] Generalcamo commented on #1379
But that's not for this issue.

[2018-06-18 02:51] #1379 closed, assigned to nobody

[2018-06-18 02:58] Generalcamo commented on #308
This was mentioned over a year ago, but I countered with an actual wooden water pipe:
http://www.blackdiamondnow.net/.a/6a00e5513924e68833019affdb8ac0970b-pi

[2018-06-18 03:18] Generalcamo commented on #559
I have no idea how the new MJ handles engines. @AlexIIL your feedback might be necessary here.

[2018-06-18 06:16] Generalcamo commented on #1428
What exactly is this for? Some sort of conversion from MJ to Railcraft Charge?

[2018-06-18 06:19] Generalcamo commented on #962
This is just a catchall for several other issues. See #645 #649

[2018-06-18 06:19] #962 closed, assigned to nobody

[2018-06-18 11:19] MCTian-mi opened #1443 "Old recipes missing"
![unknown](https://user-images.githubusercontent.com/35869948/41533199-8c3de1f2-732c-11e8-8849-e11714f71028.png)
Cannot use tank.

[2018-06-18 13:27] liach commented on #1443
fixed by generalcamo on 1.12.2.

[2018-06-18 15:07] Generalcamo commented on #1443
Well I didn't add support for using a Buildcraft Tank yet, but I'm certain once the compatibility module is completed there then I can add support for it.

[2018-06-18 15:54] liach commented on #645
@Generalcamo We should add a filter to the void chest cart.

[2018-06-18 15:58] Generalcamo commented on #645
@liach Not unless we add filters to the void chest.

[2018-06-18 18:43] liach commented on #645
Add a filter to the void chest and its logic then :smile:

[2018-06-19 22:17] Generalcamo commented on #1388
Working on it now. Going to reimplement the engines first, then we can see about an MJ to Charge multiblock.

[2018-06-19 22:29] Generalcamo commented on #1428
Vague issues like this are neither needed nor warranted. We cannot implement something that is not explained. Please open a new issue describing exactly what you mean.

[2018-06-19 22:29] #1428 closed, assigned to nobody

[2018-06-20 00:45] liach commented on #1388
FYI you should make a buildcraft module.

[2018-06-20 01:12] Generalcamo commented on #1388
Just to clarify: I'm not adding support for MJ just yet. The API is too unstable for that. I will however work on the engines as the MJ API is worthless without them.

Also this is no confirmation on that multiblock. I myself am not too keen on converting pneumatic power directly to charge; at the very least it should be pretty lossy.

[2018-06-20 04:20] liach commented on #723
Tc is back.

[2018-06-20 04:22] liach commented on #429
Time to respawn.

[2018-06-20 04:38] liach commented on #1036
moving it to rc api. btw @CovertJaguar consider setting up the github bot in discord for api and localization repos.

[2018-06-20 08:12] Generalcamo commented on #1179
I have a few other things in my to-do list, but I can handle this when I'm done.

[2018-06-22 16:24] Generalcamo opened #1445 "Advancements"
Look into replacing our old achievements with advancements, and adding a clear tech tree with recipes throughout the system.

Blast Furnace, Coke Oven, Rock Crusher, and Rolling Machine recipes will also need to be added to the system.

[2018-06-23 14:20] SHADOWDANCH opened #1446 "Crash after ~5 seconds in minecart"
Minecraft: 1.12.2
Forge: 14.23.4.2705
Crash: https://gist.github.com/SHADOWDANCH/daf94bc171ea1b69927b12573e7dad72
Installed only railcraft and forge.

[2018-06-24 16:27] 054545641 commented on #1334
Err...is coke oven also missing in 10.3.0 and 10.3.1?
I cant find it in these two versions on curseforge.
Thanks.

[2018-06-24 16:31] Generalcamo commented on #1334
Yes it is, it's implemented in the source however and will be released for 10.4 on 1.10 and 1.12 eventually.

[2018-06-25 21:24] BinaryVigilante opened #1448 "[1.12.2] Mod build failed"
Hi,

I wanted to build Railcraft for Minecraft 1.12.2. So I downloaded the code, unziped, and ran gradlew.
Immediately I get this error:

------------------
FAILURE: Build failed with an exception.

* Where:
Build file '/home/someguy/Downloads/Railcraft/Railcraft-mc-1.12.2/version/build.gradle' line: 6

* What went wrong:
A problem occurred evaluating project ':version'.

* Try:
Run with --stacktr

[2018-06-25 21:33] Generalcamo commented on #1448
Import submodules and reload Gradle. See what happens then. If it still fails redo setuoDecompWorkdpace

[2018-06-27 15:09] Kreatifchk commented on #1448
How to do this?

[2018-06-27 15:16] BpArCuCTeMbI commented on #1448
Read a "Building" section in a README.
[code]

[2018-06-27 15:32] Generalcamo commented on #1448
Get on discord if you need additional help.

[2018-06-27 15:32] #1448 closed, assigned to nobody

[2018-06-27 15:38] liach commented on #1446
fixed already before

[2018-06-27 15:38] #1446 closed, assigned to nobody

[2018-06-27 15:42] liach commented on #1448
never download zip in the future

[2018-06-27 22:24] liach commented on #892
See https://github.com/BluSunrize/ImmersiveEngineering/blob/master/src/main/java/blusunrize/immersiveengineering/common/util/compat/RailcraftHelper.java. Guess we will poke blusunrize or pr to immersiveengineering if we need to.

[2018-06-28 01:53] liach commented on #1424
Closing as this is relatively obsolete.

[2018-06-28 01:53] #1424 closed, assigned to nobody

[2018-06-28 08:50] liach commented on #1445
Really? No comments? Ah. I suggest advancements for firestones too

[2018-06-28 22:15] liach commented on #1346
This is something with sponge. It is not really an issue.

[2018-06-28 22:15] #1346 closed, assigned to liach

[2018-06-29 00:12] liach commented on #1445
A few thoughts
1. coke oven -> blast furnace -> steel -> rock crusher
2. find copper, tin, and zinc-> bronze and brass -> brushing -> bronze rolling machine -> rail -> track
3. rock crusher -> firestone
4. boxes (should we make a signal casing. etc. that can be made of various metals?) and signals
5. worldspikes
6. find metals -> fllux transformer/battery/charge feeder
7. steel -> powered rolling

[2018-06-29 04:28] liach opened #1450 "Magnifying glass requests game profile service too often, spamming logs"
Example stacktrace:
[code]

[2018-06-29 16:43] kylesy20 commented on #1387
Okay, I'll try it again. Thanks
    On Thursday, 7 June 2018, 11:56:19 PM GMT+8, liach <notifications@github.com> wrote:

You can do it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-30 04:32] liach commented on #1450
FYI, this issue was discovered in debugging for 493913f5e9326a9b118e6140a6e43451cfe4153e

[2018-06-30 04:51] liach commented on #1413
This is actually confirmed again. Just put it with a force track emitter and observe the track emitter draw the track back after the world has been reopened.

[2018-06-30 05:06] liach commented on #1420
@Ang3lOfD3ath What happens before you discover the loader freezing? did you quit and reload the world? I tried to quit and reload but was unsuccessful at reproducing the loader freezing.

P.M. I edited so many times because I write so many typos today.

[2018-06-30 05:09] liach commented on #1407
Anyways I will close this one. When I ran ic2 with railcraft this never happened; no other users reported so.

[2018-06-30 05:09] #1407 closed, assigned to nobody

[2018-06-30 05:24] liach commented on #1313
Confirmed. This mainly happens on the turnouts which the perpendicular outlet facing west or east, especially east.
My best guess is that the locomotive goes past the corner and caused the block to make an incorrect verdict that the locomotive came from the outlet path.
Moreover, observe other funky behaviors of minecarts at short corners:
![2018-06-29_22 22 16](https://user-images.githubuserconte

[2018-06-30 14:55] Ang3lOfD3ath commented on #1420
i think the chunks unloaded then i came back to the chunks

i cant get the twitch client to open i also cant upload at the moment ....

[2018-06-30 18:44] BinaryVigilante opened #1451 "Request: Update Curseforge mod page"
Hi!

Would it be possible to update the curseforge page for railcraft by uploading a 1.12.2 version of the mod? I know it's here on Github for MC 1.12.2, but I think it would be nice to have the curseforge updated as well.

Speaking of updated, the railcraft website should be updated as well :)

Just suggesting ;)

Kind regards!

[2018-06-30 19:56] liach commented on #1451
Duplicate of #1448. See https://github.com/Railcraft/Railcraft/issues/1448#issuecomment-400718836

[2018-06-30 19:56] #1451 closed, assigned to nobody

[2018-06-30 20:04] liach commented on #1351
@Kiritow 话说最后一张图三个转辙马达里面最右边一个没有控制任何铁轨。是这个问题吗？
The setup for the rightmost switch actuator is wrong. It is not attached to any wye or switch track.

[2018-07-01 03:09] liach commented on #1450
Fixed in 517f3d0cef8bd1b77287eb4777e61c09b949a52e

[2018-07-01 03:09] #1450 closed, assigned to nobody

[2018-07-01 03:10] liach commented on #1143
Fixed in 517f3d0cef8bd1b77287eb4777e61c09b949a52e. It actually supports full rgb color.

[2018-07-01 03:10] #1143 closed, assigned to nobody

[2018-07-01 03:14] liach opened #1452 "Adjust collision and selection aabb for chests"
This issue actually existed since 1.7. I first observed this in 1.12 testing when they are back; now it is a good time to fix them.

[2018-07-01 16:18] liach opened #1453 "Replace the sorting of railcraft modules with topological sort"
The current sorting mechanism is a funky one. A toposort is easy to write and helpful for fast sorting of modules (like how forge sort mods) Just a reminder. If someone wants to write one, it's welcome, too.

[2018-07-01 16:20] liach commented on #1453
Oh by the way I might write a tarjan's scc to detect cycles, too.

[2018-07-02 09:39] liach commented on #62
Uhh, do you mean this is simply fixed @Generalcamo

[2018-07-02 16:59] Generalcamo commented on #1394
@liach The method of fixing this will be to replace the single stretched block with multiple 1m X 1m Y 1m Z blocks, transformed at the Y-dimension if the liquid isn't supposed to fill the entire block space. That's going to require a significant rewrite of the code to support it.

[2018-07-02 17:00] liach commented on #1394
@generalcamo it will not be significant changes. i've thought of that solution before

[2018-07-03 04:09] liach opened #1454 "Running instructions for Minecraft 1.12.2"
For many of you who anticipate Railcraft for Minecraft 1.12.2, I hereby create a ticket listing instructions for running. (Yeah, markdown is a great tool for making posts)

### Before you begin everything
- **Review the [License](https://github.com/Railcraft/Railcraft/blob/indev-1.12.2/LICENSE.md#source) of Railcraft: You cannot distribute jars!**
- **When you have questions, go to [Railcraft's of

[2018-07-03 04:20] liach commented on #735
@Generalcamo Can you test this issue to see if this is still the case?

[2018-07-03 19:36] BinaryVigilante commented on #1451
How is this a duplicate? In that one I had problems building the mod. Here I'm simply asking if it's possible to update curseforge and the railcraft website with a 1.12.2 version of the mod...

[2018-07-03 19:53] liach commented on #1451
your best bet is pinging covertjaguar for a public alpha

[2018-07-03 19:53] liach commented on #1451
(on discord)

[2018-07-03 20:35] liach commented on #1451
Curseforge releases are only made by CovertJaguar. In general, requests like this would never work, and such requests are not related to Railcraft itself. If you are really a noob, look at #1454

[2018-07-04 09:45] Kiritow commented on #1351
存档丢了... 没法重现这个问题了.
I'm sorry that the world is lost and problems can not be reproduced for now.

[2018-07-04 09:45] #1351 closed, assigned to nobody

[2018-07-04 16:57] lion0738 opened #1455 "[1.12.2] Minecraft crashes after moving a while"
https://pastebin.com/SEaFKsdi
https://pastebin.com/EMw0b8xt

Tested by using 'gradlew runclient' command.
Minecraft throws this error randomly when moving around.

java.lang.ArithmeticException: / by zero
    at net.minecraft.entity.EntityTrackerEntry.updatePlayerList(EntityTrackerEntry.java:191)
    at net.minecraft.entity.EntityTracker.tick(EntityTracker.java:297)
    at net.minecraft.server.Min

[2018-07-04 17:02] liach commented on #1455
It is caused by the incorrect update frequency of zero. I will find out which minecart exactly caused this issue.

[2018-07-04 17:14] liach commented on #1455
@lion0738 Can you test if this issue still happens in the latest commit of indev-1.12.2?

[2018-07-04 17:33] lion0738 commented on #1455
It's working without crash now.

[2018-07-04 17:33] #1455 closed, assigned to liach

[2018-07-04 17:34] liach commented on #1455
Thanks!

[2018-07-04 17:34] liach commented on #1455
Thanks for the report! Feel free to open more issues if you find more like this one.

[2018-07-05 04:52] liach opened #1456 "Add fluid recipes and ingredients"
Keys: Put the recipes/ingredients in `_factories.json` instead of registering through `CraftingHelper#register`. Lexmanos says that method is **not** supposed to work.

[2018-07-05 07:07] Snownee opened #1457 "Void Cart and potion don't have their localized names"
![image](https://user-images.githubusercontent.com/16059084/42307478-2821eb6e-8065-11e8-8a61-4b64107a953b.png)
![image](https://user-images.githubusercontent.com/16059084/42307485-30d43910-8065-11e8-9330-b1d4322f54a3.png)

[2018-07-05 08:43] Snownee opened #1458 "Get wrong item when picking item from powered admin charge feeder"

[2018-07-05 14:23] BinaryVigilante opened #1459 "After building the mod, minecraft crashes"
Hi,

I finally figured out how to build the mod. After I build it, I put it in my mods folder, and launched Minecraft where thereafter I get a crash. here is the log:

https://pastebin.com/it7FWS6w

If you need any additional information I will do what I can :)

[2018-07-05 14:32] thedustboy commented on #1459
The crash is intentional. You're only allowed to use the mod in a dev environment, not build a jar file. Read the log, the jar is unsigned and will not run.

[2018-07-05 14:34] Generalcamo commented on #1459
This is specifically to prevent unauthorized distribution in modpacks and throughout the community of a potentially buggy build, and definitely unfinished build. If you want to run it, you must run it in the dev environment.

[2018-07-05 14:34] #1459 closed, assigned to nobody

[2018-07-05 16:29] BinaryVigilante commented on #1459
I can't believe why there aren't any 1.12.2 versions available for download...

[2018-07-05 18:55] Dockter commented on #1459
You are welcome to help contribute code to getting this mod updated to 1.12.2

[2018-07-05 19:54] liach commented on #1459
see #1454 for some help

[2018-07-05 20:58] BinaryVigilante commented on #1459
I mean a mod doesn't have to not have errors to be released. There are many mods that are alpha or beta, and they have files ready for you to install and play.

[2018-07-05 20:59] liach commented on #1459
but only covertjaguar can release the mod and patreons and conttibutors are supposed to test it first

[2018-07-06 00:01] BinaryVigilante commented on #1459
I don't use discord.. so I can't get in contact :( Does he have twitter?

And also, by making an alpha or beta version available for people, issues might be found much faster than if it's just a group of people. (Not saying you are ineffective, just saying with more people, more can be done on that part ;))

[2018-07-06 00:03] liach commented on #1459
@BinaryVigilante https://twitter.com/CovertJaguar
You can go onto IRC if you refuse using discord, see https://github.com/Railcraft/Railcraft#official-links

[2018-07-06 00:04] liach commented on #1459
FYI some insider info: there is debugging by enthusiasts going on
![image](https://user-images.githubusercontent.com/7806504/42353487-80efe556-8075-11e8-962c-85e46d37b59b.png)

[2018-07-06 00:22] liach commented on #1434
Rejected per private discussion.

[2018-07-06 00:22] #1434 closed, assigned to liach

[2018-07-06 00:34] BinaryVigilante commented on #1459
Thanks for the link!
And thanks for the info! I did not know that part :) Thanks!

Don't get me wrong, I love this mod! I just really wanted it on my server where I play with some friends, but I guess I'll wait till the next full release ;) Keep up the good work! :D

[2018-07-07 04:32] liach commented on #316
By the way https://github.com/MinecraftForge/MinecraftForge/pull/4665 may fix this issue once accepted.

[2018-07-07 21:54] liach commented on #1456
See https://github.com/Railcraft/Railcraft/commit/e9e4bdfd19394964113fdac7df4c498dd304c1c6

[2018-07-07 21:54] #1456 closed, assigned to nobody

[2018-07-08 16:09] Allnorm opened #1460 "Problems with rotations of trains"
The bug is shown even on clean assemblies, unpredictable and I can not use the mod because of this. Locomotive for some reason is turned back on corners. Video attached: https://youtu.be/Xh2dh74IQPY Railcraft 9.12.2.0 and 9.12.2.1, but the bug was noticed long ago.

[2018-07-09 00:25] Lilithvia commented on #1460
I get this bug in the dev environment release as well on occasion.

[2018-07-09 11:22] liach commented on #1460
@Lilithvia You mean on 1.12.2?

[2018-07-09 22:26] AlexIIL commented on #559
Engines will be changing *anyway* alongside the MJ rework so I can't really offer much feedback until then.

[2018-07-09 22:27] Generalcamo commented on #559
This will get completely reworked then. Closing the issue for now as obsolete.

[2018-07-10 22:17] #1458 closed, assigned to nobody

[2018-07-11 08:42] Lilithvia opened #1461 "Allow ability for locos to pull from multiple cart types"
I think it would be an asset if carts such as locomotives could pull resources from a cargo or chest cart, then a tank cart if that tank cart is attached to the chest or cargo cart.

This would especially be useful when using locomotives to create longer railway stretches without being able to supply water readily at such distances.

[2018-07-11 08:50] Forecaster commented on #1461
The biggest bottleneck to travel distance is water, fuel is very dense. If you want to extend range focus on tank carts.

[2018-07-11 09:00] liach commented on #1461
Duplicate of #1372

[2018-07-11 09:00] #1461 closed, assigned to nobody

[2018-07-11 09:00] Lilithvia commented on #1461
While I get that is the current strategy to overcome this, the user should be able to automatically resupply via carts.

[2018-07-11 09:02] Lilithvia commented on #1461
This isn't a duplicate of #1372 as it assumes that bug is fixed, but rather suggests the locomotive should be able to pull from two different carts at the same time.

[2018-07-11 09:02] liach commented on #1461
Then it is a duplicate of #635

[2018-07-11 09:04] Lilithvia commented on #1461
Not really.
#635 ended up with CovJ fixing the behavior mentioned so locomotives couldn't pull from multiple types of carts at once.

[2018-07-11 09:05] Lilithvia commented on #1461
A single locomotive should be able to pull from tank and cargo carts attached to each other

[2018-07-11 09:06] Lilithvia commented on #1461
Currently that behavior doesn't exist, and the behavior mentioned in #635 relies on the use of a oversight to work.

[2018-07-11 09:07] liach commented on #1461
@Lilithvia That issue is not fixed. The behavior is not yet determined. As you requested, I will increase the priority of #635, but leave no more comment here. Go to #635 instead.

[2018-07-11 09:07] Lilithvia commented on #1461
Will do

[2018-07-11 09:10] Lilithvia commented on #635
I think locomotives should be able to pull from both cargo/chest carts and tank carts at the same time.

[2018-07-11 09:10] liach commented on #635
Each type of minecart has their own transfer limitations, e.g. cargos cannot transfer fluid or items of different type, tanks can only transfer fluid of its type, and chests not compatible with fluids. The locomotive was able to work in the second case solely because both water and fuel can go through locomotives.

[2018-07-11 09:11] liach commented on #635
Or we may add upgrades to allow certain carts transfer more than one type of stuff at a time

[2018-07-11 09:12] Lilithvia commented on #635
Those kinds of upgrades, or a special cart just for locomotives to pull from (Maybe named "tender cart" like IRL steam locomotives pull both fuel and water from) would be great.

[2018-07-11 09:14] Forecaster commented on #635
That has been discussed in the past. It would have limited capacity though.

[2018-07-11 09:15] Lilithvia commented on #635
I've never really played with cargo carts. I might have to just to give my suggestion for the capacity of tender carts,

[2018-07-11 09:17] Lilithvia commented on #635
Tender discussion should have its own issue.

[2018-07-11 09:19] liach commented on #635
@Lilithvia Next time when you comment, try to express all your ideas in one comment. Some people receive emails from github, and comment like yours may spam their email.

Edit: Feel free to make an issue about tender cart

[2018-07-11 09:27] Lilithvia opened #1462 "Suggestion: Tender Cart"
As discussed in #635 and #1461 , there needs to be a cart that locomotives can draw both liquids and fuel from. A "Tender Cart", if you will.

The Tender Cart would hold fuels and water (Not sure if the temperature of water from installs with BC's new liquid temp feature should be noted), but in a more limited capacity then a tank cart plus a cargo/chest cart would, but allow for the locomotive to

[2018-07-11 14:40] Lilithvia commented on #1399
To be honest, I think the train should explode, or derail or something if it is traveling at high speed on a high speed rail, and hits an unpowered locking rail.

Same if it hits a switch, wye, or vanilla junction.

[2018-07-11 14:42] Lilithvia commented on #1435
1.12.2 release is a farther ways off then a build to add fuel filters to locomotives.

[2018-07-11 17:09] Lilithvia commented on #1460
Correct.
Not often, but on occasion.

[2018-07-11 17:09] Lilithvia commented on #1460
Not often, but on occasion.

[2018-07-12 05:11] Generalcamo commented on #1462
Not a good first issue: This needs more discussion on how exactly this fits here.

[2018-07-16 03:37] AnxQ opened #1463 "Copper ingot compatibility"
The copper ingot (railcraft:ingot) does not compatible with the one in Industrial Craft 2 (ic2:ingot)
In fact, the map does not generate a single copper ore (railcraft:ingot) in the entire world...
Is there something wrong with my config?
Running Minecraft Server on Ubuntu with JDK8.
Minecraft Version: 1.10.2
Railcraft Version: 10.3.1
IC2 Version: 2.6.254-ex110
Forge Version: 12.18.3.2185

[2018-07-16 03:38] liach commented on #1463
What does "compatible" mean here?

具体是没法用工业铜锭代替铁路铜锭合成还是什么别的问题？

[2018-07-16 03:41] AnxQ commented on #1463
对 ic2的铜锭不能代替rc的铜锭

[2018-07-16 08:24] CG-man opened #1464 "I can't build and run the mod on minecraft 1.12.2"
[code]

[2018-07-16 08:58] liach commented on #1464
Will fix it tomorrow once I'm free.

明天我一有空就会修复。

[2018-07-16 09:00] liach commented on #1463
I can fix this in the 1.12 branch. However, the fix won't be released in a while, so you can install CraftTweaker mod and change the current recipes
with it.
我可以在 1.12 中修复，但是修复后需要很久才能放出，可以临时使用 CraftTweaker 调整配方。

[2018-07-16 10:34] ZodiacTrinity opened #1465 "Tracks don't emit redstone the same way as vanilla"
The directional detector track should work like vanilla detector track but it emit a signal redstone only next to the block and not under the block of track like vanilla.

![dectetor_track_vanilla](https://user-images.githubusercontent.com/41287065/42754336-6948fd02-88f4-11e8-8fbd-a30535e100cc.jpg)

![detector_track](https://user-images.githubusercontent.com/41287065/42754343-6cee1c8a-88f4-11e8-8d

[2018-07-16 10:36] liach commented on #1465
As far as I can see the track is not emitting strong power but it should. Unfortunately I am not able to make a fix for Minecraft 1.7 versions; I can try to get this in for the Minecraft 1.12 version instead.

[2018-07-17 01:06] dog5632 opened #1466 "Client crash error"
The log is here: https://paste.ubuntu.com/p/rzdsy9qwHy/
Minecraft version: 1.12.2
Railcraft version: 10.4.0-beta-1-unofficial

[2018-07-17 02:18] liach commented on #1466
@dog5632 Upgrade forge.

By the way, I will add a requirement on forge version.

升级forge

[2018-07-17 02:51] #1466 closed, assigned to liach

[2018-07-17 02:51] #1464 closed, assigned to liach

[2018-07-17 19:02] Amelia- commented on #1398
This still doesn't seem to work. Perhaps I am doing something wrong?

I place Botania and Baubles in the /run/mods folder and then execute ./gradlew runClient. The resulting crash report has the same error as before.

This was with the latest version of the indev-1.12.2 branch.
I am using Botania r1.10-354 and Baubles 1.5.2.

[2018-07-17 21:02] liach commented on #1398
It should not. Botania should be shipping that class, or botania fails to strip that annotation. I will ask botania to remove that compatibility patch until railcraft is fully ready for mc 1.12.

[2018-07-18 01:19] Lilithvia commented on #1462
So after some discussion on the discord, we came up with this being the better of two options:
hat if you could use the tender cart for each locomotive, but depending on the locomotive it was attached to, it could haul different things, in addition to sand to help with traction?
Electric locomotive tenders would store extra charge, allowing them to perform better at lower or nonexistant voltage le

[2018-07-20 05:22] Generalcamo opened #1467 "Add support for CTM for glowing blocks"
Add optional support for the https://github.com/Chisel-Team/ConnectedTexturesMod so we can have emissive maps, similar to what was previously done with Dynamic Lights (see #992). Should be done primarily through MCMeta files, though some JSON and art modifications may be necessary. Blocks to support:

- [ ] Charge Feeders
- [x] Diamond and Emerald Dark Ores
- [ ] Flux Transformers and manipulators

[2018-07-20 05:30] Generalcamo opened #1468 "Migrate to IItemHandler"
Migrate to IItemHandler when MinecraftForge/MinecraftForge#5033 is merged. Should fix mod interaction with mods that fully implemented it (see #1190).

[2018-07-20 06:21] liach commented on #1468
Well, we will just accept item handler capabilities before the vanilla interfaces. This should be easy enough (the capabilities can be added to our base classes and is easy to implement: just use forge's sidedwrapper)

[2018-07-21 08:35] DLumina opened #1469 "About .jar file"
I have waited long for an Railcraft release for 1.12.2, and I tried to follow the instructions on the Internet to compile the source code but failed(since I do not know about Java), so...do you have any plans for an beta version .jar file on curseforge or github?

Thanks a lot for your contributions to my second favorite mod(well, the first one may be botania).

[2018-07-21 10:27] 3TUSK commented on #1469
1. No compiled version available.
  2. Be patient.
  3. Wanna try new version? Run `gradlew runClient` directly. No extra tools needed.

[2018-07-21 11:37] JoshBlyth opened #1470 "Cant find switch track"
in latest update of 1.10.2 i cannot find any way to get the switch track from the creative menu or NEI

[2018-07-21 11:42] LuigiHutch commented on #1470
Duplicate of https://github.com/Railcraft/Railcraft/issues/1364,  You get them by right-clicking tracks with a spike maul.

[2018-07-21 11:43] JoshBlyth commented on #1470
thank you soooo much

[2018-07-21 14:18] #1470 closed, assigned to nobody

[2018-07-21 14:18] #1469 closed, assigned to nobody

[2018-07-27 03:29] dog5632 opened #1471 "[1.12.2]管理员电力提供单元不供能"
重进存档后管理员能量提供单元不再提供能量给线缆支架上的铁轨，必须关闭再开启红石信号才能继续提供能量

[2018-07-27 04:00] liach commented on #1471
见#1413，相同bug
Duplicate of #1413

[2018-07-27 04:00] #1471 closed, assigned to nobody

[2018-07-27 21:49] ObsidianFury opened #1472 "What to do please help"
A mod has attempted to assign Block mods.railcraft.common.fluids.BlockRailcraftFluidFinite@5571554
f to the Fluid 'steam' but this Fluid has already been linked to the Block cofh.thermalfoundation.fluid.BlockFluidSteam@46a0e967. You may
 have duplicate Fluid Blocks as a result. It *may* be possible to configure your mods to avoid this.

[2018-08-01 02:36] liach commented on #1472
It does not crash the game. Come on, no railcraft steam would be placed because Railcraft ask for fluid blocks from forge, which reports the first fluid block registered (in this case, CoFH steam). You will always get CoFH steam which will not hurt.

[2018-08-01 02:36] #1472 closed, assigned to nobody

[2018-08-01 02:37] liach commented on #1468
camo, I think we can bump forge now.

[2018-08-01 05:26] Generalcamo commented on #732
This doesn't seem useful in a Railcraft Setting.

[2018-08-01 05:26] #732 closed

[2018-08-01 05:27] Generalcamo commented on #824
Two options for the engines: Remove or port to MJ. Both of which obsoletes this.

[2018-08-01 05:27] #824 closed

[2018-08-01 05:29] Generalcamo commented on #760
With the buffer removed, you can now just cut off the cable as originally suggested.

[2018-08-01 05:29] #760 closed

[2018-08-01 05:29] #1332 closed, assigned to CovertJaguar

[2018-08-01 05:30] #1203 closed, assigned to CovertJaguar, liach

[2018-08-01 05:30] #1452 closed, assigned to nobody

[2018-08-01 07:04] liach commented on #1452
@Generalcamo do we close all fix in next update issues?

[2018-08-06 03:00] 1a2s3d4f1 opened #1473 "Electric Locomotive can't dyeing（1.12.2）"
https://upload.cc/i1/2018/08/06/6ni2Lq.png

[2018-08-06 05:03] liach commented on #1473
@1a2s3d4f1 试试看在机车头上放一格，底下也放一格染料(看wiki)

[2018-08-06 05:26] 1a2s3d4f1 commented on #1473
@liach https://upload.cc/i1/2018/08/06/97bGqn.png
也不行

[2018-08-06 05:28] liach commented on #1473
@1a2s3d4f1 截图看看

[2018-08-06 05:53] 1a2s3d4f1 commented on #1473
@liach  https://upload.cc/i1/2018/08/06/AmILtj.png
蒸汽机车也不能染色
所有染色合成失效了

[2018-08-11 10:38] 1a2s3d4f1 opened #1474 "[1.12.2] Cascading world gen"
[18:32:39] [Server thread/WARN] [FML]: Railcraft loaded a new chunk [5, 3] in dimension 0 (overworld) while populating chunk [5, 1], causing cascading worldgen lag.
[18:32:39] [Server thread/WARN] [FML]: Please report this to the mod's issue tracker. This log can be disabled in the Forge config.
[18:32:39] [Server thread/WARN] [FML]: Railcraft loaded a new chunk [5, 5] in dimension 0 (overworld) w

[2018-08-11 15:22] GreatOrator opened #1475 "Railcraft crashes if fluid blocks are disabled"
GC Edit: occurs regardless of other mods, crash is result if any fluid block is disabled

## Description
The primary issue is that railcraft appears to be overwriting the immersive engineering creosote as null:

[07:57:28] [Client thread/WARN] [FML]: A mod has attempted to assign Block Block{null} to the Fluid 'creosote' but this Fluid has already been linked to the Block Block{immersiveengineerin

[2018-08-11 16:03] Generalcamo commented on #1475
Which version of Railcraft are you using?

[2018-08-11 18:25] GreatOrator commented on #1475
Railcraft_1.10.2-10.3.1

and

ImmersiveEngineering-0.10-61

[2018-08-12 04:49] Generalcamo commented on #1475
Completely irrelevant to IE, renaming issue accordingly. This issue occurs if any fluid block is disabled.

[2018-08-12 11:27] GreatOrator commented on #1475
Cool,

As long as the issue is identified, I just chose that title because of how I came across it :D  thank you

[2018-08-13 14:52] gamaleev0071 commented on #1431
[19:48:58] [main/ERROR] [FML]: The mod railcraft is expecting signature a0c255ac501b2749537d5824bb0f0588bf0320fa for source Railcraft_1.12.2-10.4.0-beta-1-unofficial.jar, however there is no signature matching that description
[19:48:58] [main/FATAL] [railcraft]: railcraft failed validation, terminating. Please re-download railcraft from an official source.

// Sorry :(

Time: 8/13/18 7:48 PM
Desc

[2018-08-13 15:18] #1398 closed, assigned to nobody

[2018-08-13 21:01] liach commented on #1398
@Generalcamo did botania remove that compat?

[2018-08-13 21:37] Generalcamo commented on #1398
No but the issue is they haven't updated the API. That's not our problem. It's the CartItem class that was updated to use BlockPos rather than three ints that they need to update

[2018-08-20 18:05] MainFreak opened #1476 "[1.12.2] Request for permission regarding modpacks"
Hello.

I know that this is probably an annoying question to a lot of mod developers by now, but I wanted to ask for permission to use the 1.12.2 Beta version of RailCraft in a 1.12 port of my 1.10 modpack.

Since this version is not on CurseForge I am positive that the FTB team will want this from me in order to publish it on their Launcher/Curse. The pack will stay closed beta for about 2-3 week

[2018-08-20 18:10] MainFreak commented on #1476
Oops just saw something regarding this being done via discord. Sorry!

[2018-08-20 18:10] #1476 closed, assigned to nobody

[2018-08-22 02:08] liach opened #1477 "Auto "unstick" of carts on unpowered coupler track kit"
Currently, there are two modes for the couploer track kit: sticky mode and unlink mode. An unstick mode would help in case of shunting.

[2018-08-22 05:23] Generalcamo commented on #1477
I don't understand: Exactly what do you want here and how should it differ from the existing unlink mode? Don't make a vague issue and then label it as a "good first issue" as it will create incentives for messy PRs as the issue wasn't defined well in the first place.

[2018-08-23 02:14] liach commented on #1477
you know rc adds a cart ability to allow carts to link when they collide. the new mode means to remove that ability.

[2018-08-25 05:20] Lilithvia commented on #1477
Basically what Liach was saying in a somewhat more easily understandable form (no offense Liach) was unstick mode wouldn't function like unlink, but rather remove the ability from carts to link together when colliding via sticky mode.

[2018-08-25 05:21] Generalcamo commented on #1477
This should be handled already by an unpowered auto-coupler. If it isn't, then it's an oversight and should be looked into.

[2018-08-25 22:50] Lilithvia commented on #1477
Isn't that the same as unlink?

I'm guessing what Liach wants is something that won't unlink, but will unsticky carts.

[2018-08-25 22:51] Lilithvia commented on #1477
I'm guessing what Liach wants is something that won't unlink, but will unsticky carts.

[2018-08-30 23:46] liach opened #1478 "Token Signal detection issue"
Sometimes by riding carts in and out of a token zone a few times, the token signals simply stay green. This should be addressed with high priority.

[2018-08-31 21:06] CovertJaguar opened #1479 "Steam Brainstorming"
Vexatos: the more I read about power systems, the more I finally want to make my own but I can't
Vexatos: the only content mod I made so far is Factum Opus, and that one required months of designing
Vexatos: and it's tiny
Vexatos: Implementing the power system I had in mind two years ago would be so much effort
Vexatos: Not to mention that by that time PneumaticCraft and FSP came along and impleme

[2018-09-01 05:39] Generalcamo commented on #1479
Due to how complicated this is, this is probably going to be held off for quite a while. There are other things that are of higher priority that will be required before this is feasible. When this is implemented, it should be implemented fully, and that will take a significant amount of attention. Some expansion of the existing steam mechanics are probably a good idea however in the interim.

[2018-09-01 05:48] wormzjl commented on #1479
![image](https://user-images.githubusercontent.com/2989009/44942857-ae6c7d00-aded-11e8-8740-f032c91c7611.png)
Are you trying to play with this -.-?

[2018-09-01 06:11] liach commented on #1479
no, we do not have ideal gas law in minecraft

[2018-09-01 14:54] Hugoland opened #1480 "Multiplayer safety"
Hello,
before I install this mod on my server, I need to know if, when a train is placed by an OP, all linked carts will be protected so other players can't break them, in the 1.7.10 version.
Thanks.

[2018-09-01 17:00] Generalcamo opened #1481 "Gas Turbine"
The idea with a Gas Turbine is to allow a mid-high tier power generation option. It would be distinct from a Steam setup in that while it does need a warmup time, it is much faster to start up than a steam boiler. However it would still be relevant to a steam system as it would provide waste heat which could be used in a special boiler setup for it. This allows for high-efficiency combined cycle p

[2018-09-01 17:05] Generalcamo opened #1482 "Stirling Generator"
A basic Stirling Generator able to run on the choice of either solid or liquid fuels. Intended to bridge the gap between the early game and a turbine, this would be a source of energy for things like Powered Rolling Machines so it isn't quite so frustrating to get the large amount of plates required for those machines. The major disadvantage of it compared to a steam setup is that while it would s

[2018-09-01 19:02] liach commented on #1480
unfortunately you need a protection plugin to achieve that function plugin if you are on cauldron. Or you can try forgeessentials.

[2018-09-01 23:14] Hugoland commented on #1480
Thanks for your answer.
So all new carts in this mod can be protected using WorldGuard "vehicle-destroy" flag, right ?

[2018-09-02 02:47] liach commented on #1480
I think it should.
http://wiki.sk89q.com/wiki/WorldGuard/Regions/Flags
https://worldguard.enginehub.org/en/latest/regions/flags/?highlight=vehicle

[2018-09-02 08:29] Hugoland commented on #1480
Thanks !

[2018-09-02 08:29] #1480 closed, assigned to nobody

[2018-09-02 18:56] liach commented on #1477
This is extremely easy to work on.

[2018-09-02 23:08] liach commented on #1477
Resolved in c7487b5707039e4e478b3d560818fadb4a799e53

[2018-09-02 23:08] #1477 closed, assigned to liach

[2018-09-03 03:10] liach opened #1483 "Remove perpetuum loco and admin spike cart drops"
This way, there is less chance for survival players to obtain these op items on servers.

[2018-09-05 22:14] liach commented on #635
After looking, I'd say this is working as intended. I'd personally remove the linking restriction posed by locos.

[2018-09-05 22:16] liach commented on #1420
Since I cannot replicate loader issue and that the loader issue is fixed, I am closing this. Feel free to request reopen with more evidence.

[2018-09-05 22:16] #1420 closed, assigned to nobody

[2018-09-05 22:17] liach commented on #1372
Addressed in 1.12.2.

[2018-09-05 22:28] #1372 closed, assigned to nobody

[2018-09-05 23:58] #1457 closed, assigned to liach

[2018-09-06 00:03] #1483 closed, assigned to nobody

[2018-09-06 00:34] #1473 closed, assigned to nobody

[2018-09-06 01:25] liach commented on #1384
Unfortunately this mod is not in 1.12, so we cannot support it very well in the future.

[2018-09-06 01:25] #1384 closed, assigned to nobody

[2018-09-06 02:05] liach commented on #850
Now vanilla adds conduit. We do not prefer duplicate features.

[2018-09-06 02:08] liach commented on #1392
Will close this for now since optifine does not yet support data-aware entity lights.

[2018-09-06 02:08] #1392 closed, assigned to nobody

[2018-09-06 02:19] #1265 closed, assigned to liach

[2018-09-06 06:16] liach commented on #1388
We are now sure that when the steam-powered engines are back, they will be producing MJ. Generalcamo is doing the most model design work.

[2018-09-06 06:19] liach commented on #1123
I will close this one because developers cannot replicate this issue, unfortunately.

[2018-09-06 06:22] liach commented on #973
I doubt the explosion part is the same as #1279 - faults of the vanilla system, because when two carts go on opposite directions, they collide normally.
For the drag part, it looks fine. We can override the methods as we need.

[2018-09-06 06:22] #973 closed, assigned to liach

[2018-09-06 06:23] liach commented on #1279
Bumping priority since this not only affects locos hitting mobs but also locos hitting each other.

[2018-09-06 06:24] liach commented on #855
This is "no longer implemented" because old code cannot be merged onto the new base any more.

[2018-09-06 06:26] liach commented on #780
A few things not tested are not that crucial because they are related to post connections and such. Moving this to the next milestone.

[2018-09-06 06:28] liach commented on #706
I will just add this to fluid fuel manager.

[2018-09-06 22:17] VirusSE commented on #1462
Maybe you can also do some interesting mixing of Tender-Carts. You can update your Steam tender to a coal dust tender and insert a coal dust variant of a steam locomotive. Maybe it has the same consumption rate of a coal dust to coal equivalent, but slightly more horse power.
Another combination could be a steam / oil Tender cart for a oil fired Steamer.

Currently i run on my personel server a 1.

[2018-09-07 01:35] Generalcamo commented on #850
Irrelevant: the conduit is an underwater beacon, not a way to store huge amounts of water.

[2018-09-07 01:42] liach commented on #316
Now by overriding a method, I think I managed to fix this issue. Will push soon

[2018-09-07 02:52] liach commented on #1481
@Generalcamo Will this replace the existing steam turbine?

[2018-09-07 04:16] Generalcamo commented on #1481
Read the issue: it is designed to supplement it, not replace it.

[2018-09-07 05:34] Generalcamo commented on #635
This is definitely a bug. Only a cart behind the locomotive should be considered for fuel linkage.

[2018-09-07 06:15] Forecaster commented on #1454
Check here instead:
https://github.com/Railcraft/Railcraft/wiki/Running-instructions-for-Minecraft-1.12.2

[2018-09-07 06:15] #1454 closed, assigned to nobody

[2018-09-08 04:02] liach commented on #1445
Currenly as I've implemented:
- carts
  - bed
  - jukebox
  - linking
  - seasonal (pumpkin/gift)
    - season crowbar

- Tracks
  - coke oven
    - strap iron track
    - spike maul
    - manual rolling machine
      - regular track
      - kits
    - blast furnace
      - high speed track
      - rock crusher
        - firestone

[2018-09-08 08:54] liach commented on #316
It is fixed; a pig can no longer pull a creative locomotive.

[2018-09-08 08:54] #316 closed

[2018-09-08 10:48] AlexJ6301 opened #1485 "Use Maul to create junction => hang"
Use a spike to create a switch, leads to hang (cpu loop).  On restart, maul is missing from inventory.

[2018-09-08 10:56] AlexJ6301 commented on #1445
Advancement for using signals, and maybe for having, say, two trains waiting on signals at once (that then change).

Advancement for using routing tables.

[2018-09-08 18:26] liach commented on #1411
This should be totally fixed by #1487. I will test.

[2018-09-08 18:54] liach commented on #1485
Will fix in next push.

[2018-09-08 20:11] liach commented on #1485
Fixed.

[2018-09-08 20:11] #1485 closed, assigned to nobody

[2018-09-10 08:04] liach commented on #1413
Fixed by 7316d4d

[2018-09-10 08:41] liach commented on #706
@malte0811 How does ie register fluid fuels to other mods?

[2018-09-10 08:53] liach commented on #1460
Also I will move #657 here.

[2018-09-10 08:53] liach commented on #657
Moved to #1460

[2018-09-10 08:53] #657 closed

[2018-09-10 08:54] liach commented on #1475
Fixed by 779a30a

[2018-09-10 08:54] #1475 closed, assigned to nobody

[2018-09-10 08:54] liach commented on #1463
Fixed in 1.12 already.

[2018-09-10 08:54] #1463 closed, assigned to liach

[2018-09-10 08:56] liach commented on #1445
This issue is blocked by the addition of a stirling generator. #1482

[2018-09-10 10:01] liach commented on #1358
It was intentionally ignored when blast furnace is not available. Now it is, so it is fine.

[2018-09-10 10:01] #1358 closed, assigned to nobody

[2018-09-10 10:23] liach commented on #1373
I am working on turbine now. Because of #1481, I am renaming the old turbine to steam_turbine.

[2018-09-10 10:54] AlexJ6301 opened #1491 "Track Relayer should replace underlying track and ignore applied track kits."
Scenario: a rail system that has iron track with track kits applied in various places (e.g. locking tracks) is to be upgraded to electric track.  At the moment the iron tracks with the kits are only recognised by the track relayer if a full rail with the track kit applied is used as the template (i.e. kind of how it used to work).

It would be great if it just replaced the underlying track, leavin

[2018-09-10 15:49] Generalcamo commented on #1491
Related to #1197

[2018-09-11 07:20] liach commented on #890
Followup: @forecaster would be glad to host the emblems.

[2018-09-11 21:51] liach commented on #645
I am adding the metals chest cart too.

[2018-09-11 22:45] liach commented on #1435
Just fill one of the desired fuel in each slot of the locomotive fuel slots instead.

[2018-09-11 22:45] #1435 closed, assigned to nobody

[2018-09-11 22:45] liach commented on #1373
Closing as the current goals are done.

[2018-09-11 22:45] #1373 closed, assigned to CovertJaguar, liach

[2018-09-11 22:46] liach commented on #645
Both void and metals chest carts are added.

[2018-09-11 22:46] #645 closed

[2018-09-11 23:59] liach commented on #1204
I have confirmed that train states are indeed not serialized.

[2018-09-12 00:12] liach commented on #1474
Fixed the one in ore mine.

[2018-09-12 00:13] #1443 closed, assigned to nobody

[2018-09-12 00:47] liach commented on #735
This issue itself is not important, but fluid lighter than air is real.

[2018-09-12 02:27] liach commented on #1357
Fixed in dev.

[2018-09-12 02:27] #1357 closed, assigned to liach

[2018-09-12 02:27] liach commented on #1399
Fixed.

[2018-09-12 02:27] #1399 closed, assigned to nobody

[2018-09-12 02:29] liach commented on #635
Fixed in https://github.com/Railcraft/Railcraft/commit/d397f4b7586af8ac3a9194b77d2fd9aa09952429#diff-1c0b14726287c5acff07e8aea238cd1eR695

[2018-09-12 02:29] #635 closed

[2018-09-12 02:34] #1204 closed, assigned to liach

[2018-09-12 03:29] liach commented on #1112
Uh, my opinion on better interlocking is to introduce linked signal blocks instead.

[2018-09-12 04:05] border999 commented on #1373
A truly awesome thing to hear

[2018-09-13 07:01] TimGoll opened #1493 "[Rendering] Tanks have a rendering issue"
![image](https://user-images.githubusercontent.com/13639408/45472113-7d684280-b733-11e8-807b-e6cfda1f2178.png)

West and east side have their texture on the north (or south) side and are therefore in the wrong orientation

[2018-09-13 07:20] liach commented on #1493
Fixed in code, will push soon.

[2018-09-13 08:10] liach commented on #1112
Closing as I implemented this. Its default delay time is 5 seconds.

[2018-09-13 08:10] #1112 closed, assigned to nobody

[2018-09-13 08:10] liach commented on #1121
Added. It can mix and match with regular coke oven bricks.

[2018-09-13 08:10] #1121 closed, assigned to nobody

[2018-09-13 08:11] liach commented on #1493
See that commit above. It is a change in the blockstate jsons.

[2018-09-13 08:11] #1493 closed, assigned to nobody

[2018-09-13 08:56] TimGoll commented on #1493
nice!
If there's anything to do I can help with this project probably in a few days. I'm a noob at rendering, but the rest is okay. Or I'll just pick an issue and try fixing it :)

[2018-09-13 09:24] liach commented on #291
Railcraft added quite a lot of metals. Now it can handle bronze invar or brass.

[2018-09-13 09:38] #1264 closed, assigned to liach

[2018-09-13 09:38] liach commented on #1180
Done.

[2018-09-13 09:38] #1180 closed, assigned to liach

[2018-09-13 09:41] liach commented on #851
I did not add ores but rather added raw materials, tracks, and carts. The trade station itself needs a redesign, too, so that factor is not considered. See #1180.

[2018-09-13 09:41] #851 closed, assigned to liach

[2018-09-13 10:02] liach commented on #1468
Patched the root classes.

[2018-09-13 10:19] liach commented on #1445
For signals and routing, I would suggest leaving them out. We need to add improved signal blocks. The routing table is not clear enough, too.

[2018-09-13 16:56] Generalcamo commented on #291
Irrelevant, there are far more metals added by mods like EnderIO, Thermal Foundation, TechReborn, and more.

[2018-09-13 17:41] TimGoll opened #1494 "[recipe] crusher has strange recipe"
latest in dev: birch wood stairs result in bricks:

![2018-09-13_19 32 12](https://user-images.githubusercontent.com/13639408/45505499-08295b80-b78d-11e8-84cb-6be6bdbc6c9f.png)

[2018-09-13 17:42] TimGoll opened #1495 "[crusher] items on top of the crusher do not get destroyed"
latest indev, basically the title. The player does die as intended:

![2018-09-13_19 33 54](https://user-images.githubusercontent.com/13639408/45505559-2d1dce80-b78d-11e8-876e-33fae685ad0a.png)

[2018-09-13 17:43] TimGoll opened #1496 "[rendering] tank still not right"
latest indev, still a small error. I think the glass is intended to be rendered the vanilla way, isn't it?

![2018-09-13_19 35 35](https://user-images.githubusercontent.com/13639408/45505613-4de62400-b78d-11e8-86e9-e402419aa237.png)

[2018-09-13 17:44] TimGoll opened #1497 "[feature request] Waila support"
show some basic information for the use in waila

![2018-09-13_19 35 58](https://user-images.githubusercontent.com/13639408/45505654-69e9c580-b78d-11e8-9a8d-d8e482503a5f.png)

[2018-09-13 18:43] liach commented on #1497
I don't think we will support that natively. Waila depends on NEI, which railcraft does not really like. Moreover, waila users will make up a very tiny fraction, and magnifying class covers the most information you need.

[2018-09-13 18:43] #1497 closed, assigned to nobody

[2018-09-13 18:44] liach commented on #1494
Same as #771

[2018-09-13 18:47] TimGoll commented on #1494
I think you replied to the wrong issue. ^^

[2018-09-13 18:47] TimGoll commented on #1495
It's the same as #771

[2018-09-13 18:48] liach commented on #1495
I'd actually leave this open because these two issues have overlaps but having both can better remind me

[2018-09-14 10:06] liach commented on #1494
Oh, I intended to put brick stairs but birch's spelling is too close to that of brick.

[2018-09-14 10:10] TimGoll commented on #1494
I expected something like this :D

[2018-09-14 12:06] #1496 closed, assigned to liach

[2018-09-14 12:06] #1494 closed, assigned to nobody

[2018-09-14 12:06] #1495 closed, assigned to nobody

[2018-09-14 12:07] #771 closed

[2018-09-14 12:51] liach commented on #1411
According to the picture in #1494, the jei integration should be complete now. Closing.

[2018-09-14 12:51] #1411 closed, assigned to nobody

[2018-09-14 12:57] liach opened #1498 "Add electric boiler firebox (electric heater)"
This block serves to supply steam together with boiler tanks when a user has charge but no steam.

The texture is already in the repository.

[2018-09-14 13:49] TimGoll commented on #1411
Can confirm, the JEI integration seemed complete to me

[2018-09-15 04:21] liach commented on #1297
What's the difference between ALL and EMPTY?

[2018-09-15 05:26] Generalcamo commented on #1468
That isn't a full migration, especially for the manipulators. I'm assigning @CovertJaguar to handle them, as he already partially started on it.

[2018-09-15 06:47] liach commented on #1468
manipulators are already covered in item tiles.

[2018-09-15 19:07] liach commented on #1498
Will let camo work on this.

[2018-09-15 22:07] liach commented on #1468
Now our invs appear as item handlers to other mods, but we yet need use item handlers.

[2018-09-18 16:41] liach commented on #787
I am sorry, but I'd say this feature is costly and undesireable. I suggest using more diagonal tracks on curves (3 instead of 1) instead. Vanilla minecarts don't know how they will locate themselves on tracks like these.

[2018-09-18 16:41] #787 closed

[2018-09-18 18:42] BSKCorp opened #1499 "Compile Error - Execution failed for task ':compileJava'"
https://pastebin.com/zwzaPx8j

[2018-09-18 18:45] liach commented on #1499
Do `./gradlew clean cleanCache setupDecompWorkspace eclipse`

[2018-09-18 18:45] #1499 closed, assigned to nobody

[2018-09-20 03:52] Trinsdar opened #1501 "lang file entries are different from the MFSu cart's unlocalized name."
In the lang files entries are like this: entity.railcraft.cart_ic2_mfsu.name and this: item.railcraft.entity.cart.ic2.mfsu.name while the unlocalized names are this: entity.railcraft.cart_ic2_MFSU.name and this: item.railcraft.entity.cart.ic2.MFSU.name. It would probably be easier to just change the unlocalized name.

[2018-09-20 05:38] liach opened #1502 "Fix MC-51053 furnace cart velocity"
https://gist.github.com/thinkofname/1435c96a8d7efcd2698e#file-gistfile1-java-L55

https://github.com/Railcraft/Railcraft/blob/indev-1.12.2/src/main/java/mods/railcraft/common/carts/EntityCartFurnace.java

[2018-09-20 06:05] liach commented on #1306
Rejected as suggested by Generalcamo.

[2018-09-20 06:18] liach commented on #1306
Actually I'd keep it. It is not that problematic.

[2018-09-20 06:20] liach commented on #1501
@Trinsdar Please look at the indev 1.12.2 branch instead. It has been long fixed.

[2018-09-20 06:20] #1501 closed, assigned to nobody

[2018-09-20 20:35] #1502 closed, assigned to nobody

[2018-09-20 22:02] liach commented on #1467
Those two selected ones are not done yet.

[2018-09-20 22:03] liach commented on #1467
Should be something like this: https://github.com/Chisel-Team/ConnectedTexturesPack/blob/master/assets/minecraft/textures/blocks/redstone_block_glow_0.png.mcmeta

Btw this should go to another repo possibly (like railcraft 3d)

[2018-09-23 09:01] UQuark opened #1503 "Recipes do not work on 9.12.2.0 [1.7.10]"
If I want to craft standart track I need to craft a rail but it crafts from... 8 standart tracks! I can't disable new recipes in railcraft.cfg as it said on mc wiki, there is no such property as useOldRecipes. I can't craft steam locomotive because steel plates are not-craftable. I play with ic2, tinker's construct and buildcraft.

[2018-09-23 15:05] liach commented on #1503
look up rolling machine.

[2018-09-23 15:05] #1503 closed, assigned to nobody

[2018-09-23 20:45] Siradical commented on #1462
I thought about writing covert about this, a while ago but figured no one would go for it. Guess I was wrong! Here’s my idea. I think of railcraft as more a miniature railroad transportation system. And in miniature railroads typically… the engineer sits on the tender and operates the locomotive. I think the tender should be a source for coal that feeds directly to the steam locomotive and has sea

[2018-09-24 05:58] liach opened #1504 "Serialize the charge def for nodes (except battery supplier)"
See 7316d4d495f7f11df052121174562cf0fa57d045
I edited the charge system for a few purposes below:

1. #1036 Interfacing charge system (block)
2. #1413 Fix tile interaction issues with the batteries
3. Serializing nodes to the world so that they don't require a chunk load to be loaded again.
4. Use breath first search to prevent stack overflows (Player suggested using bfs over dfs/recursion)
5. Ren

[2018-09-24 20:07] LuigiHutch commented on #1445
An RC advancement spreadsheet @liach asked me to setup: https://docs.google.com/spreadsheets/d/1Vyz0Ou92INNBlzAUzGLQVN0e4_c9LKVLlMzZv4lqRr8/edit?usp=sharing

[2018-09-26 03:17] liach commented on #585
I guess MinecraftForge/MinecraftForge#5160 might handle that.

[2018-09-26 03:43] aikar commented on #585
@liach yes 5160 will greatly help with lots of entity disappearance/rollback issues.

[2018-09-26 03:57] liach commented on #585
Thanks @aikar :heart: Turns out bukkit/spigot can actually help mods instead of "bringing conflicts!" because of your effort!

[2018-09-26 04:08] liach opened #1505 "Charge nodes are not always loaded when a world is loaded"
This behavior may leads to confusions when long-range power system are not fully loaded so that the systems become out of power.

My suggestion:
- Save all nodes and the charge def to the battery save data

[2018-09-26 18:28] Ang3lOfD3ath opened #1506 "indev-1.12.2 Locomotive Will Not Reverse when Clicking R inside the locomotive Gui"
indev-1.12.2 Locomotive Will Not Reverse when Clicking R inside the locomotive Gui

https://www.youtube.com/watch?v=YEP1rWlII5o

[2018-09-27 05:46] Generalcamo commented on #585
The PR was merged in, this needs testing with the latest Forge Versions that include this PR

[2018-09-30 15:23] liach commented on #1506
Looks like a facing desync when the cart is placed. Considering adding a custom spawn handler for the locomotives.

[2018-10-10 19:04] wormzjl commented on #1460
From my observation in 1.7.10, this happens quiet often with trains being loaded only with anchor carts and no players around, which makes remote logistics with RC pretty difficult.
It didn't happen in 1.4.7 version of RC.

[2018-10-11 08:56] TimGoll opened #1507 "[Suggestions] The future of railcraft"
Convert Jaguar asked on Discord what we think about the future of railcraft and I thought this would be an interesting question for a more general audience. Therefore I forwarded this question to reddit. But my posted link got no attention in the discord due to all the messages sent there.
So here is the link with more than 100 replies. https://www.reddit.com/r/feedthebeast/comments/9mx6ik/1122_ra

[2018-10-11 12:14] wormzjl opened #1508 "Some general suggestions about making railcraft a more viable option for remote logistics in survival gaming"
Hello, I'm a hardcore modded MC player and modpack maker. I've been using railcraft for years and always liked the idea of using trains for logistics on a larger scale. Last year I've released a modpack which enforces such activity by requiring players to setup remote mining bases and use rails for ore/oil transportation. The result, however, was not very satisfying, as players tried to evade usin

[2018-10-11 12:24] wormzjl commented on #1508
Also, https://github.com/Railcraft/Railcraft/issues/1460 is a blocking issue if you really want to use RC for unmanned transportation.

[2018-10-11 15:58] liach commented on #1508
Great issue for discussion.

I added some advancements. Dunno if it helps for documentation.

The charge system's tick is not that costly compared to carts. A few networks are ticked to update instead of all positions (as I recall).

[2018-10-14 18:19] liach opened #1510 "Broken object holder prevents smith spawning in railcraft workshops"
https://github.com/Railcraft/Railcraft/blob/49ece603fea98875d46c67633bb584b0416db862/src/main/java/mods/railcraft/common/worldgen/ComponentWorkshop.java#L44

Forge's object holder only works for blocks and items. Blame lex! We need to fix this. (easy one)

[2018-10-14 18:21] liach opened #1511 "Configurable steam boiler explosions"
From #1507
https://www.reddit.com/r/feedthebeast/comments/9mx6ik/1122_railcraft_news/e7ig2se/

Add a configuration entry to disable steam boiler explosions.

[2018-10-14 18:23] liach commented on #1507
I failed to see many suggestions besides that one boiler explosion. @Generalcamo Did you see any more suggestions or bug reports? I plan to move them to other new issues.

[2018-10-15 21:22] liach commented on #1507
Yeah, other than that issue i made, ideas are already in existing issues.

[2018-10-15 21:22] #1507 closed, assigned to nobody

[2018-10-17 06:33] liach commented on #1413
8743eee9892b5d6fafbf7ad77f4305ea3c145fc0

[2018-10-17 06:34] liach commented on #1468
We exposed our invs as handlers but do not yet use others' handlers.

[2018-10-18 00:07] liach opened #1514 "Finish flux transformer power rendering"
Might need to write a new model for more layers.

[2018-10-19 06:31] liach opened #1515 "Railcraft flavored mineshafts"
Add railcraft tracks and carts to mineshafts.

[2018-10-20 16:22] AnnotationThomas commented on #184
Wouldn't it be something like the item (un)loaders as he speaks off.

^^ if above is not on the item (un)loader implemented I also would not know how the new GUI would look like.

[2018-10-20 16:24] AnnotationThomas commented on #243
Would a GUI added to the block not an option? Just to routine the Redstone Signals.

[2018-10-20 16:31] liach commented on #1474
Not fixed after testing. Needs a throughout check.

[2018-10-21 02:40] liach commented on #1510
Lol my fault, it works.

[2018-10-21 02:40] #1510 closed, assigned to nobody

[2018-10-21 15:55] liach opened #1517 "Fix Travis-CI Integration"
Currently, our travis ci integration is broken, breaking pull requests. It is most likely that @CovertJaguar accidentally removed webhooks to travis ci. CJ can try removing rc from travis ci and adding it back. https://travis-ci.org/Railcraft/Railcraft

[2018-10-23 03:13] liach commented on #1413
uh camo, leave a comment at least

[2018-10-23 06:00] liach commented on #1413
Uh, not fixed per camo's comment.

[2018-10-23 23:06] liach commented on #1517
We need to wait for travis ci itself. Ah!

[2018-10-25 09:09] emo64 opened #1518 "Game crash on dedicated server because of TileManager method reference"
When i place a coke oven structure and try to right click it. The block disappear and throw some error
log here: https://paste.ubuntu.com/p/dQspsdYjnv/

[2018-10-25 14:20] liach commented on #1518
the erroring method is getcollisionboundingbox. hmm

[2018-10-25 14:24] liach commented on #1518
hmm, the error is not descriptive at all. remove other coremods (e.g. spongeforge) and report the results

[2018-10-25 14:39] emo64 commented on #1518
It works in singleplayer. So I wonder Is there is a solution for spongeforge?

[2018-10-25 14:41] liach commented on #1518
hmm, let me check

[2018-10-25 14:43] liach commented on #1518
i believe it's a coremod error. send me your mod list

[2018-10-25 14:44] emo64 commented on #1518
Mods (43): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, Sponge, AE2 Stuff, Applied Energistics 2, BC Builders, BC Energy, BC Factory, BC Robotics, BC Silicon, BC Transport, BD Lib, Baubles, Biomes O' Plenty, BuildCraft, BuildCraft Lib, Ender IO, Ender IO Applied Energistics Conduits, Ender IO Base, Ender IO Conduits, Ender IO Integration with Forestry, Ender IO In

[2018-10-25 15:44] liach commented on #1518
@emo129  你是自己构建的还是下载发布的包，你这个error没有信息和方法名称不正常啊

[2018-10-25 15:49] emo64 commented on #1518
是自己构建的 2936c7fe81ac8084580744297b06fb81589f2770

[2018-10-25 16:00] liach commented on #1518
那是四天前了，现在再构建下试试看

[2018-10-25 16:47] emo64 commented on #1518
一样的问题 还是在刷错

[2018-10-25 16:53] liach commented on #1518
哎，试试看一次移除一半mod，如果有错继续移除，如果有错把被移除的一半放回来继续移除，直到找到冲突mod

[2018-10-25 16:54] emo64 opened #1519 "[mc-1.12.2] SpongeForge server crash by villager's pathfinderAI"
Mods (43): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, Sponge, AE2 Stuff, Applied Energistics 2, BC Builders, BC Energy, BC Factory, BC Robotics, BC Silicon, BC Transport, BD Lib, Baubles, Biomes O' Plenty, BuildCraft, BuildCraft Lib, Ender IO, Ender IO Applied Energistics Conduits, Ender IO Base, Ender IO Conduits, Ender IO Integration with Forestry, Ender IO In

[2018-10-25 17:05] emo64 commented on #1518
现在试完了 冲突mod就是spongeforge 那么请问能在以后改善spongeforge的兼容吗

[2018-10-25 17:07] liach commented on #1518
呵呵，我也不知道为什么安了sponge lambda就炸了

[2018-10-25 17:08] liach commented on #1518
我把锅提给sponge

[2018-10-25 17:08] liach commented on #1518
还有 #1519 也是同样原因，静待观察。

[2018-10-25 17:25] richardhendricks opened #1520 "Increase maximum values for fluid cart capacity and fluid loader fill rate"
Hello,
  Gregtech: New Horizons is looking at developing version 3.0 for MC 1.10+, and we would like to encourage players to use rail systems vs just carrying large stacks of fluid cells.

For this to be effective, we would like to increase the maximum tank cart size to 512 B and the maximum fluid loader fill rate to 256 mB/t.

Explanation:
In our modpack, players find "underground oil" in a chunk

[2018-10-25 17:34] Generalcamo commented on #1520
That's more capacity than the metal tanks and the water tanks. I guess an advanced fluid loader could handle higher speeds for modded carts, but what you are asking for the carts would be quite overpowered.

[2018-10-25 17:35] liach commented on #1520
it's not op at all compared to chest carts.

[2018-10-25 17:35] liach commented on #1520
(or even fluid cells)

[2018-10-25 17:36] Generalcamo commented on #1520
Chest carts can't carry fluid cells by default in Railcraft

[2018-10-25 17:43] richardhendricks commented on #1520
In our modpack, we have supertanks with 4,000, 8k ,16k etc capacities.  So a cart that can move 512B at a time fits well with our design.

Just to give you an idea, plenty of our players will also build maximum size Railcraft tanks. We do the weird stuff!

![image](https://user-images.githubusercontent.com/1214811/47519614-84669280-d853-11e8-9397-7aeee1161973.png)

This is change to the maximum si

[2018-10-25 17:44] Generalcamo commented on #1520
Could you not use our API and add your own cart with a super tank?

[2018-10-25 17:46] richardhendricks commented on #1520
That's something we can research, for sure. What about increasing the fluid loader/unloader maximum speeds?

[2018-10-25 17:50] Generalcamo commented on #1520
That's a possibility. Even adding an advanced fluid loader with extra features and a faster speed.

[2018-10-25 18:07] richardhendricks commented on #1520
Like loading/unloading from any direction? <3

[2018-10-27 09:51] emo64 commented on #1518
And there are some broken texture here. Minecart has a transparent texture or totally black steel armor.
@liach 右键箱子车也会有一样的问题，还发现了一些材质的问题，例如列车都是透明的。或者钢头盔和裤子材质是黑色的

![w a cc_4jth2o fw7 vcq66](https://user-images.githubusercontent.com/7891878/47602384-c5f06c80-da10-11e8-928a-8b20dfe6a9d4.png)

![jt3 ag t9g0q6o6a13ehjgt](https://user-images.githubusercontent.com/7891878/47602387-d6084c00-da10-11e8-8a

[2018-10-27 16:09] liach commented on #1518
矿车透明是万圣节特性，右键的错误发一下。装甲我会研究

[2018-10-27 16:12] emo64 commented on #1518
https://paste.ubuntu.com/p/YZVqZbgWjw/

[2018-10-27 16:25] liach commented on #1518
@emo129 这个还是上次村民的那个错误

[2018-10-28 00:06] #999 closed, assigned to nobody

[2018-10-28 14:12] emo64 commented on #1518
是的 挺频发的

[2018-10-28 18:54] liach commented on #1518
@emo129 我的意思是你发了重复的崩溃报告  :sweat:

[2018-10-28 19:41] liach commented on #1279
I actually fixed it by adjusting collision box size in minecarthooks.

[2018-10-28 19:41] #1279 closed, assigned to liach

[2018-10-29 01:52] liach commented on #942
What I see is that we can change vanilla spawners' activation ranges and increase its change to spawn mobs with more exp drops, etc. We can also add a minecart form that can be linked to a spawner minecart. #939

[2018-10-29 01:53] liach commented on #939
It came a bit late (after 2 years), but here it comes.

[2018-10-29 01:58] liach commented on #1518
应该在 ab5fa1eef449058f1539604681832ed466305384 中修复了。再更新下试试看，保留SpongeForge

[2018-10-29 06:40] liach commented on #939
#1522 merged

[2018-10-29 06:40] #939 closed, assigned to liach

[2018-10-29 08:45] emo64 commented on #1518
还是一样的错误
https://paste.ubuntu.com/p/dWtqk3d8cq/

[2018-10-29 09:48] liach commented on #1518
降级java有没有用

[2018-10-29 19:32] liach commented on #1519
Merging this into #1518

[2018-10-29 19:32] #1519 closed, assigned to nobody

[2018-10-29 21:32] liach commented on #1514
I suggest looking into https://github.com/Railcraft/Railcraft/tree/fix/flux-transformer-active for further development.

[2018-10-30 02:56] liach commented on #1517
Fixed as seen in #1513

[2018-10-30 02:56] #1517 closed, assigned to CovertJaguar

[2018-10-30 02:57] liach opened #1524 "Minecart with more health"
Low health is one of the major issue of minecarts. For example, when you are riding a train through wilderness, skeletons might start shooting at you; sometimes, a bowshot from a skeleton is enough to kill a minecart in the train and thus, break the whole train. I suggest something like a shulker cart to defend the rider.

[2018-10-30 11:48] emo64 commented on #1518
没有用

[2018-10-31 21:21] liach opened #1525 "Improve performance of Multiblock detection"
Right now, we check multiblocks every few ticks. Discord user Trinsdar suggested using a tool while I suggest checking when the tile entities are added or removed instead (a set of chunk positions to check).

[2018-10-31 21:26] TimGoll commented on #1525
I'd recommend a tool, because most players are familiar with this technic from IE and it should be slightly better performance wise

[2018-11-01 00:41] CovertJaguar commented on #1525
What? Do any of you actually understand how the system works?

It checks once! And then it sits idle waiting for something to change!

It does _not_ check every "few ticks", AKA 256, unless half the structure is unloaded and it can't tell if its valid or not. There might be some room for improvements in this one edge case, but that's it.

Railcraft has _always_ been lauded as having the simplest a

[2018-11-01 00:41] #1525 closed, assigned to nobody

[2018-11-01 00:50] CovertJaguar commented on #1524
We could probably just buff the minecart "health" vs everything except players breaking them with empty fists.

[2018-11-01 00:59] CovertJaguar commented on #1453
It's not "funky", its just a depth first search topological algorithm.
https://en.wikipedia.org/wiki/Topological_sorting#Depth-first_search

[2018-11-01 01:22] CovertJaguar commented on #1508
Yes, the Charge system was specifically redesigned a while back so that basically only generators need to tick. The blocks that just transmit or store charge are normal non-ticking blocks, they don't even have tile entities.

The Worldspike carts actually currently load 5x5 areas because 3x3 wasn't large enough to make junctions work correctly. There might be an argument here for separating the Si

[2018-11-01 01:27] liach commented on #1524
Or reduce damage taken by minecarts when hit by projectiles

[2018-11-01 01:32] CovertJaguar commented on #585
Closing until we receive a positive report that this still happens.

[2018-11-01 01:32] #585 closed

[2018-11-01 01:38] CovertJaguar commented on #1482
I still think a small steam engine would be more interesting than a Stirling Engine.

[2018-11-01 01:40] liach commented on #1525
Hmm, if people report lags, we will ask them to use sampler to profile.

[2018-11-01 01:46] liach commented on #1453
The issue is the construction of load order that is inefficient. https://github.com/Railcraft/Railcraft/blob/6e91f36a963d34e48cd4dacf1a24691ba077e232/src/main/java/mods/railcraft/common/modules/RailcraftModuleManager.java#L172 Linked lists handle `contains` methods at `O(n)`, which is somewhat a big hit.

[2018-11-01 01:48] liach commented on #1453
In my opinion, we should pull dependency information to local variables to speed up the process instead of looking up in the annotation repeatedly at the same time.

[2018-11-01 06:05] CovertJaguar commented on #1520
I feel like you are looking at this the wrong way.

Even if we increase the tank cart size to some ludicrous value, I don't see how that incentivizes anyone to change their behavior.

At 500 buckets, you'd fill one of your 4k tanks with only 8 tank carts of fluid, that's ridiculous.

The ultimate outcome of doing this would be that players would still fly their fluids home, but they'd store them i

[2018-11-01 06:15] CovertJaguar commented on #1453
Never said it was efficient, just that it wasn't funky or unusual. =P

Are annotations actually that slow?

[2018-11-01 06:26] liach commented on #1520
I'd suggest decreasing fuel usage of railcraft locomotives. Last time I tried, it takes about 10 coal blocks, or 100 coal, to travel about 1000 blocks on a train with only me (from my base to neptunepink's base on the patron server). A lower value similar to that offered by vanilla (5 blocks/s for 80s, equivalant to 400 blocks/coal), such as 100 blocks per coal, compared to what we have now (10 bl

[2018-11-01 06:37] liach commented on #1222
@CovertJaguar To link with command, it still is a bit difficult: you need to do
`/entitydata <uuid of cart a> {ForgeData:{rcLinkAHigh:"<uuid high of cart b>"}}`
`/entitydata <uuid of cart a> {ForgeData:{rcLinkALow:"<uuid low of cart b>"}}`
And vice versa for the other cart; moreover, both link should be checked. This might be a good addition, but I will reopen it if someone requested it.

[2018-11-01 06:38] liach commented on #1222
Eh, should not have pinged CJ.

[2018-11-01 15:31] richardhendricks commented on #1520
@CovertJaguar - Yes, that is exactly our plan.  We will be reducing the stacksize for cells from 64 to 16, and probably removing large cells entirely, or else making them give slowness/root you.

Also, the 4K tanks are the smallest "super" tanks - they go up to 64k (totally appropriate within the pack).  And you're right, a train can easily be expanded by adding carts.  128 buckets per cart would

[2018-11-01 15:41] richardhendricks commented on #1520
Also, are there examples of the minecart API?  I spent a while looking at it (I am not a java dev, more algorithms focused), and couldn't figure out heads or tails from it.   Based on my quick look the maximum would limit carts created via the API as well, right? Could we use Reflection within our modpack coremod to update the maximum ourselves?

Thanks again.

[2018-11-02 05:06] Generalcamo commented on #480
I believe with the modern kit system, this is effectively obsolete.

[2018-11-02 05:06] #480 closed

[2018-11-02 05:52] liach commented on #1144
why? we just enhance our data for more packets for different effects.

[2018-11-02 05:54] liach commented on #480
closing not because of kit but because this is hard to implement while people don't have too much interest.

[2018-11-02 19:53] Folkloremcgrinme opened #1526 "..."
...

[2018-11-02 20:17] #1526 closed, assigned to nobody

[2018-11-02 20:17] Folkloremcgrinme commented on #1526
closed

[2018-11-03 12:23] alwaeles opened #1527 "Water Tank gives StackOverflowError after right clicked on."
Hi,

I tried to build a Water Tank but at the first try nothing happened by right clicking it.
Then I broke some blocks of the structure, I placed them again and I right clicked and I got a crash that occurs every time I try to play on the world.

I'm using Railcraft on development environment (GitHub, mc-1.12.2).

Here's the crash report: [crash-2018-11-03_11.12.34-server.txt](https://github.com/

[2018-11-03 15:26] alwaeles opened #1528 "Formed Steam Oven gives ArrayIndexOutOfBoundsException when breaking blocks."
Hi back,

Still trying things. Now I built and opened a Steam Oven but when I broke one of its blocks, the game crashed.

I'm still using the same version: runClient in mc-1.12.2.

Here's the crash report: [crash-2018-11-03_16.21.34-server.txt](https://github.com/Railcraft/Railcraft/files/2545085/crash-2018-11-03_16.21.34-server.txt)

Thank you,
Axelandre

[2018-11-04 17:05] alwaeles opened #1529 "Coupling Track crash NullPointerException while passing Carts"
Hello,

I tried to link carts using a Coupling Track but when I passed the carts it crashed.

I'm using Railcraft on development environment (GitHub, mc-1.12.2).

Here's the crash report: [crash-2018-11-04_13.43.15-server.txt](https://github.com/Railcraft/Railcraft/files/2546051/crash-2018-11-04_13.43.15-server.txt)

Thank you,
Axelandre

[2018-11-05 04:06] Voxel-Friend opened #1532 "Game Crashes When Disabling Resource Module"
Using unofficial beta 1 for 1.12.2. Seems to happen also when simply disabling dusts. alternatives exist in my pack to the dusts so recipes are not broken afaik.
Crashlog:
https://gist.github.com/Voxel-Friend/65b730092d3f066941aaa8d66173f94a

[2018-11-05 05:24] liach commented on #1532
Will make the config fail-safe instead. Moreover, note that once you disable a module, you have to change many related stuff, especially advancements and loot tables (loot tables will yield nothing if one of its entry is in a disabled module)

[2018-11-05 05:34] Voxel-Friend commented on #1532
Is all that configurable in the config?

[2018-11-05 05:44] liach commented on #1532
See https://minecraft.gamepedia.com/index.php?title=Loot_table&oldid=1115017#Custom_Maps
The loot tables are changed in vanilla ways. For railcraft, change the `<custom directory>` part to `railcraft` (must be all lowercase). A few are available here at https://github.com/Railcraft/Railcraft/tree/mc-1.12.2/src/main/resources/assets/railcraft/loot_tables/chests . For example, you will refer to the

[2018-11-05 05:45] liach commented on #1532
For now to stop the crash, remove the dusts from the list of worldspike fuels. I bet you need the void dust for worldspikes to run.

[2018-11-05 05:53] liach commented on #1532
For the advancements, see https://minecraft.gamepedia.com/index.php?title=Advancements&oldid=1151757#JSON_Format

[2018-11-05 05:56] Voxel-Friend commented on #1532
Thanks!

[2018-11-05 22:26] alwaeles opened #1533 "Railcraft API not included in classpath while building."
Hi,

The title says a lot. It happens when executing `./gradlew runClient` and in the jar file.

Some debug provided by SamTDS and Mineotopia (see discord):
[crash-2018-11-05_19.10.26-client.txt](https://github.com/Railcraft/Railcraft/files/2550847/crash-2018-11-05_19.10.26-client.txt)
[Gradle Execution](https://gist.github.com/TimGoll/ff501730f6d143f89d7228cc2e57d827)

Thank you,
Axelandre

[2018-11-06 06:38] liach commented on #1533
Fixed in #1534

[2018-11-06 07:12] liach commented on #1532
After discussion, we decided to crash with a clearer message instead.

[2018-11-06 07:35] CovertJaguar commented on #1532
At the very least it needs to print which file and setting failed.

[2018-11-06 22:21] #1533 closed, assigned to liach

[2018-11-06 22:27] #1527 closed, assigned to nobody

[2018-11-06 22:27] #1528 closed, assigned to nobody

[2018-11-06 22:27] #1529 closed, assigned to nobody

[2018-11-07 07:43] liach opened #1535 ""GodRail"/"FlexRail" tool"
A tool, much like the rail building tool in OpenTTD, etc. that allows you to lay rails faster than vanilla's block place limit, and it can lay over hills and diagonals.

It should be creative exclusive (or configurable for survival?)

[2018-11-07 11:42] CovertJaguar commented on #1504
You talk about serializing nodes, but I don't see code for that anywhere...

[2018-11-07 12:02] liach commented on #1504
Because the names of files were reverted. See https://github.com/Railcraft/Railcraft/blob/7316d4d495f7f11df052121174562cf0fa57d045/src/main/java/mods/railcraft/common/blocks/charge/ChargeSaveData.java

[2018-11-08 05:25] YCLiang95 opened #1536 "[1.12.2] Crash on world load when installed with Immersive Engineering"
full crash report https://pastebin.com/XVNNn5PB

Railcraft version is commit "Minor stuff" 91ee3309c8d7ed1436c4dcad45b1579ee3e4e410 in branch mc-1.12.2, build by myself.
Immersive Engineering 0.12 - 86

Removing Railcraft or IE solve the problem. I have a total of 165 active mods. I was not on a server, just local single player, not open to LAN.

creating new worlds and loading old worlds both cau

[2018-11-08 05:28] liach commented on #1536
Caused by https://github.com/Railcraft/Railcraft/commit/05b70b8194bda73265f2e4c675feb54c2032d707#diff-d39248d34cd796c9b4a7abf732d9b1b1R178

[2018-11-08 05:30] liach commented on #1536
@CovertJaguar Eh, vanilla didn;t broke but immersive engineering did. Fun enough.

[2018-11-08 05:56] liach commented on #1518
https://github.com/MinecraftForge/MinecraftForge/pull/5127

[2018-11-08 05:59] CovertJaguar commented on #1036
Closed by:
https://github.com/Railcraft/Railcraft-API/commit/d54ca4bcc3ec9402df87e4aba7715b12573990cd
https://github.com/Railcraft/Railcraft-API/commit/0004943c1e76184bfd45615c40f24328054ce035
https://github.com/Railcraft/Railcraft-API/commit/ab32a4b31347313d0bff3301a952c6b8f240fde2

[2018-11-08 05:59] #1036 closed, assigned to CovertJaguar

[2018-11-08 06:05] CovertJaguar commented on #1535
There was talk once of adding markers like Buildcraft's marker system to lay out paths for the Track Layer to follow.

[2018-11-08 06:31] CovertJaguar commented on #1413
I don't even know what this is about, closing unless further details provided.

Is this different from #1505?

[2018-11-08 06:31] #1413 closed, assigned to liach

[2018-11-08 06:33] liach commented on #1413
it was fixed as emitters now behave correctly after a reload.

[2018-11-08 06:50] #1263 closed, assigned to nobody

[2018-11-08 06:53] #735 closed

[2018-11-08 07:01] CovertJaguar opened #1537 "Split Charge Network into Discrete Parts"
A conversation with @Generalcamo lead to realization that it would be simple to create multiple variants of the Charge network. The different networks would not be directly connected but "transformers" could be used to connect them together.

In more general terms, this allows things long range Transmission lines with low resistance losses.

**Proposed Networks:**
- [x] Distribution - What we have

[2018-11-08 07:20] #1536 closed, assigned to nobody

[2018-11-08 07:32] CovertJaguar commented on #1205
I could have sworn a wrote down a bunch of numbers for this somewhere....

[2018-11-08 12:11] liach commented on #1518
Temporary fix pushed.

[2018-11-09 07:33] Vectrobe commented on #1482
why not a single-block dynamo?

[2018-11-09 07:36] Vectrobe commented on #1511
think we want the option for a blown safety valve? ie; the boiler 'breaks' and needs either interaction with a tool or break-replace to continue working again.

Or simply disable the explosion event and let the boiler just work normally, without going above its max temp nor stop consuming fuel?

[2018-11-09 19:14] alwaeles opened #1540 "Trying to open boiler makes StackOverflowError."
Hello,

I built a steam boiler and when I right clicked it, the game crashed with a StackOverflowError.

I'm using Railcraft Alpha: 12.0.0-alpha-6.

Here's the crash log: [crash-2018-11-09_20.00.25-client.txt](https://github.com/Railcraft/Railcraft/files/2567210/crash-2018-11-09_20.00.25-client.txt)

Thank you,
Axelandre

[2018-11-09 22:47] liach commented on #1540
Another master block inconsistency.

[2018-11-10 02:42] texaswriter opened #1541 "Game crashes on placing certain carts. 1.12.2 alpha 6"
With a new world (tried twice), after placing a single cart (successfully), the game crashes when placing a second cart. So far, this has happened with placing two chest carts (crashed upon placing second chest cart). It happened again after placing a chest cart (didn't crash) and then placed tnt cart (crashed). This will crash the game repeatedly after this until the player moves out of range of

[2018-11-10 07:04] Vectrobe commented on #1541
I haven't been able to replicate it on my end, is it just with 'vanilla' rails and 'vanilla' carts? in a straight line?

[2018-11-10 13:48] liach commented on #1541
Good point, we need to start syncing trains to the client.

[2018-11-10 13:48] liach commented on #1541
This only happens when you place carts on abandoned tracks, right?

[2018-11-11 02:40] texaswriter commented on #1541
I tested this on the tracks in the Railcraft buildings when it is generated in a vanilla village (are those abandoned?). I did not have crashes when I placed tracks on my created tracks, but I can test that if it will help.

[2018-11-11 22:24] Vectrobe commented on #1541
oooh does this only occur on vanilla, generated mineshaft tracks?

[2018-11-12 02:07] liach commented on #1541
no, but abandoned tracks generate in villages.

[2018-11-13 01:40] liach commented on #1540
I doubt some code was missed in the merge performed by CJ. Will check.

[2018-11-16 04:38] liach commented on #1532
Well, I just made a mod for that purpose. https://github.com/liachmodded/datapacks/

[2018-11-16 23:46] CovertJaguar commented on #1205
The two disposable batteries are implemented, but they need some texture tweaking and need some more attention on how to handle initial charge state and how to handle a discharged state.

[2018-11-16 23:55] CovertJaguar commented on #1541
Actually there is no reason for the client to _ever_ touch trains. I added that exception to help track down such things.

In this specific case, we don't sync NBT data for the cart either, so syncing the train would make no difference.

There is an argument to made that this will negatively impact client simulation vs server simulation and result in weird behavioral artifacts such as stuttering,

[2018-11-17 00:08] #1541 closed, assigned to nobody

[2018-11-17 00:45] CovertJaguar commented on #1518
Fixed by Forge.

[2018-11-17 00:45] #1518 closed, assigned to liach

[2018-11-17 00:47] CovertJaguar commented on #1532
I kind of figured we'd just hardcode it into the parser call.

[2018-11-17 00:49] CovertJaguar commented on #1506
Can confirm the issue, though I doubt it has anything to do with placement since the facing is calculated when the cart starts moving if it doesn't already know. Probably a GUI issue or something. It used to work.

[2018-11-17 01:47] CovertJaguar commented on #1460
For background purposes, Minecraft does not track orientation of minecarts correctly. You can see this by watching Chest Carts go around loops, they will reverse their orientation every other corner. To get around this Railcraft tries to track when a "reversal" happens using some fancy math that inspects the size of the orientation deviation every tick and un-reverses the cart when a reversal is d

[2018-11-17 01:55] CovertJaguar commented on #972
The "orientation" is unknown until the Locomotive starts moving. This a known limitation.

[2018-11-17 01:58] CovertJaguar commented on #1478
I believe there is a certain place that if you stop and reverse back into the zone instead of leaving fully for a time, the signals have no way to tell where you went. I know of no way to fix with the current implementation.

[2018-11-17 02:01] CovertJaguar commented on #1310
For what's worth, the Railcraft API would make it trivial for Steve's Carts to shut off when held by a locking track.... I think.

[2018-11-17 02:03] CovertJaguar commented on #1297
I think ALL will send the cart when it can't move anything else.

[2018-11-17 02:28] CovertJaguar commented on #1272
See #1460 for rotation issues.

"Derailment" as a game mechanic only happens on Abandoned Tracks over a certain speed of travel. At which point the cart sees the track as having rotated 90 degrees. This kicks it off the tracks, but never marks it as being unable to use rails.

There are some other cases involving elevators and launcher tracks that might be able to result in carts that can't use tr

[2018-11-17 02:28] #1272 closed, assigned to nobody

[2018-11-17 02:35] CovertJaguar commented on #1198
See #1467 and #460

[2018-11-17 02:47] CovertJaguar commented on #892
I'm not sure. This must be that render code that was crashing when you added the spawner cart override. I'd have to look again but I'm pretty sure it won't touch our renderer, which means no cart shaders.

[2018-11-17 03:01] CovertJaguar commented on #460
See #1198 and  #1467

[2018-11-17 03:02] CovertJaguar commented on #1467
See #1198 and   #460

[2018-11-17 05:25] CovertJaguar commented on #638
Fixed, assuming that the fluid name is "ic2biogas". I think that was how IC2 registers it, but its hard to tell.

[2018-11-17 05:31] CovertJaguar commented on #1504
Hmm... you just serialize the ChargeDef, I can see that working pretty well. I hadn't considered that.

[2018-11-17 06:07] CovertJaguar commented on #426
I believe this has been done in a Railcraft compatible manner already in one of the addon mods.

[2018-11-17 06:07] #426 closed

[2018-11-17 06:22] CovertJaguar commented on #823
Probably not super hard, but I doubt you will get what you desire without some editing afterwards. There is a lot of overlapping conditions you might extract from a Locomotive.

[2018-11-17 06:24] CovertJaguar commented on #291
You'd need some way to look up crafting recipes as we can't just assume that you can craft nine ingots into one block.

[2018-11-17 07:40] CovertJaguar commented on #1520
Well... you can do anything with a core mod.

I'm just kind of old school when it comes to how I feel things should be balanced, probably for no good reason really. Sure let's crank it up and do something about loaders.

[2018-11-17 07:47] #1520 closed, assigned to nobody

[2018-11-17 08:03] CovertJaguar commented on #890
Emblems are uploaded to the new location. We just need to update the link.

Is rendering still broken?

[2018-11-17 09:26] liach commented on #890
Yes. The model should be simple; online grabbing textures should be easy, too. In the worst case, we can still tile entity item stack renderers.

[2018-11-17 09:27] liach commented on #1504
I save the def except the battery supplier.

[2018-11-17 09:39] CovertJaguar commented on #1375
You know you can just delete the config files right?

[2018-11-17 09:41] CovertJaguar commented on #1472
Unless your server and client have different mod load orders, then all bets are off.

[2018-11-17 09:43] CovertJaguar commented on #1476
Or you could have just read the license...

[2018-11-17 09:43] CovertJaguar commented on #1483
What is an admin spike cart?

[2018-11-17 10:01] liach commented on #1483
admin worldspike cart

[2018-11-17 11:57] Vectrobe commented on #1460
due to mc's low tickrate (most other engines are 60+), there's likely a level of mathematical undefined behaviour when carts run at certain speeds, or at certain distances to certain track conditions.

[2018-11-17 22:21] CovertJaguar commented on #1460
Additionally, the client and server track orientation separately and are only loosely coupled.

[2018-11-18 04:36] CovertJaguar opened #1542 "Force Track Emitter textures aren't colored and don't update."
**Describe the bug**
Force Track Emitter textures don't update properly and lack the colored overlay.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block, power source, and lever
2. Flip lever and see the failure.

**Expected behavior**
Color and updates!

**Screenshots**
![2018-11-17_20 52 36](https://user-images.githubusercontent.com/1521970/48668782-c37eb100-eaaa-11e8-88de-c520028

[2018-11-18 05:01] CovertJaguar commented on #1306
Well other than the anvil code being super annoying and needing to be updated every Minecraft version since they are _always_ changing it.

And being slightly pointless.

[2018-11-18 05:01] #1306 closed, assigned to liach

[2018-11-18 05:02] CovertJaguar commented on #1498
Only one comment, be wary of possible infinite power loops.

[2018-11-18 05:16] CovertJaguar commented on #850
Actually... I think the conduit could be a useful thing to tap into for help with charging a Waterstone.

Such as it needs to be used on a conduit built at a certain depth beneath the surface of an ocean biome. Doing so spawns some mobs to fight.

[2018-11-18 05:19] CovertJaguar commented on #855
Right so I need to do some git magic it looks like to bring this in.

[2018-11-18 07:19] CovertJaguar commented on #1434
SynGas was always planned.... Coke + Steam in the ChemLab.

[2018-11-18 07:22] CovertJaguar commented on #1387
Does this actually work? I expect the switch logic to fail as badly here as it does when you place corners next to switches.

[2018-11-18 07:37] CovertJaguar commented on #549
The skybridge thing is kind of cool. I'll poke it eventually. Probably once @liach is done with the relayer rework.

[2018-11-18 11:21] liach commented on #1498
camo is in charge of the numbers, i believe.

[2018-11-18 11:24] liach commented on #850
Can we require the shells in 1.13 to recharge the waterstone?

[2018-11-18 21:39] Vectrobe commented on #1498
Well, IRL making steam from electricity would be 100% efficient in a perfectly heat-sealed system, however generating electricity from steam only has about 50 efficiency at the most, depending on the setup and whether superheated steam is used.

So needing about twice the electricity per steam, than what you would generate per steam, makes sense.

[2018-11-18 23:50] CovertJaguar commented on #850
Oh....the Heart of the Sea would be a great thing from which to craft the Waterstone.

I'm not sure shells are common enough.

[2018-11-19 00:15] liach commented on #850
shells are rare drops of fishing and the drowned mob. it's easy to find hearts if you explore enough of the map, as there are many shipwrecks.

[2018-11-20 18:21] agentwolf88 opened #1543 "1.12.2 server crash at startup"
https://paste.ee/p/Vlvol

[2018-11-21 00:17] texaswriter commented on #1543
The crash report shows you are using alpha 1, meanwhile alpha 6 is available per the patreon.

[2018-11-21 17:29] liach commented on #1543
Yeah, this has been fixed in alpha 6 in theory. Btw don't edit the crash report like https://paste.ee/p/Vlvol#s=0&l=2

[2018-11-21 17:29] #1543 closed, assigned to nobody

[2018-11-25 15:40] YukaiDragon opened #1545 "Train crash with loading Railcraft 1.12.2 A6"
**Description of the Bug**
Was playing Minecraft and everything was alright, made a few items such as the Coke Oven and the Metal Roller. I already had a Locomotive made also. I went exploring to look for more coal for the oven. Went into a cave for a while and all the sudden the game crashed. When I attempted to reload the save, it would crash immediately after "loading terrain", but the crash lo

[2018-11-25 19:02] liach commented on #1545
post a crash report.

[2018-11-26 04:48] YukaiDragon commented on #1545
[crash-2018-11-25_11.34.31-server.txt](https://github.com/Railcraft/Railcraft/files/2614099/crash-2018-11-25_11.34.31-server.txt)

[2018-11-26 05:04] YukaiDragon commented on #1545
It also did the same thing with the Locomotive, also I did realize I guess it showed that the Coke Oven caused the crash x.x whoops. Water and Coal were in the locomotive, and went to exit the game and it crashed on startup also
[crash-2018-11-26_00.02.21-server.txt](https://github.com/Railcraft/Railcraft/files/2614130/crash-2018-11-26_00.02.21-server.txt)

[2018-11-26 06:02] liach commented on #1545
Hmm, same as #1540

[2018-11-26 06:03] liach commented on #1545
The train crash is a different one, though. Still related to trains.

[2018-11-26 06:09] liach commented on #1540
Uh, this should be included in next update alpha 7. My bad...

[2018-11-26 06:09] #1540 closed, assigned to nobody

[2018-11-26 11:39] Kiritow opened #1546 "Router switch crashes client"
**Description of the Bug**
When the router switch switches, the client gets freezed and then gets crashed in a few seconds. Tested in both singleplayer and multiplayer (The server won't crash) .

**To Reproduce**
Steps to reproduce the behavior:
1. Place some tracks on the ground. (reinforced track)
2. Place one locomotive, two tank minecarts and one chunkloader minecart. Then connect them.
3. Use

[2018-11-26 21:11] richardhendricks commented on #1520
Thanks so much!

[2018-11-26 21:55] liach commented on #1546
感谢你又找到一处代码漏洞！我们会尽快修复。
Thank you for finding another misuse of train code! We will fix it as soon as possible.

[2018-11-26 22:26] Hakameda commented on #1520
Would help our world, exu drum carts =)

[2018-11-26 22:31] liach commented on #1520
It's not railcraft's job to support an RF mod.

[2018-11-26 22:45] liach commented on #1526
Oh, that is just a case of cart derail.

[2018-11-26 22:47] liach commented on #1520
Honestly, I should say "a random mod" instead. Moreover, Minecraft 1.7.10, the version you play on, is no longer supported @Hakameda, so the cart won't be added by Railcraft (you can ask other interested people to make an addon instead.)

[2018-11-26 23:09] Hakameda commented on #1520
You make it sound like we wouldn't also play gtnh on 1.12, ATM it's broken. It's almost better to wait for it to update so we can do railworld

[2018-11-28 05:56] texaswriter commented on #1545
Not sure if I am having the same issue. Had 4 coke ovens producing creosote/coal coke. Went to go mining, and now the server crashes whenever my client connects. Actually rolled the server back 40 minutes (coke ovens were still producing at that point) and the client still crashes the server upon connection.
[crash-2018-11-27_23.37.09-server.txt](https://github.com/Railcraft/Railcraft/files/262308

[2018-11-28 06:11] liach commented on #1545
@texaswriter for that one see bug #1540. ask cj for another alpha

[2018-11-28 09:07] CovertJaguar commented on #1545
I still haven't tracked down the train crashes. But the coke oven one should be fixed.

[2018-11-28 09:14] #1546 closed, assigned to nobody

[2018-11-28 11:49] YukaiDragon commented on #1545
I put a locomotive into the world and the game loaded fine, even ran the locomotive and exited and it loaded up fine too. Just with a cart and the train.

[2018-11-28 18:35] liach commented on #1545
Try link 3 carts and kill one of them.

[2018-11-28 18:44] liach commented on #1546
Fixed in alpha 7.

[2018-11-28 20:29] CovertJaguar commented on #1545
Probably what I need to do is mark Trains for deletion when the cart dies, but actually do the garbage cleanup during the world tick or something.

[2018-11-28 22:04] Ang3lOfD3ath opened #1547 "Alpha 7 - Cargo Cart Item Filter Bug"
**Description of the Bug**
1.12.2 RailCraft Alpha 7 Cargo Cart Item Filter Bug

**To Reproduce**
Steps to reproduce the behavior:
1. Place block/cart '...'
2. Click on '....' try and put in items

**Screenshots & Video**
https://www.youtube.com/watch?v=riARpY80QCo

**Environment**
 - Version [e.g. Railcraft 12.0.0-alpha-7]
 - Forge version. 14.23.5.2772
 - Possible conflicting mods and their versi

[2018-11-28 23:08] AlexJ6301 opened #1548 "Alpha 7 - Signal Surveyor does not recognise Token Signal"
**Description of the Bug**
Place Token signal next to line.
Right click with Signal Surveyor
Message "Not a valid signal."

**Expected behavior**
Should start to link the Token Signals.

**Environment**
 - Version [e.g. Railcraft 12.0.0-alpha-7]
 - Forge version: 1.12.2-14.23.5.2784-

**Additional context**
I was going to test that we could now "reset" token signal areas when they get stuck "on".

[2018-11-29 02:14] instinxx opened #1549 "Cannot pipe water into a Fluid Loader or fill into cart"
**Description of the Bug**
Unable to pipe water into a fluid loader from any side. I can insert water with a bucket by hand.

cart doesn't load from fluid loader.

**To Reproduce**
attach pipe from water source (In my case 2 different infinite water source blocks.)

**Expected behavior**
Water would flow into loader and quench the thirsty steam engine.

**Screenshots & Video**
Tried using pipes fr

[2018-11-29 03:02] instinxx opened #1550 "Alpha 7 - Stepping on a charge trap causes violent shaking"
**Description of the Bug**
Stepping on a charge trap causes player to get stuck and the camera starts to violently shake,

**To Reproduce**
Steps to reproduce the behavior:
1. Place Charge Trap
2. Step on Charge Trap
3. Do the Hustle

**Expected behavior**
Nothing. I expected to be able to walk on it.

**Screenshots & Video**
https://clips.twitch.tv/CulturedKindStorkBleedPurple

**Environment**
Ra

[2018-11-29 08:44] #1542 closed, assigned to nobody

[2018-11-29 09:02] CovertJaguar commented on #1550
When I tried it, the game crashed. Possibly fixed by 380bb75cf59e40043289e341301084b17dfb1cdd.

[2018-11-29 09:03] CovertJaguar commented on #1550
Though that looks like bounding box issues.

[2018-11-29 09:05] CovertJaguar commented on #1548
No, and there isn't much chance that it ever can be. It would require building a graph of all the tracks in the area and testing each track area individually. Possibly I guess, but very annoying and costly.

Or do you mean something like hitting them with a crowbar to "unstuck" them?

[2018-11-29 21:21] iridium34 opened #1551 "Alpha 7 - Can't unload Chest-Cart with Item-Unloader"
**Description of the Bug**
Items inside the chestcart doesn't get unload with itemunloader.
The itemunloader won't emit a redstonesignal for a locking track.

**To Reproduce**
Steps to reproduce the behavior:
1. Place block/item-unloader
2. Let a chestcart move above it
3. It won't get locked above unloader and no items get unloaded

**Expected behavior**
Chestchart should stop above the unloader,

[2018-11-29 21:39] liach commented on #1551
Well, the track only locks if it does not receive a redstone signal. Your description is unclear.

[2018-11-29 22:06] iridium34 commented on #1551
i tested a bit more and the problem is not the track. The itemunloader doesn't recognise items inside the cart. It directly emits a redstonesignal if a chestcart is above it, even if there are items inside.

[2018-11-29 22:14] Ang3lOfD3ath opened #1552 "Alpha 7 - Flux Cart Unplaceable Bug"
**Description of the Bug**
1.12.2 RailCraft Alpha 7 Flux Cart [Unplaceable](http://ssl.gstatic.com/dictionary/static/sounds/20160317/unplaceable--_us_1.mp3) bug

**To Reproduce**
Steps to reproduce the behavior:
1.Try and Place block/cart '...'

3. See error ..... there is none

**Expected behavior**
A clear and concise description of what you expected to happen.
ummmmm the cart should place.....

[2018-11-29 22:29] liach commented on #1551
Try adding a filter for chest carts and change the unloader's mode.

[2018-11-29 22:43] Ang3lOfD3ath commented on #1551
i have recored some footage of this bug
https://www.youtube.com/watch?v=w-mY-6GFIW0

[2018-11-29 22:44] liach commented on #1551
The video is not loading.

[2018-11-29 22:48] iridium34 commented on #1551
I did. I put a stack of dirt inside the cart and set the filter with dirt.
[https://youtu.be/CrY7zAtzAeI](https://youtu.be/CrY7zAtzAeI)

[2018-11-30 05:51] AlexJ6301 commented on #1548
Sorry, I left out the crucial word: **manual** ;-)
There should be a way to manually reset a token ring group back to green in the case where it gets set to red permanently by a disappearing cart.  Otherwise you have to unlink/relink all the token signals back together (which is a pain).
Doing "something" with a signal surveyor to just one of the signals in the group to reset them to green.

Shoul

[2018-11-30 09:47] CovertJaguar commented on #1548
Yeah, make a separate issue. Should be easy enough to add something.

[2018-11-30 18:48] liach commented on #1552
Another aspect of #1545

[2018-11-30 20:28] CovertJaguar commented on #1552
I have a fix sitting on my computer, but I want to completely redesign how cart speed is calculated instead of just a half ass patch.

[2018-12-01 05:50] AlexJ6301 opened #1555 "1.12 Alpha 7 - Token Signals can't be reset"
**Description of the Bug**
If a cart enters a Token Signal protected area, and is then removed from the line, then the signals all stay red forever (unless manually all disconnected/reconnected.  There should be a way to manually reset them all to green in this situation (with the player taking on any risk).

**To Reproduce**
Set up token signal protected area.
Let cart enter area, then remove car

[2018-12-05 04:35] #1545 closed, assigned to nobody

[2018-12-05 04:49] liach commented on #1552
#1545 fixed.

[2018-12-05 04:49] #1552 closed, assigned to nobody

[2018-12-05 08:13] texaswriter opened #1556 "Detector tracks are causing ticks to take very long as carts are going over."
**Description of the Bug**
It seems if there are multiple carts on one train network, the server will lag when a cart or train goes over a detector track.

**To Reproduce**
Steps to reproduce the behavior:
1) Created simple rail network with one route that leads back to main loop (one main loop and one switched loop leading back to main).
2) Added detector track to feed redstone signal to redstone

[2018-12-05 08:15] texaswriter commented on #1556
I have some crash reports from when I had multiple detector tracks... some of them were crashes after the server was forcibly shutdown. I believe the 01.28.10 was a forcible shutdown and I believe the 01.35.12 was also a forcible shutdown. I think the 1.47.34 and the 1.53.50 were crashes after the forcible shutdown.

Just to be clear, when I only have one detector track (not multiple chained toget

[2018-12-05 08:29] texaswriter commented on #1556
I actually think this is an interaction with the redstone cables I was using... redid this with redstone (vanilla) and am not having any lag whatsoever

Updated picture of with vanilla redstone instead of
![2018-12-05_02 30 06](https://user-images.githubusercontent.com/22877053/49500208-c06b1b00-f835-11e8-8e92-086a0c01d2eb.png)

[2018-12-05 08:43] #1556 closed, assigned to nobody

[2018-12-05 10:18] CovertJaguar commented on #1556
Detector tracks are pretty simple.

[2018-12-06 01:29] texaswriter commented on #1556
Yeah. I recreated something like the original that caused a bug and I seem to be okay. Maybe it was the 5 detector tracks I had back to back that was causing issues for another mod (charset)... i will be looking at the other mods to see what is going on.

[2018-12-06 13:24] texaswriter opened #1557 "Locomotives crashing into each other at full speed causes a server crash"
**Description of the Bug**
When two locomotives crash into each other at full speed, their is an explosion of sorts (probably intentional) and then the server crashes.
 (see crash reports)
[crash-2018-12-06_07.06.51-server.txt](https://github.com/Railcraft/Railcraft/files/2653198/crash-2018-12-06_07.06.51-server.txt)
[crash-2018-12-06_07.14.50-server.txt](https://github.com/Railcraft/Railcraft/fil

[2018-12-07 06:17] liach commented on #1117
Honestly, we cannot add command blocks directions in until we have better control over the link direction and minecart direction in general.

[2018-12-07 06:28] liach opened #1558 "Increase void chest item deletion rate"
**Is your feature request related to a problem? Please describe.**
Void chest only destroys one item in a stack each second. This makes it extremely useless compared to sheer lava burning or cacti. People have avoided lava or cacti for lag, but void chest does not appear to be better.

**Describe the solution you'd like**
Allow void chest to destroy at faster rates based on how full it is.

**Desc

[2018-12-07 21:59] liach opened #1559 "Trade station and redstone interactions"
**Is your feature request related to a problem? Please describe.**
Send a redstone signal when the trade station completes a trade. This can help players dump useless villagers and leave useful ones.
Stop trading when the trade station receives a redstone signal. This can prevent excessive losses when the players just use a trade station to test whether a villager has a certain trade.

**Describe

[2018-12-09 08:56] anar4732 commented on #1549
I confirm this bug.
i tried immersive engineering.
RC: Alpha 7 Build 24.11.2018

[2018-12-10 19:47] jonharn opened #1562 "Crash randomly"
[crash-2018-12-10_14.45.16-server.txt](https://github.com/Railcraft/Railcraft/files/2664687/crash-2018-12-10_14.45.16-server.txt)

[2018-12-10 19:50] liach commented on #1562
"count number of running locomotive" regression.

[2018-12-11 03:12] CovertJaguar commented on #1558
I'm fine with making it based on fill percentage. I made it slow originally to possibly give you time to grab anything you mistakenly shift click into the chest.

[2018-12-11 03:16] CovertJaguar commented on #1559
Sure

[2018-12-11 03:20] CovertJaguar commented on #1562
Duplicate of #1557

The crashes might be different, but the cause is the same.

[2018-12-11 03:20] #1562 closed, assigned to nobody

[2018-12-12 00:46] cpburnz opened #1563 "Question: Empty Lists in Config File"
This is probably a trivial question. How exactly to you format an empty list in the *railcraft.cfg*? In the version I'm running, 1.10.2-10.2.0, I want to remove the fuel cost from the world spikes. The config file says,

How do you specify an empty list? Are these just multi-line strings, or proper lists? I'm not familiar with this file format and I can't find any information on it. It looks like

[2018-12-12 03:41] liach commented on #1563
Do so:
[code]

On a side note, this cfg format is specified by forge.

[2018-12-12 08:28] #1557 closed, assigned to nobody

[2018-12-12 10:06] KillTyrant opened #1564 "Graphical Glitch with HP/LP boilers"
**Description of the Bug**
HP/LP blocks are transparent underneath
![2018-12-12_05 03 56](https://user-images.githubusercontent.com/31683943/49862096-63d6a580-fdcb-11e8-8170-9c38cab04e69.png)

 - Version [e.g. Railcraft 12.0.0-alpha-9]
 - Forge version. 14.23.5.2772
 - Single player direwolf20 1.12 - 2.4.0 pack

[2018-12-12 14:08] cpburnz commented on #1563
Thanks.

[2018-12-12 14:08] #1563 closed, assigned to nobody

[2018-12-13 00:44] texaswriter opened #1565 "crash on server launch"
**Description of the Bug**
Server and client was running fine before. Server crashed when starting up next time. See below crash report

[crash-2018-12-12_18.18.38-server.txt]
(https://github.com/Railcraft/Railcraft/files/2674086/crash-2018-12-12_18.18.38-server.txt)

When I restarted the server again, the server crashed when the client connected (see crash report below.

[crash-2018-12-12_18.25.2

[2018-12-13 00:46] liach commented on #1565
Gist version: https://gist.github.com/liach/d225061eff1d60a8c4933473298aedfd

[2018-12-13 00:47] liach commented on #1565
Actually same as #1557

[2018-12-13 00:47] #1565 closed, assigned to nobody

[2018-12-13 07:29] vedrit opened #1566 "Ticket machine-like block"
A machine built into RailCraft to facilitate the easy creation of tickets.

How I think it might work? A block that will have 3 slots:
1) Paper stack (accept paper from top via hopper/pipes/etc?)
2) Gold ticket (lockable slot by block owner?)
3) Output

There will likely also need to a button to create the ticket.

Maybe additional gold ticket slots can become available when another gold ticket is

[2018-12-16 08:24] texaswriter commented on #1551
In alpha 9, both the item unloader and the advanced item unloader are working via the chest cart. Used locking track on top on one or both. unloaded straight away.

[2018-12-16 15:42] alwaeles opened #1567 "Tank/Boiler GUI glitches: tanks and temperature scaling mismatchs."
**Description of the Bug**
In both tanks and boilers GUIs, the scale and the max of temperature, fluid amount, etc. are wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a HP steam boiler,
2. Make it heating,
3. Look the steam, water and temperature levels...

**Expected behavior**
The tank displays when the boiler is realy full, and not less-than-half full...
The temperature disp

[2018-12-16 19:29] liach commented on #1567
err, this involves the one probe mod. please don't blame railcraft

[2018-12-16 19:54] KillTyrant commented on #1551
Can confirm what Texas said. Appears to be working as intended in alpha 9

[2018-12-16 20:07] alwaeles commented on #1567
If it is caused _only_ by One Probe Mod, why the boiler says full and nothing gets out with a pipe connected to the boiler? Maybe because it is not really full. It's only a GUI mistake, but when One Probe says it's half full, the steam magically goes out, even that the boiler GUI says it's full since a while...

[2018-12-16 20:14] liach commented on #1567
the other issue is #1551

[2018-12-16 20:15] liach commented on #1567
which is the same as your broken fluid transfer description.

[2018-12-16 20:24] KillTyrant commented on #1567
Best bet would be to disable one probe and see if the issue still exists

[2018-12-16 21:09] alwaeles commented on #1567
Tested on a almost vanilla instance:

### Mods installed:

* Minecraft Forge 14.23.5.2780,
* Railcraft 12.0.0-alpha-9
* Buildcraft 7.99.19 (don't say this is the cause, it does the same with Thermal Dynamics)

### Result:

[Check it on YouTube](https://www.youtube.com/watch?v=TTc39PlIci0)

[2018-12-16 21:19] liach commented on #1567
1. Try in 1.7 and see if the tank auto pushes content to adjacent blocks like the pipe.
2. Try with wooden fluid pipe and a redstone engine powering the pipe.

Please help me test these two and then I can identify the cause and make a proper fix for the issue.

[2018-12-16 21:23] CovertJaguar commented on #1567
It should work on anything with a FluidHandler that accepts input. I don't know about pipes, but a BC Tank next to the tank of the Boiler _should_ for sure be filled.

https://github.com/Railcraft/Railcraft/blob/d7af7f9be3cc0bd892a1a3ed10f76f3ffcd2680d/src/main/java/mods/railcraft/common/blocks/multi/TileBoiler.java#L237-L240

[2018-12-16 21:30] LuigiHutch opened #1568 "Empty rolling machine recipes in JEI"
**Description of the Bug**
The JEI Rolling machine plugin shows empty recipes for many things such as Standard rail, Reinforced Rail, Rebar, wire spools and track parts etc. I suspect it might be todo with not having some external material in my instance

**To Reproduce**
Steps to reproduce the behavior:
1. Open your inventory
2. Look up the uses of the rolling machine
3. Browse the recipes till y

[2018-12-16 21:44] alwaeles commented on #1567
I added The One Probe and TOP Addons which _displays_ the real content of the tanks then I waited a bit and I recorded...
[This is the record](https://www.youtube.com/watch?v=nCEoxUIsNA4)

[2018-12-17 19:47] CovertJaguar commented on #1567
I would guess that the most likely cause is a mismatch on tank capacity for the client and server.

[2018-12-17 19:53] alwaeles commented on #1567
Probably

[2018-12-18 01:09] liach commented on #1478
Lowered priority because we have other more important bugs for the beta.

[2018-12-18 10:13] liach commented on #1566
I'd tweak it into a selling machine. Three types of golden tickets can be put in and can have a price defined. Of course, it will have a secure inventory holding the income and paper for tickets.

[2018-12-18 10:14] bookerthegeek opened #1571 "SIlk touch drops"
# Heyo #
[code]
## **To Reproduce** ##
1. Install forge-1.12.2-14.23.5.2796-universal
1. Install railcraft-12.0.0-alpha-9
2. Look in the logs

### **Environment** ###
 - railcraft-12.0.0-alpha-9
 - forge-1.12.2-14.23.5.2796-universal

[2018-12-18 10:15] liach commented on #1571
This thing is intended for tunnel bores to mine with silk touch enchantment. Should not impact your daily lives by too much in theory.

[2018-12-18 11:56] bookerthegeek opened #1572 "Invalid SHAPED Recipe"
# Heyo #
So in the log the following shows up a lot. Not this one in particular but a lot like them.
[code]
### To Reproduce ###
1. Install Railcraft
2. Look at Log

### Expected behavior ###
For it not to be an error in the log? No idea. I'm just letting you know. :)

### Log ###
- Here is the [GIST](https://gist.github.com/bookerthegeek/14a6ebf921b0a8b9cd2a0f8bf3d3d489) of the errors
- Here is t

[2018-12-18 21:31] CovertJaguar commented on #1571
What is this stuff? I see references to #1314 #1323

https://github.com/Railcraft/Railcraft/blob/fbb2d6d835aaa063e1129907f6b261b10763f948/src/main/java/mods/railcraft/common/plugins/forge/HarvestPlugin.java#L49-L62

Couldn't you do this with an AT?

[2018-12-18 21:48] liach commented on #1571
Hmm, is `Game.DEVELOPMENT_ENVIRONMENT` initialized incorrectly? This cannot be done with access transformers because this method is protected (overriding methods cannot be all transformed to be public).

[2018-12-18 22:19] CovertJaguar commented on #1571
I think it looks at the name of Entity.world. I don't know if its current.

[2018-12-18 22:21] CovertJaguar commented on #1571
You should use [ReflectionHelper](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/relauncher/ReflectionHelper.java). It does most of this for you.

Also
https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/relauncher/FMLLaunchHandler.java#L138-L142

[2018-12-18 22:31] liach commented on #1571
~The reflection helper does not cache the method or method handle, making it inefficient.~

The reflection helper is deprecated as well. Looking for `Entity.world` is fine because mods can only run under searge name (playing) or mcp name (dev env).

[2018-12-18 22:37] liach commented on #1571
Ah spotted the fix. Should use `Game.OBFUSCATED` instead

[2018-12-18 22:40] liach commented on #1571
Uh, made a fix on github.

[2018-12-18 23:06] CovertJaguar commented on #1571
Says who?

[2018-12-18 23:07] liach commented on #1571
Oh, because that class is loaded by another class loader which is not the launch classloader.

[2018-12-18 23:13] CovertJaguar commented on #1571
I see, it does however appear to have been properly replaced by ObfuscationReflectionHelper. As for the caching issue... do that yourself, you already are. Stop reinventing the wheel.

[2018-12-19 02:40] #1571 closed, assigned to nobody

[2018-12-19 13:46] TPC25 opened #1574 "Crash Report MC 10.2 RC - 10.4.0"
Downloaded the lastest jar for MC10.2, started it up and got the crash at Forge loading step 2

https://pastebin.com/mmmmrD1T

Edit: I also ran this in it's own profile without any other mods and still got the same crash report, and I am using the latest Forge version 12.18.3.2511

[2018-12-19 19:04] liach commented on #1574
@covertjaguar did you forget to sign the jar?

[2018-12-19 19:18] wormzjl opened #1575 "HP / LB boiler balancing"
So I've made some calculations on the efficiency of RC boilers based on the simulator made by Forecaster.

I have obtained the following results for a full size boiler at maximum temperature:
For LP boiler, 44.44 RF or 13.89 EU per fuel value
For HP boiler, 34.78 RF or 10.86 EU per fuel value
A HP boiler is 2.56 times faster in fuel consumption, but the fuel to power efficiency is roughly 20% lowe

[2018-12-19 20:23] CovertJaguar commented on #1575
If this "rebalance" was made, I'd just delete the HP Boiler entirely as it would then be strictly better than the LP Boiler.

This is referred to as tiering. From a gameplay and development standpoint I see tiering as a waste of time and development resources. The user will _always_ build the highest tier they can afford. This is not an interesting choice, and uninteresting choices are, according

[2018-12-19 20:24] #1575 closed, assigned to nobody

[2018-12-19 21:10] CovertJaguar commented on #1574
Hmm... Maybe the changes I made for Jenkins broke it

[2018-12-19 21:24] #1574 closed, assigned to nobody

[2018-12-19 21:24] CovertJaguar commented on #1574
10.4.1 posted

[2018-12-20 21:20] brisingraerowing commented on #1566
I know Computronics has something like this, though IIRC it needs a computer mod (either OpenComputers or ComputerCraft) to actually work.

[2018-12-21 01:52] draxxris opened #1576 "Quarried Stone recipe too weak"
Crafting Quarried Stone to Quarried Block seems to reduce the available quantity by 1/4. It is a 2x2 (4) to 1 ratio. From the law of conservation of mass, it should produce 4 Quarried Block.

Using railcraft-12.0.0-alpha-9

[2018-12-21 01:57] liach commented on #1576
Hmm, aren't you supposed to cook them into blocks?

[2018-12-21 04:48] vedrit commented on #1566
Yes, OpenComputers has one, but I think it's better that RailCraft has it's own ticket machine.

[2018-12-21 05:58] draxxris commented on #1576
Well mining them doesn't drop the cobble stone variant, so that might actually be a bug too. It drops the smooth stone variant.

[2018-12-21 06:04] liach commented on #1576
it should drop the regular stone variant. (quarried stone) that's intentional. then you cook in furnace what you pick up after mining

[2018-12-21 23:40] draxxris commented on #1576
There is no furnace recipe for Quarried Stone.

[2018-12-21 23:54] liach commented on #1576
should be a bug then.

[2018-12-24 21:13] texaswriter opened #1577 "MFE carts cause other carts/locomotives move away when connected"
**Description of the Bug**
When trying to connect the MFE cart to a train (or to another cart, rather), it will cause the other carts to move away (like multiple cart lengths away). It will also cause them to move quite a bit.

It seems to do other things. It seems to cause carts behind it to move away so far (towards the rear) until they are separated from the train (not linked) [at least it appe

[2018-12-25 10:37] CovertJaguar commented on #1577
How amusing...

[2018-12-25 13:11] walker-dev opened #1578 "BootstrapMethodError"
**Description of the Bug**
crash on startup see log

**Environment**
 - Version railcraft-12.0.0-beta-1

**Additional context**
[Crash Log Here](https://gist.githubusercontent.com/boosterdev/13122d2c4293e463aa5d6b6f412dfd40/raw/90b1f00b54fc0339a3766a07f2ff1bf3170e5571/gistfile1.txt)

Ignore me for a few days and celebrate chrismas mate :)

[2018-12-25 13:45] Onigeshi commented on #1578
Caused by: java.lang.BootstrapMethodError: java.lang.IllegalAccessError: no such constructor: mods.railcraft.common.items.ItemFilterBeeGenome.<init>()void/newInvokeSpecial

Install forestry, gendustry or binnies mods.. I don't know from which one of this is this Genome Filter but after installing all these 3 mods it didn't crash anymore..

[2018-12-25 14:03] ccgfok opened #1579 "Opening Railcraft 12.0.0-b1 on latest forge cause crash"
**Description of the Bug**
When I installed Forge 14.23.5.2796 [latest version for 1.12] and Railcraft 12.0.0-b1, it crashes after I opened MC.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Forge 14.23.5.2796
2. Put Railcraft 12.0.0-b1 to the `mods` folder
3. Open MC.
4. See error

**Additional context**
See full logs here: https://pastebin.com/hu1erQDy

[2018-12-25 14:11] Marco4413 commented on #1579
I had that crash too... To resolve it i've just installed Forestry and everything seems to work right!

[2018-12-25 14:22] Xorbah opened #1580 "Crash on 1.12.2"
**Environment**
 - 1.12.2 2796

---- Minecraft Crash Report ----

WARNING: coremods are present:
  HatedMobsLoadingPlugin (hatedmobs-1.3.0.jar)
  DynamicSurroundingsCore (DynamicSurroundings-core-1.12.2-3.5.4.0BETA.jar)
  LoadingPlugin (AdPother-1.12.2-0.9.6.0-build.0236.jar)
  CreativePatchingLoader (CreativeCore_v1.9.35_mc1.12.2 (2).jar)
  ItemPatchingLoader (ItemPhysic_Full_1.4.17_mc1.12.2 (1).

[2018-12-25 14:23] Xorbah commented on #1579
Not everyone wants to install Forestry. Lol

[2018-12-25 14:36] walker-dev commented on #1579
dupe of #1578

[2018-12-25 14:36] walker-dev commented on #1580
dupe of #1578

[2018-12-25 15:02] AkuzeTR opened #1581 "1.12.2 Crash"
**Crash 1.12.2**

Here is a bin file

https://pastebin.aquilenet.fr/?21c88e9b2fcea7ed#q6SMGoICnjZclDmBtQAwxjChI49t59Guc4pJQBcPido=

[2018-12-25 15:05] Nagyur opened #1582 "1.12.2 missing texture"
**Missing texture **
Iron and steel valves has no textures.

**To Reproduce**
Steps to reproduce the behavior:
1. install mod
2. craft a valve

**Expected behavior**
Has some decent texture on valves.

**Screenshots & Video**
![railcraft](https://user-images.githubusercontent.com/46134085/50424056-d67d6180-085e-11e9-83a5-d997f9f6ca08.png)

**Environment**
 - Version [e.g. Railcraft 12.0.0-beta-1]

[2018-12-25 15:11] wormzjl opened #1583 "Firebox crash"
**Description of the Bug**
This crash happens whenever I try to place down a solid/fluid fueled firebox
Crashlog:
https://gist.github.com/wormzjl/c40aba893d5fb66d06d2388565a4f83e

**Environment**
 - Version: railcraft-12.0.0-beta-1
 - Forge version. 2796
 - Possible conflicting mods and their versions.

[2018-12-25 15:20] wormzjl opened #1584 "All fluid containers need a mouse-over tip about their content"
**Describe the solution you'd like**
Just like the old times

[2018-12-25 16:29] Yzelast commented on #1578
looks like installing forestry fix the crash...

[2018-12-25 16:29] Yzelast commented on #1581
looks like installing forestry fix the crash...

[2018-12-25 16:36] draxxris opened #1586 "Elevator rail does not dismount cart"
Using railcraft-12.0.0-alpha-9

Elevator rail does not seem to dismount from the rail once it gets to the top of the elevator. No configuration of rails at the top seemed to work.

https://www.youtube.com/watch?v=fD4S1QyEvMA

[2018-12-25 17:17] #1580 closed, assigned to nobody

[2018-12-25 17:46] liach commented on #1583
might just need a check for valid multiblock

[2018-12-25 17:55] navaroneee opened #1587 "Crash on startup forge 2796"
**Description of the Bug**
Crash on startup

**To Reproduce**
Steps to reproduce the behavior:
Start client or server witout forestry (is it dependencie?)

**Environment**
 - Version Railcraft 12.0.0-beta-1
 - Forge version:2796.

**Additional context**
Crash log
https://pastebin.com/U49EG70r

[2018-12-25 18:19] liach commented on #1587
Dupe of #1578

[2018-12-25 18:19] #1587 closed, assigned to nobody

[2018-12-25 18:20] liach commented on #1582
Seems the tinted cube model has some issues.

[2018-12-25 18:20] liach commented on #1581
Dupe of #1578

[2018-12-25 18:21] #1579 closed, assigned to nobody

[2018-12-25 18:21] #1581 closed, assigned to nobody

[2018-12-25 18:21] navaroneee commented on #1578
Is forestry needed?

[2018-12-25 18:25] liach commented on #1578
Looks like we need to add another wrapping supplier to prevent class loading

[2018-12-25 18:40] navaroneee commented on #1578
Ah ok, fine Merry xmas, and tnks for this gift :D

[2018-12-25 18:49] liach commented on #1578
2f7415d10423702f3082079aa2c1e33c0dff685a

[2018-12-25 19:01] Calculus-Master opened #1588 "Issue with first Blast Furnace"
Using Railcraft 12.0.0 beta-1 for 1.12.2
(Also using Forestry along with Railcraft, Forge 14.23.5.2796)

After putting 1 iron ingot into the blast furnace, and after it makes steel, the progress arrow remains white, and breaking/replacing a block in the multiblock doesn't fix it immediately
After breaking/replacing, the multiblock will not form until repeating the same process a few times

**Expec

[2018-12-25 19:06] liach commented on #1586
Hmm, do you use some texture pack

[2018-12-25 19:07] draxxris commented on #1586
Use:

https://minecraft.curseforge.com/projects/ctm

And

https://minecraft.curseforge.com/projects/ctp

[2018-12-25 19:08] liach commented on #1586
please try with only railcraft and forestry.

[2018-12-25 19:35] Nagyur commented on #1582
I checked inside the .jar the base texture is there. but i couldn't do anything more than this to fix it. Because Railcraft not referencing textured directly but shade a base one. (as far as i understand)

[2018-12-25 19:42] liach commented on #1582
Yeah, the texture is fine but the model that binds the texture is not.

[2018-12-25 19:43] liach commented on #1578
Is this fixed in beta 2?

[2018-12-25 22:39] LuigiHutch opened #1589 "Crash when trying to open the rock crusher GUI"
**Description of the Bug**
Crash when trying to open the rock crusher GUI

**To Reproduce**
Steps to reproduce the behavior:
1. Build a Rock Crusher
2. Insert some items into it and power it
3. Try to open its GUI
4. Crash

**Expected behavior**
The GUI to open and it not to crash

**Screenshots & Video**
N/A

**Environment**
 - railcraft-12.0.0-beta-2.jar
 - forge-1.12.2-14.23.5.2796.jar

**Addit

[2018-12-25 23:04] CovertJaguar commented on #1582
I managed to get it to stop tossing errors, but it still fails to load the textures for some reason.

[2018-12-25 23:05] CovertJaguar commented on #1586
Doesn't surprise me much.

[2018-12-25 23:06] CovertJaguar commented on #1589
This is what happens when you have a deadline.

[2018-12-25 23:07] walker-dev commented on #1578
Yes it is fixed

[2018-12-25 23:07] #1578 closed, assigned to nobody

[2018-12-25 23:18] liach commented on #1582
i got the cause and may push soon.

[2018-12-25 23:34] liach commented on #1589
@CovertJaguar in your refactor, you should have kept the scale field instead of evaluating it. the scale was originally calculated on the server and sent to the client, but now you depend on the recipe which is only exist on the server side

[2018-12-25 23:34] liach commented on #1582
This is my bad.

[2018-12-25 23:40] Marco4413 opened #1591 "Crash when placing the boiler block on a server"
**Description of the Bug**
The world crashed when the boiler block was placed,
can't open the world anymore

**To Reproduce**
1. Place the boiler block
2. The World should crash
3. Try to re-open the world and the game crashes again

**Expected behavior**
The game shouldn't crash

**Crash Log**
https://pastebin.com/v5hzAC0V

[2018-12-25 23:43] liach commented on #1591
same as #1583

[2018-12-25 23:43] #1591 closed, assigned to nobody

[2018-12-25 23:51] liach commented on #1583
oh, the old logic was totally wrong. i am considering using the pattern in param instead

[2018-12-26 06:11] #1465 closed, assigned to nobody

[2018-12-26 06:53] liach commented on #1582
Done with rendering, though the translation is still a todo.

[2018-12-26 06:53] #1582 closed, assigned to liach

[2018-12-26 11:02] ccgfok opened #1592 "[12.0.0-beta-2] Train Dispenser block cause crash"
**Description of the Bug**
If you use Train Dispenser Block to spawn train cart, it will completely crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Place Train Dispenser Block
2. Open Train Dispenser Block GUI
3. Set Pattern cart & put cart on Buffer
4. Quit Train Dispenser Block GUI & use redstone block to activate.
5. Crashed.

**Environment**
Railcraft 12.0.0-beta-2
Forge 1.12.2-14

[2018-12-26 15:51] Voxel-Friend opened #1593 "[Question] What stone types spawn naturally?"
I am adding [Ore Stone Variants](https://www.curseforge.com/minecraft/mc-mods/ore-stone-variants) for my ores in my pack and need to know which railcraft stone types (like quarried stone) spawn naturally. Thank you for your continued hard work!

[2018-12-26 16:54] liach commented on #1593
just quarried and abyssal ones do. on a side note, abbysal ones generate under seas in balls with empty space inside while quarried generate on forest surfaces.

[2018-12-26 17:23] Voxel-Friend commented on #1593
Ok thanks! Just wanted to make sure!

[2018-12-26 17:23] #1593 closed, assigned to nobody

[2018-12-26 17:53] Flaksmith opened #1594 "Crash when trying to place fuel in Worldspike"
**Description of the Bug**
Attempting to insert a single item of any valid fuel type in the fuel slot of any worldspike will cause the game to crash. A crash does not occur when trying to insert two or more items that are stacked. Additionally, a crash won't occur after the worldspike has consumed any amount of fuel.

**To Reproduce**
1. Place any of the 3 worldspikes which consume fuel.
2. Open t

[2018-12-26 18:58] liach commented on #1594
@Flaksmith Please give me a crash report, or I cannot fix this for you!

[2018-12-26 19:16] liach commented on #1594
https://gist.github.com/liach/67dace1e45f632fa438d02a98a7c28bc

[2018-12-26 19:20] liach commented on #1594
The cause is clear: there is an entry in the fuel map that maps an item to `null` float, causing an npe.

[2018-12-26 20:30] CovertJaguar commented on #1592
Strange

[2018-12-26 20:31] CovertJaguar commented on #1589
Ah, yep

[2018-12-26 21:05] liach commented on #1594
Hmm, I don't know how a null gets there...

[2018-12-26 21:16] liach opened #1595 "Void chest no longer renders"
**Description of the Bug**
Void chest texture does not stitch, either as a block or in a minecart.

**To Reproduce**
Steps to reproduce the behavior:
1. Find void chest in creative inventory
2. Observe a blank item and a void chest cart
3. Put the blank item in hotbar and right click to place it. Observe the bounding box. Right click again to show the inventory of void chest works. Turn on F3 and

[2018-12-26 21:20] liach opened #1596 "Worldspike does not drop fuel on destruction"
**Description of the Bug**
When a survival mode player destroys a regular worldspike, it does not drop fuels yet in its inventory.

**To Reproduce**
Steps to reproduce the behavior:
1. Put fuel into a worldspike, e.g. 16 void dusts
2. Observe that the spike consumes one fuel and leaves 15 void dusts
3. Break the block with a diamond pickaxe (survival mode required). The world spike itself will dro

[2018-12-26 21:22] liach commented on #1594
Moreover, after one crash, placing fuel into other worldspike blocks without fuel no longer cause crashes. This may be an initialization issue.

[2018-12-26 22:43] texaswriter opened #1597 "Server crash (null pointer exception related to track kit (locking)"
**Description of the Bug**
The server crashes out of the blue with a null pointer exception. Says related to locking track kit.

Before the crash, I received a WALL of red text in the server command line that seems railcraft-related. There was so much that it scrolled my terminal window... whatever was last left is there.

CRASH REPORT:
[crash-2018-12-26_16.35.37-server.txt](https://github.com/Rai

[2018-12-26 23:24] liach commented on #1597
hmm, locking track crash

[2018-12-26 23:30] texaswriter commented on #1597
I'm trying to recreate... I have 8 trains in the exact situation. I am watching the area it happened though. i'll let it run up to 10 trains in this situation (the rail network automatically spaces the trains out through the network).

[2018-12-26 23:32] texaswriter commented on #1597
What happened was that some cart seemed to get disconnected from a train... this was stuck in another entity... i think it caused some feedback to railcraft or other trains...
I restarted the server (it crashed), then i had another train get stuck there... I stopped the train, and tried to troubleshoot.. there was an invisible cart there. restarted the server again. now I could see the cart. broke

[2018-12-27 06:20] firelook opened #1598 "[1.7.10] linked between cart"
**Description of the Bug**
Can not linked anything with the crowbar (example chest cart / mining train)

**To Reproduce**
Steps to reproduce the behavior:
1. Place cart chest
2. use crowbar.
3. See error

**Expected behavior**
should work

**Environment**
 - Railcraft_1.7.10-9.12.2.1.jar
 - forge-1.7.10-10.13.4.1614-1.7.10-universal.jar
 - buildcraft-7.1.22.jar

[2018-12-27 06:29] liach commented on #1598
@firelook Please post a log

[2018-12-27 07:15] texaswriter commented on #1597
Another crash. In creative was trying to click on a cart to delete. Sometimes the click goes through to the next block. This click landed on a turnout track, (removing it?) and instantly crashing the server.
[crash-2018-12-27_01.11.47-server.txt](https://github.com/Railcraft/Railcraft/files/2711744/crash-2018-12-27_01.11.47-server.txt)

[2018-12-27 07:22] liach commented on #1597
same crash as before.

[2018-12-27 07:26] texaswriter commented on #1597
Yeah. I am trying to add some context for you, not sure if it helps you troubleshoot. Here is another crash. Was trying to delete a cart. INstantly crashed server. You don't have to read... same as above.
[crash-2018-12-27_01.25.30-server.txt](https://github.com/Railcraft/Railcraft/files/2711769/crash-2018-12-27_01.25.30-server.txt)

[2018-12-27 07:50] liach commented on #1597
k, it's null train again

[2018-12-27 07:58] firelook commented on #1598
their is nothing in the log like if I was doing nothing ( ;) )
but please find a copy
https://drive.google.com/open?id=14Ff6EFawTdJVY-IrtBTp5uTtATka9teD

these are the mods I am using
https://drive.google.com/open?id=1yK6DAESaLBPSFO4-rzfnB-TYvmf8W7e9
(compress by winrar)

[2018-12-27 09:17] CovertJaguar commented on #1596
Hmm... oh... its probably not handled automatically by the super class because it doesn't usually actually implement IInventory.

[2018-12-27 09:19] CovertJaguar commented on #1595
I can't imagine what I would have done to affect rendering.

[2018-12-27 09:21] CovertJaguar commented on #1589
Actually... The problem is that it used to be based on a constant and now needs to be calculated because I added a time field to the recipes.

[2018-12-27 11:13] wormzjl opened #1599 "[Suggestion] Config option for per-block capacity of the multiblock tank"
**Describe the solution you'd like**
Could be handy for modpack tweaking

[2018-12-27 16:51] liach commented on #1599
should be easy to do.

[2018-12-27 16:52] liach commented on #1598
unfortunately developers are working on 1.12 now. if you can find someone to corroborate, that's the best.

[2018-12-27 16:56] firelook commented on #1598
you have sayed it was corrected in the description but unfortunately it is not (it is quick to check ;) )

[2018-12-27 16:58] liach commented on #1598
@firelook did you sneak when trying to link? if you don'tcsneak you are boosting the cart

[2018-12-27 17:00] firelook commented on #1598
sneak ? (means please ?)

[2018-12-27 17:02] liach commented on #1598
press left shift (or whatever your dismount key is). please read a guide, the wiki, or watch a video on this topic before. thanks.

[2018-12-27 17:03] #1598 closed, assigned to nobody

[2018-12-28 00:49] laserlemons opened #1601 "Crash on startup after disabling structures module"
**Description of the Bug**
The game crashes on startup after disabling the structures module.
https://pastebin.com/YBCR4zNb

**Environment**
 - Railcraft 12.0.0-beta-2
 - Forge version 2796
 - I also have the whole suite of COFH mods. (Thermal Expansion)

[2018-12-28 01:05] liach commented on #1601
This has been confirmed by a few other users as well.
https://github.com/Railcraft/Railcraft/blob/5af3e73e576e099d8676e621fae3d7495ab1d2c0/src/main/java/mods/railcraft/common/blocks/detector/BlockDetector.java#L170
Should be replaced by an `isLoaded()` fix.

[2018-12-28 01:12] StardustAlpha opened #1602 "1.10.2 Railcraft crashes on startup if the resources module is disabled"
**Description of the Bug**
Railcraft causes Minecraft to crash when starting if the resources module is disabled.
Specifically, it crashes on the Mojang logo screen.
**To Reproduce**
Steps to reproduce the behavior:
1. Disable the Resources Module
2. Restart Minecraft

**Expected behavior**
The game reaches the title screen.

**Screenshots & Video**
[railcraft-problem.zip](https://github.com/Railc

[2018-12-28 01:17] liach commented on #1602
Duplicate of #1532. You need to tweak worldspike config after disabling resources module for now, unfortunately.

[2018-12-28 01:17] #1602 closed, assigned to nobody

[2018-12-28 16:40] Shandoo94 opened #1603 "Can't fill tankcart with fluid loader"
**Description of the Bug**
I am unable to fill a tankcart with a fluid loader. Rightclicking the cart with a waterbucket also does nothing. The Tankcart itsels also does not show a UI after rightclicking it with an empty hand.

**To Reproduce**
1. Place tank cart on a track
2. Place Fluidloader directly above the cart
3. Fill Fluidloader with water (has to be through a tank or something similar, b

[2018-12-28 16:43] liach commented on #1603
duplicate of #1549

[2018-12-28 16:43] #1603 closed, assigned to nobody

[2018-12-28 16:55] Shandoo94 commented on #1603
I think there was an misunderstanding. My problem is not that I can't pump water into the Fluidloader, which is possible (See screenshot). But rather that ich can't pump fluids into the Tankcart at all.

![2018-12-28_17 54 28](https://user-images.githubusercontent.com/21018028/50522137-b0a7c500-0ac9-11e9-989e-92b0d95ef769.png)

[2018-12-28 17:00] liach commented on #1603
Updated that issue to include the detail you want.

[2018-12-28 20:10] Shandoo94 opened #1604 "Rolling machine recipes are not copied to crafting tables"
**Description of the Bug**
When the factory module is disabled, rolling machine recipes are not copied to the crafting table.
~When disabeling the Factory module, things like tracks still use rails in their recipes. In this configuration the tracks would not be normally craftable. Also the rolling machine doesn't show recipes in JEI.~

**To Reproduce**
1. Disable Factory Module in Config
2. Look u

[2018-12-29 01:59] CovertJaguar commented on #1604
I believe disabling the Factory, and therefor the Rolling Machine, dumps the Rolling Machine recipes into the vanilla Workbench.

You'd have explicitly enable vanilla style track recipes or disable the rail items for them to not be used.

[2018-12-29 02:14] #1597 closed, assigned to nobody

[2018-12-29 03:41] ProxyPlayerHD opened #1605 "[1.12.2][Crash] "Ticking block entity" when placing boilers"
**Description of the Bug**
When i placed some (solid fuel) boilers the game just crashed, the world is completely broken as any attempt at opening it just instantly crash the game again

**Logs & Environment**

[LOG](https://pastebin.com/w9ybfVbm)

[2018-12-29 07:47] Shandoo94 commented on #1604
If the Factory Module is disabeled the rails are only craftable through tracks as seen in the screenshot below. A couple of other items like the large charge wire spool are also not craftable, even with factory module enabled. At least I don't see a recipe in JEI.

![2018-12-29_08 39 35](https://user-images.githubusercontent.com/21018028/50535052-a6c3a780-0b45-11e9-9ee4-87152e2dffa0.png)

Maybe th

[2018-12-29 08:03] liach commented on #1604
jei display isn't related to actual recipes. this is working as intended.

[2018-12-29 08:05] liach commented on #1605
duplicate of #1583

[2018-12-29 08:05] #1605 closed, assigned to nobody

[2018-12-29 09:03] Shandoo94 commented on #1604
So how do I craft rails then if I can't see the recipes in JEI? Just using the rollingmachine patterns from the official wiki in the craftingtable doesn't work.
Is it intended that I don't see the recipes of the rolling machine? If yes, why?

[2018-12-29 09:22] ProxyPlayerHD commented on #1605
oops sorry. i searched for ticking block entity and didn't find anything

[2018-12-29 10:12] #1584 closed, assigned to nobody

[2018-12-29 11:31] wormzjl opened #1606 "Repaire turbine rotors with turbine blades"
**Describe the solution you'd like**
Like in the old versions.

[2018-12-29 16:05] 054545641 opened #1607 "[1.12.2] Sponge Forge server crash while using Manual Rolling Machine"
**Description of the Bug**
Producing (at least) something on Manual Rolling Machine will cause a server crash on SpongeForge Server. And there will be java.lang.IncompatibleClassChangeError in the Crash-report.

**To Reproduce**
1. Place a Manual Rolling Machine anywhere
2. Right click to open GUI of the Manual Rolling Machine
3. Put a Iron Ingot into it
4. Click Track Parts and wait for its compl

[2018-12-29 16:46] baysupercool opened #1608 "Tank cart gui not opening"
**Description of the Bug**
Tank cart's gui doesn't open when I click on it.

**To Reproduce**
1. Place tank cart
2. Click on it
3. Nothing happens

**Expected behavior**
Tank cart gui should open

**Logs & Environment**
forge1.12.2-14.23.5.2796
railcraft-12.0.0-beta-2

[2018-12-29 17:30] liach commented on #1605
No worries, I do expect people to report duplicate major bugs.

[2018-12-29 17:31] liach commented on #1604
If you disable factory, I don't think you can see rolling machine recipes any more. Now, rolling machine recipes are dependent on the factory module. I guess the recipe migration will be broken, so I will get another title for this issue.

[2018-12-29 17:39] liach commented on #1608
It might be caused by lag. Are you sure you waited after you clicked? If this is your first click, you will have a few seconds which you will feel that nothing is going on, but suddenly you cannot move any more and the gui should appear. For further clicks, gui appears faster.

[2018-12-29 18:15] liach commented on #1607
Sponge bug.

[2018-12-29 18:40] baysupercool commented on #1608
It's not related to lag.
When I looked to the log I saw this:

(I couldn't post this on pastebin, it's banned here for some reason.)

` [Server thread/WARN] [railcraft]: Error when attempting to build gui container TANK: java.lang.ClassCastException: mods.railcraft.common.carts.EntityCartTank cannot be cast to mods.railcraft.common.blocks.machine.ITankTile
java.lang.ClassCastException: mods.railcr

[2018-12-29 22:44] ProxyPlayerHD commented on #1605
that's how you know they are major. :)

[2018-12-29 23:40] CovertJaguar commented on #1605
I'm slowly working my way through the MBS bugs.

[2018-12-29 23:41] CovertJaguar commented on #1608
Oh....hmm. That would be my fault.

[2018-12-30 00:34] #1608 closed, assigned to CovertJaguar

[2018-12-30 01:31] CorruptData404 commented on #1604
The rolling machine recipes aren't being shown at all, with or without factory disabled. I'm running on default config with factory enabled. The "Show Recipes" in the both rolling machines also does nothing.

isolated the mod along with JEI and getting same problem.
![2018-12-29_17 30 31](https://user-images.githubusercontent.com/38871274/50543523-86b8d600-0b8f-11e9-8fe7-5dfc54ecc357.png)

[2018-12-30 04:00] liach commented on #1607
@CovertJaguar Apparently sponge doesn't want our inventory to implement iterable for something other than `Iterable<org.spongepowered.api.item.inventory.Inventory>`. Blame Mumfrey.

[2018-12-30 08:11] Shandoo94 commented on #1604
Yes, it is the same for me.

[2018-12-30 12:44] draxxris commented on #1586
Same behavior with only JEI/Forestry/Railcraft installed.

Also tested on 12.0.0-beta-1

[2019-01-01 03:48] Draskh opened #1609 "[1.12.2] Dust of ender pearls"
The dust of ender pearl that is added by Railcraft is registered in OD as dustEnder. Most mods use dustEnderPearl instead. That causes some incompability with Railcraft. Maybe additional registration can be added or completly changed?

[2019-01-01 03:53] liach commented on #1609
Please list some mods. Afaik, some mods use `dustEnder`, including not enough potions mod,

[2019-01-01 04:28] Draskh commented on #1609
-Ender IO
-Applied Energestics 2 (uses both in recipes as alternatives)
-Tech Reborn

[2019-01-01 16:07] Draskh opened #1610 "[1.12.2] Can't remove anything from Railcraft via Crafttweaker"
I tried to remove recipes from Railcraft but it don't work. It seems that Railcraft recipes can't be removed.
Here is a simple script. -> https://pastebin.com/WuEMQhp2

Both commands did not work. recipes.remove and recipes.removeByRecipeName.

Forge: 2796
Crafttweaker: 4.1.13
Railcraft: 12.0.0 Beta 2

See also: https://github.com/CraftTweaker/CraftTweaker/issues/691

[2019-01-01 16:53] PowerAmbroz opened #1611 "[1.12.2] Steam boiler outputs water insted of steam"
**Description of the Bug**

The bug appears when I try using Mekanism fluid Pipes, or any other fluid pipe from other mods. At first the Railcraft Steam Boiler outputs water than it changes to steam and back to water. I've tryed all the sites of the multyblock but the problem still appears.

**To Reproduce**

1. Place block/cart '...'
2. Click on '....'
3. See '...'

**Expected behavior**

If it i

[2019-01-01 19:56] dannash987 commented on #1599
It'd be worth a try :) Forgive me as I've never done anything like this, but just fork, modify, and pull request?

[2019-01-02 02:04] liach commented on #1609
For now use crafttweaker to bypass this restriction.

[2019-01-02 02:04] liach commented on #1610
Try removing by output item id instead.

[2019-01-02 02:06] liach commented on #1611
Don't use a pipe. Place an empty fluid container block aside and see what happens to that container (e.g. an empty tank from any mod)

[2019-01-02 02:13] Draskh commented on #1610
I tried recipes.remove(<railcraft:boiler_firebox_solid>);
recipes.remove(<railcraft:circuit:*>); which also failed.  the second one seems to be the only working one. recipes.remove(<railcraft:boiler_firebox_solid>);

I will try to avoid :* for any meta.

[2019-01-02 02:15] Draskh commented on #1609
I registered everything correctly. Then I tried to fix the recipes.

That's lead to a recipe in which void powder is made of three ender dust instead the normal recipe. Don't know how this could happend.

[2019-01-02 02:16] liach commented on #1609
I guess crafttweaker has some issues with item meta. Cannot help beyond that,

[2019-01-02 02:56] Draskh commented on #1609
That only effects Railcraft. No other mod though.

[2019-01-02 04:04] draxxris commented on #1604
Bug is present regardless of factory module settings. Using 12-beta2

[2019-01-02 13:55] Tonton-Juro opened #1613 "[1.12.2] Fueled Boiler and Tank Bug"
I want to report you more bug / problem on the latest version of Railcraft:
Config: Java 1.8.0_191 64 bit Forge 14.23.5.2779 (I also tried forge 14.23.5.2796, test done only solo and in creative

first of all the Fluid Fueled Boiler and Solid Fueled Boiler make crash minecraft of they are posed

then I noticed several problems:
the water tank does not fill with water alone (which should normally b

[2019-01-02 20:42] CovertJaguar commented on #1604
It's simple. The Rolling Machine doesn't have a working JEI recipe handler right now.

It was replaced with a "//TODO add this later" line when the recipe manager got scrapped and rewritten.

It was either that or no release on Christmas.

[2019-01-02 20:48] CovertJaguar commented on #1610
I'd be mighty surprised if any of the Craft Tweaker stuff works right now.

And I suggest they hold off on fixing it for the moment.

All the recipe stuff is very unstable right now.

[2019-01-02 20:50] CovertJaguar commented on #1610
At least part of the problem here is that the recipe names are dynamically generated because it was to much work to go back and name every recipe.

[2019-01-02 20:52] CovertJaguar commented on #1610
I'd also suggest that maybe if you want to disable the block, you use the block config instead of removing the recipe.

[2019-01-02 20:53] CovertJaguar commented on #1611
Put it next to the Boiler tank blocks as well. The firebox allows access to the water tank.

[2019-01-02 21:12] CovertJaguar commented on #1606
Fixed by https://github.com/Railcraft/Railcraft/commit/f2a41baa1b96d03867e1d0c269f0df79d9c48211

[2019-01-02 21:12] #1606 closed, assigned to nobody

[2019-01-02 21:15] CovertJaguar commented on #1607
They make a change like that and expect it to break nothing? Lol.

Closing due to _Not Railcraft_

[2019-01-02 21:15] #1607 closed, assigned to nobody

[2019-01-02 22:12] 3TUSK commented on #1610
~~Can you see if you can remove recipe by id? JEI will display the recipe id as part of output tooltip if there is one, statically assigned or dynamically generated.~~

[code]

Edit: wait, the script has been using `removeByRecipeName` already...

[2019-01-02 23:11] liach commented on #1607
I think I will start working on the sponge compat soon, at least fixing this thing

[2019-01-03 00:37] CovertJaguar commented on #1568
Fixed by 307ec2f8ce0cb504e829ca29d9e9171f085fce7a

[2019-01-03 00:37] #1568 closed, assigned to nobody

[2019-01-03 00:38] CovertJaguar commented on #1572
Fixed by 5af3e73e576e099d8676e621fae3d7495ab1d2c0

[2019-01-03 00:38] #1572 closed, assigned to CovertJaguar

[2019-01-03 00:40] CovertJaguar commented on #1588
Fixed by 863fd5b39a40155d672051aa6e76e3cb27341c98

[2019-01-03 00:40] #1588 closed, assigned to nobody

[2019-01-03 00:42] CovertJaguar commented on #1604
I haven't tested the recipe migration, but the other issues should be fixed by 307ec2f8ce0cb504e829ca29d9e9171f085fce7a

[2019-01-03 01:02] v-austr opened #1614 "[1.12.2] Tunnel Bore will not place on tracks correctly"
When placing a tunnel bore on a bit of track it will turn 45 degrees then drift to the end of the track before stopping. Steps to recreate:

 - Get/make tunnel bore
 - Place tracks
 - Place tunnel bore on track

See attached snip.

![image](https://user-images.githubusercontent.com/43012409/50619781-edf0c600-0ec0-11e9-9b32-b9c0f27fdfb9.png)

NOTE: This was tested with both a modpack and just vanil

[2019-01-03 01:16] CovertJaguar commented on #1614
Odd. It's supposed to be hard locked to the cardinal directions.

[2019-01-03 06:07] Draskh commented on #1610
That should not be a problem if the names are always the same. And on the other hand it did't throw me an error that the name can't be resolved.

I don't want to remove the block. I just wanted to change it recipe. The blocks, I wanted out like the worldpikes, are disabled via config

[2019-01-03 06:10] Draskh commented on #1610
I changed

to

But that try also failed. The recipes are still present. But normally, if Crafttweaker couldn't get the meta it should crash.

[2019-01-03 06:14] Draskh commented on #1609
That couldn't be a problem with metadata. The recipes uses dustObsidian for instance. It seems that Crafttweaker finds the right recipes and assumes that every ingredient is railcraft:dust:6 instead of just one.

[2019-01-03 06:32] 3TUSK commented on #1610
Uh no, by "recipe id", I mean there is a thing called "recipe registry name", as mentioned in https://crafttweaker.readthedocs.io/en/latest/#Vanilla/Recipes/Crafting/Recipes_Crafting_Table/
![image](https://user-images.githubusercontent.com/9113033/50625585-f4da0180-0edd-11e9-9b0d-e80ff25ed893.png)

Either way, I noticed that your initially provided scripts have already that...

[2019-01-03 19:22] alwaeles opened #1615 "[Suggestion] More locomotive sounds"
I tought it could be interesting to have more locomotive sounds when they're running...

* Piston sound for steam ones,
* Motor sound for electric ones,
* Etc.

Thanks.

[2019-01-03 19:24] dancc7t opened #1616 "Crash when disabling mod features"
**Description of the Bug**
Hello, i was configuring the mod features in the config to prevent redundancy with other mods in my pack, once i restarted the game i get a crash while loading

**To Reproduce**

1. ~~Either download Craftologia 1.2.d or use the mods in the crashlog.~~ Actually its not needed, i tried with a smaller modlist and it still gives the crash. I updated it
2. Use this config fo

[2019-01-03 20:00] wormzjl commented on #1610
Could this be related to recipe registration time?
If RC registers its recipe after CT was run, such recipe removal will not work.

[2019-01-03 22:50] liach commented on #1610
hmm, when is ct ran9

[2019-01-03 23:46] Draskh commented on #1610
That might be. But remember that recipes.remove(<railcraft:boiler_firebox_solid>); worked. Is that recipe registered at a different stage of loading?

[2019-01-03 23:48] Draskh opened #1617 "[1.12.2] Cascading world generation"
https://pastebin.com/rDe382GE

I had this all the time spamming my sever console causing players timing out.

Forge:2076
Railcraft: 12.0.0 Beta 2

[2019-01-04 00:17] liach commented on #1610
All the recipes in railcraft are registered during the init stage, after the registry events are fired.

[2019-01-04 00:57] Jarrose37 opened #1618 "Boiler crash on tank formation"
**Description of the Bug**
When placing down a solid fuel boiler the game crashes

**Logs & Environment**
https://pastebin.com/MbZiMiB7

[2019-01-04 03:14] ElectroBot opened #1619 "Split village workshop and villager generation config option"
Minecraft: 1.12.2
Forge: 14.23.5.2796
Railcraft: 12.0.0-beta-2

I'd like to be able to disable the village workshop, but keep the trackman villager so it that can spawn in villages.

[2019-01-04 13:01] CovertJaguar commented on #1618
Duplicate of #1613

[2019-01-04 13:01] #1618 closed, assigned to nobody

[2019-01-04 13:05] CovertJaguar commented on #1610
Not all... some are in post.

[2019-01-04 13:12] CovertJaguar commented on #1610
The circuit output recipes it should be noted in current versions register 6 variants per circuit. Might it only be removing one?

I changed them to use composite ingredients for beta-3.

[2019-01-04 13:25] Draskh commented on #1610
Six? I have only three versions. One version contains Certus Quartz. Are the other also mod-depending?
I don't think that none is removed though.

[2019-01-04 13:30] wormzjl commented on #1610
I think it might be a good idea to move all recipe to init and see what happens

[2019-01-04 13:58] Draskh commented on #1610
I checked. There are three variants per circuit.
![2019-01-04_14 53 52](https://user-images.githubusercontent.com/26455012/50691458-0ed82900-1031-11e9-9eff-74cf2c60531b.png)
![2019-01-04_14 53 36](https://user-images.githubusercontent.com/26455012/50691459-0ed82900-1031-11e9-977f-9b8312e5a175.png)
![2019-01-04_14 53 41](https://user-images.githubusercontent.com/26455012/50691460-0ed82900-1031-11e9

[2019-01-04 14:31] #1616 closed, assigned to nobody

[2019-01-04 14:38] CovertJaguar commented on #1610
It was definitely six, (Ic2 sticky resin + slimeball) * (lapis + quartz + certes).

Most of the recipes registered in post are recipes that use ingredients from other mods. It might be safe to register them in init these day, but its hard to say for sure without testing all of them.

[2019-01-04 17:17] jaredlll08 commented on #1610
I'm going to be closing the issue on my side.

JEI caches it's recipes at postinit, we run recipe removal / addition at post init, and very rarely have issues like this as most modders use the Register<IRecipe> for their recipes, or at the latest init.

And easy fix would probably be adding "before:crafttweaker", so your post init runs before mine.

[2019-01-04 17:19] liach commented on #1610
Yeah, guess rc will just move all recipes to init stage.

[2019-01-04 19:42] vishtheshnu opened #1620 "Add configuration to disable specific cross-mod features, rather than entire mods"
**Is your feature request related to a problem? Please describe.**
I'm developing an expert style modpack with Railcraft, with Forestry's Sturdy Casing having a more difficult recipe, and Railcraft's Crushed Obsidian being required for certain recipes. When I remove all recipes for the Sturdy Casing using crafttweaker and add my own, the new recipe for the Sturdy Casing added by railcraft (8 brass

[2019-01-04 21:18] Trinsdar commented on #1620
Might be related to #1610

[2019-01-04 21:37] liach commented on #1617
The spam happens, but it does not cause players to time out.

[2019-01-04 23:56] YukariMindGap commented on #1613
I can confirm it happen to everyone else not just him.
Running minecraft with no other mods.
Log: https://pastebin.com/0aYTmff3

[2019-01-05 02:01] Jarrose37 commented on #1613
I wonder when it will get fixed

[2019-01-05 02:33] ElectroBot opened #1621 "Crash when placing TR solar next to Railcraft EU loader"
Crossposted from https://github.com/TechReborn/TechReborn/issues/1652

Minecraft: 1.12.2
Forge: 14.23.5.2806
Tech Reborn: 2.20.1.889
Reborn Core: 3.13.0.400
IC2: 2.8.106-ex112
Railcraft: 12.0.0-beta-2

Placing a TR solar (not sure about other power sources), next to a Railcraft EU loader (which does say that it only accepts EU) hard crashes the game. It does work properly with IC2.

latest.log htt

[2019-01-05 09:56] liach commented on #1621
@chocohead The solution is to add support for both ILocatable and TileEntity for position, right?

[2019-01-05 16:48] StoneLegion opened #1622 "[1.12.2] Need an ability to hover on the inside tank GUI of a Coke Oven."
Right now you can't tell how much is in it. Also when it hits 1 Bucket worth it does now show a line on the tank gui till it hits 1.5 buckets worth.

https://i.imgur.com/5mO7tFG.png

[2019-01-05 20:36] Chocohead commented on #1621
You can do it manually or get the enet to do it for you. `EnergyNet.instance.getWorld` and `getPos` both take `IEnergyTile`s so as long as the `IEnergyTile` is a valid implementation it will find a valid return.

[2019-01-06 16:10] Filvandrel commented on #1613
Same here. I also get a ticking tile entity crash everytime I place any boiler firebox block.

[2019-01-06 17:14] liach commented on #1622
#1584

[2019-01-06 17:14] #1622 closed, assigned to nobody

[2019-01-06 17:19] liach commented on #1613
See #1611 #1583

[2019-01-06 22:12] Trinsdar opened #1623 "Brass recipe does not work when inventory tweaks is loaded"
**Description of the Bug**
If inventory tweaks is loaded brass cannot be crafted from 3 copper ingots and one zinc ingot

**To Reproduce**
1. install inventory tweaks
2. get three copper ingots and one zinc ingot
3. try to craft brass

**Expected behavior**
brass should craft from 3 copper ingots and one zinc ingot

**Screenshots & Video**
![2019-01-06_18 18 37](https://user-images.githubuserconte

[2019-01-06 23:27] liach commented on #1623
My best guesses:
1. Inventory tweaks coremod tweaked container code and broke recipe identification;
2. inventory tweaks registers oredict entry `dustZinc` and `dustCopper`, making railcraft assume that there is alternative logical ways to craft brass

Needs digging.

[2019-01-06 23:30] liach commented on #1623
Ah, got it. it should be cause 2.

https://github.com/Inventory-Tweaks/inventory-tweaks/blob/88fda94ca737c3a93cc1f19b5e57f506e5d9e514/src/main/resources/assets/inventorytweaks/itemtree.xml#L628

[2019-01-07 00:10] Kobata commented on #1623
So, as far as my side goes:

1. The coremod's arbitrary-ish edits are limited solely to adding new methods that are used for internal things. The only stuff it does that actively edits existing things is the small tweak to prevent registering sort commands while typing, and a few replacements of internal things to hook them up the the added methods.
2. I don't register new ore entries anywhere. Th

[2019-01-07 00:21] liach commented on #1623
imo invtweaks does not need to change. This can be done by railcraft itself.

[2019-01-07 00:28] Kobata commented on #1623
I'm making it avoid unnecessarily adding the entries just because that's a good thing to do in general anyway. (That code's been there for quite a while so I probably either didn't notice or the non-cluttering version didn't exist at the time)

[2019-01-07 00:36] Trinsdar commented on #1623
Makes me wonder if I should check other alloy recipes

[2019-01-07 01:15] ElectroBot opened #1624 "Electric Locomotive with MFE cart is really"
Minecraft: 1.12.2
Forge: 14.23.5.2806
IC2: 2.8.107-ex112
Railcraft: 12.0.0-beta-2

An electric locomotive with a MFE is reaaally slow (around 1 block per second) on the fastest speed. Even multiple locomotives don't increase speed.

[2019-01-07 01:19] liach commented on #1624
See #461

[2019-01-07 01:21] thill19 opened #1625 "[1.12.2] Multiblock tank deletes fluid after its filled"
**Description of the Bug**
Filled the iron tank full of lava it deleted the lava from the drum after it was filled

**To Reproduce**
Step1: Fill iron tank with lava until its completely full
Step2: iron Tank deletes lava after full

**Expected behavior**
I expected the iron tank to stop accepting lava after it was full

[2019-01-07 01:32] ilhamsitok commented on #1624
Nope, not even a little bit. even after changing the hp of locomotive, it's still painfully slow

[2019-01-07 01:40] liach commented on #1624
Hmm, might be caused by train refactor. I actually agree that the locomotives are too costly as a mean to travel.

[2019-01-07 02:17] ElectroBot opened #1626 "Middle rail doesn't cause player damage"
Minecraft: 1.12.2
Forge: 14.23.5.2806
Railcraft: 12.0.0-beta-2

The middle rail doesn't cause any player damage on any difficulty settings.

[2019-01-07 02:20] liach commented on #1626
Are you sure the track is powered? Each 1 damage takes 1000 points of charge; it there is not enough charge, damage will not be made.

[2019-01-07 02:30] liach commented on #1626
examine the track with a charge meter and see results.

[2019-01-07 08:29] TheDeviantCrafter commented on #1610
If this is the issue, a temporary workaround is to remove the recipes using UniDict. It has a separate recipe removal CraftTweaker function that takes place well after CraftTweaker does its thing.

[2019-01-07 09:08] Draskh commented on #1610
As I remember, UniDict only removes kinds like gearPlate or ingotSteel.

[2019-01-07 22:32] DiamondSwag opened #1627 "Oil Does not Work!"
Hello,

Previously, BuildCraft had 1 oil, which was simply called "oil". Now, buildcraft segregates oil based on temperature to have a "cool", "warm", and "boiling" hot. Now that the oil is stateful, railcraft cannot load the oil into the trains. The oil simply does not go into the pump, since the filter cannot be set correctly. Thanks!

[2019-01-08 00:05] CovertJaguar commented on #1627
Railcraft doesn't care about fluid type. I think this is actually a duplicate of #1549.

[2019-01-08 00:05] #1627 closed, assigned to nobody

[2019-01-08 00:14] CovertJaguar commented on #1623
What is this code even doing? Why doesn't it just register the recipes?

Looking at the history, this looks like a bad merge by @Generalcamo.

Removed here:
https://github.com/Railcraft/Railcraft/commit/4a6527fc83247320e484f1168cd185f27872a4c4

Then readded here:
https://github.com/Railcraft/Railcraft/commit/0201daf855467376f2a70c670f2ec3e7303cfb45

[2019-01-08 00:21] CovertJaguar commented on #1626
The problem is the system needs enough power stored in the network to zap people. The tracks do two damage (one heart is two damage). It costs 1k charge per point of damage.

So your network needs 2k storage to zap things. The network you have described only has 1k storage.

I know it works, I tested it.

[2019-01-08 00:21] #1626 closed, assigned to nobody

[2019-01-08 00:26] CovertJaguar commented on #1624
Acceleration isn't really a thing I have control over. The locomotive boost might indeed be broken though. I haven't tested it since I rewrote that code.

[2019-01-08 00:38] CovertJaguar commented on #1625
Drum?

[2019-01-08 00:39] Devin616 commented on #1614
i can also verify that i ran into this doing some creative testing to see if i could use the tunnel bore to lay out tracks across the surface, but it derails instantly, slids down the track, and then rotates sideways. the area around it is still impassable as if it is in the correct position, however when provided a diamond bore , fuel, track and gravel it sits there glitched doing nothing.

[2019-01-08 00:42] CovertJaguar commented on #1620
Duplicate of #1610. Same issue is that the recipe is being registered too late for CraftTweaker to see it.

[2019-01-08 00:42] #1620 closed, assigned to nobody

[2019-01-08 00:44] CovertJaguar commented on #1617
The code has been the same since forever. The only difference is that Forge decided to complain about it instead of ignoring it. It'll get fixed eventually, but crashes and usability bugs come first as this one doesn't have any affect other than a one time tick cost on chunk generation.

[2019-01-08 00:46] CovertJaguar commented on #1609
It might be adding ItemDust to the oreTag as a wildcarded ItemStack, matching everything.

[2019-01-08 00:52] #1551 closed, assigned to nobody

[2019-01-08 01:50] CovertJaguar commented on #1621
We only use that object for an instanceof test. It doesn't need to be cast to TileEntity, we can't use IEnergyEmitter in the delegate prototype because its part of the IC2 API and the entire point of the delegates is to separate the IC2 code from our code so that they never interact directly. In which case changing the delegate to take an Object works fine.

[2019-01-08 01:56] #1621 closed, assigned to nobody

[2019-01-08 04:43] bookerthegeek commented on #1625
One would assume they were using a drum from extra utilities 2 as a source of the fluid.

[2019-01-08 07:17] samjviana opened #1628 "Game crashes when open JEI coke oven recipes GUI"
**Description of the Bug**

Game crashes when try to open the coke oven recipes GUI from JEI, even the launcher closes!
Obs. This only happens when the game window is with the height bigger than approximately 750px, the width doesn't seems to affect in nothing.

**To Reproduce**

1. Just click on the "fire" icon on the coke oven, or press "R" to see the recipe of something that is done in the coke

[2019-01-08 16:56] GameBurrow opened #1629 "[12.0.0-beta-3][Server] Crash on server launch"
**Description of the Bug**
Railcraft is causing server to crash after update to beta-3 from beta-2.

**To Reproduce**
Start our server after update to Beta 3

**Expected behavior**
Start server without crashing.

**Screenshots & Video**
-

**Logs & Environment**

 - Full log:
https://gist.github.com/kerts93/1195b4cf93bbe18c75a34f5137ad7b95
 - Crash report (If available):
https://gist.github.com/ke

[2019-01-08 20:20] Sixdd6 commented on #1629
Can confirm, Railcraft is calling renderer on serverside.
Here is the crash report: [linky](https://pastebin.com/p8Mqh6jx)

[2019-01-08 20:25] laxadeR commented on #1629
Just for the sake of it, tried clean empty server with just railcraft on it, same issue.
[Crash report](https://pastebin.com/N0wxMLkK)

[2019-01-08 23:45] MtnDrew opened #1630 "Blast furnace steel recipe broken"
So I have only a few tech mods installed that have ore generation and alloys in my entire modpack I put together for myself. Ender IO, Railcraft, and Forestry (Abyssalcraft as well if that counts although it's very different). Even though no other tech mods have an oredictionary Steel equivalent, Railcraft has disabled steel being able to be produced through a blast furnace, and has also disabled

[2019-01-08 23:48] Trinsdar commented on #1630
duplicate of #1623 and the other issue is already known

[2019-01-08 23:53] MtnDrew commented on #1630
So it's not just with inventory tweaks, it's with any other mod? And will the issue with steel not being produceable through the blast furnace be added to that? I'm just wondering if there is something I'm missing. Edit: Oh, Inventory Tweaks. For some reason I was reading that as some form of craft tweaker. Well ignore the brass part then. Wouldn't want to lead you on a wild goose chase. Then let'

[2019-01-09 00:41] Trinsdar commented on #1630
I think the steel issue was raised on the railcraft discord so they are already aware of it

[2019-01-09 00:50] MtnDrew commented on #1630
Great! Thank you very much. I love this mod and the great features it has, so I usually try to make sure other mods features are disabled so they don't interfere with this one.

[2019-01-09 00:52] liach commented on #1630
I will reopen this so developers don't forget about the steel thing.

[2019-01-09 01:07] liach commented on #1629
Hmm, this crash is totally weird. I guess the cause might be in private code.

[2019-01-09 01:31] DiamondSwag commented on #1627
@CovertJaguar I am not quite sure. Normally, raiilcraft would work fine transporting large amounts of oil. Unfortunately, when setting the filter, it no longer works since buildcraft now has different 'types' of oil. This means the filter cannot be set, not allowing any oil to be pumped into trains. Therefore, I would consider this to still be a valid bug, and would appreciate if it would be treat

[2019-01-09 01:33] DiamondSwag commented on #1577
I would just like to comment that I have also noticed this bug. The regular BatBox carts function fine, but the MFE cart seems to behave a big "funny".

[2019-01-09 01:34] liach commented on #1627
Do different types of oil share the same bucket? I remember there are different types of buckets for different types of oils.

[2019-01-09 02:50] WarlordWossman opened #1632 "[12.0.0-beta-3]IC2 charge feeder unit"
**Description of the Bug**
Can only get it by using the command:
`/give <playername> railcraft:charge_feeder`
Missing texture, instantly disappears after being placed in the world, doesn't show up in creative.

The admin version seems to be fine, it doesn't share any of the problems named above.

**To Reproduce**
I used a clean 1.12.2 install with forge 14.23.5.2784 and railcraft 12.0.0-beta-3 and

[2019-01-09 15:18] WarlordWossman commented on #1632
It does work with IC2 installed it seems, so not sure if this would still be considered a bug.
Would like to see a feeder unit that works with GTCE but that's a feature request at this point.

[2019-01-09 19:46] DiamondSwag commented on #1627
No, but regular buildcraft oil now comes in three variants. Hot, searing, and cool. I guess the buildcraft integration hasn't been fixed for this change. Hence it should be reopened as a valid issue. I cannot fill a tank cart with oil.

[2019-01-09 21:13] CovertJaguar commented on #1627
The point I was trying to make is that there _is no Buildcraft specific integration_ here.

The filter works on what is contained in the fluid container you put it in. I doesn't care if its water, oil, or flubber. If it fits in a bucket you can filter it.

It is already known that the Fluid Loaders are completely borked and not loading anything, not just oil.

[2019-01-09 21:17] CovertJaguar commented on #1632
It would probably crash your game if you tried to use it without IC2 installed.

GTCE uses a different energy API and would require its own block.

[2019-01-09 21:17] #1632 closed, assigned to nobody

[2019-01-09 21:38] CovertJaguar commented on #1629
Closed by 6b105a96d17b9941204a801a1ff217ae1a20b0a1

[2019-01-09 21:38] #1629 closed, assigned to nobody

[2019-01-09 21:41] CovertJaguar commented on #1630
Fixed by https://github.com/Railcraft/Railcraft-API/commit/229464b4b9a8aee60912f9bc943544d4af5522c4

[2019-01-09 21:41] #1630 closed, assigned to nobody

[2019-01-09 21:45] CovertJaguar commented on #1628
Are you running custom configs? It seems one of the recipes had no input assigned.

[2019-01-09 21:49] CovertJaguar commented on #1628
Upon inspection this probably happens if IC2 isn't installed as the ore tag "woodRubber" then has no members defined.

[2019-01-09 23:57] #1628 closed, assigned to nobody

[2019-01-09 23:59] CovertJaguar commented on #1625
And how did they get that fluid into the tank?

[2019-01-10 01:41] WarlordWossman commented on #1594
Having related problems in beta 3, trying to get fuel into a worldspike using a hopper:
[crash-2019-01-10_02.34.50-server.txt](https://github.com/Railcraft/Railcraft/files/2743242/crash-2019-01-10_02.34.50-server.txt)

[2019-01-10 08:10] liach commented on #1595
Fixed by cj.

[2019-01-10 08:10] #1595 closed, assigned to nobody

[2019-01-10 09:46] #1596 closed, assigned to nobody

[2019-01-10 09:53] CovertJaguar commented on #1596
The tiles were never getting sent the break event. They had already been deleted.

[2019-01-10 12:06] wormzjl opened #1633 "java.lang.NullPointerException at mods.railcraft.common.blocks.multi.TileRockCrusher.isRecipeValid(TileRockCrusher.java:291)"
**Description of the Bug**
Encountered this crash with a rock crusher in world, using beta 3
the rock crusher is not forming

**Logs & Environment**
https://gist.github.com/wormzjl/b3a93ec2e5a72495fe27dc3ec96c7eea

[2019-01-10 12:48] JosephFoster118 opened #1634 "Can not craft advanced and powered rails"
**Description of the Bug**
I'm unable to craft the advanced and powered rails in the rolling machine

**To Reproduce**
Place items in recipe listed online into rolling machine

**Expected behavior**
Advanced and powered rails can be crafted

**Screenshots & Video**

![desktop screenshot 2019 01 10 - 06 39 55 14](https://user-images.githubusercontent.com/18226716/50969121-f3db3e00-14a2-11e9-95b7-c7

[2019-01-10 15:02] Generalcamo commented on #1623
Yes I apologise for that. I'll go ahead and fix it.

[2019-01-10 21:37] chrizfilmz commented on #1629
the bug is not fixed, why did you close this issue? i still have it ass of 10minutes ago

[2019-01-10 21:39] GameBurrow commented on #1629
@chrizfilmz Fixed in code, which will come to you with next release.

[2019-01-10 21:50] StoneLegion opened #1635 "Crashing on Server at Launch? Looks like Railcraft trying load Client side stuff?"
I seem to be crashing with railcraft-12.0.0-beta-3

I'm getting a: Caused by: java.lang.NoClassDefFoundError: net/minecraft/client/renderer/tileentity/TileEntitySpecialRenderer

Full crash log:
https://pastebin.com/gUk5EkMq

Keep in mind launches fine in SP / Client for days of testing just not when I launch headless linux server.

[2019-01-10 21:54] CovertJaguar commented on #1634
I believe those are the old recipes. They have changed.

[2019-01-10 22:05] StoneLegion commented on #1635
Looks like this was fixed already just not released >.> such major downfall for servers :(
#1629

[2019-01-10 22:05] #1635 closed, assigned to nobody

[2019-01-10 23:31] liach commented on #1634
Advanced rails are 3 gold ingots on the left column and 3 redstone dusts on right column.
Electric rails are 3 copper ingots on the left column and 3 more copper ingots on the right column.
Both recipes should have their middle column left blank.

[2019-01-10 23:31] #1634 closed, assigned to nobody

[2019-01-10 23:34] liach commented on #1634
Hmm, I am curious. This recipe has been changed since the 1.10 port, but people seem to be unaware of this change all along.

[2019-01-11 02:26] TheDeviantCrafter opened #1637 "Disabling ingots in the items.cfg file disables the Steel Forger villager career instead of using Thermal Foundation steel"
**Description of the Bug**
The `item.cfg` file allows you to disable certain items in the mod. I set this line to false: `B:ingot=false`

Doing so appears to have disabled the Steel Forger villager career. I spawned about 500 villagers and saw at least a dozen cartmen and trackmen, but no steel forgers.

I disabled the ingot to hopefully replace all of the ingots with their Thermal Foundation coun

[2019-01-11 02:56] TheDeviantCrafter commented on #1637
I haven't tested it, but I suspect the same issue will happen if coal coke is removed. I plan to disable that item since the rest of my pack uses Thermal Foundation coal coke.

[2019-01-11 02:59] #1633 closed, assigned to nobody

[2019-01-11 03:00] CovertJaguar commented on #1634
Which reinforces my belief that not many people played 1.10.

[2019-01-11 03:02] CovertJaguar commented on #1637
I'm just going to say it. Railcraft expects railcraft's items to be present, not other mods.

There is no easy way for Railcraft to find and use the other mod's items.

The Ore Dictionary is not an item equivalency database, its a crafting equivalence database not suited for these uses in any way.

[2019-01-11 03:03] liach commented on #1637
@TheDeviantCrafter Steel forger is a career under the vanilla smith profession. You cannot find it if you are looking for blue overall villagers (trackman profession)

[2019-01-11 03:09] CovertJaguar commented on #1637
Definitely something wrong with the logger for that though.

[2019-01-11 03:11] JosephFoster118 commented on #1634
The wiki is where I went to get the recipes, it still list the old ones.

[2019-01-11 03:21] liach commented on #1634
Fixed on wiki for now with a short description. http://railcraft.info/wiki/part:rails

[2019-01-11 03:32] TheDeviantCrafter commented on #1637
Welp, I'm an idiot. I found the steel forger in about 20 seconds.

It looks like it removes the steel trade, but leaves the other trades intact. It's not ideal, but it's much closer to intended behavior.

[2019-01-11 03:34] TheDeviantCrafter commented on #1637
@liach Is it an issue with looking up the ore dictionary while the trades are being loaded? A config option that lets pack devs replace specific items with other items might be more practical.

[2019-01-11 03:47] liach commented on #1637
I marked this as an enhancement because our trade is bound to railcraft ingots for now. We can add oredict support for input/output.

[2019-01-11 06:07] bookerthegeek opened #1638 "SpongeForge Cross Post"
## Heyo
Hello! Love the mod. Was building a pack and noticed that it crashes while starting if SpongeForge is involved. (Yes I know, SpongeForge not supported and all that.) Just thought you should know. Also it is posted over on the Sponge GitHub [HERE](https://github.com/SpongePowered/SpongeForge/issues/2540)

### To Reproduce
1. Install Forge, Railcraft and SpongeForge.
2. Start Minecraft.
3. G

[2019-01-11 07:38] liach commented on #1638
Duplicate of #1607

[2019-01-11 07:38] #1638 closed, assigned to nobody

[2019-01-11 08:56] liach commented on #1594
same fuelmap glitch.

[2019-01-11 09:03] liach commented on #1615
One of my concerns is the license of sound files. Will we use vanilla ones or get more from soundcloud/sounddog/freesound, etc.?

[2019-01-11 11:41] TheDeviantCrafter opened #1640 "Crash when viewing coke oven recipes with coal coke item disabled"
**Description of the Bug**
When viewing the coke oven recipes in JEI, the game crashes. I've encountered this when checking the uses for coal and when clicking the arrow in the coke oven GUI.

I disabled coal coke in the config, which is almost certainly related.

**To Reproduce**

1. In the `items.cfg file`, change `B:fuel_coke=true` to `B:fuel_coke=false`

**Expected behavior**
Viewing the recip

[2019-01-11 15:05] liach commented on #1549
After long investigation, I am finally able to fix this.

[2019-01-11 22:09] alwaeles commented on #1615
I can record some sounds if you want...

[2019-01-12 00:43] CovertJaguar commented on #1547
@liach test if its been fixed and close if it is.

[2019-01-12 01:47] liach commented on #1640
hmm, cj has refactored this and i wonder if this will still happen.

[2019-01-12 02:41] liach commented on #1547
Yeah, has been fixed.

[2019-01-12 02:41] #1547 closed, assigned to liach

[2019-01-12 03:10] CovertJaguar commented on #1640
Duplicate of #1628

[2019-01-12 03:10] #1640 closed, assigned to CovertJaguar

[2019-01-12 03:12] TheDeviantCrafter commented on #1628
I had a similar crash, and IC2 was not installed.

[2019-01-12 03:16] CovertJaguar commented on #1628
Yes, the underlying issue is fixed. And I think even made it into Beta-4.

[2019-01-12 11:50] Pentasis opened #1642 "Waiting for Server while exploring"
1.12.2 beta-4

**Description of the Bug**
When generating new terrain I constantly get "Waiting for server" in waila/one probe and all entities "freeze" i.e. doors/chests do not open/close, mobs dont move etc. and chunks do not generate.
Closing the game hangs on "closing down server" and I need to kill the process manually.

**To Reproduce**
Don't know, it's not consistent
I do know that removing

[2019-01-12 13:41] liach commented on #1642
Hmm, i have had this issue once as well when shutting down a sp testing world. Not sure if this is related to the logic issue i've fixed in #1641

[2019-01-12 13:50] Pentasis commented on #1642
I'll add that since I removed railcraft from my pack, it has become very responsive. I had a lot of issues with world generation lag, stuttering (when moving), lighting updates, etc. I chalked them up to the pack being extensive (well, for my rig that is). I've been playing the pack for 2 weeks and had these problems from the start but I haven't had any of these problem after removing RC. Not sure

[2019-01-12 13:51] liach commented on #1642
If those lag, stall, crash etc. happens with rc along, then it's railcraft's fault. wait for beta 5 and try again.

[2019-01-12 20:14] wormzjl opened #1643 "Do not register recipes if corresponding device is disabled"
Like this
![image](https://user-images.githubusercontent.com/2989009/51078007-05913100-16af-11e9-98e9-42b23063c9a7.png)

[2019-01-12 22:50] red360 opened #1644 "Fluid Unloader"
**Description of the Bug**
Fluid Unloader only works from above track/fluid cart.
MC 1.12.2
RailCraft  12.0.0-beta-4

[2019-01-12 22:51] CovertJaguar commented on #1642
Which logic issue? I'm not seeing any code that could cause this?

[2019-01-12 22:58] red360 opened #1645 "Hopper carts do not pull items from block above."
**Description of the Bug**
Hopper carts do not pull items from block above. MC 1.12.2. Railcraft 12.0.0-beta-4

Same as item 2 of issue https://github.com/Railcraft/Railcraft/issues/1137

[2019-01-12 23:12] liach commented on #1644
is my pr in beta 4 yet? if not, the explanation is that you looked up when placing the unloader.

[2019-01-12 23:18] red360 commented on #1644
OK yes the Unloader works as expected when placing under track looking down.
Thanks.

[2019-01-12 23:19] liach commented on #1642
i mean that client desync caused by getting wrong interface on cart death

[2019-01-12 23:24] liach commented on #1644
this bug is implemented and will be fixed in the next beta.

[2019-01-12 23:50] liach commented on #1644
Closing. Will be tracked in #1641 instead.

[2019-01-12 23:50] #1644 closed, assigned to liach

[2019-01-12 23:52] liach commented on #1643
@wormzjl Given other mods will be able to add their custom implementation of rc rock crusher, etc., I think this check will be in jei only (checking if there is any catalyst)

[2019-01-13 01:01] #1549 closed, assigned to liach

[2019-01-13 01:01] #1594 closed, assigned to liach

[2019-01-13 01:01] #1601 closed, assigned to liach

[2019-01-13 03:12] The-Panopticon commented on #1583
I just encountered the same issue and upgraded to 12.0.0 beta 4, from beta 3, and am now encountering the issue with Liquid Fireboxes as well, after placing just 3. You may already be aware of this, biut i figured another report couldn't hurt. Here's the latest Crash Report.

https://gist.github.com/Zyd3r/b498d309889330475ba143cd555ff0e0

[2019-01-13 05:57] CovertJaguar commented on #1583
I'm currently working my way through the multiblocks and migrating them to a new, less coupled, framework. I haven't got to the Boilers yet, working my way through the crafters right now.

The code that is crashing here is in the guts of the stuff that got redesigned, so no point fixing it until I'm ready to do the complete migration of the boilers.

[2019-01-13 06:19] CovertJaguar commented on #1637
Swapping one item with another that has the same ore dict tag actually breaks the contract of the ore dictionary.

That's how you end up with dog poo cookies. Just because dog poo and cocoa are both "dyeBrown", doesn't mean you can make cookies with either.

[2019-01-13 06:50] liach commented on #1589
@CovertJaguar Does this still happen after moving to the new logic system? It no longer happens to me even before the move to logic, though the progress bar isn't being synchronized.

[2019-01-13 06:51] liach commented on #1592
Uh, github forgot to close this.

[2019-01-13 06:51] #1592 closed, assigned to nobody

[2019-01-13 07:02] liach commented on #1617
Merging into #1474

[2019-01-13 07:02] #1617 closed, assigned to nobody

[2019-01-13 07:06] liach commented on #1637
As a result, we need a reliable way to offer tweakable villager recipe generation (generation only, or it will break existing custom trades in maps!)

[2019-01-13 10:19] liach commented on #1506
Hmm, when I test now, it works. After clicking R, the lamp is on the opposite of the moving direction.

[2019-01-13 10:28] CovertJaguar commented on #1592
You have to write either "Fixes #num" or "Closes #num" in the commit message for that to work.

[2019-01-13 10:29] liach commented on #1592
Should have written `#1592 Fix train dispenser crash` instead.

[2019-01-13 10:30] CovertJaguar commented on #1592
https://help.github.com/articles/closing-issues-using-keywords/

[2019-01-13 10:50] CovertJaguar commented on #1589
It does not.

0c59a8bac9ecd5d8b7ad0bf2bd358bb1451bcc07

[2019-01-13 10:50] #1589 closed, assigned to CovertJaguar

[2019-01-13 11:51] #1645 closed, assigned to liach

[2019-01-13 13:03] anar4732 opened #1647 "RuntimeException on Server/Client Startup"
Version: Builded today
https://paste.dimdev.org/ifanicumed.mccrash

[2019-01-13 13:08] CovertJaguar commented on #1647
That's because you aren't allowed to create jars.

[2019-01-13 13:08] #1647 closed, assigned to nobody

[2019-01-13 13:08] The-Panopticon commented on #1583
that makes complete sense! I look forward to seeing the results, and I appreciate your hard work!

[2019-01-13 13:21] liach commented on #1647
Moreover, read https://github.com/Railcraft/Railcraft/wiki/Running-instructions-for-Minecraft-1.12.2

[2019-01-13 15:53] chrizfilmz opened #1648 "Electric Locomotive with EU power super slow"
Not much to write, electric locomotive moves super slow while having a power cart giving it power (atleast EU from CESU) no matter what speed i select in the locomotive GUI. Also the EU loader does not work on MFE cart (but it works on the others)

[2019-01-13 16:17] thill19 commented on #1625
i used a fluiduct from thermal expansion

[2019-01-13 16:18] thill19 commented on #1625
i was actually using ender tanks for it

[2019-01-13 17:19] Nagyur commented on #1625
Hi! I built a 3*3*4 iron tank with one valve in beta2 filling it with oil in creative mode with buckets the level meter said full after 64 bucket and keep accepting new buckets of oil. It is not deleted but the scale is wrong. After switching to survival mode i can extract the oil i pured in and the scale wont drop untli i get the overflow out.
Further more all tank size indicate that they are ful

[2019-01-13 17:58] WarlordWossman commented on #1648
I think you need a transformer upgrade in the EU loader to charge an MFE cart, at least that worked in beta 3, have not tested in beta 4 just yet.

But yeah the balance seems a bit weird and MFE carts are so heavy that they are super buggy I feel like (could be another reason tho). Wanted to wait a little before making an issue but since you report similar things I might as well comment on here.
H

[2019-01-13 20:30] CovertJaguar commented on #1648
MFE cart isn't rotation aware. Rotation is handled by vanilla code.

[2019-01-13 20:31] CovertJaguar commented on #1648
Possibly related to #1577

[2019-01-13 20:34] CovertJaguar commented on #1625
So possibly an issue with the fluid widget.

[2019-01-13 22:38] KP2048 opened #1649 "[1.12.2] multiblock tank have infinite storage"
**Description of the Bug**
my steel tank has infinite storage

**To Reproduce**
1. Build multiblock tank
2. try to fill the tank
3. the current fluid storage surpasses the capacity

**Expected behavior**
The tank would stop accepting fluid
**Screenshots & Video**
![2019-01-13_14 09 03](https://user-images.githubusercontent.com/39203202/51091468-cd85fe80-173f-11e9-83fe-dd6b5e43b490.png)
**Logs & En

[2019-01-13 22:45] liach commented on #1649
Duplicate of #1567. Moving the issue there.

[2019-01-13 22:45] #1649 closed, assigned to nobody

[2019-01-13 22:46] liach commented on #1625
So this is actually a duplicate of #1567. Moving the talks there.

[2019-01-13 22:46] #1625 closed, assigned to nobody

[2019-01-13 22:51] liach commented on #1648
Duplicate of #1624. See #1577 also. The MFE cart is definitely getting a throughout check.

[2019-01-13 22:55] #1648 closed, assigned to nobody

[2019-01-13 23:32] chrizfilmz opened #1650 "No textures for steam"
No textures for steam and related items.

[2019-01-13 23:35] liach commented on #1650
No screenshot, no evidence.

[2019-01-13 23:36] liach commented on #1650
A few other "missing texture for steam" cases have happened before as well; most of the time, it is caused by some other mods loaded before Railcraft adding broken steam. You should have filled out the issue template, at least the log part so that I can know what mods you have, etc.