[2016-11-25 15:50] liach commented on #924
Thanks. I have opened a pull to forge to avoid use of reflection in the future.

[2016-11-27 21:28] MalkContent commented on #1018
I'd love if trains could just travel into netherportals and continue on a rail there

[2016-11-27 21:48] liach commented on #1005
@Zundrel Can it be reproduced with latest Optifine?

[2016-11-27 22:15] coryhiller opened #1026 "Blocks not rendering"
I am having an issue with certain blocks not rendering on the screen.  They show as blank on the recipes list from the JEI mod.  And when crafted they show as blank spots in the inventory as well.  When placed in the world the appear as generic gray bricks.
This appears to be affecting the railcraft decorative blocks (Bloodstained, Frostbound, Infernal, etc.)
I've included two screenshots for the

[2016-11-27 22:57] DaemosDaen opened #1027 "[10.0.0] Creosote Oil is not ore dictionaried and the Railroad Tie recipie eats bottles when used."
When using Immersive Engineering with Railcraft, the Creosote buckets given by that IE's Coke Oven does not work with Railcraft's Railroad Tie recipe, my workaround ended up being a Forestry Carpenter. I tried bottles, but they got eaten by the recipe (probably due to the currently recipes. in place for Railcraft to get Creosote).

[2016-11-28 00:03] liach commented on #1027
Does this happen without Immersive Engineering?

[2016-11-28 00:06] liach commented on #1026
If you have Optifine, please update to versions later than OptiFine 1.10.2 HD U D4.

If you do not or the issue persists, a mod list with versions would help. You can generate one by pressing F3+H in game for 8 seconds to generate a crash report containing all these information.

[2016-11-28 00:21] coryhiller commented on #1026
Upgrading OptiFine did indeed fix the issue!! Thank you very much!!

[2016-11-28 01:58] DaemosDaen commented on #1027
There are no other mods that add Creosote that I know of. As for the eating of the bottles, yes, but as Railcraft gives the bottle  (i.e. does not use one to actually make the creosote) with the recipe, that makes sense.

I'm not really worried about the bottle thing as that will probably work it's self out once machines are added back in. it's that the Creosote buckets are not in the "ore diction

[2016-11-28 03:23] MariaTheDinkus commented on #1005
I can confirm, as of Optifine 1.10.2_HD_U_D4, that Railcraft **no longer** crashes with Optifine when scrolling down to the detectors.

[2016-11-28 21:05] liach commented on #1018
@MalkContent Although I have not tested yet, I believe the current mechanics for carts through the nether portal is erroneous.

[2016-11-28 21:20] MalkContent commented on #1018
did that even work at any point? ^^
not being able to drive through portals was one of my biggest vanilla disappointments

[2016-11-29 02:14] wylderhoads1809 opened #1028 "Initialization Crash: Not enough memory"
I haven't had this problem with any other mods, and when I added Railcraft I got this error. I removed railcraft and it was fixed. I would love to have your mod in my world, so I was wondering if you could shed any light on why this would be happening. Is there some conflict with another mod? Is this not a railcraft crash? if not, please let me know which mod (I cannot make sense of this info) so

[2016-11-29 02:29] KnightMiner commented on #1028
Sounds like you don't have enough memory.

Mods are a lot heavier on ram usage than vanilla, so naturally when adding mods you will need to increase the amount of ram you allocate to Minecraft. According to the report, you only have 2G allocated, generally I run with 3G to 4G

[2016-11-29 02:30] abculatter2 commented on #1018
Sending unmanned, unlinked carts through nether portals has been possible for awhile. It requires some tinkering and figuring things out, but it's quite doable.

It would indeed be neat to send trains and manned carts through them, though. I remember there being a suggestion for a portal tunnel before...

[2016-11-29 02:32] wylderhoads1809 commented on #1028
Yeah I only have 4 total in my computer so 2 seemed about right. I run every other mod, and even a 1.7.10 modpack with almost twice as many mods with only 2G allocated. Is railcraft specifically taxing? Would my computer explode if I dedicated 3G?

[2016-11-29 02:50] KnightMiner commented on #1028
3 should work in theory, essentially the issue is 1.10 uses a lot more memory than 1.7 in exchange for better performance. Railcraft is just a mod with quite a bit of content so naturally it uses more memory.

If you cannot increase your memory beyond 3 and it still won't load, removing mods in your only option, so start by removing either redundant mods or mods with a lot of block models (ones th

[2016-11-29 04:43] wylderhoads1809 commented on #1028
Ah, thank you KnightMiner. I would hate to lose this world, esp since it's a shared world with my gf (and she really likes Pam's) but I'll see what I can do tomorrow.

[2016-11-29 06:57] liach commented on #1028
`Memory: 619262984 bytes (590 MB) / 2134114304 bytes (2035 MB) up to 2134114304 bytes (2035 MB)`
This looks weird.

[2016-11-29 12:01] Forecaster commented on #1028
Please get help with things like memory issues on the minecraft forums, or on irc/discord, not on a mods issue tracker...

[2016-11-29 12:01] #1028 closed, assigned to nobody

[2016-11-29 18:10] MalkContent commented on #1004
on a side note: you can also throw mobs into the wall with the help of disembarking tracks

[2016-11-30 00:58] Eufranio commented on #901
Can you backport the fix for 1.7.10?

[2016-11-30 01:07] liach commented on #901
@Eufranio For now, I suggest you ban cart/train dispenser.

[2016-11-30 01:13] Eufranio commented on #901
It's banned since I reported this dupe, but I would like unban it, it's a cool block =/

[2016-11-30 08:16] CovertJaguar commented on #788
Yeah, that's probably not Railcraft.

[2016-11-30 08:18] CovertJaguar commented on #1025
Its added, but the config issue is getting in the way.

[2016-11-30 08:18] #1025 closed, assigned to nobody

[2016-11-30 08:22] CovertJaguar commented on #1027
My solution: https://github.com/MinecraftForge/MinecraftForge/pull/3332

[2016-11-30 08:22] enki1337 commented on #788
That was my guess as well, but figured I'd leave a comment anyways in case someone else had the same problem and wanders across this. TT hasn't been updated in over a year, so even if it's something they could fix, I doubt there's much point in reporting it to them. Work around is pretty trivial anyways once you understand the problem. Cheers and thanks for the awesome mod!

[2016-11-30 08:25] #1005 closed, assigned to nobody

[2016-11-30 08:25] #1026 closed, assigned to nobody

[2016-11-30 08:26] #924 closed, assigned to nobody

[2016-11-30 08:34] #1019 closed, assigned to nobody

[2016-11-30 08:37] CovertJaguar commented on #1022
I knew loosening up the spawn restrictions would come back to bite me.

[2016-11-30 08:41] #1022 closed, assigned to nobody

[2016-11-30 08:44] #1008 closed, assigned to nobody

[2016-11-30 08:55] CovertJaguar commented on #1015
More information needed, cannot reproduce.

[2016-11-30 08:55] #1015 closed, assigned to nobody

[2016-11-30 09:40] jooscher commented on #673
Hi there everyone!
I just stumbled upon this bug when trying to setup an automated system.
I am playing with Bevo's Modpack atm, which uses Railcraft 9.12.2.0.
Is this bug fixed in more recent versions?

[2016-11-30 10:05] CovertJaguar commented on #673
Yes, it is fixed in 10.0.0

[2016-11-30 10:08] jooscher commented on #673
Thanks for the quick response!
Really appreciate your work and support!

[2016-11-30 14:42] ghost opened #1029 "Minecraft crashes when scrolling down Railcraft tab in creative inventory"
I'm using Railcraft 10.0.0 and I have been experiencing crashes ever since I installed Railcraft.

The crash report is attached here:
[crash-2016-11-30_22.31.11-client.txt](https://github.com/CovertJaguar/Railcraft/files/622050/crash-2016-11-30_22.31.11-client.txt)

I'm using OptiFine as well, forgot which version it was. I believe it is the latest version as of 30th November. I remember seeing an

[2016-11-30 14:43] Zundrel commented on #1029
Update Optifine to the latest which is D4.

[2016-11-30 14:44] Zundrel commented on #1029
Assuming you haven't already

[2016-11-30 15:10] liach commented on #1029
remove coremods first and try.

[2016-11-30 17:14] ccgfok opened #1030 "Locomotive bug"
This happened when created link between locomotive (in this case, steam) and the cart. When start running, it was broken.
Gif: https://gfycat.com/SaltyScentedAfricangroundhornbill

[2016-11-30 18:53] changemenemo opened #1031 "link issue 2"
new version of railcraft 10.0.1, still link issue with carts after loading, unloading chunk

[2016-11-30 22:32] Speiger commented on #993
Since this is all about the ic2 modul (Maybe with classic support).
Just to point out you can add to the Macerator Recipes or basicly any IC2C machine recipe list special NBTFlags (a Integer or Float tag) that allows you to modify Energy Consumption/Required Process time (float = modifier, Integer = Extra ticks). That also works into the other direction. And it can be used with IC2Exps API it will

[2016-12-01 02:42] liach commented on #1031
Ref #882. You do not need to open a new issue but just comment on the old one. Currently, we do not know what caused the loss of NBT data.

[2016-12-01 08:02] Forecaster commented on #1031
Another duplicate... please stop doing this

[2016-12-01 08:02] #1031 closed, assigned to nobody

[2016-12-01 08:04] Forecaster commented on #1030
Can you reproduce that in a new world and/or with just railcraft?

[2016-12-01 10:10] ccgfok commented on #1030
It produces for both new world and new cart.
To re-produce:
1. Give your own steam and minecart.
2. Make a link between cart and steam loco.
3. Add fuel + water, start running slowly.
4. After start running for a while, Its lost their link.
(Apply for electric and perpetuum.)
**Update**: Its happened when using train dispenser to make a train.
To reproduce:
1. Give your own locomotive, train dispe

[2016-12-01 17:05] ccgfok commented on #1030
Update: Its happened when using train dispenser to make a train.
To reproduce:
1. Give your own locomotive, train dispenser, and some cart.
2. Place train dispenser, create a pattern for train and put cart here.
3. Use redstone to active, then create link for loco and 1st cart.
4. Start run, and its lost link.
P/s: Its won't happen when using crowbar or coupler track kit to make a link.

[2016-12-02 02:12] Mxater opened #1032 "Crash on next page of recipes in JEI"
I see the recipes usage for cooper of industrial, on pass to page 2, this crash.

This is using in a server, if use this in SP, dont crash.

Iam use version Railcraft_1.10.2-10.0.1

https://gist.github.com/Mxater/af4693a93fa063f3d3a961c18348f62d

Sorry for my english...

[2016-12-02 11:43] ghost commented on #1029
Which coremods?

[2016-12-02 17:32] liach commented on #1029
CXLibraryCore (cxlibrary 1.10.2.jar)
  EnderCorePlugin (EnderCore 1.10.2.jar)
  MalisisCorePlugin (MalisisCore 1.10.2.jar)
  MalisisSwitchesPlugin (Malisis Switches 1.10.2.jar)

[2016-12-04 13:07] alexandercool123 opened #1033 "About half of the blocks are missing a texture"
I'm missing half of the textures in railcraft. There are no coke oven blocks as well as blast furnace blocks. I really need to make coal coke. Did i mention the missing textures to the blocks being black.
All bricks, cart detectors, cobble variants, strengthened glass and types of stone added by the mod are just black blocks. Am I missing something?
I'm using version 10.0.1, tried with 10.0.0, did

[2016-12-04 13:26] AEnterprise commented on #1033
do you have optifine installed? if so that's most likely your cause, updating or using another variant could fix it, if not you'll have to wait for railcraft and optifine to addapt to recent forge changes to fix this

[2016-12-04 14:14] alexandercool123 commented on #1033
I deleted optifine, not too much lag, however, there still are no coke oven blocks :/

[2016-12-04 14:17] alexandercool123 commented on #1033
The textures loaded btw, everything has a texture now.

[2016-12-04 14:18] AEnterprise commented on #1033
yes optifine is just the textures, the rest is normal, not everything is implemented in railcraft atm

[2016-12-04 19:32] Forecaster commented on #1033
Please search for similar issues before posting.

Update optifine, the problem has been fixed on their end.

No multiblocks have been ported yet amongst other things.

[2016-12-04 19:32] #1033 closed, assigned to nobody

[2016-12-05 07:22] Ristellise commented on #1032
paging @mezz

[2016-12-06 01:57] mezz commented on #1032
This looks like a normal rendering issue, it shouldn't be specific to JEI.

[2016-12-06 14:16] NitroxydeX opened #1034 "Different accepted MC versions in @Mod and mcmod.info"
In @Mod Minecraft 1.10.2 and 1.11 are defined to work with Railcraft while mcmod.info only references 1.10.2.

This causes a wrong MC-Version detection when Railcraft is inside an 1.11 environment. We noticed this during our workspace upgrade to 1.11.

https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/core/Railcraft.java#L64

https://github.com/CovertJagu

[2016-12-06 14:42] liach commented on #1034
That is right. It means to exclude 1.11

[2016-12-06 14:48] NitroxydeX commented on #1034
@liach But on the other side 1.11 is defined in the @Mod method to work with Railcraft.

[2016-12-06 15:09] KnightMiner commented on #1034
That is a mathematic domain in which 1.10.2 is included (square bracket) and 1.11 is excluded (round bracket). It's the same as saying 1.10.2 <= version < 1.11.

[2016-12-06 15:16] NitroxydeX commented on #1034
Ah well because the comma is missing after 1.11. But you just could make the closing ] to only accept 1.10.2.

[2016-12-06 15:16] #1034 closed, assigned to nobody

[2016-12-06 19:22] liach commented on #780
@CovertJaguar Is railcraft going to be 1.11?

[2016-12-08 18:56] The-Fireplace opened #1035 "[10.0.1]Multiple missing localized names"
tile.railcraft.manipulator.loader.ic2.name and tile.railcraft.manipulator.unloader.ic2.name need to be localized.
Also, when viewing the tooltip for the Steam Locomotive in JEI, it says Primary Color is railcraft.color.silver
EDIT: Also, in the Cart Detector GUIs, the titles aren't translated.

[2016-12-10 04:26] liach commented on #1035
1. It should be `tile.railcraft.manipulator.unloader.energy.name` tag.
2. There is no silver color. How did you get that?

[2016-12-10 04:43] The-Fireplace commented on #1035
liach: just what I saw in JEI. It will be a bit before I can provide full details about Forge version, loaded mods, etc. Finals week is busy.

Note that IC2 is loaded, and these loaders were separate from the RF loader and unloader.

[2016-12-10 09:27] CyanideCarrot commented on #982
You could try something like this and similar for normal -> electric and maybe
reinforced -> reinforced electric
![screen shot 2016-12-10 at 9 23 51 am](https://cloud.githubusercontent.com/assets/14823057/21072435/6ee7da5e-beba-11e6-9ff1-12309db72dc3.png)

[2016-12-10 09:42] CyanideCarrot commented on #926
another feature to add to this, maybe allow it to play an audio file (placed in world save) though this may be a little too complicated

[2016-12-10 15:02] primetoxinz opened #1036 "[1.10.2] Move Charge Interfaces into Railcraft-API"
Moving the interfaces required to make blocks capable of using charge to allow addons to add blocks that accept or create new forms of energy.

it would be greatly appreciated if this happened, thanks :)

[2016-12-10 15:28] liach commented on #926
@bballboy2002 This needs a custom resource pack if the audio is from the server.

[2016-12-10 16:01] dj3520 commented on #926
Not entirely. (Research Computronics tape drives.) But I feel like a chat message would be sufficient.

[2016-12-10 16:03] liach commented on #926
It is possible to send packets also, but is way more costly.

[2016-12-10 16:18] liach commented on #1036
😒 The charge system is not in api at all...

[2016-12-10 16:41] dj3520 commented on #926
Personally I don't think it fits the theme. And it's probably not worth it to code (I wouldn't know since I don't even know Java.) Something neat I suppose but a chat message would work well enough.

[2016-12-10 22:34] The-Fireplace commented on #1035
![2016-12-10_16 32 58](https://cloud.githubusercontent.com/assets/5914284/21076647/89fe21ea-bef6-11e6-9f85-c417ec41d7f9.png)
![2016-12-10_16 33 00](https://cloud.githubusercontent.com/assets/5914284/21076645/89fdcc22-bef6-11e6-8918-5b8de3730ba8.png)
![2016-12-10_16 33 10](https://cloud.githubusercontent.com/assets/5914284/21076646/89fe0df4-bef6-11e6-94f7-fbd14013e786.png)
![2016-12-10_21 06 31](ht

[2016-12-10 23:09] decimal-simplex opened #1037 "Furnace carts not working in 10.0.1"
Seems they behave like vanilla carts - they do the thing where they stop moving after rounding a few corners, and they can't be linked with other carts.

[2016-12-12 17:29] Discomanco opened #1038 "[3rd party?] Entity Render Crash"
So first off, I need to say that this is not a problem with Railcraft itself, but it is affected, and we cannot find the root of this problem.

We are on a 1.10.2 server, with a lot of mods, on Forge 12.18.2.2151.
Whenever an entity with an AI (seems to be the only ones affected) such as Railcraft Locomotives, Mekanism Robits and OpenComputers Drones are placed, the client instantly hardcrashes.
W

[2016-12-13 06:41] liach commented on #1038
`at net.minecraft.client.renderer.entity.RenderManager.redirect$onRenderEntity$0(RenderManager.java:41)`
My best guess is that conflicts in different versions of mixins caused this, since LiteLoader and Davinci's Vessels both use SpongePowered Mixin. Try to make sure all mods are up to date, and you should post a full log to provide more information.

[2016-12-13 06:51] Discomanco commented on #1038
Only I use LiteLoader. The rest don't, but still have the crash issues.
The OpenComputers drone seems not to be affected anymore, and I'm trying to fetch an older crashlog from one of our members.
Everything is pretty much up-to-date as it can be, with the exception of maybe 1-2 versions behind (update + possible hotfix(es) to the update) - Server is getting updated about every week with new mod v

[2016-12-13 06:54] liach commented on #1038
I want a full log, like one fml-client-latest.log from logs folder instead of crash reports from crash-reports folder.

[2016-12-13 06:55] liach commented on #1037
Could you give some pictures or gif to demonstrate?

[2016-12-13 06:56] Discomanco commented on #1038
I'll get one

[2016-12-13 07:09] Discomanco commented on #1038
Full log as fresh as it can be
http://pastebin.com/0KCTBNvf
This is just the Latest log - Can't upload the full log on Pastebin, as it's too big.
Instead I have attached it here
[fml-client-latest.zip](https://github.com/CovertJaguar/Railcraft/files/648192/fml-client-latest.zip)

[2016-12-13 15:52] liach commented on #1038
You should try to remove coremods one by one. Now I guess some coremod transfromed Railcraft code accidentally, because LiteLoader code is all right.

[2016-12-14 07:47] purpleposeidon opened #1039 "Consider un-nerfing CESU cart drag"
An electric locomotive pulling a CESU cart looks to be 4 times as slow as an electric locomotive pulling a full chest cart. Nobody's gonna be riding a CESU train any time soon. 2 times as slow seems like a more reasonable maximum. Using CESU carts is a way of cheesing out of laying electric rail, but making them slow also makes using them for energy transfer less reasonable.

[2016-12-15 08:40] kylesy20 opened #1040 "Compatibility with TC Rails"
Since Railcraft is not going to have slopes and curves anytime soon. May I suggest you guys make Railcraft routing systems compatible with Traincraft tracks? Thanks.

[2016-12-15 15:40] Discomanco commented on #1038
Update: Managed to get a copy of our server, and find the time to start looking for the cause.
The mod affecting the render (or whatever it does) is [Custom Mob Spawner](https://mods.curse.com/mc-mods/minecraft/229261-custom-mob-spawner), which is a coremod for Mo' Creatures (sorta). We are at the latest (3.10.1) version of it.
Trains are placeable and interactable without Custom Mob Spawner

Edit

[2016-12-15 15:47] liach commented on #1038
Then it becomes a complex issue. You need to try all coremods one by one.

[2016-12-15 15:48] liach commented on #1040
Doesn't traincraft have a routing system themselves?

[2016-12-15 21:58] Discomanco commented on #1038
It would appear there are multiple core mods causing this.
I used a base mod set (JEI + Mo' Creatures + Custom Mob Spawner + Railcraft + Journey Map + Mekanism), and then added different batches of mods at a time, just to reduce startup/load times to test it out.
Could not get the crash to occur, so seems there is Custom Mod Spawner + at least 2 more Core Mods.
I may look into pinpointing it, but

[2016-12-15 23:42] liach commented on #1038
shrugs

[2016-12-17 19:57] Squaredude opened #1041 "Breaking Minecart Hopper bug"
Minecraft 1.10.2
Railcraft 10.0.1

Broke a Minecart Hopper and it visibly generated Hopper and Minecart entities (one of each), but the first time I did not get the Hopper back. Both times gave me the Minecart back.

However, the Minecart seems to have gotten a "Name Tag" that says "Minecart with Hopper". It's impossible to push, but it can be used as a regular Minecart (you can ride it).

If I de

[2016-12-18 20:51] liach commented on #1031
@boistordu Does you game lag when Minecarts get unlinked?

[2016-12-19 04:30] Ristellise commented on #882
@liach probably when chunks unload? you may need to walk away far enough.

[2016-12-19 04:43] liach commented on #882
Like 10000 blocks? Or just 1000 block? I tried to go 700 blocks away and return, and the carts remain linked.

[2016-12-19 05:47] Ristellise commented on #882
think like 10000 blocks...

[2016-12-19 06:02] liach commented on #882
Will try later. Thanks for your info.

[2016-12-19 22:47] snurre0 commented on #1041
Having the exact same bug here, same versions.

[2016-12-20 01:13] liach commented on #1034
@NitroxydeX I now ported Railcraft to 1.11. Feel free to use it #1042 but do not distribute.

[2016-12-21 03:07] liach commented on #1032
@Mxater Does this happen only with Railcraft on dedicated servers?

[2016-12-21 12:04] Mxater commented on #1032
@liach, yes, only in dedicated servers.

El 21-12-2016 12:07 a. m., "liach" <notifications@github.com> escribió:

@Mxater <https://github.com/Mxater> Does this happen only with Railcraft on
dedicated servers?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/CovertJaguar/Railcraft/issues/1032#issuecomment-268423072>,
or mute

[2016-12-22 02:52] karikusa opened #1043 "Competition of a recipe of a tin board and Tin Gear Bushing"
jei_1.10.2-3.13.6.392
Railcraft_1.10.2-10.0.1

It's the version which is so, but a recipe of a tin board and Tin Gear Bushing becomes same. Tin Gear Bushing can be produced at present, so I think it isn't so influential, but it'll be reported just in case.
When arrangement of a recipe of Tin Gear Bushing is changed to the one from which the center of the recipe of other gears was removed, material

[2016-12-22 02:54] karikusa commented on #1043
Oh, the version of Railcraft is Railcraft_1.10.2-10.0.1.

[2016-12-22 20:17] xbjfk commented on #882
confirmed

[2016-12-22 20:21] xbjfk opened #1044 "[Feature] tunnel bore addected by randomTickSpeed"
for example when you type `/gamerule randomTickSpeed 1000000` the tunnel bore will take less time to bore a 3x3 area

EDIT: found tweaks > carts > bore > mine speed in config.

[2016-12-22 20:44] Vexatos commented on #1044
But the action is not related to random ticks at all...

[2016-12-22 20:44] liach commented on #1044
@Vexatos Since you are a collaborator, can you work on fixing some bugs and managing issues?

[2016-12-23 02:58] KyeoftheSea opened #1045 "[Suggestion] Factory module alternative via Immersive Engineering integration"
I know that Railcraft 1.10.2 is largely unfinished, with whole feature sets missing, such as the factory and steam modules. This suggestion pertains to the factory module specifically because if you look, there is pretty much a 100% content overlap between the ~~increasingly popular~~ **more than twice as popular as IndustrialCraft** Immersive Engineering mod and Railcraft's Factory module, includ

[2016-12-23 03:14] liach commented on #1045
Immersive engineering... It is more realistic to integrate with IC2.

[2016-12-23 03:40] xbjfk opened #1046 "[Bug] Interacting with tunnel bore in spectator crashes the game"
Steps to reproduce:
1: place tracks
2: place tunnel bore
3: change to spectator
4: right-click tunnel bore
5: wait

Crash Report (Railcraft is the only mod):
[crash-2016-12-23_04.35.29-server.txt](https://github.com/CovertJaguar/Railcraft/files/670278/crash-2016-12-23_04.35.29-server.txt)

[2016-12-23 03:43] liach commented on #1046
Give the crash report!

[2016-12-23 04:38] #1044 closed, assigned to nobody

[2016-12-23 08:01] KyeoftheSea commented on #1045
There is already a ton of IC2 support for Railcraft, and not nearly as much perfect feature overlap. My suggestion probably wouldn't be too difficult to implement, either. Simply detect the existence of IE, disable the factory module, and use recipes tailored to IE.

[2016-12-23 08:21] liach commented on #1045
Recipes from IE? IE is a mod that needs very good set up, but Railcraft is a simple mod that "everyone can play". You can disable the factory module on your own.

[2016-12-23 08:46] KyeoftheSea commented on #1045
I don't think you understand what I'm suggesting here. For one, I said recipes tailored TO IE, as in using IE materials that are analogous to the ones that Railcraft uses, such as iron or steel rods in place of rebar, which normally requires a railcraft rolling machine. Railcraft's plates don't even appear to be in the ore dictionary right now.  And your argument makes no sense whatsoever, nor doe

[2016-12-23 14:10] bookerthegeek commented on #1045
@KyeoftheSea or you know, use minetweaker to modify the recipes to to do as you are suggesting, and then hide the now non-useful blocks from NEI. Also, asking a mod author to basically turn off a part of their mod because, in your opinion, that other mod does it better, is almost a sure fire way to not get what you are after.

A better way to ask would be to ask for more mod integration, or the ab

[2016-12-23 16:07] liach commented on #1045
Railcraft is not an IE addon. This topic is invalid.

[2016-12-24 02:07] KyeoftheSea commented on #1045
@bookerthegeek That is _exactly_ what I was asking for. Better integration. I love railcraft, I've been using it since 1.2. I love the way the factory module is set up as a standalone. BUT... It has 100% content overlap with Immersive engineering. That's my point here, they do the exact same things. Not similar things a little differently, like say, Ender IO conduits vs Extra Utilities conduits, w

[2016-12-24 02:25] liach commented on #1045
Then, the best solution is implementing Factory module as fast as possible.

[2016-12-24 03:41] bookerthegeek commented on #1045
If their is so much overlap, why not ask IE to disable the parts of their mod that overlap? Nobody is making you use specific machines.

[2016-12-24 03:47] liach commented on #1045
Most of the tile entities themselves are functional already; the only issues are with block textures right now.

[2016-12-24 03:48] #1045 closed, assigned to nobody

[2016-12-25 18:16] Scooterman1542 opened #1047 "Forge Launcher slows down to a crawl and crashes, never happened with other mods"
Last night I had taken all my mods off Minecraft to test Railcraft, booted it up normally, and when it reaches what I assume is the last thing it has to load, it starts loading less and less, until it crashes.

VIDEO:

https://www.youtube.com/watch?v=n5E9-ZiDz6Y&feature=youtu.be (it ends abruptly because the game crashes)

The most interesting thing, however, is that it seems it had loaded all tho

[2016-12-25 18:18] liach commented on #1047
You should never play minecraft with only 499 MB of memory. At least use 1024 MB!

[2016-12-25 18:25] 0xCyberFortress opened #1048 "Locomotive unlinks when using elevator rails"
When using elevator rails, locomotives unlink carts when going up or down an elevator track. I am currently using minecraft 1.7.10 with railcraft Railcraft_1.7.10-9.12.2.0

[2016-12-25 18:35] liach commented on #1048
They are not supposed to link on elevator at all.

[2016-12-25 18:49] Scooterman1542 commented on #1047
How do I use 1024, though? I have no idea how the MB thing works in Minecraft.

[2016-12-25 19:37] liach commented on #1047
You change the memory in Minecraft launcher. Add argument `-Xmx1G -Xms1G` in launch argument if you are using Mojang launcher.

[2016-12-26 00:11] Forecaster commented on #1047
The stacktrace clearly says out of memory error. If you require more assistance with increasing memory or similar please visit the railcraft irc or discord server, someone may help you there after a while.

[2016-12-26 00:11] #1047 closed, assigned to nobody

[2016-12-26 00:16] Forecaster commented on #1048
This is known, but it's not something that would be trivial to fix. Trains just don't like travelling vertically. You'll either have to unlink the carts before, and relink them after the elevator, or use a different method to get them up/down.

[2016-12-26 00:17] #1048 closed, assigned to nobody

[2016-12-26 06:06] Speiger opened #1049 "Reflection Cleanup"
Since i did use Railcraft in my testpack with ic2c i noticed a bug with optifine.
And that got fixed from optifine but it left a question behind why did that happen.
By asking around people said me what Optifine changed. They moved a field from the top to the bottom.

My request @CovertJaguar is that you look through your code and check every Reflection call you make and look if it is not needed.

[2016-12-26 06:20] liach commented on #1049
For #924, it is a forge bug in its nature. For other cases such furnace cart fuels, solutions may be opening pull requests to Forge to add Access Transformer entries.

[2016-12-26 08:16] liach commented on #1043
Dupe of #1013

[2016-12-26 11:52] #1043 closed, assigned to nobody

[2016-12-26 22:02] Aroma1997 opened #1050 "[1.10.2] Worldgeneration is limited to dimension 0."
The worldGeneration in Railcraft is limited to only generate in dimension 0. (See https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/worldgen/GeneratorMine.java#L164 ) This creates problems with other mods, that add their own dimension, because then, RC ores won't spawn there.
It would be better to check if the biome at the specified coordinates is registe

[2016-12-27 07:49] Speiger commented on #1049
@liach thats why i do not use forge to generate models. xD Even if i use a NoneJson system i dont use forges stuff at all since it comes sooner or later to Minecrafts IBakedModels... And besides helper tools is forge not needed to make that stuff work...

[2016-12-27 16:41] ghost opened #1051 "Anchors not showing up at all?"
I have looked in all of the configs to find that all of the anchors are enabled. Yet they still don't appear in game. Help?

[2016-12-27 17:01] Forecaster commented on #1051
Sigh.
Duplicate of #1017.

[2016-12-27 17:01] #1051 closed, assigned to nobody

[2016-12-28 15:14] Project579 commented on #1029
It's Optifine one of the settings is not compatible with railcraft (tested only with railcraft and optifine installed, with optifine set on max quality AA x16 etc.).

I will test and see if I find the setting that causes the crash.

Found it Anti-aliasing causes the game to crash.

[2016-12-28 21:30] jelaw21 opened #1052 "Coke Oven Bricks not Loading"
I have factory module turned on, but I see no coke oven bricks to create the Coke Oven so we have no way of producing creosote oil.

[2016-12-28 23:12] Forecaster commented on #1052
Duplicate of #1010

[2016-12-28 23:12] #1052 closed, assigned to nobody

[2016-12-30 21:45] threehams opened #1053 "[1.10.2] Item Loader and Adv. Item Loader ignore redstone settings."
Verison: 1.10.2 (Minecraft 10.0.2, Forge 12.18.3.2185)
OS: all (singleplayer + multiplayer)
Other mods: None

The Item Loader and Adv. Loader ignore the Manual, Partial, and Complete redstone settings, and emit a redstone signal as soon as there is no more work to be done.

Steps to reproduce:
- Place a Loader about a Locking Track (any type of track).
- Set the Loader to Manual mode.
- Create a c

[2016-12-31 02:50] ExDomino opened #1054 "No anchor in creative menu"
I'm on FTB Infinity Lite in 1.10.2 and I cannot see any anchor in the creative menu, even if the module is enabled in the config. I set all anchors as craftable as well but no anchor are visible either in Just Enough Items or in the creative menu. What's the problem? Version of Railcraft: 1.10.2-10.0.1.

[2016-12-31 03:15] liach commented on #1054
See #1010

[2016-12-31 09:43] #1054 closed, assigned to nobody

[2017-01-01 01:00] shivachirr opened #1055 "Elecitric Locomotives dead"
So i wanted to upgrade to the elctric trian evry block seems to be there it just did want want to transfer power to the energy feeder from other mods also im wondering if i can use rf to do this

[2017-01-01 01:29] liach commented on #1055
Electric locomotive is, in fact, only usable in creative.

[2017-01-01 02:23] Forecaster commented on #1055
Because the flux transformer (aka the RF-converter)  being one of the machines that have yet to be ported to 1.10 the only way to power the tracks is with EUs. I'd perhaps look into immersive engineering which can output EUs, at least in 1.7 it could.

[2017-01-01 02:24] #1055 closed, assigned to nobody

[2017-01-01 15:48] liach commented on #1050
@Forecaster Please add tag [bug] and set milestone to next release.

[2017-01-01 17:57] liach commented on #1046
How long do I need to wait? Things goes just fine:
![2017-01-01_09 56 30](https://cloud.githubusercontent.com/assets/7806504/21582356/b352dba8-d008-11e6-8299-1bf0ed36c65e.png)

[2017-01-02 10:26] AWPgodkiller commented on #1053
I have exact same problem too.

[2017-01-02 11:40] AEnterprise commented on #1046
@liach the crash report is original comment, he probably edited it in

[2017-01-02 11:53] shivachirr opened #1058 "[1.10.2] Tunnle wall replacer/builder and torch placer"
im suggesting a cart or something to replace the walls of a tunnel or just a open air area with blocks you want in a good pattern so you could make them look better as you travel. kinda like how Buildcrafts builder can do paths over distances this would be a simmialr thing and you could take like a patteren so lets say every 3 blocks the pattern changes a bit and you add a torch or glowstone and m

[2017-01-02 13:25] Forecaster commented on #1058
See #649
If you have additional ideas that are not mentioned there add them to that thread

[2017-01-02 13:25] #1058 closed, assigned to nobody

[2017-01-02 13:27] shivachirr commented on #1058
yeah but thats for the tunnel bore im talking like a independent cart but ok

[2017-01-02 18:28] liach commented on #1029
@Forecaster Please close this.

[2017-01-02 23:42] Ricket opened #1060 "[1.10.2] Cannot enable anchors"
I tried to enable the personal and world anchors by changing their booleans in railcraft.cfg. However they aren't showing up in JEI and I can't do the crafting recipe (I have a separate server/client). I checked the server log and I see:

[code]

However this is not true, the mentioned block is are enabled in blocks.cfg (as is the default):

`B:machine_alpha=true`

Then how do I enable the anchor

[2017-01-02 23:55] bookerthegeek commented on #1060
As of now you can not as most of that modal has not yet been ported over.

[2017-01-03 01:45] liach commented on #1060
See #1010. @forecaster

[2017-01-03 19:11] liach commented on #882
Does this happen with certain types of minecart or all?

[2017-01-06 10:01] gbougakov opened #1061 "Doesn't load."
---- Minecraft Crash Report ----

WARNING: coremods are present:
  TransformerLoader (OpenComputers-MC1.10.2-1.6.0.4.jar)
  MalisisCorePlugin (malisiscore-1.9.4-4.1.1.jar)
Contact their authors BEFORE contacting forge

// My bad.

Time: 1/6/17 12:57 PM
Description: Initializing game

java.lang.OutOfMemoryError: Java heap space
	at net.minecraftforge.client.model.pipeline.UnpackedBakedQuad$Builder.

[2017-01-06 10:43] AEnterprise commented on #1061
minecraft ran out of memory, you'll want to allocate more to it, 2-3GB should be enough with your set of mods

[2017-01-06 23:51] #1061 closed, assigned to nobody

[2017-01-07 20:37] liach commented on #882
May this be a dupe of #585?

[2017-01-07 20:39] liach commented on #585
This looks like an issue with NBT serialization.

[2017-01-08 13:38] Pilad opened #1062 "Iron tank and steel tank load only 4000 mb"
Railcraft_1.7.10-9.12.2.0
Iron tank and steel tank load only 4000 mb at once , but tank or cell have capacity 16000mb or more.

[2017-01-10 00:36] SpartanSamuel opened #1063 "ArrayIndexOutOfBoundsException"
When viewing Alloy Smelter recipes in JEI, I crash. Not quite sure what page I was on, somewhere past 30. I just got through the dead bushes. Anyways, I'm reporting it here because the crash log is claiming it was rendering a Railcraft block that threw the error. If I need to be redirected to another GitHub, just let me know.

MC: 1.10.2
Forge: 12.18.3.2202
Railcraft: 10.0.1
Ender IO: 3.1.157
JEI:

[2017-01-10 02:49] Ristellise commented on #1063
@mezz

[2017-01-10 08:12] AEnterprise commented on #1063
can you try again without optifine?

[2017-01-10 08:14] ghost opened #1064 "Upgrade Tunnel Bore"
Now tunnel bore can only fill up holes by gravel or sand under a. Add that tunnel bore can use any blocks for example something like cobble to build the bridge with thickness of 1 block.

[2017-01-10 13:36] Forecaster commented on #1064
See #649

[2017-01-10 13:36] #1064 closed, assigned to nobody

[2017-01-10 16:57] ranger135xp opened #1065 "Cannot make Tin Plates"
Hello Covert,

I noticed a bug in the latest 9.12.2.0 for 1.7.10. The rolling machine will not make tin plates even with different tin ingots. The recipe in NEI shows the exact recipe that is in the rolling machine. Here's the image:
![2017-01-10_11 54 42](https://cloud.githubusercontent.com/assets/15115164/21815805/ebeec8b2-d72b-11e6-9d8e-867698ffe09b.png)
I removed the one ingot to show you the

[2017-01-10 17:29] liach commented on #1065
It needs iron and tin ingots instead of all tin ingots. Invalid

[2017-01-10 17:54] ranger135xp commented on #1065
Ah shit you're right! I'm sorry for missing such an obvious thing. A user brought it up to me and I was distracted while trying to scurry them along. I'm closing this.

[2017-01-10 17:54] #1065 closed, assigned to nobody

[2017-01-11 01:05] SpartanSamuel commented on #1063
Dead on. Running without optifine doesn't cause the crash given the parameters. I'll submit a bug over there, thanks for the assist!

[2017-01-11 01:05] #1063 closed, assigned to nobody

[2017-01-11 14:12] sp614x commented on #1063
The crash only happens when Anisotropic Filtering or Antialiasing is enabled.
Most probably related to the sprites with custom loader, looking for a bugfix.

[2017-01-12 19:21] Gunner76th opened #1066 "Firestone ore not processable 1.10.2"
At present, I am not seeing any firestone generating in the nether. I do have RTG, Harvest Festival, and Geographicraft installed which all affect world gen as well. This has been confirmed by using gamemode 3, then flying around the nether using xray view to look at the lava floors.

In addition to this, there is no registered way to process firestone ore into raw firestone, and in the latest rel

[2017-01-12 19:26] Gunner76th commented on #1066
In the config settings:

        # spawns beneath the sea in spheres
        B:abyssal.geodes=true

        # spawns on lava sea floor in Nether
        B:firestone=true

those are both enabled, and we do have the Spheres, however for some reason we do not have firestone ore.

[2017-01-12 19:30] Gunner76th commented on #1066
So I finally found naturally generating Firestone. I does appear to be spawning, albeit very rarely.

This still however leaves the problem of not being able to process the ore into Raw Firestone.

[2017-01-13 05:07] Sellec opened #1067 "Feed station and some other items not accessible in 1.10.2"
New clear installation of Minecraft (remove all old files specialy for testing)
Minecraft forge 12.18.3.2209, 2202, 2185 with mercurius
Have installed:
Railcraft 10.0.1

Create new world with creative mode.
Entering inventory, searching for feed station and furnace block and see nothing.

fml-client-latest.txt attached into issue.
cannot attach zipped client becouse of upload limitation size (10mb

[2017-01-13 12:03] tomelfring commented on #1067
See issue #1010
They will return in 10.2.0

[2017-01-13 12:21] #1067 closed, assigned to nobody

[2017-01-13 12:53] xenoflot opened #1068 "[Request] Fuel support for xu2 Red Coal"
Please!

[2017-01-13 12:56] Forecaster commented on #1068
Fuel values? Production method? etc?

[2017-01-13 13:04] xenoflot commented on #1068
ExtraUtilities2 adds an item called Red Coal that's processed by putting regular coal into a Resonator which is the first machine in the tech tree of that mod so it's pretty early game. Process requires about a minute per piece of coal to process. The Red Coal is enriched and has a burn time of 12800. Works as normal solid fuel for furnaces and several other mods that use coal-like substances.

It

[2017-01-13 15:03] shivachirr opened #1069 "Light addon for loccmotives"
so im running hardcord darkness and i was riding my long range HV rail and ive thought of something why no be able to add lights to locomotives like torches on the side of the carts or the standard nose light on the engins

[2017-01-13 17:24] Forecaster commented on #1069
Railcraft should support the DynamicLights mod #992 at least for the electric locomotive which has a light on the model, but we're not going to add dynamic lights to Railcraft itself because it's not a trivial thing to do as far as I'm aware.

[2017-01-13 17:43] shivachirr commented on #1069
im not saying anything about the dynamic lights mod what im sauing is that you can mod the cart and trains to have working lights on them

[2017-01-13 19:23] liach commented on #1069
It is not likely that Railcraft will include a dynamic lights within.

[2017-01-13 19:31] liach commented on #1069
Moreover, dynamic lights need coremods, and Railcraft is NEVER intended to be a coremod. Find dynamic lights here: http://www.atomicstryker.net/dynamiclights.php

[2017-01-13 19:59] shivachirr commented on #1069
why is everyone tailing about dynamice lights im talking about puting a torch on a cart when did dynamic lights come it and im thinking more 1.10.2+

[2017-01-13 20:08] KnightMiner commented on #1069
By dynamic lights, they mean entities (such as carts) that produce light. It is really hard to do as Minecraft only expects actual blocks to produce light, so apart from placing fake light blocks (very messy) or rewriting the lighting system, Railcraft cannot do this.

[2017-01-13 20:09] shivachirr commented on #1069
ok then also i think it would be easier since optifine dose dynamic lights
how it could be only enabled when the requried mod is present

On Jan 13, 2017 15:08, "KnightMiner" <notifications@github.com> wrote:

[2017-01-13 20:12] liach commented on #1069
Optifine? As I can see in sp614x/optifine#182, mods cannot add custom dynamic light source for now. Pinging @sp614x for help in integration.

[2017-01-13 20:16] liach commented on #1068
What device do you use this for? Blast furnace? Furnace cart?

[2017-01-13 20:53] xenoflot commented on #1068
In general, Red Coal is a solid fuel and works where coal works, just with a longer burn time. Vanilla furnaces, most mods' coal generators, etc. I haven't personally tested with vanilla Furnace Carts but I expect it would work.

Given free reign with RC... I'd have it work wherever solid fuel would work and add a section in the config where support can be toggled as desired with everything set to

[2017-01-13 23:13] Ristellise commented on #1069
@liach optifine's dynamic light afaik is fake dynamic light. it means that it lights up on the clientside by not on serverside and does not prevent any mob spawns.

[2017-01-13 23:44] liach commented on #1069
Optifine ones are also fake, since Optifine is a client only tweaker. What are you talking about then @Joshwoo70?

[2017-01-13 23:58] Forecaster commented on #1069
@liach he said optifine. What are you on about.

Both optifine and dynamic lights only do client-side lighting. Railcraft is not going to have this feature. If you want this @shivachirr you need to get either author of those mods to support railcrafts locomotive(s).

Edit: Right, DL is already supported with the electric locomotive thanks to liach

[2017-01-14 00:02] liach commented on #1069
Do you mean @liach?

In fact, all dynamic lights are fake. That's all.

[2017-01-14 16:09] xenoflot opened #1070 "Cross-mod inventory access"
Hi,

I'm playing with 1.10.2-10.0.1 and trying to use it to get my quarry output back to my base. I've noticed that I'm unable to input or output from loaders/unloaders with extrautil2's transfer nodes nor Steve's Factory Manager. SFM simply doesn't even know there's an inventory there. It does work with vanilla hoppers but they're painfully slow in the modded game.

Is this intentional?

Cheers!

[2017-01-14 16:33] Forecaster commented on #1070
Loaders and unloaders can respectively take and put items into an adjacent vanilla chest. I'd suggest using that as a proxy.

[2017-01-14 17:08] xenoflot commented on #1070
Hah! I tried underneath. I didn't think to put one on the side! Seems to be working, thanks!

[2017-01-14 17:08] #1070 closed, assigned to nobody

[2017-01-14 17:29] dj3520 commented on #1069
I believe what @shivachirr wants is not for Railcraft to put in it's own dynamic lighting system, but instead to add lights to trains so that when a dynamic lighting system is used, the train has multiple sources of light that travel with it. As @Forecaster pointed out the electric locomotive already has this feature, but possibly @shivachirr is looking to add this to all locos and to carts, despi

[2017-01-14 17:44] shivachirr commented on #1069
Finally someone gets whats what i want to do

[2017-01-14 18:02] dj3520 commented on #1069
@shivachirr I know how irritating it can be to not have your idea come across. The real issue is that minecarts and the steam loco don't have lights on them. I'm about 50/50  for my opinion of the steam locomotive getting a headlamp, but the minecarts being in the dark is realistic.

[2017-01-14 18:03] shivachirr commented on #1069
yeah but i was thinking of it like an optional addon via crafting to add
like torches or a band glowstone to the cart and thx

On Jan 14, 2017 1:02 PM, "dj3520" <notifications@github.com> wrote:

[2017-01-14 18:10] dj3520 commented on #1069
The optional addon would have to be separate from the main mod. There's also the issue of making the lighted minecart but not having a dynamic light mod (crafting cost for nothing in that case.)

[2017-01-14 19:41] shivachirr commented on #1069
i guess but i would of be nice if it was as easy as putting a torch on the cart then it works maybe later version it might be possible once the 1.10.2 version of the mod is fully flushed out

[2017-01-15 08:42] Sellec commented on #1010
And when the 10.2.0 would be released?

[2017-01-15 09:10] liach commented on #1010
Well, CovertJaguar is pretty inactive in the recent month, so it is not sure now.

[2017-01-15 17:15] dj3520 commented on #1069
Again, the issue with that would be that there wouldn't be a purpose if you don't have a dynamic lighting mod.

[2017-01-17 00:31] Silvrus commented on #1055
@Forecaster, can you confirm the EU implementation actually works at the moment? I've been trying to get this working for a bit now and cannot get the IC2 Feeder Unit to actually take in any charge. Used Energy Converters -> Feeder, and Energy Converters -> Batbox (which filled) -> Feeder Unit. Tried track directly on Feeder Unit, adjacent to Feeder unit and with Shunting Wire. No configuration ge

[2017-01-17 00:32] shivachirr commented on #1055
yeah that's what i got when testing

On Jan 16, 2017 19:31, "Silvrus" <notifications@github.com> wrote:

[2017-01-17 23:02] Silvrus commented on #1055
@shivachirr Check #964, I forgot about the redstone signal. Test it out if you can.

[2017-01-19 03:14] ghost opened #1071 "[RC 10.0.1] Rolling Machine's rail recipes not working on crafting table"
Railcraft 10.0.1
Forge 2185
MC 1.10.2

Given that the factory module is not yet ready in this version, I tried making advanced rails in the crafting table. I am unable to get the recipe to work.  The configuration files are all bone-stock with 10.0.1. Do these work out-of-box, or am I supposed to modify them to allow for the factory module situation?

Screenshot attached.
![screenshot 2017-01-19 1

[2017-01-19 04:38] ghost commented on #1071
I tried disabling the factory module and enabling alt recipes separately with no results.

[2017-01-19 05:27] liach commented on #1071
How did you get normal rail then? From village chests?

[2017-01-19 06:07] ghost commented on #1071
No. I was able to make it via the standard RC formula in the crafting table (before even touching config files). This is why I'm so perplexed.

[2017-01-20 23:58] liach commented on #1071
Does this recipe show up on JEI?

[2017-01-21 08:36] ghost commented on #1071
I don't have JEI installed and have never used it.

[2017-01-21 08:40] ghost commented on #1071
Is there perhaps a different recipe for difficulty: 2? For example, EnderIO changes some of the recipes depending on map difficulty, though I didn't see anything indicating this in the files so I didn't think to ask until now. Sorry for the lack of information, though I'm at a loss here. I'm no developer, though my years of running a few private servers have allowed me to usually troubleshoot thin

[2017-01-22 00:36] Realever opened #1072 "1.10.2 Crash"
Hi,
I played with a friend and suddenly his game has crashed. Could you please help me? Crashreport:
here the pastebin : http://pastebin.com/f5w3jgBU

 I would be glad to hear from you.

[2017-01-22 03:32] liach commented on #1072
It is caused by some coremod with a super bad coding style. It does not have a package, so I cannot really help. Try remove them one by one.

[2017-01-22 03:33] liach commented on #1071
JEI: http://minecraft.curseforge.com/projects/just-enough-items-jei

[2017-01-22 03:45] liach commented on #1062
How do you input?

[2017-01-22 07:51] ghost commented on #1071
@liach you are awesome. I would have never thought to install an additional mod to have access to the temp recipes. Here's a screenshot of everything. The standard rails recipe still works (in a crafting table), but it's not even used in the temp recipe for advanced rails. Very strange. Thank you again for your suggestion.

![screenshot 2017-01-22 15 42 13](https://cloud.githubusercontent.com/asse

[2017-01-22 07:51] #1071 closed, assigned to nobody

[2017-01-22 21:02] liach commented on #1072
Ohh it's optifine... @sp614x

[2017-01-23 11:27] sp614x commented on #1072
The OutfittedTrackModel$CompositeModel.getQuads() crashes with NullPointerException.
Does not seem related to OptiFine.

[2017-01-23 14:02] liach commented on #1072
Well, no such report exists without optifine.

[2017-01-23 14:29] Realever commented on #1072
i think i have found the crash.my friend uses faithful and spahx bdcraft at the same time.And when i look in to the folder from Faithful this is for the vanilla texture and bdcraft maybe too.I must wait when he comes home for checking this.

[2017-01-23 15:37] liach commented on #1072
https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/client/render/models/resource/OutfittedTrackModel.java#L160

I think a wrong state gets passed in as an argument, causing the crash.

[2017-01-23 15:39] sp614x commented on #1072
A wrong state should throw ClassCastException, not NullPointerException.
In fact the NPE is not possible at this line, there is a null check 2 lines above.
Either the source does not match the running JAR or some core mod has patched it incorrectly.

[2017-01-23 15:42] liach commented on #1072
On the crash report, there is a part:
[code]
This makes things look more complicated.

[2017-01-23 15:52] sp614x commented on #1072
This is OK, the call comes from ConnectedTextures.
The block being rendered is "minecraft:brick_block" and CTM checks the neighbour blocks in order to find if the block is connected or not.
The CTM rule most probably uses "matchTiles=xxx" so CTM has to check the neighbour block model textures. One of the neighbour blocks is from Railcraft and the call to CompositeModel.getQuads() crashes.

[2017-01-23 18:09] liach commented on #1072
@Realever Please give steps to reproduce.

[2017-01-23 19:20] Realever commented on #1072
As he used the wirless crafting grid from refined storage at the Village,which is near at our Base the crash happened

[2017-01-24 23:11] #891 closed, assigned to nobody

[2017-01-26 19:39] Wildprophet opened #1073 "Poor tin ore not disabling during world generation"
I have disabled poor tin ore in the config and left regular tin ore but when I generate the world poor tin ore still generates. I have tried every combination of configs to have only regular tin generate but either both generate or none generate.

[2017-01-28 12:18] CyanideCarrot commented on #1039
Same thing happens with all locomotives and all energy carts. It's not just electric loco with CESU.

[2017-01-28 12:21] CyanideCarrot commented on #926
I just came up with a better idea for it: text-to-speech. It's what I really wanted to do with the audio files anyways and might be easier to code.

[2017-01-28 14:49] liach commented on #926
I don't know if Java supports it

[2017-01-31 19:41] Ruuubi commented on #882
Experienced the same problem in the current version (10.0.1):
https://www.youtube.com/watch?v=NRi82tY2J1A

- Spawn carts and link them
- Exit world
- Reload world
-> Carts unlinked

I tried to reproduce it in a new world. Sometimes it did work as expected, other times it did not.
Tested it at world spawn and 10,000 blocks away. Doesn't matter if I logged out right besides the train or far away. Th

[2017-02-02 03:03] liach commented on #882
@Ruuubi Cannot reproduce it, but I can see some weird behavior in cart physics.
![2017-02-01_18 59 42](https://cloud.githubusercontent.com/assets/7806504/22535631/25ac89ae-e8b1-11e6-9612-00c0a307204d.png)

[2017-02-02 22:29] P3rf3ctXZer0 opened #1074 "[1.10.2] Forge 221 - Mod is asking forestry mod for bad commands. - Feature not added yet?"
https://gist.github.com/P3rf3ctXZer0/4f85461055b0cba5ed6d7107ef36ee15

[2017-02-02 23:54] liach commented on #1074
Well, those items are simply not yet added back.

[2017-02-03 02:25] PorkchopFu opened #1075 "[v10.0.1] No Rock Crusher Recipe"
In Railcraft v10.0.1 on MC 1.10.2, I cannot find the Rock Crusher block recipe in JEI and the furnace does not recognize the recipe when I arrange the steel, pistons and diamonds in the correct pattern. I am also using Immersive Engineering and UniDict, and my steel blocks list 'Immersive Engineering' in the WAILA tooltip. Was the crusher removed in this version? Thanks.

[2017-02-03 02:48] Ristellise commented on #1075
please read : http://www.railcraft.info/railcraft-10-0-0-happy-halloween/

[2017-02-03 03:08] PorkchopFu commented on #1075
Thanks! Do you have any information on the release date of the next update?
It's been three months since that post.

On Thu, Feb 2, 2017 at 9:48 PM Josh <notifications@github.com> wrote:

--

          Best Regards,

          Mike LaNasa

 __________________
(oOO \ *(||||)(||||)* / OOo)

[2017-02-03 03:21] PorkchopFu commented on #1075
On a side note, I planned on using the RC crusher to make charcoal dust so
I could craft gunpowder. My understanding is that charcoal dust requires a
RC Rock Crusher to make. If you know of another way to create charcoal dust
at the moment, without using JEI cheat mode, please let me know. Thanks.

On Thu, Feb 2, 2017 at 10:08 PM, Mike LaNasa <michael.lanasa@gmail.com>
wrote:

--

          Best R

[2017-02-03 05:12] Ristellise commented on #1075
asking will potentially increase the release date by approximately 1 year *sarcasm*

TLDR : don't ask when a release date will come it will come when it comes.. or when CovertJaguar comes back from Hiatus.

[2017-02-03 05:19] liach commented on #1075
Someone should be allowed to create something like a community version, although the current license does not allow redistribution.

[2017-02-04 09:36] P3rf3ctXZer0 commented on #1074
Aw; it just said to report it.

[2017-02-04 12:25] EnderiumSmith opened #1076 "[1.10]item loader redstone mode button does not work"
setting the redstone mode of an item loader with the gui button does not work. it resets to default when a cart passes under it.
setting it using /blockdata x y z {redstone:"mode"} works

[2017-02-06 20:12] VsUK opened #1077 "Admin charge feeder not working"
Just decided to give this mod a try to give a little more oomph to my server. Kinda disappointed at the furst hurdle. I wanted to create a constant rail network that allowed players to wait for trains to board & the right trains to the right place. However the admin charge feeder doesn't work at all. No power from it what so ever. `The charge meter shows all supply, draw & so on as 0. The only thi

[2017-02-06 21:25] Forecaster commented on #1077
It won't do anything unless you apply a redstone signal to it

[2017-02-07 07:45] Vectrobe commented on #1077
If redstone is already being applied, break the redstone source and re-place it. I've noticed the feeders tend to bug out when you change the track and simply breaking the feeder wont fix it most of the time, it's to do with how they handle redstone signals.

(confirmed a bug)

[2017-02-07 08:02] Vectrobe opened #1078 "[RC 10+] Switch, Wye and junction tracks"
Progressing in my local world I discovered that said tracks haven't been implemented yet, so I decided to make it into an "issue" for notification etc...

I presume these pieces will be re-implemented via kits? because it makes sense to do it that way, otherwise you have the problem of the copper rails on the new electric tracks...

[2017-02-07 16:11] VsUK commented on #1077
Right ok. I've just tested it & I wasn't using redstoneI was using blocks. I would have thought placing the admin charge feeder on top of redstone blocks would do it.

Just double checked this & this is the case. Charge is 0 on the admin feeder & the tracks if the admin feeder is connected to a redstone block. It only works if you link the feeder & the redstone block with redstone!

[2017-02-07 19:45] Vectrobe commented on #1077
It will work with a redstone block right next to it, but you have to place the redstone block last or the feeder will not know it's there.

Where is the block relative to the feeder however?

[2017-02-07 20:53] VsUK commented on #1077
Tested what you said & if placing the block before the admin feeder. It doesn't provide power. Only by placing the admin feeder before redstone block does it work. The only places placing the redstone block before the admin feeder that doesn't work is on the sides or above it. Doing so below does work. it's just on top & down the sides that doesn't if done after placing admin feeder!

____________

[2017-02-09 01:28] PorkchopFu opened #1079 "[MC 1.10.2/RC 10.0.1] Can't find Tin ore"
I've looked far and wide and cannot find any tin ore. Tin and Poor Tin ores are set to 'true' for generation in blocks.cfg, but I have not seen them at any altitude, including in a cave that looks to be almost built entirely out of Railcraft poor xx ores. Is Tin ore generation broken in this version or is there a specific biome and elevation that it will spawn in? Thanks.

[2017-02-10 00:27] liach commented on #1079
Have you tried to use Xray mod yet?

[2017-02-10 00:30] Vectrobe commented on #1077
It will work with a redstone block right next to it, but you have to place the redstone block last or the feeder will not know it's there.

Where is the block relative to the feeder however?

[2017-02-10 00:30] Vectrobe commented on #1077
Why did github only just decide to submit that comment...

[2017-02-10 19:36] PorkchopFu commented on #1079
I just tried the Xray mod, but its not picking up my Immersive Engineering or Railcraft ores. Do you know of a way that I can export the ore block IDs for my current (custom) modpack so I can add them manually to Xray? Thanks.

[2017-02-10 20:04] Forecaster commented on #1079
Pressing F3 + h should show the ids. Not sure if it's the number ones or not, or what the xray mod uses.

[2017-02-10 23:42] PorkchopFu commented on #1079
F3+H gives the world IDs and not the actual block IDs needed for the Xray mod to work.

[2017-02-10 23:50] Forecaster commented on #1079
Ah, then perhaps the equivalent of NEI can show them?

[2017-02-11 00:32] PorkchopFu commented on #1079
I found that WIT gave me the values I needed, unfortunately I can confirm that the only Railcraft ore that generates is "Poor Lead Ore", and I'have only seen that ore, after incredible searching in 'sp' mode, within a single cave. Are the other people using the 1.10.2 version of this mod not seeing this? (e.g. is this just happening to my particular configuration)

[2017-02-11 23:20] zTorden opened #1080 "[1.10.2] Client crashes after placing steam locomotive to the world"
I've placed my newly created steam loco on a track, and the client crashed, and keeps crashing on entering the world. Happens on separate client only: both standalone server and integrated server-client don't crash.

The client crashes only when ALL of these mods are present (there is no crash with any three of them):
Railcraft
Forestry
CustomMobSpawner
ImmersiveEngineering
more info here: https:/

[2017-02-11 23:21] liach commented on #1080
I believe this is caused by a coremod.

[2017-02-11 23:29] zTorden commented on #1080
If I am not mistaken, the only coremod present is OpenEye, and the client crashes without it just the same.

[2017-02-12 00:27] KnightMiner commented on #1080
Can you add the full crash report then? a single error does not help debug the issue.

[2017-02-12 00:42] zTorden commented on #1080
Here you are, but don't expect too much: http://pastebin.com/SQTyXGdQ

[2017-02-12 02:33] liach commented on #1080
Looks like an id conflict...

[2017-02-12 03:33] Discomanco commented on #1080
We had this issue on our server as well.
We fixed it by removing CustomMobSpawner (DrZhark's).
Railcraft + CustomMobSpawner + Something else that I haven't managed to locate, makes stuff like Locomotives and Robits (Mekanism) instacrash the clients.
I say "+ something else" because Railcraft and CustomMobSpawner works fine alone.

Mods in common with our pack though, is:
Immersive Engineering
Fore

[2017-02-12 13:56] zTorden commented on #1080
I think Forestry is to blame:
public abstract class EntityMinecartBeeHousingBase extends EntityMinecartContainerForestry implements IBeeHousing, IOwnedTile, IGuiBeeHousingInventory, IClimatised, IStreamableGui {
	private static final DataParameter<Optional<GameProfile>> OWNER = EntityDataManager.func_187226_a(EntityMinecart.class, GameProfileDataSerializer.INSTANCE);

1) it uses EntityMinecart.cla

[2017-02-12 20:48] PorkchopFu commented on #1079
Correction: In addition to "Poor Lead Ore", Quarried Stone and ores from the underwater RC spheres spawn as well.

[2017-02-12 21:16] TomSmith27 commented on #1053
Same problem aswell

[2017-02-15 03:45] mezz commented on #1080
Should be fixed in the latest Forestry, please confirm.

[2017-02-15 04:30] CovertJaguar commented on #1050
This was an intentional decision after much internal debate as I have no idea whether it should spawn in those dimensions.

[2017-02-15 06:08] liach commented on #1050
For a dimension like twilight forest, I think Railcraft should generate ores like all other mods.

[2017-02-15 06:21] liach commented on #1076
#1053

[2017-02-15 06:59] #1037 closed, assigned to nobody

[2017-02-15 20:17] zTorden commented on #1080
I confirm, there's no crash anymore with the latest Forestry build,

[2017-02-15 20:17] #1080 closed, assigned to nobody

[2017-02-15 22:49] DEX47 opened #1081 "Creosote and capsules issue 1.7.10-9.12.2.0"
Trying to resolve an issue with Railcraft capsules. Apparently no recipe exits that allows capsules to be filled with creosote. The end item, creosote filled capsule, does exist in the game. Does anyone know how to add such thing via  MineTweaker?

[2017-02-16 00:00] MauveCloud commented on #1081
You don't need MineTweaker.
Capsules are from the Forestry mod (made from beeswax or refractory wax), and you can fill them with creosote by putting them in the top slot of a coke oven that has creosote oil in it.  Railcraft is just being weird to define the creosote capsules (and show them in NEI) when Forestry is not installed.  Said capsules have no particular advantage over bottles or other co

[2017-02-16 02:57] DEX47 commented on #1081
Your right my mistake. Forest capsules are not working with Railcraft creosote. There is likely some mumbo jumbo mix up with my 140+ mods that are resulting in a crafting recipe issue. That is why I'm asking for a MineTweaker work around. Creosote is also a shared fluid with Immersive Engineering. I can provide a full ist of mods and versions if that will help. It will take some time to write down

[2017-02-16 03:17] MauveCloud commented on #1081
I'm not sure I can help you in that case, why you need a Minetweaker workaround so much (since there should still be other fluid containers you can use instead), or that this is appropriate to continue discussing in the comments of a GitHub issue for Railcraft, but I do know of a faster way to get a list of mods with versions - see this YouTube video: http://y2u.be/Ipb18wZaPxE

[2017-02-16 03:25] DEX47 commented on #1081
I do my best to stamp out glitches and oddities as best I can for my users. There are alternatives to capsules yes. I still put an effort out to making things 100%. My searches pointed me here with like issues. Not sure where the best spot to post is as I'm not sure the origin of the conflict.

[2017-02-16 03:48] DEX47 commented on #1081
Any case here is the list.

1.7.10
1.7.10-ExpandedIndustry-15.26.1a.jar
1.7.10_AM2-1.4.0.009.jar
AdvancedRocketry-1.7.10-1.0.4.jar
adventurebackpack-1.7.10-0.8c.jar
AgriCraft-1.7.10-1.5.0.jar
ancientwarfare-2.4.115-beta-MC1.7.10-FULL.jar
AnimationAPI-1.7.10-1.2.4.jar
arcane_engineering-0.2.7.jar
ATG-1.7.10-0.12.0.jar
Automagy-1.7.10-0.28.2.jar
autooredictconv-1.7.10-1.3.1.jar
BetterBoat-1.7.10-1.1

[2017-02-16 08:41] Aroma1997 commented on #1050
Most dimension mods set their Biomes to something reasonable and register their Bimes to the BiomeDict, so using biomes still gives you the result that you want in 99% of all cases.

[2017-02-16 08:42] liach commented on #1050
@Aroma1997 Would you mind taking a look at my pull to see if it is a correct solution?

[2017-02-16 14:48] ccgfok opened #1082 "[4.3.1_007] Linking cart problem"

[2017-02-16 14:48] #1082 closed, assigned to nobody

[2017-02-17 09:26] Aroma1997 commented on #1050
@liach Your solution would work in many cases, however I think, it's a better idea to go for biome detection and not for isSurfaceWorld(), because the biome corresponds with the intentional usage of the current place, where the isSurfaceWorld is a bit unspecific. For example the Deep Dark (ExtraUtils) has isSurfaceWorld() to set to false, but since it's a mining dimension, you would expect ores to

[2017-02-17 20:50] liach commented on #1039
@CovertJaguar The electric locomotive is too mad right now. It is now both slow and electricity-consuming.
On the loop shown here, a batbox cannot even power an electric locomotive to go along the loop once. http://srv1.almuramc.com:8123/?worldname=dakara&mapname=flat&zoom=5&x=4263&y=64&z=2155

[2017-02-17 20:57] CovertJaguar commented on #1039
This is an intentional balance decision. The alternative is banning battery carts from powering locomotives entirely.

Adding more locomotives negates some of the slowdown.

The Battery carts are intended for moving energy, not powering trains.

[2017-02-18 06:23] CyanideCarrot commented on #1039
But then why does it affect steam and creative locos?

[2017-02-19 05:37] Ostrichbeta opened #1083 "I can't see the switch rail in Minecraft 1.10.2 with Rc 10.0.0.1"
Some days ago,I saw an update on rc on 1.10 and i download it,but when i open the game,i can't any switch rails and any switch motor.But i see the name of the switch rail in the lang file.it's that a bug??

[2017-02-19 05:53] liach commented on #1083
Use normal rails and levers for now. They are unfortunately, not yet implemented.

[2017-02-21 02:13] Akame-Zero opened #1084 "No 1.8.9 update"

[2017-02-21 05:48] Ristellise commented on #1084
No why do you need 1.8 anyways?

[2017-02-21 05:50] CovertJaguar commented on #1084
1.8.9 was too broken to support Railcraft.

[2017-02-21 05:50] #1084 closed, assigned to nobody

[2017-02-22 04:49] Akame-Zero commented on #1084
1.8.9 is the most recent version of the game I will use, I hate 1.9 because in my opinion the changes to the combat system were(and still are) completely unnecessary and don't make the game better, if anything I think the update made the game worse.

[2017-02-23 04:45] liach commented on #299
This is unnecessary for the files, but for the gui, I think it might be worthy to implement.

[2017-02-23 04:47] liach commented on #898
I believe we've had a throughout discussion on this on Discord, leading to a solution.

"A Sponge jobs plugin can allow users to have more output or shorter process time if they have a high railcraft job level"

[2017-02-23 04:47] #898 closed, assigned to nobody

[2017-02-23 04:47] #925 closed, assigned to nobody

[2017-02-23 19:42] #1083 closed, assigned to nobody

[2017-02-24 19:39] Generalcamo commented on #1084
Irrelevant. There are major issues with 1.8.9 that make modding in general difficult. 1.7.10 is still available for your use.

[2017-02-25 00:42] Akame-Zero commented on #1084
The 1.7.10 version of one of the mods I use no longer exists.

[2017-02-25 00:46] WolfieWaffle opened #1085 "Survivalist Integration"
This is a suggestion to add compatibility for the ore rocks in Survivalist. It has ore rock items for each of the ores that Railcraft provides, so it would be easy to add a config that makes the poor ores drop ore rock instead of the block if Survivalist is installed.

[2017-02-25 02:19] dj3520 commented on #1084
It's expected that eventually everyone will use the newest version of Minecraft. So it makes sense to develop for the newest version. Going backwards just to please people who don't like the new versions is usually seen as more work than it's worth.

[2017-02-25 03:19] liach commented on #1085
Can you provide a link to survivalist mod?

[2017-02-25 05:26] liach commented on #1041
Should get closed now @CovertJaguar

[2017-02-25 15:28] Generalcamo commented on #1068
As a question: Is there any other information requested for this fuel type? I can give any if needed.

[2017-02-26 01:03] CovertJaguar commented on #377
More information, it was discussed and the best implementation was determined to be a block that you place under tracks, that has a portion that sticks up above the track and appears to be filled with water.

This solves the concerns with how you would attach pipes and makes rendering rather trivial.

You can then just put any track you like on top of it.

[2017-02-26 05:04] bookerthegeek commented on #981
Same issue, Here are the latest Logs:

First Error
[code]

Second Error
[code]

Versions
[code]

Hope this helps

[2017-02-26 05:52] bookerthegeek commented on #981
Also, forgot to add
[code]

[2017-02-26 20:36] #1041 closed, assigned to nobody

[2017-02-26 20:37] CovertJaguar commented on #1039
Consistency. They are intended to be extremely heavy, as batteries generally are.

[2017-02-26 20:47] #1076 closed, assigned to nobody

[2017-02-27 00:45] CovertJaguar commented on #1078
We were actually tossing around the idea of using the Crowbar (or another tool) to switch tracks between normal, junction, turnout, and wye.

Making them into Track Kits ran into issues with what the recipe should look like.

[2017-02-27 01:22] bookerthegeek commented on #1078
Using the crowbar, with an item use from your inventory ( Think bow and arrow) would be pretty cool.

[2017-02-27 04:12] liach commented on #1085
https://github.com/gigaherz/Survivalist

[2017-02-27 04:40] liach commented on #1085
@gigaherz It seems you might need to support oredict from your side.

[2017-02-27 05:33] Vectrobe commented on #1078
Using the crowbar is a pretty good idea, however maby making a dedicated tool might be better? a blowtorch makes sense for cutting and welding the rails, however I'm not sure about fuel for it...

A problem I see with using the crowbar will be track orientation, unless you just let it cycle through for each click. The steel crowbar also currently seems a little soft so you may need to increase its

[2017-02-27 05:38] liach commented on #1078
This way of dealing with junction tracks can make tracks less a pain :smile:

[2017-02-27 05:50] liach commented on #1085
@CovertJaguar I think we can close this one, since this is not really Railcraft's issue.

[2017-02-27 14:17] Raycoms opened #1086 "Getting crash when using in Intellij"
I'm currently getting crashes when I try to use railcraft in intellij:

minecraft_version=1.10.2
forge_version=12.18.2.2107

[11:16:02] [Client thread/FATAL]: Reported exception thrown!
net.minecraft.util.ReportedException: Rendering item
	at net.minecraft.client.renderer.EntityRenderer.updateCameraAndRender(EntityRenderer.java:1174) ~[EntityRenderer.class:?]
	at net.minecraft.client.Minecraft.run

[2017-02-27 15:51] WolfieWaffle commented on #1085
Should I ask the Survivalist dev about it? not exactly sure what side needs to implement it.

[2017-02-27 16:17] gigaherz commented on #1085
Already done: https://github.com/gigaherz/Survivalist/issues/33

[2017-02-27 20:22] Raycoms commented on #1086
Ah should've used the dev jar.
Closed

[2017-02-27 20:22] #1086 closed, assigned to nobody

[2017-02-28 11:14] MKindy opened #1087 "Unable to play unknown soundEvent: railcraft:locomotive.steam.whistle"
Train whistles are not playing. Not sure why. Running 10.0.1 on Forge build 2107, Java 1.8.0_121 on Windows 7. Error in log from debug is in the title. No other mods are running -- this is a fresh install.

[2017-03-01 01:30] MKindy commented on #1087
[Forge 12.18.3.2221 and Railcraft.log.txt](https://github.com/CovertJaguar/Railcraft/files/809473/Forge.12.18.3.2221.and.Railcraft.log.txt)
Here's a follow-up attempt where I ran it on my Windows 10 machine, same Java ver, Forge build 2221; same issue presents itself.

[2017-03-01 01:34] liach commented on #1087
@MKindy Give fml-client-latest.log

[2017-03-01 02:55] MKindy commented on #1087
Thanks for reminding me about that, 'cause this is weird -- fml-client-latest.log isn't being generated.  I've done fresh installs of Forge 2107, 2221, and 2239 and none of them are creating fml-client-latest.log.  Weirdly, though, 2252 (1.11.2) is.

I will be doing more troubleshooting, but do you have any thoughts?

[2017-03-01 04:09] CovertJaguar commented on #1077
Sounds like a neighbor block update issue or something. hmm.

[2017-03-01 07:37] AEnterprise commented on #1087
@MKindy what MC launcher version are you using? if you heapen to be using the new MC launchert revert to the old one for the logs, there are issues with the logging in the new one for mods

[2017-03-01 09:22] CovertJaguar commented on #1087
Sounds are in the other repo sorry. I haven't had a chance to fix the code over there yet, so sounds are missing at the moment.

[2017-03-01 09:25] CovertJaguar commented on #1073
I don't recall having those options in the config. Try generating a new config.

[2017-03-01 09:34] CovertJaguar commented on #1049
The only case where it would not be necessary are some cases that could be replaced with Access Transformers. But since I don't really understand how to set that up I'll be sticking with reflection unless someone wants to PR the Access Transformer framework into the mod/gradle.

[2017-03-01 09:39] CovertJaguar commented on #1038
Just a comment, the Locomotives don't interface with the AI code.

[2017-03-01 09:39] #1038 closed, assigned to nobody

[2017-03-01 09:47] CovertJaguar commented on #1032
Duplicate of #1063

[2017-03-01 09:47] #1032 closed, assigned to nobody

[2017-03-01 09:48] #1060 closed, assigned to nobody

[2017-03-01 09:52] #1075 closed, assigned to nobody

[2017-03-01 09:54] CovertJaguar commented on #1066
Duplicate of #1010

[2017-03-01 09:54] #1066 closed, assigned to nobody

[2017-03-01 09:56] CovertJaguar commented on #1074
I think the Forestry syntax changed or something. I haven't looked at it.

It seems to be referencing a missing backpack? Maybe it got renamed.

[2017-03-01 09:58] CovertJaguar commented on #981
Possibly related to #1074

[2017-03-01 10:04] #1029 closed, assigned to nobody

[2017-03-01 10:05] CovertJaguar commented on #993
I didn't really have the ability to test the IC2 module at the time, so it does have some bugs.

[2017-03-01 10:07] CovertJaguar commented on #1036
The plan was always to do so, once some practical testing of the system of was available.

The lack of any related bug reports is a good sign.

[2017-03-01 10:13] #1085 closed, assigned to nobody

[2017-03-01 14:24] ming514 opened #1088 "The mod is has some problems"
I am sorry that your mod has some problems. The problem is: I cannot make tracks on the Rolling Machine, and the NEI is not able to investigate the recipe list. Could you please fix it?

my minecraft version is 1.7.10.

User,ming514

[2017-03-01 17:35] liach commented on #1049
@CovertJaguar An access transformer is really like a coremod. Forge allows you to put `"FML_AT"` attribute in jar to specify the file for access transformer to read.

[2017-03-01 17:36] liach commented on #1074
Might be fixed by updating Forestry API and fixing compile errors.

[2017-03-01 18:32] Speiger commented on #993
Yeah i saw your development has stopped.

[2017-03-01 18:33] Speiger commented on #1049
@CovertJaguar @liach the model bug i saw was because of using forge models...
To be honest i dont understand why you use those in the first place...
But everyone does what he likes

[2017-03-01 19:36] CovertJaguar commented on #1049
@Speiger you mean as opposed to vanilla models?

The reason why is because the vanilla format doesn't support texture remapping.

[2017-03-01 19:42] CovertJaguar commented on #993
Its started again.

[2017-03-01 19:43] Speiger commented on #1049
@CovertJaguar remapping? You mean Texture Copying?
If you mean that. I use only vanilla models (no forge at all) and CF + Obscurator works 100% fine.
And anything IC2 had in 1.4.7 and more works 100% fine.
Even cables work fine even so i had to trick a bit. But that has something to do that i have a JsonDestroyer (code generated models)

[2017-03-01 19:46] CovertJaguar commented on #1074
I doubt it, its an IMC error. Either something is wrong in how I'm defining my backpacks (highly possible) or something is wrong with the message itself.

[2017-03-01 19:47] CovertJaguar commented on #1088
Yes.

[2017-03-01 19:47] #1088 closed, assigned to nobody

[2017-03-01 19:48] CovertJaguar commented on #1049
I mean being able to define textures in the BlockState JSON instead of the Model JSON. This greatly reduces the number of files needed.

And not having to define Item JSONs for blocks because Forge does that for me.

[2017-03-01 19:56] liach commented on #1088
?
Use NEIAddon and NEIPlugin.

[2017-03-01 22:59] MKindy commented on #1087
Thanks for the info, @CovertJaguar -- and thanks for the info, @AEnterprise , I didn't know the latest MC launcher was having those problems, and that's the launcher I was using.

[2017-03-02 10:46] Speiger commented on #1049
yeah that is an upside. Better would be if you dont have to do the json stuff at all (which is possible)

[2017-03-02 10:47] Speiger commented on #993
cool.

[2017-03-02 10:52] HoldYourWaffle opened #1089 "Any hopes for 1.11?"
So is this mod gonna be updated to 1.11 anytime soon?
It is possible as shown by @liach in PR #1042, although he _deleted_ it for being a mess...

Of course some compatibility code would have to be (temporarily) removed because of unupdated mods (as shown in #1042 😄 )

[2017-03-02 11:05] Ristellise commented on #1089
once 1.10 is ported fully.

[2017-03-02 11:55] HoldYourWaffle commented on #1089
Any time indication?

[2017-03-02 15:21] liach commented on #1089
Well, Jaguar wil port himself as he said.

[2017-03-02 19:24] liach opened #1090 "Only allow liquid destroying tracks when..."
I propose only to allow fluid to destroy track when the track is right next to a source block or when the fluid is right above.

[2017-03-02 20:13] CovertJaguar commented on #1049
No, that is NOT better. What the hell makes you think that? You're one of those people that refuse to move to the new system? I'd rather not base my entire render base on unsupported hacks thank you.

[2017-03-02 20:19] Speiger commented on #1049
First of all its not a hack. Second yeah its a none supporting system on the other hand JsonFiles can not control boundingboxes of any kind or effect the effects of these blocks when they have a colision effect so its not a bad move to do that.
On top of that this system saves a lot of ram on my side and what you do in this system just generate the models via code and inject them in a Event which

[2017-03-02 20:23] CovertJaguar commented on #1049
Non-supported system == hack.

And why the hell would you want JSON files to control bounding boxes? That has always been handled by the Block class.

[2017-03-02 20:23] #1049 closed, assigned to nobody

[2017-03-03 07:23] Natesky9 opened #1091 "Furnace Minecarts can't be linked"
Vanilla furnace minecarts can not be linked at all, preventing them from being used for trains.
Any combination of starting with a different cart or the furnace cart yields the same result, every time

RC version: 10.0.1
MC version: 1.10.2

[2017-03-03 07:32] Natesky9 commented on #1078
How about a "toolbox" that stores track parts (just basic bits) and a tool that can use the items from the toolbox to change track types? Would allow for more customization with only a few inventory slots

That would allow you to keep the crafting costs for each rail independent of each other, but still swap tracks on the fly

[2017-03-03 08:01] liach commented on #1091
Fixed in next update.

[2017-03-03 08:01] liach commented on #1091
#1059

[2017-03-03 08:41] #1091 closed, assigned to nobody

[2017-03-03 08:55] CovertJaguar commented on #1078
We'll its mostly implemented now, but I'll just keep it simple and just make the tool fairly costly. Don't want to make it even more confusing for new players.

[2017-03-03 08:57] CovertJaguar commented on #1090
This is all determined by the Block Material type. I have no control over it beyond whether it does or does not happen. And I have no means to change the Material type on vanilla Iron Tracks. As annoying as it is, I wiped out half my test track earlier.

[2017-03-03 08:58] #1090 closed, assigned to nobody

[2017-03-03 09:00] CovertJaguar commented on #1089
Yeah, I'd like to at least mostly finish the 1.10 port first. I don't think the 1.11 port will be too bad from there.

[2017-03-03 11:03] bookerthegeek commented on #1089
@HoldYourWaffle Usually you also can add a week to the release date every time somebody asks for a release date.

[2017-03-03 19:21] liach commented on #1062
@Pilad Any update?

[2017-03-03 19:29] liach commented on #1040
@kylesy20 Any update?

[2017-03-03 20:05] liach commented on #917
Merged into #993

[2017-03-03 20:05] #917 closed, assigned to nobody

[2017-03-03 20:07] liach commented on #1079
@PorkchopFu Any followups?

[2017-03-03 20:08] liach commented on #1072
@Realever Any update?

[2017-03-03 20:09] liach commented on #1046
Should be fixed. I tested in that pull request.

[2017-03-03 20:09] #1046 closed, assigned to nobody

[2017-03-03 20:13] liach commented on #1040
Merged into #787

[2017-03-03 20:13] #1040 closed, assigned to nobody

[2017-03-03 20:18] liach commented on #1027
Well, bottle eating is intentional. Although I do not like this feature, this is how Railcraft had been.

[2017-03-03 20:21] liach commented on #956
Since the glowing effect has been removed, I will close this one.

[2017-03-03 20:21] #956 closed, assigned to nobody

[2017-03-03 20:22] liach commented on #940
Closing since the pull request is merged.

[2017-03-03 20:22] #940 closed, assigned to nobody

[2017-03-03 20:22] liach commented on #929
@Sargefan767 Does this still happen?

[2017-03-03 20:25] liach commented on #852
Resolved by 05fda9bbca5235cf29ea7e9b14219ac58867bbcf

[2017-03-03 20:25] #852 closed, assigned to CovertJaguar

[2017-03-03 20:26] liach commented on #834
Might it be similar to #1077?

[2017-03-03 20:33] liach commented on #565
Well, I don't think Railcraft is going to make change on other mods' existing stuff. So closing.

[2017-03-03 20:33] #565 closed

[2017-03-03 20:36] liach commented on #459
TFC died at 1.7. Although there is a TFC2, create a new issue if this is still a problem.

[2017-03-03 20:36] #459 closed

[2017-03-03 20:38] liach commented on #387
@slawr34 Does this still happen with latest verions for 1.7?

[2017-03-03 20:42] liach commented on #243
@Vexatos Be more specific.

[2017-03-03 20:58] liach commented on #1003
Since this is really nothing, I will close this.

[2017-03-03 20:58] #1003 closed, assigned to nobody

[2017-03-03 20:59] liach commented on #1069
Will close since we cannot really do much.

[2017-03-03 20:59] #1069 closed, assigned to nobody

[2017-03-03 21:01] liach commented on #1089
Just wait, it's going to be okay.

[2017-03-03 21:02] HoldYourWaffle commented on #1089
@CovertJaguar I understand that of course, it's really weird to half-finish a port and just move on, but since I don't know the full potential and/or what's done and what's not so I can't judge myself how long this is is gonna take and if I'm gonna wait for that :)

@bookerthegeek Luckily I didn't ask for a release date, just an indication of how long it's gonna take 😄  I'm a coder/"modder" myself

[2017-03-03 21:03] HoldYourWaffle commented on #1089
Dammit you were faster than me....

[2017-03-03 21:04] liach commented on #882
Have we come up with a solution?

[2017-03-03 21:08] HoldYourWaffle commented on #243
Wow this an old issue...

[2017-03-03 21:36] CovertJaguar commented on #882
Haven't looked at it recently.

[2017-03-03 21:36] CovertJaguar commented on #243
Buildcraft Triggers.

[2017-03-03 21:39] PorkchopFu commented on #1079
Although I have been able to configure Xray with the appropriate IDs via
WIT, I'm still not seeing any Tin ore spawn. That said, I ended up adding
in the BaseMetals suite, MMD Orespawn, SuperOres and SimpleRegrogen, which
include Tin ore.

On Fri, Mar 3, 2017 at 3:07 PM, liach <notifications@github.com> wrote:

--

          Best Regards,

          Mike LaNasa

 __________________
(oOO \ *(||||)(

[2017-03-03 21:43] liach commented on #1079
@CovertJaguar Can you confirm this?

[2017-03-03 21:43] CovertJaguar commented on #1072
I don't know why it throws a NullPointerException, but it could be that the state they pass in isn't an ExtendedState maybe.

[2017-03-03 21:48] CovertJaguar commented on #1079
No, as far as I know it is working correctly. I haven't tested since I built the system though.

[2017-03-03 21:49] liach commented on #1079
Confirmed?

[2017-03-03 21:49] CovertJaguar commented on #1079
Just fixing labels, not confirming.

[2017-03-03 21:53] liach commented on #1079
@PorkchopFu Try to look for tin at height of y=50.

[2017-03-03 22:11] CovertJaguar commented on #1013
Closed because Rolling Machine is back.

[2017-03-03 22:11] #1013 closed, assigned to nobody

[2017-03-03 22:13] CovertJaguar commented on #946
Could have something to do with me giving carts a solid collision box I suppose.

[2017-03-03 22:22] Realever commented on #1072
Ups sorry i forgot to write it.Yes the problem is solved.I don´t know, if the error solved through changing the ressource pack or an mod update, but it solved

[2017-03-03 22:23] CovertJaguar commented on #379
This is beyond the scope of Railcraft, use one of the various frame mods.

[2017-03-03 22:23] #379 closed

[2017-03-03 22:25] liach commented on #1072
Thanks!

[2017-03-03 22:25] #1072 closed, assigned to nobody

[2017-03-04 02:09] Ristellise commented on #787
since liach added this as a question.. it would be nice to allos for high speed tracks to turn without going into fire :) with the new track system.. i think it will be a bit efficient if we allow for the spike maul to hit a corner track and turn it into a 2x2 track once tere is enough room. though i am not sure if @Cream-Tea is still around...

[2017-03-04 10:20] CovertJaguar commented on #787
That would probably require double ticking the carts or something. The main reason they explode is because the alternative is derailment due to technical limitations in the engine.

[2017-03-04 14:45] bookerthegeek opened #1092 "[REQUEST] UBC Support"
Hello!

I am requesting that you register your ores with the [UBC](https://github.com/Zeno410/UndergroundBiomesConstructs1.10) if it is installed.

The API can be found [HERE](https://github.com/Zeno410/UndergroundBiomesConstructs1.10/blob/master/src/main/java/exterminatorjeff/undergroundbiomes/api/common/UBOresRegistry.java).

Thank you for considering my request.

[2017-03-04 15:32] Vexatos commented on #1092
On 1.7.10, there was [a mod](https://github.com/mallrat208/UBC-Ore-Registrar) that used to do that.

[2017-03-04 15:56] AEnterprise commented on #1092
wouldn't it be better if UBC just pulled the ores from the oredict itself? then it would support almost all modded ores at once

[2017-03-04 16:11] liach commented on #1092
Do you mean poor ores?

[2017-03-04 19:31] bookerthegeek commented on #1092
My understanding (my non-java coding understanding) is that UBC does not generate any ores by itself, just replaces your ores as they generate so that it matches the surrounding strata. This allows Railcraft to continue to control its own Ore Generation, while making the ores match their surroundings.

[2017-03-05 00:46] Ristellise commented on #193
to update.. IE has already implemenyed fluid concrete... it would be redundant if we do the same thing.

[2017-03-05 01:10] Natesky9 opened #1093 "Suggestion: Advanced Trading Feature"
Trading with NPCs has always been tedious and not very useful. Most trades are a blatant rip-off, and others are just not useful at all. Villagers just aren't that conscience about the economy. Most mods try to add at least one villager, but the same thing happens to those.

On top of that, there are not many reasons to produce items besides personal use, and not very many times are there a reason

[2017-03-05 02:50] liach commented on #1092
https://github.com/mallrat208/UBC-Ore-Registrar

[2017-03-05 03:21] Generalcamo opened #1094 "Locomotive Types"
# Primitive:
## Furnace Cart:
Basic engine running on the convection of heat and motion (read: magical handwaves) to operate the cart. Difficult to automate, but can handle early game shunting
## Accepts:
- Coal
- Charcoal

# Steam:
## Requirements:
-  Water
-  Fuel

## Low-Pressure Steam Locomotive:
Basic engine running on the heating of water to create steam which creates the power to operate th

[2017-03-05 06:51] bookerthegeek commented on #1092
@Liach Thank you for that mod listing.

If you noticed I linked you to the 1.10 version of the API, and not the 1.7.10 version, as the mod that you linked is for. Otherwise I would have used that mod as it does what I am asking for Railcraft to do natively.

[2017-03-05 07:23] liach commented on #1092
I think the best solution is to update that mod.

[2017-03-05 07:25] bookerthegeek commented on #1092
Rodger. Thank you for taking the time to consider my request.

Please keep up the good work and I look forward to seeing what Railcraft does next.

[2017-03-05 07:31] liach commented on #1092
Can you get a stat on how often UBC is used?

[2017-03-05 07:44] bookerthegeek commented on #1092
According to Curse download count::
* 1,171 for MC 1.11
* 2,764 for MC 1.10.x
* 106,787 for MC 1.7.x

Granted these are not massive numbers. Personally I think one of the main reasons is due to the fact it did require another mod to have modded ores supported.

Can I ask if my understanding is correct about something? I was under the impression that to add support required very few lines of code a

[2017-03-05 07:49] CovertJaguar commented on #193
They've copied all my features, I can copy some of theirs. ;)

[2017-03-05 07:50] CovertJaguar commented on #1093
So um... like the Trade Station?

[2017-03-05 07:52] CovertJaguar commented on #1092
The hard part is usually learning the system and working out the build script dependencies. But I haven't actually even looked at the mod myself.

[2017-03-05 07:57] bookerthegeek commented on #1092
Gotcha. I got my thought on the ease of adding supprt from the [MCF](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1293503-underground-biomes-constructs) page.

<details><summary>Snippet from the MCF thread</summary><p>
Code: there are two ways to request your ores get "UB'd". Both require a simple one-line call, wrapped in a try-catch so it runs if UBC is installed and j

[2017-03-05 08:51] AEnterprise commented on #1092
@CovertJaguar gradle build script dependancies are not to hard to do, if you want i could help with that

[2017-03-05 14:37] Notawallplan opened #1096 "[1.10.2] [Decoration] Some Railcraft stones have errored or no textures."
Title.
Here's a pic of the block and fitted versions of Abyssal Stone. The fitted version is surrounded by the block version.
![2017-03-05_09 31 25](https://cloud.githubusercontent.com/assets/13065770/23588120/b1c24314-0186-11e7-87a7-a73cc9d8c440.png)
I am unsure if this is just a simple model bug that can be fixed vita resource pack or something far worse.

[2017-03-05 17:33] CovertJaguar commented on #1096
Outdated Optifine?

[2017-03-05 17:45] CovertJaguar commented on #1092
I already use an overlay texture, but I have no idea how it works in 0.9. The documentation  is sparse at best.

[2017-03-05 18:32] Natesky9 commented on #1093
More in bulk, and with maybe different trades than vanilla. Possibly using just railcraft recipes or vanilla resources for balance reasons? The initial thought was to use this as an incentive to set up rail lines between base and villages, and possibly a way to trade for exclusive/rare items.

Could be a resource sink/something to aim for late game, and a good way to get resources after a ton of i

[2017-03-05 18:41] dj3520 commented on #1094
My thoughts.

Would the oil burning upgrade be for Primitive and Steam or only steam?
Could the Magic locomotive also take Botania mana? I believe there's already a mana cart.
Perhaps an upgrade for the Diesel locomotive could be a Hybrid upgrade, where it also charges/discharges from an energy cart (charges when idling and discharges when more power is needed)

This needs some obvious changes con

[2017-03-05 18:47] dj3520 commented on #1093
Random idea: Trade Station cart.

[2017-03-05 19:11] liach commented on #1094
Probably a separate mana cart.

[2017-03-05 19:19] HoldYourWaffle commented on #1094
I like the tought of a magical train...

Besides that this could be a very good idea :+1:

[2017-03-05 19:24] HoldYourWaffle commented on #926
@liach you vould reference the google translate api

[2017-03-05 19:32] liach commented on #926
Probably custom text components

[2017-03-05 21:28] Forecaster commented on #1093
@dj3520 You're gonna have to elaborate on that. No idea what that would do.

[2017-03-05 21:58] Natesky9 commented on #1093
The idea of this was to allow for a sort of NPC economy, one that isn't manual and tedious. It still wouldn't fully automated, as these "contracts" would be completed, and a new one would have to be set up.

As an example of something that could be traded:

One village requests 2000 leather boots for 500 emeralds
Another village is selling 8 leather per emerald
And another village is selling 20 co

[2017-03-05 22:13] HoldYourWaffle commented on #1093
Does this fall inside the scope of railcraft?

[2017-03-05 22:20] Natesky9 commented on #1093
It would be using rails to trade resources. How else/why else would you transport lots of items over long distances?

[2017-03-05 22:30] bookerthegeek commented on #1093
This honestly could be both inside and outside.

I think you could set it so that a trade station generates in the villager building and is destroyed when broken or picked up.

Then you drive by it on a train and you then drive to another staion in another village. After it returns custom payout. The further away the larger the payout.

If the train is broken or otherwise leaves the trakes the 'co

[2017-03-06 00:06] Natesky9 commented on #1093
I think it would be simple enough just to make it a trade, instead of having something that complicated.

These trades would be larger versions of the villager trades, almost requiring a train of decent size to complete. The benefit of this over doing a "contract" is that there's no extra data. In this regards, it's nearly the same as a villager trade, with a max use until the trade changes. The t

[2017-03-06 00:49] liach commented on #480
@CovertJaguar How will this be?

[2017-03-06 02:25] Ristellise commented on #1094
ww should have a Jet Fuel train that is made out of steel so that conspiracy theorists of the 9/11 incident will go : "jet fuel can't melt steel beams"
(NOTE : this was actually sarcasm i am not actually thinking this would be implemented)

[2017-03-06 05:33] Generalcamo opened #1097 "Convert from Redstone Flux to Forge Energy"
Just a generic project to convert Railcraft's energy system from RF to FE, maintaining TeamCoFH's RF as a pure compatibility layer if detected. This removes the need to keep the API in Railcraft, and should ease the transition to 1.11 as well when that comes.

Note there is ongoing discussion to switch to Railcraft Charge entirely. If this is the case, then FE should be maintained in its own separ

[2017-03-06 07:17] Ristellise commented on #1096
probably.. optifine can be seen on the top right as FPS,Chunk updates overlay text... you don't usually get that in games without optifine.

[2017-03-06 07:17] Ristellise commented on #1078
close this?

[2017-03-06 07:20] liach commented on #1078
Well, switch is not done yet.

[2017-03-06 15:11] bassomarko opened #1098 "Console spam after placing Charge Feeder Unit"
Railcraft 10.0.1, Forge 12.18.3.2234, Infinity Lite 1.10 pack version 1.7.0.

I have a small electric track loop, and after I placed the IC2 charge feeder unit next to the track and supplied power and redstone, the server console is now full of "[Server thread/INFO] [railcraft]: Saving Charge Battery data..." about once every 45 seconds.  Not sure if it's intentional to have that message displayed

[2017-03-06 15:54] liach commented on #1098
Does it happen with admin charge feeder?

[2017-03-06 16:12] bassomarko commented on #1098
After replacing the IC2 feeder with the admin feeder, the messages stopped.  I then went back to the IC2 feeder and the messages returned like before.  This happens even when the net retains a constant 20k charge.

[2017-03-06 16:24] liach commented on #1098
Related lines: https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/blocks/charge/BatterySaveData.java#L53-L54

https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/util/misc/Game.java#L31

Should be an issue. Easy fix.

[2017-03-06 18:45] bookerthegeek commented on #1092
Closing issue as the compatibility mod author has decided to update their mod and is including support for your mod natively.

Thank you guys for looking into it, And I am sorry to have wasted your time.

[2017-03-06 18:45] #1092 closed, assigned to nobody

[2017-03-06 22:26] Vectrobe commented on #1078
Technically you shouldn't close these things until you at least have a commit to attach...

[2017-03-06 22:36] CovertJaguar commented on #1097
Ugh...keep me out of the energy wars please.

[2017-03-06 22:46] #1096 closed, assigned to nobody

[2017-03-06 22:48] CovertJaguar commented on #1093
The Trade Stations can trade in bulk. The villagers will continue to trade with it so long as they have a matching trade available and you have provided sufficient stock.

You'll need to be more specific as to why this is insufficient.

[2017-03-06 22:51] CovertJaguar commented on #480
Open Project, if anyone wants to finish it up.

[2017-03-06 23:53] Vectrobe commented on #480
I definitely still support this option as having to run on electric rails has killed me a few times...

The only one point I want to make though is that the pantograph should either be angled and/or jointed (like real ones), having it go straight up like that in the images just looks weird.

[2017-03-07 01:22] CovertJaguar commented on #480
I think perhaps a fishing pole/antenna like setup could work well in Minecraft. Like the Electric Buses use.

![Bus 1](https://ggwash.org/images/posts/201310-191430.jpg)

![Bus 2](https://railforthevalley.files.wordpress.com/2010/05/seattletrolleybus4.jpg)

[2017-03-07 02:05] Vectrobe commented on #480
Yep, that's pretty much what I meant, optionally with a "joint" close to the base so it doesn't sit too far behind the cart.

Something like this...
![panto](https://cloud.githubusercontent.com/assets/3912867/23638614/c9951852-0336-11e7-9f04-971b45e921b4.png)

[2017-03-07 03:35] Natesky9 commented on #1093
I didn't know the trade station was automatic. I thought it just shortcut you to the villager with that trade.

Anyway, the standard trades are painfully useless as is. There isn't much that can be sold except for crops, and coal, and the only things that are worth buying aren't very useful, except for maybe ender pearls.

The other problem with the current trade station is that it doesn't encoura

[2017-03-07 14:35] Forecaster commented on #1093
That sounds more like a job for a separate mod to add more villagers with more interesting trades.

[2017-03-07 20:15] dj3520 commented on #1094
Twist: Jet Fuel train fueled by enderio rocket fuel

[2017-03-07 20:17] liach commented on #1094
I'd suggest a train fueled by vanilla rocket

[2017-03-07 20:34] dj3520 commented on #1093
@Forecaster basically works like the trade station (so you specify a trade and it will do if there's an equal or better offer) but also interacts with carts in the train for item providing/depositing. The benefit is I can run rains through a village and trade with pretty much everyone in one go.

[2017-03-07 20:44] Generalcamo opened #1100 "Incorporate Bone Block into Bleached Bone Recipe"
Currently the Bleached Bone Block requires Bleached Clay for its creation. 1.10 however introduces Bone Blocks, which could be used in the crafting recipe instead, like how Nether Bricks were incorporated into the old recipes back in the day.

I would recommend a recipe like so:
BB*
BB*  --> 4x Bleached Bone Block
***

Where "B" is Bone Block

[2017-03-07 21:07] Natesky9 commented on #1093
Well, the difference between the current trade station, and my suggestion is that the trade station uses the nearby villager trades, whereas I am suggesting a block that has it's own trades. For simplicity, let's say it only has one trade at a time. This trade would have a set payout that is much better than a villager trade, and most likely be requesting some renewable resource in return for emer

[2017-03-07 21:09] dj3520 commented on #1093
So you basically want a new block that is a better trade than a normal villager?

[2017-03-07 21:11] CovertJaguar commented on #1100
Clay was added because Bones are hard to properly balance. You either don't build a skeleton farm and never have enough, or you build a skeleton farm and they become basically free.

[2017-03-07 21:15] Natesky9 commented on #1093
Well, a mechanic that encourages making rails to places on the map to trade resources.

The trade station is just "place near villagers", and can just be placed in base, near some stolen villagers, but the trades are still lame

[2017-03-07 21:15] CovertJaguar commented on #1100
The current recipe is 1xClay+3xBoneMeal -> Bleached Clay -> Bone Brick.

1xBoneBlock -> 4xBoneBrick would be a significant cost decrease.

I'm not necessarily against that, just pointing it out.

[2017-03-07 23:27] Notawallplan commented on #1096
Will update immediately. Thanks.

On Mar 6, 2017 5:46 PM, "CovertJaguar" <notifications@github.com> wrote:

[2017-03-08 05:35] CovertJaguar commented on #1093
So how do you stop the whole "place in base" thing?

[2017-03-08 05:40] bookerthegeek commented on #1093
Make it a world gen only feature, that is removed when the block is placed or broken.

Botania has a way to do this with their Dayblooms and night shades that spawn in with world generation.

Me speaking Non-Java...
I believe you could make them all a tile entity on world spawn, that dies when you break it and drops a block instead?

[2017-03-08 06:02] Natesky9 commented on #1093
After trying the current trade station in an actual survival world (1.7.10 because no routing yet)
I can say that the trade station is finicky, as in it will look like the trade goes through, but will revert if you try to pick up the payout. Just as well, getting the trades to work is not intuitive.

To avoid the whole "place in base" / "set and forget" piece, There's actually a good solution to t

[2017-03-08 09:43] HoldYourWaffle commented on #1093
You could still just build/emulate a village in your base

[2017-03-08 13:57] Generalcamo opened #1102 "Add cosmetic versions of Granite, Diorite, Andesite, Red Sand, and Red Nether Brick"
Just an open project to add Railcraft cosmetic versions of the blocks mentioned. I am currently working on this, but I wanted to get this into an issue as well for organization purposes.

[2017-03-08 14:07] Natesky9 commented on #1093
Yes, and that's fine, because the trade there will only be one item being traded. You would still need to network with other trade stations in order to effectively make a profit.

In fact, it probably is a good idea to set up base near one, and even maybe create a village or two

[2017-03-08 14:08] Generalcamo opened #1103 "Standardize Crafting and Breaking of Quarried, Jaded, Abyssal Stone to match Vanilla Stone Variants"
Currently, Quarried Stone and Abyssal Stone mine their direct counterpart, can be smelted into their smooth counterpart, crushed into their cobble counterpart, and using smooth stone you can make bricks.

I would like to standardize this to match with stone from Minecraft and the stone variants as well. So:

Breaking Granite, Andesite, Diorite, Quarried Stone, Abyssal Stone (without Silk Touch) --

[2017-03-08 23:16] #1098 closed, assigned to nobody

[2017-03-08 23:19] CovertJaguar commented on #1103
Sounds good.

[2017-03-09 00:10] #1097 closed, assigned to nobody

[2017-03-09 01:18] #1102 closed, assigned to Generalcamo

[2017-03-09 09:12] liach commented on #671
@PitchBright Does this still happen?

[2017-03-09 15:12] #1078 closed, assigned to CovertJaguar

[2017-03-09 15:52] liach opened #1106 "Creosote and arthropods"
Since creosote is intended to prevent bugs biting away rails, they should be able to damage arthropods. I suggest the addition of splash creosote to damage arthropods and make arthropods slowly lose health when in creosote.

[2017-03-09 16:35] PitchBright commented on #671
@liach I haven't played Minecraft beyond 1.7.10. You'll need to test it yourself to find out (it's super easy to test for). If there's an update and fix to RC-1.7.10, I can test it right away.

[2017-03-09 17:24] liach commented on #671
You reported this for 9.6.1.0. Does this happen with 9.12.2.0?

[2017-03-09 18:00] Natesky9 commented on #1106
There are alot of improvements that could be made to the brewing system. This seems like a neat idea, but it would be a novelty item.

If there were more to this, then definitely

[2017-03-09 18:09] PitchBright commented on #671
Yes, the issue persists into 9.12.2.0

Here's the Switch functioning properly (is activated) when fed a direct signal from a torch:
https://imgur.com/a/cxRRI

Here's the Switch functioning properly (isn't activated) when receiving no signal from the Player Detector beside it:
https://imgur.com/a/ilbxl

Here's the Switch not functioning (isn't activated despite receiving a signal) when I jump into

[2017-03-10 16:54] liach commented on #671
After a second look, I found that a switch track is not spupposed to switch when a cart is on.

[2017-03-10 16:58] liach commented on #863
@Ramog Can you confirm by testing in 9.12.2.0 and adding your own screenshot?

[2017-03-10 17:00] liach commented on #949
@bear989 Can you try to remove coremods and create a new world to see if issues persist?

[2017-03-10 17:01] liach commented on #1081
@DEX47 Can you fill them with empty capsules in coke oven? That's the way to fill it as far as I know.

[2017-03-10 17:03] PitchBright commented on #671
@liach Where do you see that it says it's not supposed to switch? It used to work, and then stopped working, and I couldn't find anything in the changelog that said there was an intentional change to the behaviour of Switches.

[2017-03-10 17:07] liach commented on #671
Try to turn a switch lever with a train over the track. If it works, then the inconsistency needs to change. Switching while carts are on the track is very dangerous as it will have unintended effects on trains.

[2017-03-10 17:09] PitchBright commented on #671
That's not what I asked you. Where did you see that it says Motor Switches being disabled while carts are on adjacent Switch Tracks, despite receiving a signal to switch... is intended behaviour?

[2017-03-10 17:14] liach commented on #671
Well, can you try to go in a train over the same setting? When you are detected, do you think the track should switch and break the train?

[2017-03-10 17:18] liach commented on #405
Seems that IGW is dead now.

[2017-03-10 17:18] #405 closed

[2017-03-10 17:19] liach commented on #996
This issue, in fact, has some priority as discussed on Discord.

[2017-03-10 17:21] liach commented on #1087
@CovertJaguar Should I close this?

[2017-03-10 17:26] PitchBright commented on #671
You're giving me examples of where the functionality would cause a problem. I'm simply asking you where you found that the change to the functionality, was intentional, as you said:

"After a second look, I found that a switch track is not spupposed to switch when a cart is on."

[2017-03-10 17:27] liach commented on #671
It is intentional for trains.

[2017-03-10 17:30] PitchBright commented on #671
Let's go to IRC, I don't understand your response to my question, as it's not an answer, nor does my demonstration have anything to do with trains. So there's some confusion between us that we can clear up quickly in a convo over there.

[2017-03-10 17:38] liach commented on #671
I suggest you to hang on https://discord.gg/Wr9zxmP discord as it keeps chat log.

[2017-03-10 17:39] liach commented on #671
My argument is that, a switch track should never switch with carts on, since it is costly to adjust the cart's physic. (Turing the cart to another direction while it has already moved a distance straight)

[2017-03-10 17:42] PitchBright commented on #671
I'm not looking for advice on which chat client to use, but thanks for the hot tip.

My point is: It used to work, but now it doesn't.

And you said you found that the change in behaviour was intentional.

I asked you where you found that info, and you keep coming back with rationale as to why it makes sense. I'm not debating whether what you're saying make sense or not... I'm simply asking you, w

[2017-03-10 17:45] PitchBright commented on #671
I understand your argument. Here's an example of the Switch changing, the moment a cart is on it, and it contradicts: "After a second look, I found that a switch track is not spupposed to switch when a cart is on."

https://imgur.com/a/YtyYp

[2017-03-10 17:52] Generalcamo commented on #996
I did manage to implement this in my own branch. However, blocks are completely broken, and there are other considerations to make for this as well.

[2017-03-10 18:14] liach commented on #671
Can you get another image, both with cart on the switch track, before and after rotation of switch? The cart should **NOT** move.

[2017-03-10 19:03] Generalcamo commented on #766
Will be fixed when Railcraft switches to Universal Fluids, per #996

[2017-03-10 19:04] Generalcamo commented on #430
Should be fixed when #996 is done

[2017-03-10 19:05] PitchBright commented on #671
Did the images I posted not show that? All I know is, the moment I place the cart down, and it's detected by the Routing Switch... the Switch changes immediately. If that doesn't contradict what you said about Switches not supposed to change, when a cart is on them, then I don't know what to tell you.

[2017-03-10 19:06] Generalcamo commented on #1035
@liach Silver = Light Gray in Minecraft

[2017-03-10 19:33] liach commented on #1035
I know that, and Covert already told me that this is on his todo list

[2017-03-10 19:34] liach commented on #671
How about put a cart on, connect redstone, and then check whether the switch worked or not? Your case of player is more similar to my suggestion.

[2017-03-10 19:35] liach commented on #996
I will close those issues and move them here.

[2017-03-10 19:36] liach commented on #973
@CovertJaguar For carts like anchor, will ticking more than once cause unintended side effects?

[2017-03-10 19:37] PitchBright commented on #671
Is that not what I posted yesterday?

[2017-03-10 20:30] liach commented on #671
But in yesterday's case, you ride on the cart!

[2017-03-10 20:55] PitchBright commented on #671
I also showed not riding on the cart, direct redstone signal... and still not working.

[2017-03-10 21:14] liach commented on #671
Yes, the 'interesting' case is working as intended. End of discussion.

[2017-03-10 21:17] PitchBright commented on #671
On IRC/Discord 3 hours ago:
[1:18pm] Forecaster: there is no reason detectors shouldn't update switch motors

[2017-03-10 21:23] PitchBright commented on #671
Anyway, the "interesting" case... isn't what the Issue was filed for.

[2017-03-10 23:24] CovertJaguar commented on #671
@liach please refrain from changing labels on old issues without talking to me first. Just because an issue hasn't been addressed does not mean it has gone away.

And you are using "not a bug" and "question" wrong.

[2017-03-10 23:27] CovertJaguar commented on #430
@Generalcamo to make this work you need to add an additional slot to the GUI. I already wrote the code for this that is used on the Fluid Loader.

[2017-03-10 23:31] CovertJaguar commented on #1087
No, if you do someone will just make a new one.

[2017-03-10 23:34] CovertJaguar commented on #973
Good question. The anchor and locomotives will probably use fuel twice as fast.

[2017-03-12 00:18] JackTerok opened #1107 "Error after Building from Source"
Hi.

So I was trying to Build Railcraft from Source and after a bit of trial and error that finally worked.
But then when I tried to launch it minecraft crashed.
Here is the crash log:  http://pastebin.com/a3dtTCvz
THX

[2017-03-12 00:25] liach commented on #1107
This aims to prevent redistribution. More questions welcome.

[2017-03-12 00:29] JackTerok commented on #1107
If it's for preventing redistribution whats the point in having a guide to build it yourself.

And in addition is there any way to get something like daily builds so i am not stuck with the version from last year. THX

[2017-03-12 00:42] liach commented on #1107
Good point. To play, add mods to `/run/mods` directory and run `./gradlew setupDevWorkspace runClient` in (git) bash.

[2017-03-12 00:43] liach commented on #1107
This will be left open for other people.

[2017-03-12 00:51] JackTerok commented on #1107
Sorry to ask again. With your additions, a client pops up to test. But that still doesn't give me the jar to put in my modpack. Am I doing something wrong here?

[2017-03-12 01:42] liach commented on #1107
You are doing it right. What are you going to do with the modpack? Do you just play or you want to give it to some other people? Ask other people to do the same in order to play.

[2017-03-12 01:43] JackTerok commented on #1107
I have a Modpack and a Server on which I play with some friends.

[2017-03-12 01:46] liach commented on #1107
Unfortunately, you need to ask all your friends to do so. For the server, you can launch in almost the same steps as the client, but change `runClient` to `runServer`.

[2017-03-12 01:52] JackTerok commented on #1107
That's not really an option. Isn't there any way to get an version that is newer than the one on the official website. I don't need to build it myself. just want an newer version.

[2017-03-12 02:21] liach commented on #1107
https://www.patreon.com/CovertJaguar See beta access

[2017-03-12 06:07] ccgfok opened #1108 "[Suggestion] Creative Steam Locomotives"
I like the Perpetuum Loco which is a creative version of Electric Locomotive. So I guess to add a creative version of Steam Locomotive.

**Idea:**
When user putting creative Steam Locomotive, it has already full-filled water and fuel, so user just only select _Running_ to start the steam or _Idle_ to just burning to eliminate steam only. If user click _Shutdown_, steam locomotive will stop burning

[2017-03-12 07:48] ming514 commented on #1088
the problems still not fix.

2017-03-02 3:56 GMT+08:00 liach <notifications@github.com>:

[2017-03-12 07:49] ming514 commented on #1088
I cannot make tracks on the Rolling Machine, and the NEI is not able to investigate the recipe list.

[2017-03-12 08:29] Joshwoo70 commented on #1107
liach there is an easier solution is to change the code at L#151 of Railcraft.java. quite simple.. just change it to a FMLLog.bigwarning. but i am not sure if CJ would like it... in my opinion this is a very bad way to do so... just in code wise to tell the use he is running a unofficial build. instead of just crashing the whole thing...

If you do the following and it gets out... we might cause a

[2017-03-12 08:51] Ristellise commented on #1108
but why?

[2017-03-12 10:19] JackTerok commented on #1107
Joshwoo70 Thank you for your help.

[2017-03-12 11:32] CovertJaguar commented on #1107
The instructions for building are intended for people in development environments.

[2017-03-12 11:32] #1107 closed, assigned to nobody

[2017-03-12 11:34] CovertJaguar commented on #1108
The Perpetuum locomotive is not an Electric Locomotive. It just never had a new model created for it.

[2017-03-12 11:35] #1108 closed, assigned to nobody

[2017-03-12 14:10] liach commented on #1088
Wait for next official release. Rolling machine will be back.

[2017-03-12 18:30] liach commented on #316
Isn't this fixed?

[2017-03-12 22:33] CovertJaguar commented on #316
Not completely. Random wandering still causes carts to move.

[2017-03-13 04:14] liach commented on #973
Do we make some sort of pseudo ticking?

[2017-03-13 04:18] liach commented on #982
@CovertJaguar I suggest making rails consumable like tools, each is good for 16 blocks of track. It should be able to upgrade both iron and hs track types.

[2017-03-13 05:05] DEX47 commented on #1081
Negative liach, that function seems to have vanished for all interactions between all capsules types and creosote.

[2017-03-13 05:09] liach commented on #1081
Thanks for the info.

[2017-03-13 08:32] CovertJaguar commented on #982
I guess that works, not really compatible with the track relayer though.

[2017-03-13 17:27] liach opened #1109 "Electric locomotive brainstorming"
I suggest to allow electric locos to carry ic2 batteries (max 50k probably) to allow them to power longer.
Also, add a button in battery cart guis to allow/disallow powering the loco.
I want to see "charging station" designs, which there will be one about every 1000 blocks.

More infos coming.

[2017-03-13 23:31] liach commented on #1081
![2017-03-13_16 29 43](https://cloud.githubusercontent.com/assets/7806504/23879456/6a1bea08-080a-11e7-9882-9ada144aed59.png)
Well, I can get creosote capsules. So I cannot reproduce this.

[2017-03-13 23:44] liach commented on #1030
I tested and cannot reproduce this. Did you get this result on a fairly laggy computer @ccgfok? As I see from the gif, your first link failed, probably because of lag.

[2017-03-13 23:46] liach commented on #1081
Dupe of #766.

[2017-03-13 23:46] #1081 closed, assigned to nobody

[2017-03-13 23:46] liach commented on #766
![2017-03-13_16 29 43](https://cloud.githubusercontent.com/assets/7806504/23879456/6a1bea08-080a-11e7-9882-9ada144aed59.png)
This is the way you are supposed to use it.

[2017-03-13 23:54] liach commented on #863
Confirmed. It is actually intended to be working like the one in the screenshot, but this can be a useful addition.
![2017-03-13_16 52 25](https://cloud.githubusercontent.com/assets/7806504/23879952/acfc4d24-080d-11e7-8f3b-a30cddd4768c.png)

[2017-03-14 00:08] CovertJaguar commented on #863
I'm honestly surprised it works at all.

[2017-03-14 00:11] CovertJaguar commented on #1030
I think I've actually seen this in my own testing. I forget if I fixed it or not. Seems like I might have.

[2017-03-14 00:14] liach commented on #387
Some Ticon picks dig platforms even slower than an empty hand for some reason. For those picks which break platforms and posts in a reasonable time (i.e. faster than bare hand) they drop platforms.

[2017-03-14 00:17] CovertJaguar commented on #387
I redid all the harvest types for RC 10, maybe it fixed it.

[2017-03-14 00:18] liach commented on #387
@CovertJaguar My test result is that this is working as intended. So I will close this issue.

[2017-03-14 00:18] #387 closed

[2017-03-14 00:31] liach commented on #1093
Reference #851. These two issues focus on different subjects.

[2017-03-14 00:32] liach commented on #389
This is still an issue in 1.7. Will see for 1.10.

[2017-03-15 00:57] transcondriver commented on #1109
I like this idea. Could we also consider using power stored in a BatBox/MFE/MFSU cart as though it were a "fuel tank"? Couple the cart directly behind the Electric Locomotive for it to work. Possibly add a switch in the locomotive's GUI to enable/disable this function.

[2017-03-15 02:54] liach commented on #1109
If it is going to power, it will produce a great drag. Once it ends to power, its drag will drop drastically.

[2017-03-15 04:04] adegarimore opened #1110 "Cart /w chest name bug."
Railcraft: 1.10.2-10.0.1
Minecraft: 1.10.2
Forge: 2254

We're skipping to the "steps to reproduce" section
1. Place a vanilla cart on a track.
2. Place a chest in the cart.
3. break the cart with by hand or with a tool.
4. Observe that the chest fall out of the minecrart (we're doing good so far)
4. Pickup cart
5. Observe that the cart is called "Minecrart with Chest" (uhh.. what)
6 Place the empt

[2017-03-15 05:30] liach commented on #1110
"Place a chest in the cart"
Well, you cannot do this in either vanilla minecraft or Railcraft. This sounds impossible.

[2017-03-15 05:32] adegarimore commented on #1110
hmm ... okay. what's the railcraft way of making a minecrart with a chest? Maybe it's a different mod's bug.

[2017-03-15 05:33] liach commented on #1110
It is to craft a "chest cart" item. You should provide a mod list so we can investigate.

[2017-03-15 05:35] adegarimore commented on #1110
will do. I will also do a little testing to see if there is any more information I can provide

[2017-03-15 05:54] Ristellise commented on #1110
Thats quark... probably best @vazkii

[2017-03-15 05:55] adegarimore commented on #1110
Modlist: https://minecraft.curseforge.com/projects/unabridged
Will remove quark and see is issue still exists

[2017-03-15 06:04] adegarimore commented on #1110
After removing quark, this is no longer an issue. Sorry for taking up your time.

[2017-03-15 06:04] #1110 closed, assigned to nobody

[2017-03-15 13:38] liach commented on #1110
https://github.com/Vazkii/Quark/blob/master/src/main/java/vazkii/quark/tweaks/feature/MinecartInteraction.java

[2017-03-16 04:42] CovertJaguar commented on #1110
Railcraft intersects the ItemMinecart usage to replace the vanilla cart with the Railcraft one. If you placed it some other way, it will not get replaced with the Railcraft version. I don't know about the naming though. I don't think that can be Railcraft related since the Railcraft cart never gets placed.

[2017-03-16 04:44] CovertJaguar commented on #1109
I'd prefer to not to tie into IC2 too tightly here. I do plan to add some of my own battery "components" at some point, though.

[2017-03-16 06:08] liach commented on #1110
@CovertJaguar Can replacement be done in a way similar to Forge replacing EntityItem with custom item entities?

[2017-03-16 06:21] Phonavis opened #1111 "Command issues with Vanilla Command Blocks"
Was attempting to use pre-generator in FTB Beyond, Found this - https://www.youtube.com/watch?v=7WSMgOVsnCU, According to comments it has issues with railcraft. Someone thinks it's do to tweaks with the cart item, said person is in the comments section of the video

I was curious if there was a way to have a work-around for this, as I imagine this same issue may be had with other command blocks co

[2017-03-16 07:51] CovertJaguar commented on #1111
I intercept cart item usage and have it spawn my version of the minecart. I don't really understand the script enough to say how that affects it, it may be as simple as replacing the entity id with my cart version.

[2017-03-16 07:52] CovertJaguar commented on #1110
Not that I'm aware. I used to replace the Item object with my own version but that stopped working in 1.7.

[2017-03-17 05:45] liach commented on #1111
Referring #1110, we need to replace carts in a way similar to this: https://github.com/MinecraftForge/MinecraftForge/blob/1.11.x/src/main/java/net/minecraftforge/common/ForgeInternalHandler.java#L36-L60

[2017-03-17 05:48] liach commented on #1111
Related link: https://www.reddit.com/r/feedthebeast/comments/5dpf1g/8000_x_8000_pregen_save_dw20_1102/da6k8du/

[2017-03-17 12:11] Pilad commented on #1062
I put cell in to tank.
Cell from GT and Extra Cells
http://imgur.com/HpseAQF
http://imgur.com/HTVxhx8
http://imgur.com/p0xNolU
Tanks from Ender Io not load same fluids. Such us Hydrogen. Water is load.
http://imgur.com/BjJxChA
http://imgur.com/7VeJfyO

[2017-03-17 21:17] CovertJaguar commented on #1035
I suspect "Light Blue" is broken as well.

[2017-03-17 21:41] #1035 closed, assigned to nobody

[2017-03-17 22:30] #719 closed

[2017-03-17 22:39] #926 closed, assigned to nobody

[2017-03-17 22:52] CovertJaguar commented on #671
Having tested it myself, I see no issue here, once a cart is in process of traversing the switch, the switch is locked. That is what you are seeing happen here. There are some variances in when it decides a cart has started traversing the switch, but that generally only applies to when you drop a cart directly on the switch track rather than approach it normally.

The reason for locking the switch

[2017-03-17 22:52] #671 closed

[2017-03-17 23:39] CovertJaguar opened #1112 "New Track Kit: Delay Track"
The Delay Track is a track that holds a cart/train for period of time, say five seconds, before releasing it. This would make it simple to add spacing between carts/trains for sorting purposes and other things.

[2017-03-18 01:15] Dwarfy-Dwarftins opened #1113 "Minecraft random just stop deciding to launch"
https://github.com/MinecraftForge/MinecraftForge/issues/3791
Can someone help tell me whats wrong just all of a sudden stoped working and dont know why.

[2017-03-18 01:17] Ristellise commented on #1113
sorry tehnut has alreadr replied to your comment.. it is not railcraft fault... chdck over at that link

[2017-03-18 01:20] adrwa commented on #1113
Why are you asking in railcraft? the mod thats erroring is clearly [this](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2157350-1-7-2-1-7-10-v1-0-2-myths-and-monsters-mod-check) mod, dont spam random mods that have nothing to do with the error

[2017-03-18 01:22] Ristellise commented on #1113
thanks Coded :)

[2017-03-18 01:34] Ristellise commented on #1062
Oh...tanks can only hold liquids that registered in the dictionary.. thats why you can't put hydrogen in. but it still doesn't explain why GT refuses to export all its fuids...

[2017-03-18 02:12] Dwarfy-Dwarftins commented on #1113
hey im sorry im asking on railcraft i really just dont know who to ask and cant get help. can you guys please tell me where i should go. i dont know what the problem is or how to fix it and i just really need help

[2017-03-18 02:14] Dwarfy-Dwarftins commented on #1113
im not trying to spam random mods or anything i really dont know what mod or whats causing the problem and im just hoping someone would be nice enough to help someone in need im sorry if ive annoyed anyone but thats not my intention

[2017-03-18 02:37] Daomephsta commented on #1113
@Dwarfy-Dwarftins
com.hoopawolf.mam.**MythsAndMonstersMod**

[2017-03-18 04:15] Dwarfy-Dwarftins commented on #1113
thank you. much appreciated

[2017-03-18 04:15] #1113 closed, assigned to nobody

[2017-03-18 17:50] Generalcamo commented on #1112
Couldn't this just be achieved with a holding track connected to a redstone circuit containing a clock? That could also be influenced with routing detectors.

[2017-03-18 23:08] phit opened #1114 "Infinite XP from Firestone Ore"
Mining the firestone ore gives you the ore and experience, you can just keep placing it down to get more experience. I know the whole firestone thing isn't really done yet, but I would be great if it wouldn't drop experience.

Railcraft_1.10.2-10.0.1
Modpack: FTB Beyond 1.1.0

[2017-03-19 01:35] Forecaster commented on #1112
That requires an external timing mechanism though, and you might not always have access to a convenient compact clock

[2017-03-19 04:52] liach commented on #1112
@Forecaster Just use ticks. And this can be non-ticking.

[2017-03-19 13:00] Generalcamo commented on #1114
Checked the code, this is confirmed. This is due to an oversight in how it was coded.

[2017-03-19 13:02] Forecaster commented on #1112
...what

@liach I'm not talking about code. I have no idea what you're talking about.

[2017-03-19 20:49] brisingraerowing opened #1116 "Switch motors not rendering"
I did a custom build from the repository to test out some of the new features (I had to disable the fingerprint check to get MC to load. I tried to figure out how to create a self-signed certificate, but got all befuddled while researching that), and quickly found that the switch motors render in the inventory, but not as a block. They still have a hitbox and they work perfectly fine, they just ca

[2017-03-20 05:36] PitchBright commented on #671
No worries, I had changed my setup after the Switch & Detector setup stopped working a couple years ago.

That said, while we're on the subject, something in your reply made me wonder if you're saying the setup I showed in those pictures should work. Or was my Detector under the track, and odd way of making the Switches switch the track? I'm a little confused there. Can you clarify?

Thanks!
-Pitc

[2017-03-20 06:35] Pilad commented on #1062
Tanks railcraft or ender Io or Extra Cells?
The bug is also manifested with water. It also downloads only 4 liters

[2017-03-20 08:35] liach opened #1117 "[Discussion] Command block minecarts"
Vanilla now have 3 types of command blocks, but only one type of command block minecart. Railcraft can add the other two, repeating and chain command block carts.
Repeating one will execute the command every tick it is on the activator track kit.
Chain one can be done through cart linking(adjacent command block carts' execution) or through some sort of detector.

The existing impulse one may be re

[2017-03-20 09:30] Generalcamo commented on #1117
The Repeating Command Block is the current behavior of the Command Block Cart. Changing the Vanilla Command Block cart's behavior is a breaking change, and should not be done.

[2017-03-20 15:23] CovertJaguar commented on #671
I duplicated your setup exactly and it worked pretty reliably as long as I wasn't spawning Carts on the switch or sending threw too many Carts at once.

Maybe the original issue was fixed at some point, I don't know.

[2017-03-20 15:26] CovertJaguar commented on #1116
Works here, they were broke at one point in the described manner, but I don't even know if I ever committed that version to the repo.

[2017-03-20 15:29] CovertJaguar commented on #1062
Fluid handling in 1.7 is utterly broken and should be mostly fixed in 1.10.

[2017-03-20 15:29] #1062 closed, assigned to nobody

[2017-03-20 15:35] PitchBright commented on #671
Interesting. I never tested versions after 1.7.10. Glad to hear it worked itself out eventually though. Thanks for looking into that, CJ.

[2017-03-20 16:44] brisingraerowing commented on #1116
I am guessing you didn't. I also noticed that switches only want to point towards the east, and can't be rotated to point any other direction. Same goes for Wye tracks. Is that by design? Seems to be rather limiting.

[2017-03-20 17:48] liach commented on #1117
We can simply use registry substitution.

[2017-03-20 18:46] CovertJaguar commented on #1116
No idea what you mean. You are supposed to just lay out the track how you want and use the Spike Maul on the track in the middle.

The version with the fixed rendering was only one I think I committed.

[2017-03-20 18:53] #1114 closed, assigned to nobody

[2017-03-20 21:02] brisingraerowing commented on #1116
Ah, user error then.

[2017-03-20 21:06] brisingraerowing commented on #1116
I'll get a screenshot of what I am seeing (or not seeing) and a list of my mods up soon. Just have to wait for MC to load.

[2017-03-20 21:13] brisingraerowing commented on #1116
Here is a [screenshot](https://1drv.ms/i/s!Ag_TFYG4M5mArj8rJKII-nafoTZy) and here is my [modlist](http://www.modlister.com/user/BrisingrAerowing).

The switch actuator works perfectly fine. It just is invisible.

[2017-03-20 21:20] brisingraerowing commented on #1116
A quick test with just Railcraft and JEI confirms that this is a compatibility issue. I am going to go through my modlist and see what is broken.

[2017-03-20 22:00] brisingraerowing commented on #1116
Chisel is behind the bug. I will report this to them.

[2017-03-20 23:26] tterrag1098 commented on #1116
@CovertJaguar Would you mind pointing me to the Block class for switches? I have an idea of what may cause this, but I need to read through the code.

[2017-03-21 06:17] Ristellise opened #1118 "Motor switchies models don't rotate"
Basically this has been happening since 1.7...

TLDR the "end" of switch motors base do not face towards  switches.. thphgh this is a low prio fix.. if would be neater and nicer if it faced towards switches.

[2017-03-21 13:00] Generalcamo commented on #1117
Again, that's a breaking change for existing maps. I personally see no reason to do this.

[2017-03-21 13:42] liach commented on #1117
well, railcraft also replace other carts, and uou can say it is breaking...

[2017-03-21 14:37] Generalcamo commented on #1117
Except Railcraft replaces those carts with an equivalent version, and they don't really do much. Replacing an entity intended for adventure mode and servers that has special behavior to support that usage with an entity with different behaviors strikes me as very bad.

[2017-03-21 16:41] Generalcamo commented on #534
I can handle this, but I would prefer consistency between cosmetic blocks. I am perfectly open to additional cosmetic variants (Creeper Etched vs. Blaze Etched), but I am against this specifically.

I recommend closing this, but if someone were to open a new issue for general new variants, I would be perfectly willing to tackle that.

[2017-03-21 16:44] Generalcamo commented on #291
Is this still valid? I don't think the Metals Chest exists anymore.

[2017-03-21 16:48] Generalcamo commented on #181
Any updates regarding this?

[2017-03-21 16:58] Generalcamo opened #1120 "Add more Cosmetic Variants"
Replaces #534

This is a general thread for suggestions related to additional cosmetic variants for Railcraft's Cosmetic Blocks. Some general proposals so far that I thought of:

Ornate --Rename--> Chiseled (Consistency with Vanilla Minecraft, allows for some actually ornate blocks in the future)
Add Ornate Variant (Creates a pattern similar to Vanilla Chiseled Quartz)
Etched --Rename--> Creeper E

[2017-03-21 17:36] bookerthegeek commented on #291
@Generalcamo Dont speak such evil!

[2017-03-21 18:30] liach commented on #1117
They will have the exactly compatible behavior, but the texture might change.

[2017-03-21 18:30] liach commented on #181
Waiting till 10.2

[2017-03-21 18:57] liach commented on #534
Superseded by #1120

[2017-03-21 18:57] #534 closed

[2017-03-21 18:58] liach commented on #1117
Its implementation will be like https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/carts/EntityCartCommand.java, extending the vanilla class directly. Pinging @CovertJaguar for opinions.

[2017-03-21 19:01] liach commented on #1120
Ornate Blood Stained: Bloody swirls?
Etched Nether: Blaze Face
Ornate Nether: Nether Portal?
Etched Abyssal: Tentacles
Ornate Abyssal: Giant squid eye?
Ornate Infernal: Wither skeleton skull
Etched Infernal: ???
Etched Sandy: Keep the creeper
Ornate Sandy: Keep the chiseling
Etched Bleached Bone: Skeleton skull
Ornate Bleached Bone: Vertebra?
Etched Quarried: ???
Ornate Quarried: ???
Etched Frostb

[2017-03-21 19:07] liach commented on #1112
So the textures are done, right?

[2017-03-21 20:15] Generalcamo commented on #1112
Nearly. Here is the current WIP:
![delay_preview](https://cloud.githubusercontent.com/assets/1779662/24168730/a2546f92-0e51-11e7-8ca4-7df9d0886485.png)

[2017-03-21 23:29] tterrag1098 commented on #1116
I found the issue, you are relying on states passed into your model being non-extended, which is a bad assumption

https://github.com/CovertJaguar/Railcraft/blob/91e26fa5121997d32b8afb701d405e3ad819596f/src/main/java/mods/railcraft/client/render/models/resource/ActuatorModel.java#L41-L43

Before doing a lookup in getQuads, check for `IExtendedBlockState` and call `getClean`

[2017-03-22 00:56] CovertJaguar commented on #1116
@tterrag1098 you are going to have to back up why that is a bad assumption, as I control the creation of the BlockStateContainer and I know for a fact that it is not ExtendedBlockState.

[2017-03-22 00:58] CovertJaguar commented on #1117
Command Blocks confuse me.

[2017-03-22 01:00] CovertJaguar commented on #291
Code is still there. Just no rendering and need to split to own block.

[2017-03-22 02:18] tterrag1098 commented on #1116
BlockStateContainer is not part of it, fact is that all rendering states come from Block.getExtendedState, where a return of IExtendedBlockState is expected. Chisel uses this expectation to implement custom model data, and unfortunately doesn't have any way to apply it selectively without a lot of overhead.

Point is, there is always a possibility that a state coming into a model will be extended,

[2017-03-22 04:31] CovertJaguar commented on #1116
So are the states generated by the statemappers clean then? And just the one passed to getQuads() wrong?

[2017-03-22 05:01] CovertJaguar commented on #1118
Fixed for 10.1.0.

[2017-03-22 05:01] #1118 closed, assigned to nobody

[2017-03-22 06:07] #1116 closed, assigned to nobody

[2017-03-22 12:14] Generalcamo opened #1121 "Implement Red Sand Coke Oven variant"
As the title says, implement a Coke Oven that uses Red Sand instead of normal Sand.

There are two ideas I have for this:

1. Make it purely cosmetic. A coke oven with a different texture.
2. Give it slightly different properties. Assuming the Red Sand contains Iron to cause the Redness, we could say that the Kiln made from Red Sand could handle higher temperatures than a Kiln made from Normal San

[2017-03-22 12:54] ccgfok commented on #1030
@liach This was happen **if** the dynamic light for locomotive was activated **and** use the recomended Forge version (12.18.2.2107+). The latest Forge vesion (1.10.2-12.18.3.2254) disabled the dynamic light.
And yeah, my computer was only 2GB RAM, and the gif link I was tried to re-produce this bug.

[2017-03-22 13:39] Ristellise commented on #1121
I vote for the second... a faster coke over is nice

[2017-03-22 14:32] Vexatos commented on #1121
There is no reason to make it any faster. Just build a second one. Wouldn't make sense, either.

[2017-03-22 14:34] Generalcamo commented on #1121
Besides space efficiency, right? Otherwise there would be no reason to build a High Pressure Boiler when you can just build more Low Pressure Boilers.

[2017-03-22 15:21] Generalcamo commented on #1112
Some Specifics:

- Current discussed implementation has a GUI, similar to the Priming Track, that would allow for a setting of the Delay time.
- Currently assuming that the Delay Track will -IGNORE- Locomotives and Trains, and only touch Single Cars that are not engines.
- Track will require a Redstone Signal to operate, but will automatically handle the delay and launching of cars.

[2017-03-22 15:45] Aberro commented on #188
Also, conditions like <25, <50< or <75 free space doesn't working with RC tanks.

[2017-03-22 22:26] #1100 closed, assigned to nobody

[2017-03-22 22:28] CovertJaguar commented on #1112
Rather than ignore trains, it should probably only apply to trains. All carts are considered to be part of a train, so you get single cart handling for free. When it releases a train, it lets the entire train pass before resetting.

The rest sounds good.

[2017-03-22 23:40] transcondriver commented on #1121
Opinion: I'm okay with a simple cosmetic variant.

[2017-03-23 12:14] CovertJaguar commented on #1068
Seems too OP.

[2017-03-23 12:14] #1068 closed, assigned to nobody

[2017-03-23 12:16] CovertJaguar commented on #800
Sounds like an existing solution is available. I don't see any reason to add yet another build dependency to Railcraft.

[2017-03-23 12:16] #800 closed

[2017-03-23 16:37] liach commented on #1121
The second one needs a recipe overhaul, so I support the first one.

[2017-03-24 00:18] josetodo opened #1123 "Tunnel bore drops when placed"
When i place the tunnel bore it don´t apear, well, it do the animation of placement but when is in the rail is like it was broken for a player and go as item to the floor.

Thanks for all

[2017-03-24 04:37] liach commented on #1123
This description is very confusing.

[2017-03-24 11:47] dj3520 commented on #1123
possibly google translate?

[2017-03-24 21:11] josetodo commented on #1123
dont worry, solved thanks for all

[2017-03-25 13:56] #1073 closed, assigned to nobody

[2017-03-26 03:49] Generalcamo commented on #889
Regarding this:

I would suggest holding back the map idea to 1.11. 1.11 adds maps which point to Ocean Monuments and Forest Mansions; we could add our own map (Prospector's Map maybe?) at that point without using some hacky method as proposed here.

[2017-03-26 04:25] liach commented on #889
Well, railcraft should go to 1.11 asap since 1.10 is badly supported by forge.

[2017-03-26 07:06] Generalcamo commented on #1079
I managed to find Tin ore after walking quite a ways away. We are aware that it is rare however; I personally recommend using IC2's OV or OD Scanners to find some. Also check around Y=50, so don't look under oceans or w/e. I recommend Mountains and Mesas since mines are set to spawn richly there.

We'll be tweaking Ore Generation in the future, but for now this will be closed.

[2017-03-26 07:06] #1079 closed, assigned to nobody

[2017-03-26 07:08] Generalcamo commented on #863
Closed this since it was marked "not a bug". If you want this feature to be implemented, please make a separate card.

[2017-03-26 07:17] Generalcamo opened #1125 "Manual Rolling Machine"
The Manual Rolling Machine is planned to be a primitive machine that can perform all the tasks that the RF-powered Rolling Machine can do. However, there are some restrictions:

- Sided input/output will not be supported (No easy automation)
- Will be slower
- Will require some sort of manual power

This will allow players to independently tech up in Railcraft without reliance on other RF mods lik

[2017-03-26 07:28] Generalcamo opened #1126 "Add Bronze (Copper + Tin Alloy)"
Railcraft currently has Tin and Copper, adding Bronze Alloy will be trivial to do as a result.

This could be used in some crafting recipes. I'm thinking definitely a component for the Manual Rolling Machine ( #1125 ).

[2017-03-26 07:37] Ristellise commented on #1126
but crafting.. how to do so? Forestry way or we have to have a grinder to grind then down?

[2017-03-26 07:38] liach commented on #1126
probably 1/5 tin to copper ratio or some different ratios.

[2017-03-26 07:40] Ristellise commented on #1126
usuall ratio is 1 tin to 3 copper for forestry.

[2017-03-26 07:47] Generalcamo commented on #1126
1 Tin + 3 Copper is the current plan, yes. This is for consistency within other mods like Forestry, IC2, GregTech, and Thermal Expansion.

As for grinding requirements: That is being discussed currently. Very likely the Forestry Method will be the alternative recipe if you do not have machines for example if there is going to be crushing or smelting involved.

[2017-03-26 12:12] CovertJaguar commented on #863
I'm not actually sure what it is yet. I was going to take a look eventually. The original description sounds like it might be a bug.

[2017-03-26 14:27] Generalcamo commented on #1126
I'll be working on the implementation of this.

[2017-03-27 05:57] liach commented on #814
c77b6cee2b72f72d9780c7ca91ee4b448c767552

[2017-03-27 05:57] #814 closed

[2017-03-27 13:18] CovertJaguar opened #1129 "Add a JEI plugin for the Rolling Machine"
See title.

[2017-03-28 12:05] Generalcamo opened #1130 "Implement Nickel (Ore)"
Will be necessary for our plans with electricity and machinery. Look into providing Nickel Ore and its derivatives.

[2017-03-29 09:11] #1129 closed, assigned to nobody

[2017-03-29 15:44] liach commented on #851
Villagers should never trade ore... They should process steel for you.

[2017-03-29 19:15] liach commented on #1111
@CovertJaguar I will try to write another replacement like that of forge item entity replacement. This should fix the bugs.

[2017-03-29 22:36] #1126 closed, assigned to Generalcamo

[2017-03-30 00:33] liach commented on #1087
@GeneralCamo See the comment above.

[2017-03-30 14:49] Generalcamo commented on #1130
Moved to 10.1, since we want most of the WorldGen in 10.1

[2017-03-30 15:01] Generalcamo commented on #1087
@liach See dev chat comments

[2017-03-30 15:01] #1087 closed, assigned to nobody

[2017-03-30 15:02] Generalcamo commented on #1087
FYI: This has been fixed in the next version. Compiling the code base from this Repo won't work, but trust me in that it will be in the release build (and is in the Patreon Alphas)

[2017-04-01 15:07] Cakx opened #1132 "RC [10.0.1] Puring out creosote bottle crashes game when playing with Immersive Engineering [MC 1.10.2]"
# **Bug:**

# Spilling / Right clicking the ground with a creosote bottle in survival mode crashes the game to desktop when playing with Immersive Engineering.

[Crashlog-MultiMC5.txt](https://github.com/CovertJaguar/Railcraft/files/887731/Crashlog-MultiMC5.txt)

--------------

Minecraft 1.10.2
Mods:
- Forge 12.18.3.2254
- Railcraft_1.10.2-10.0.1
- ImmersiveEngineering-0.10-57
- jei_1.10.2-3.14.7

[2017-04-01 17:27] liach commented on #1132
BluSunrize/ImmersiveEngineering#1659
#1016

[2017-04-02 09:41] CovertJaguar commented on #1132
I didn't even think that this was enabled on my items.

[2017-04-02 10:10] Cakx commented on #1132
As i mentioned, they become spillable once i install immersive engeneering.
Your Bottle and Bucket are not spillable by default.

[2017-04-02 11:09] m1696309 opened #1133 "10.0.1 Can't composite steel! How to solve?"
version 10.0.1
No blast furnace, blast furnace bricks, can't composite steel! How to solve?

[2017-04-02 11:12] CovertJaguar commented on #1133
Cook Iron Nuggets in a furnace.

[2017-04-02 11:12] #1133 closed, assigned to nobody

[2017-04-02 14:35] Moobien opened #1134 "Multiple issues."
No idea if any of these have been picked up on yet but in the last couple of versions for 1.10.2 I am noticing a few things not working/interacting or outright MIA.

Using latest RC version on curse.

1) Coke Oven and Blast Furnace, Iron and Steel Tanks: MIA
2) EnderIO Tank not transferring Creosote Oil into jars - no jars consumed
3) Creosote Oil missing texture.

Here is my Mods List.

Architect

[2017-04-02 15:15] liach commented on #1134
1. Multiblocks: Not ported yet. See #1017
2. Creosote is not added back as a liquid yet. It is just an item.
3. So that creosote is not from Railcraft, thus "not railcraft".

[2017-04-02 18:48] liach commented on #1134
And check #1132 out.

[2017-04-02 22:05] Generalcamo opened #1136 "IC2 module issues"
Multiple issues with the IC2 module that should be fixed before the release:

- [x] IC2 Upgrades (Energy Storage, Transformer, Overclocker, etc.) cannot be added to the Energy Loader and Unloader (There is also no button showing which ones can be added, likely related)
- [x] Macerating Obsidian --> Crushed Obsidian doesn't work in default configs (requires outside modifications to support. Caused

[2017-04-02 23:19] Ristellise opened #1137 "Minecart Hopper Issues"
1. when you open the inventory of the hopper minecart, it displays its unlocalised names
2. Hopper carts do not pull items froma block above.. though this might be a vanilla bug, if would be nice if wd could reimplement it back.

[2017-04-02 23:21] liach commented on #1137
Probably I need to write it a little bit.

[2017-04-02 23:30] liach commented on #1136
Related: #993

[2017-04-02 23:35] Moobien commented on #1134
Ahhhh. With RC installed rails are uncraftable because the recipe wants creosote

[2017-04-03 00:00] liach commented on #1134
Cook coal in furnace to get 2 creosotes. Any more issue?

[2017-04-03 00:49] Moobien commented on #1134
Thanks for all the info :)

[2017-04-03 00:49] #1134 closed, assigned to nobody

[2017-04-03 00:51] liach commented on #656
@CovertJaguar @Generalcamo I think we can address this right now.

[2017-04-03 04:29] m1696309 commented on #1133
Thanks

[2017-04-03 09:30] Ristellise commented on #1132
main issue is creosote is not registered to forge fluid registry.

[2017-04-03 10:58] #521 closed

[2017-04-03 11:11] CovertJaguar commented on #1125
Closed by a408da1f967e2994b6f159e9bd3e7b7a5595c97c

[2017-04-03 11:11] #1125 closed, assigned to nobody

[2017-04-03 13:12] Generalcamo commented on #1136
A note here:
Lapotron Upgrade is getting replaced by an Energy Crystal Upgrade to match the current IC2 tiering. It will behave exactly the same though, just look different and have a different recipe. If IC2 classic is loaded, it will use the old Lapotron Upgrade.

[2017-04-03 15:52] #844 closed

[2017-04-03 16:32] liach commented on #1117
@CovertJaguar How do you think of this after all? I think I can all three types of carts, just change the chain from block forms to cart linking forms.

[2017-04-03 16:33] liach commented on #890
@CovertJaguar I think you should try to add this back since it is a point of interest of users, at least more attractive than decorative blocks.

[2017-04-03 16:34] liach commented on #1106
This will probably wait until the addition of creosote back as a fluid.

[2017-04-03 16:48] Generalcamo commented on #656
I was considering adding a Steamer block which would have different particle effects. Those could be colourable too though I guess.

[2017-04-03 21:13] liach commented on #1012
@prospercraft Can you still replicate this issue?

[2017-04-04 06:37] Blargenth commented on #1013
This issue wasn't resolved. There is only one rolling machine in Beyond right now, the TechReborn rolling machine. And its recipe does not include the railcraft iron plate

[2017-04-04 09:53] Ristellise commented on #1013
fixed in dev.. not available in current release...

[2017-04-05 03:44] m1696309 opened #1141 "10.0.1 version? How to deal with Firestone?"
10.0.1 version? How to deal with Firestone?

?

[2017-04-05 15:28] liach commented on #1141
Do you mean how to process firestone without rock crusher? Unfortunately, there is no way right now.

[2017-04-05 20:32] LawsOfScience opened #1142 "[1.10.2] IC2 Feeder Crash (and suggestions)"
*[MC 1.10.2, Ver 10.0.1]
Hey, I'm sure this has already been brought up before, but I'm bringing it up again.

Whenever I place down an IC2 Feeder, my game instantly crashes and I cannot re-enter that world. However, installing IC2 fixes this. If this crash was intended, then leave this alone I guess. Also, I would like to see the routing and signaling stuff put back in, that was one of my favorit

[2017-04-05 21:33] Generalcamo commented on #1142
How are you placing an IC2 Feeder without IC2 installed? That recipe shouldn't be registered in the first place.

Of course it crashes since it relies on the IC2 API to work properly.

[2017-04-05 21:50] liach commented on #1142
routing and signals will be in next version, 10.2

[2017-04-06 00:39] liach commented on #1141
See #1066

[2017-04-06 00:39] #1141 closed, assigned to nobody

[2017-04-06 18:12] raymondbh commented on #1053
Kind of same problem. Trying to set the loader to immedite and the unloader to complete, settings will always end up as the loader is set. But even then it's not working as it should, the unloader just sends the cart away even its not finnished (in complete mode).

[2017-04-07 07:56] CovertJaguar commented on #1142
I may have derped a bit on the Feeders. I cut a few corners with them. Like not disabling the recipe.

[2017-04-07 08:14] CovertJaguar commented on #890
Rendering is completely broken atm. I've barely even looked at what needs to be fixed.

[2017-04-07 08:15] CovertJaguar commented on #1117
All I know is that it breaks peoples scripts right now.

[2017-04-07 10:02] #1077 closed, assigned to nobody

[2017-04-07 10:02] #1142 closed, assigned to CovertJaguar

[2017-04-07 10:22] #766 closed

[2017-04-07 11:57] #619 closed

[2017-04-07 16:27] liach opened #1143 "Colorable laser track"
www.railcraft.info/forum/?mingleforumaction=viewtopic&t=823.0#postid-3086

[2017-04-08 03:03] CovertJaguar commented on #1143
That is not a simple thing to implement.

[2017-04-08 03:24] liach commented on #1143
You mean new textures?

[2017-04-08 10:02] CovertJaguar commented on #1143
No, I mean I had planned to make the Force track a Block without a tile entity. You'd need to have a Tile Entity to store the color data.

[2017-04-08 13:53] liach commented on #1143
why?

[2017-04-08 15:28] CovertJaguar commented on #1143
Because tracks use the metadata for shape information.

[2017-04-08 21:19] liach commented on #1143
oh. non-ticking tes should not be too bad, I guess.

[2017-04-09 07:47] liach commented on #1074
Dupe of #981, closing

[2017-04-09 07:47] #1074 closed, assigned to nobody

[2017-04-09 08:14] TobyWanBJ opened #1144 "Smoker"
As part of updating the smoker to 1.10.2 I propose adding the ability to create a steam effect/cloud effect for use in cooling towers

This could potentially be done through the minecraft cloud, with a timed life.

Also as part of this, the smoker could have a slider mechanic to determine the density of the particles released.

[2017-04-09 16:45] Generalcamo commented on #1144
I actually had an idea for this, involving a seperate block instead so the smoker could remain as simple as possible. If making it more complex is desired, then we can look at that instead.

[2017-04-09 17:58] liach commented on #1144
this would be easy since smoker is already a tile entity

[2017-04-10 05:45] liach commented on #1039
@Generalcamo Can you work on this?

[2017-04-10 10:15] Generalcamo commented on #1039
Rejected

[2017-04-10 10:15] #1039 closed, assigned to nobody

[2017-04-10 15:59] abculatter2 commented on #1143
Is it a significant concern to simply use 16 block IDs?

[2017-04-10 16:00] abculatter2 commented on #1130
Why not make nickel be a by-product of another ore, such as iron?

It's annoying how every mod adds a ton of its own ores simply because 'it's cool' or 'it's realistic'...

[2017-04-10 16:10] CovertJaguar commented on #1143
Yes, we only have 4k, some big packs hit that.

[2017-04-10 17:09] Generalcamo commented on #1130
Actually, making Nickel a by-product of Iron Ore is more realistic. Problem is though that this can cause issues with other mods. One of the ideas I had (for user intuitiveness and compatibility with other mods) was to have Nickel generate within Iron Ore Mines, so you would collect a lot of iron and some nickel.

[2017-04-10 22:56] #1130 closed, assigned to Generalcamo

[2017-04-11 10:31] #983 closed, assigned to CovertJaguar

[2017-04-12 00:18] Generalcamo opened #1147 "Look into adding mod support for Ore Mines"
Currently, our ore mines generate using Railcraft and Vanilla ores. There are however some other mods that include their own metals that could benefit from this type of generation. These include things like:

- Uranium Ore (IC2)
- Alumin(i)um Ore (Various)
- Quick Silver (Thaumcraft)
- Zinc Ore (Various)

We should look into things like this in the future.

[2017-04-12 01:09] #996 closed, assigned to nobody

[2017-04-12 01:37] #993 closed, assigned to Generalcamo

[2017-04-12 01:46] bookerthegeek commented on #1147
God thank you. A simple config line for mine name, and th ore to spawn (optionally also somehow to include other sort of poor ore or dense ore versions or said ore), along with the y level would be amazing.

[2017-04-12 02:44] MauveCloud commented on #1147
I've seen it spelled "aluminum" or "aluminium", but I don't think I had seen it spelled "aluminuim" before, as this would suggest. 😆

[2017-04-12 04:02] bookerthegeek commented on #1147
As most mods (honestly all mods other then GregTech) spell it ```Aluminum``` I would suggest going with the traditional North American spelling.

[2017-04-12 04:12] mezz commented on #983
A recent Forge PR has allowed me to implement this in a less eye-burning way in 1.11:
https://github.com/ForestryMC/ForestryMC/commit/3e175aa8e6ebb10f213581ca6a80b741b00082a2

[2017-04-12 04:20] CovertJaguar commented on #983
@mezz my main issue with the current implementation is that it chokes hard on missing items, rather than ignore them. Which makes it a pain for people who disable Railcraft items or modules, they also have to provide their own loot tables with the disabled items removed.

[2017-04-12 04:28] mezz commented on #983
I should split up the loot table additions so they are one file per module to help with that.
Did you find a better way to do it in Railcraft or does it still have the same issue?

[2017-04-12 10:56] Generalcamo commented on #1147
...without going into a major argument about something like that, most mods actually use Aluminium in non-NA localization. So we will just do that.

[2017-04-12 15:38] liach commented on #1147
hey, since CJ lives in the US, so US localization. Change only in language file.

[2017-04-12 17:49] CovertJaguar commented on #983
@mezz I considered making a custom Loot Type, one that would react gracefully to missing items, but unfortunately the Forge code for that in 1.10 just leads to a "TODO: put custom Loot Type code here eventually". So at the moment, if you disable an item in a loot table, you either get no loot at all or you have to make a new table and put it in a resource pack.

[2017-04-12 18:05] CovertJaguar commented on #1147
There are no plans to add Aluminium, Aluminum, or any other Alums to Railcraft. The point was to be able to generate mines for other mod's blocks.

[2017-04-14 20:06] Yorkforce opened #1149 "Server Crash - Cannot get property PropertyEnum"
Currently getting this crash on the Farming Valley modpack:

https://pastebin.com/DKr35reX

[2017-04-15 17:48] Georggi commented on #585
If it is going to be resolved, is it possible to release 1.7.10 version of this?

[2017-04-15 23:57] liach commented on #585
not likely

[2017-04-16 00:57] P3rf3ctXZer0 opened #1150 "Forwarding world Generation bug from Sponge 1.10.2"
https://github.com/SpongePowered/SpongeForge/issues/1443

[2017-04-16 03:59] CovertJaguar commented on #1150
By design, the Quarry touches nothing outside its own chunk. I'm calling BS.

[2017-04-16 04:11] #1149 closed, assigned to nobody

[2017-04-16 04:36] Deamon5550 commented on #1150
@CovertJaguar Right here in the middle of that stack posted

[code]

Which is caused by [this line](https://github.com/CovertJaguar/Railcraft/blob/fb37747027c4faf2fb2c80a9ad467369a09f4d00/src/main/java/mods/railcraft/common/worldgen/WorldGenQuarry.java#L120) checking if the neighbouring block is air, which since it is iterating purely within the chunk and not at an 8 block offset is causing the ne

[2017-04-16 08:41] mallrat208 commented on #1132
I'm fairly certain this crash isn't because of the Creosote fluid added in Immersive Engineering and instead it's actually the container it's kept in.

The ItemBottle/ItemFluidContainer that Railcraft implements has methods to place fluids contained within the item in world which works just fine in Creative. The problem happens when the mod tries to find the Container item for Railcraft's Creosote

[2017-04-16 15:51] liach commented on #1132
@mallrat208 The creosote bottle is supposed to be consumed in crafting... I support your idea though.

[2017-04-17 20:13] CovertJaguar commented on #1132
@mallrat208 Item.getContainerItem()? I don't override that, why would I? It's just using the vanilla default. It doesn't and isn't supposed to have one.

[2017-04-17 20:42] mallrat208 commented on #1132
@CovertJaguar You don't override it, no, but you do invoke it.
https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/fluids/ItemFluidContainer.java#L66-L67

Since the bottles only crash when you are in not* Creative, this is the most likely spot for there to be a problem. As a test I had setup a local version of Railcraft that had your ItemBottle return a Gla

[2017-04-17 21:12] #1150 closed, assigned to nobody

[2017-04-17 21:16] CovertJaguar commented on #1132
There is a bit of legacy code there yes, but this cannot be the cause of the crash.

For one, that line is only called if you are NOT in creative. Secondly, I believe null is a valid return value for that function.

[2017-04-17 21:23] CovertJaguar commented on #1132
Ah...I see the issue now! Null is not a valid return value for that function.

[2017-04-17 21:29] #1132 closed, assigned to nobody

[2017-04-17 21:36] mallrat208 commented on #1132
Whoops, I definitely thought I had typed not, I'm sorry about the confusion there.

[2017-04-18 04:19] TCloudGaming opened #1151 "Quarried Cobblestone into Quarried Stone instead of Quarried Block."
This is obviously a very small thing, but it would be nice if the Quarried Cobblestone would be smelted into Quarried Stone to make it more easily obtainable.

[2017-04-18 07:03] liach opened #1152 "Trackman villagers harvest farmland like farmers do"
![2017-04-18_00 01 20](https://cloud.githubusercontent.com/assets/7806504/25118291/76ca79aa-23ca-11e7-95dd-3379e8a29e86.png)

[2017-04-18 13:54] CovertJaguar commented on #1152
I don't think we have control over this atm. @cpw was talking about adding some AI support to the API, but I don't know if it ever went anywhere.

[2017-04-18 13:56] CovertJaguar commented on #1151
@liach marking something as an open project is my prerogative, please stop. -.-

@Generalcamo I'll let you sort this out.

[2017-04-18 15:02] liach commented on #1152
Then it is a forge bug: Villagers are supposed to check their profession before farming.

[2017-04-18 15:06] liach opened #1153 "Bugs with trades"
https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/common/worldgen/VillagerTrades.java#L52-L61

Currently the locomotive and the track kit trade does not work as intended. It does not show up in the trades.

[2017-04-18 15:08] Generalcamo commented on #1151
Duplicate of #1103

[2017-04-18 15:08] #1151 closed, assigned to Generalcamo

[2017-04-18 15:12] Generalcamo commented on #1103
Heavily related to #1120, so I'll be handling this alongside that for 10.2

[2017-04-18 16:12] #1053 closed, assigned to CovertJaguar

[2017-04-18 16:38] CovertJaguar opened #1154 "Rework Box neighbor connection API"
At the moment it depends on getting the TileEntity, which isn't available when its initially rendered, resulting in unpredictable rendering updates of the models.

[2017-04-18 16:38] CovertJaguar commented on #1154
@Vexatos this will probably affect you.

[2017-04-20 07:50] liach commented on #882
Might this relate to the loading of nbt data instead of the stroage of it?

[2017-04-20 07:51] liach commented on #423
@CovertJaguar How about an invar bore head?

[2017-04-20 18:25] bookerthegeek commented on #423
Why not just dynamicaly create birr heads from any material that has an ingot? Set the harvest level to match whatever a pickaxe of the same material would have.

[2017-04-20 19:44] Generalcamo opened #1155 "Add a real recipe for the Charge Trap"
The Charge Trap is currently using a temporary recipe. It needs a better recipe.

[2017-04-20 19:45] Generalcamo opened #1156 "Add a sound for the Charge Trap"
Add a sound for when the Charge Trap is activated and zapping things.

[2017-04-20 19:55] liach commented on #423
no... they might be only made of hard materials

[2017-04-21 00:45] ReTeYeZ opened #1157 "Question: Sulfur/Saltpeter generation"
I've enabled the wolrd module and the generation of the ores in the config but after some testing I couldn't find neither of those. JER doesn't show any generation statistics aswell.
So are they actually supposed to generate, event tho they dont show up in JER?
Just wanna be sure before I start a new world.

[2017-04-21 01:09] CovertJaguar commented on #1157
They both have very specific generation rules, so you aren't like to find them unless you know where to look.

Saltpeter spawns in dry sandy biomes, a layer under the surface, with some sprinkled on the surface for easy identification.

Sulfur spawns in mountainous biomes around y-level 10, but only next to lava.

[2017-04-21 01:09] #1157 closed, assigned to nobody

[2017-04-21 02:58] m1696309 opened #1158 "Crash for the version 10.1.0 ，MC 1.10.2."
same error for Forge 2.2017 and 3.2281。

Time: 4/21/17 10:51 AM
Description: There was a severe problem during mod loading that has caused the game to fail

net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Railcraft (railcraft)
Caused by: java.lang.NoSuchFieldError: CHEST
	at mods.railcraft.common.carts.RailcraftCarts.<clinit>(RailcraftCarts.java:55)
	at mods.railcraft.

[2017-04-21 03:09] Seth0067 commented on #1158
+1 on this.  Here's my [log ](https://pastebin.com/hU2XK3wD) from client crash.

[2017-04-21 03:16] brisingraerowing commented on #1158
The game loads fine for me with 10.1.0, so I think this may be a mod compatibility issue of some sort.

[2017-04-21 04:07] CovertJaguar commented on #1158
It's probably referring to Blocks.CHEST, but no idea why that is throwing a NoSuchFieldError. You'll need to find the mod responsible.

[2017-04-21 06:00] m1696309 commented on #1158
This crash found for mc 1.10.2 ,forge (2.2017 and 3.2281),windows 7 64bit,only  one mod railcraft 10.1.0,
error report:
[13:53:13] [Game Launcher/INFO] Starting process
[13:53:13] [Game Launcher/INFO] [C:\Program Files\Java\jre1.8.0_91\bin\javaw.exe, -XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump, -XX:+UseG1GC, -XX:-UseAdaptiveSizePolicy, -XX:-OmitStackTra

[2017-04-21 06:02] m1696309 commented on #1158
Hello

This crash found for mc 1.10.2 ,forge (2.2017 and 3.2281),windows 7 64bit,only  one mod railcraft 10.1.0,

error report:

[13:53:13] [Game Launcher/INFO] Starting process
[13:53:13] [Game Launcher/INFO] [C:\Program Files\Java\jre1.8.0_91\bin\javaw.exe, -XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump, -XX:+UseG1GC, -XX:-UseAdaptiveSizePolicy, -XX:-Omi

[2017-04-21 06:35] CovertJaguar commented on #1158
Ugh... you are using the DEV jar.... I knew posting it on curse was a bad idea.

[2017-04-21 06:35] #1158 closed, assigned to nobody

[2017-04-21 06:49] m1696309 commented on #1158
Aha , I.m wrong
I download this .jar from mirror2 "Download via CurseForge",then lists has a DEV.

[2017-04-21 06:54] CovertJaguar commented on #1158
They are both on the same page, the Development (not obfuscated) at the bottom, the Production (obfuscated) version at the top. I probably won't be posting the dev versions on there again since it appears to be confusing people.

[2017-04-21 10:09] Cream-Tea opened #1159 "Add a reverse option to the throttle track."
Selfy explanatory.

This one's on me.

[2017-04-21 13:32] CovertJaguar opened #1161 "Routing Actuator/Detector crashes on Server"
https://gist.github.com/Forecaster/10cd1b114f931f7e57861f92d8c02846

[2017-04-21 15:38] #1161 closed, assigned to nobody

[2017-04-21 15:51] #1159 closed, assigned to Cream-Tea

[2017-04-21 18:00] #1154 closed, assigned to CovertJaguar

[2017-04-21 19:46] Y0ungSandwich opened #1162 "10.1.0 Conflict with Mod: BlockDrops v1.1.1"
https://pastebin.com/S2hvzdkK

[2017-04-21 21:54] UltraVolta425 opened #1163 "Railcraft crash: TileCokeOven cannot be cast to Reika.DragonAPI.Base.TileEntityBase"
Hey

I recently built Reika's Reactorcraft's Fusion Reactor, and as soon as everything was set up properly and the plasma was running, I continued working in my singleplayer map. But then I got a crash, and since then I can't start up the game anymore. As soon as I select my singleplayer map (so the game does start up, but the crash starts when I load my map) it crashes with the following crash re

[2017-04-21 21:56] Generalcamo commented on #1163
You are running 1.7.10, correct?

[2017-04-21 22:00] UltraVolta425 commented on #1163
How silly of me not to mention this.
Yes, I am running 1.7.10. I'll update the post at once. :)

2017-04-21 23:56 GMT+02:00 Cody Brittain <notifications@github.com>:

[2017-04-21 22:02] CovertJaguar commented on #1163
This is because of bad instance checking on tile entities in Dragon API, nothing I can do from my end.

[2017-04-21 22:02] #1163 closed, assigned to nobody

[2017-04-21 23:03] liach commented on #1162
Does this crash only happen when Railcraft is installed?

[2017-04-21 23:05] Y0ungSandwich commented on #1162
Only when this version is installed.  Previous versions work fine.

[2017-04-21 23:05] liach commented on #1162
ignore my last comment. So this happens when both mods are installed in a fresh environment, right?

[2017-04-21 23:08] Y0ungSandwich commented on #1162
This is happening during a pack update of Mech &  Magic on ATLauncher.  I'm willing to bet JEI is a middle man culprit here.

[2017-04-21 23:11] liach commented on #1162
This is related to Railcraft's creative tab handling by blocks, which add null entries to the list... That is my best guess. @CovertJaguar Please take a look.

[2017-04-21 23:18] CovertJaguar commented on #1162
I've run a test over all my blocks, and none added a null with default settings. Are you running any config changes?

[2017-04-22 00:51] #1156 closed, assigned to CovertJaguar

[2017-04-22 01:05] CovertJaguar commented on #1155
Eventually it will require a battery I think.

[2017-04-22 09:22] m1696309 opened #1164 "Anchor and Anchor cart ? RF ？ that is a very useful?"
10.1.1 Very good！！！

which version will add Anchor and Anchor cart ?   that is a very useful?

whether consider make a block for  RF energy to RC power conversion？

[2017-04-22 09:46] D3nnis3n opened #1165 "Chunk Loaders and Signal Boxes"
Are they still not in or is my Railcraft bugged?

[2017-04-22 10:16] D3nnis3n commented on #1162
I use this mod with railcraft 10.1.1 and 120 other mods and got no crash.

[2017-04-22 11:16] LizzyTrickster commented on #1165
The boxes themselves are in the newerst version. However the Signal Block
Heads (the lamps and stuff) and world anchors are not yet ported

On 22 April 2017 at 10:46, D3nnis3n <notifications@github.com> wrote:

--
Regards,
Lizzy Green

[2017-04-22 11:20] D3nnis3n commented on #1165
Yeh, that is what i saw but thought that could not be the case, because why would anyone port nearly all needed stuff but does not port three things that are needed - as otherwise the complete thing does not work :D

Alright, so i hope the next version will not take 6 months :( Even Beta-Versions took ages.

Such an important mod :D Thanks for all your work (Covert and other Helpers)

[2017-04-22 12:35] #1165 closed, assigned to nobody

[2017-04-22 12:36] CovertJaguar commented on #1164
Look at the milestones under issues.

[2017-04-22 12:36] #1164 closed, assigned to nobody

[2017-04-24 02:36] mallrat208 opened #1166 "Crash when trading with Railcraft Villager"
Railcraft version: 10.1.1
Report: https://gist.github.com/mallrat208/174201d6fa1a51ec50b186c981923127

There seems to be a crash with trading with the Railcraft villager, upon doing so it attempts to register an item at the wrong time resulting in a RuntimeException

[2017-04-24 02:36] Vaygrim opened #1167 "(CRASH) "Ticking Entity" after trading with Railcraft Villager"
Minecraft 1.10.2 / Railcraft 10,1.1 / Forge 2281

User was performing a trade with a Railcraft villager. Mid-trade, server crashes due to a "Ticking Entity" error. [https://github.com/Vaygrim/CoopLife/issues/7](https://github.com/Vaygrim/CoopLife/issues/7)

First time it has happened, doesn't _seem_ common?

[2017-04-24 02:38] mallrat208 commented on #1166
Duplicate of #1167

[2017-04-24 02:38] #1166 closed, assigned to nobody

[2017-04-24 03:36] liach commented on #1167
What items did you disable?

[2017-04-24 03:41] liach commented on #1164
呃呵... 有问题你用中文问好了。各种机器因为渲染比较困难，暂时没有加回来，虽然其机制还在源码中。单方块机器会更早加入，比如锚、辊压机和饲育站。

[2017-04-24 03:42] liach commented on #1164
By the way, another point of concern is that CoFH might make some overpowered power converter, destroying the modding community further.

[2017-04-24 04:00] Vaygrim commented on #1167
Only two things disabled are "Bottle of Creosote" and "Bucket of Creosote". Had to disable those as we were getting a crash when users right clicked either item, to dump them out into the world. (A bug that I saw previously reported here.)

[2017-04-24 04:01] Vaygrim commented on #1167
Oh actually that's not true.. I've also got the Signals module disabled, but that's the whole module. We weren't sure how long it was going to take for those to be re-added to Railcraft, and opt'ed to include another mod that added those same blocks. So .. disabled to prevent redundancy.

[2017-04-24 04:33] liach commented on #1167
They are currently available. You can use the signal boxes as signal lights; the routing system already works. However, keep this open because this is an issue with handling other things.

[2017-04-24 11:45] m1696309 commented on #1164
Liach 谢谢,我英文不好，我也是做软件的,不知道能不能帮上什么忙，以前做过简单的插件！

[2017-04-24 18:52] liach commented on #1164
推荐你耐心等，反正不会弃坑的

[2017-04-25 00:56] m1696309 commented on #1164
OK

[2017-04-25 01:04] MrabEzreb commented on #1123
how did you solve this? I have the same issue, when I place the bore onto track, it immediately drops as an item.

[2017-04-25 01:16] liach commented on #1123
Is there a big enough space? Try to use on creative singleplayer. Server modifications such as plugins may block the placement of tunnel bores since it is a well-known griefing tool.

[2017-04-25 01:20] MrabEzreb commented on #1123
It worked in creative singleplayer, but it doesn't work on a (lan world) server. It doesn't have any plugins as it is just open to lan

[2017-04-25 02:05] forestbat opened #1168 "About the repost of RC"
I'm an editor of an encyclopedia website www.mcmod.cn of Minecraft in China,because of the different between languages,and many people have trouble to use curse becuase of Google API--too slow in China,so we want to repost your mod to there for spreading RC better,and we still will direct players to curse as possible,do you agree to give us the authority?

[2017-04-25 03:27] CovertJaguar commented on #1168
@liach remind me what I said for you about this topic.

[2017-04-25 05:29] liach commented on #1168
@forestbat See #928: Download must be from curseforge as CovertJaguar would like. However, you can still link to the download page (the exact jar file, not the list), the download is always going to start in 3 seconds no matter whether the whole page is loaded (the page will appear in loading progress, but it will be fine)

为方便起见可以说中文。
吐槽一句，mcmod百科说电力伤害是药水效果，只是和原版水伤害一样的一个伤害来源而已

[2017-04-25 05:55] CovertJaguar commented on #1168
And there you have it.

[2017-04-25 05:55] #1168 closed, assigned to nobody

[2017-04-25 09:04] m1696309 opened #1169 "About recycle station."
关于列车回收站的建议：

既然有列车发车站，应该也有列车回收车站，有红石信号的列车回收车站把当前轨道上的列车回收进回收车站，如果是装了物品的拒绝回收。

Since there are train station, should also have a recycling station on the train, the train has a redstone signal recycling station in orbit in the current recovery into the recycling station, if it is installed items refused to recycling.

[2017-04-25 13:36] bear989 opened #1170 "steel axe upside down"
When you set your character to left handed the steel axe is upside down

[2017-04-25 16:33] MrabEzreb commented on #1123
This only happens in the lan world, regardless of whether it is open to lan or not. The host and I both tested in a singleplayer world creative and survival, and it worked.

[2017-04-25 16:45] liach commented on #1123
How about dedicated servers?

[2017-04-25 18:35] WesCook opened #1171 "Creative Mode crash with certain blocks disabled"
Railcraft will crash using the Creative Search tab (not the Railcraft tab) with certain blocks disabled.  From the testing I did, these blocks were the ones at fault:

    B:ore_dark_diamond=false
    B:ore_dark_emerald=false
    B:ore_dark_lapis=false
    B:ore_saltpeter=false
    B:ore_sulfur=false

Other ores can still be disabled safely.

May be related to #1162.

edit: Ah, almost forgot a cra

[2017-04-25 19:45] Generalcamo commented on #1170
Can confirm

[2017-04-25 20:05] #1170 closed, assigned to Generalcamo

[2017-04-25 20:29] WesCook opened #1173 "Trackman entity crash with mod "Neat""
This is related to the mod [Neat](https://minecraft.curseforge.com/projects/neat).  Viewing a Trackman villager will immediately crash the game.  These can be spawned in with the mob egg (and some luck) to test.

Crash log: https://pastebin.com/1fyYQRwS

For players: This can be temporarily worked around by adding "Villager" as an entry to the Neat blacklist.

[2017-04-25 20:42] Elvarion opened #1174 "[1.10.2] Locking Track - Redstone Issue"
Placing down a Locking Track and switching it to "Train Lockdown Mode" and then giving it a redstone signal will power it until broken. None of the other alt. versions of the Locking Track does this. It only happens with the Train version.
(This feels unintentional unless I am missing something here)

Lockdown Mode
https://gyazo.com/fbff8bb36eede6ebd56b0e9dee272c67
Train Lockdown Mode
https://gyaz

[2017-04-25 20:44] #1174 closed, assigned to nobody

[2017-04-25 20:44] Elvarion commented on #1174
Noticed #828

[2017-04-26 03:17] Generalcamo commented on #1173
@liach This one might concern you

[2017-04-26 04:15] liach commented on #1173
Dupe of #1167. Medium priority because the game crashes.

[2017-04-26 04:15] #1173 closed, assigned to nobody

[2017-04-26 04:17] liach commented on #1162
Removing "mod compatibility" since it's reported to happen in pure Railcraft.

[2017-04-26 04:18] liach commented on #1171
Merged into #1162. Thanks for the report!

[2017-04-26 04:21] liach commented on #882
This issue has been observed several times on the official Railcraft server.

[2017-04-26 04:41] liach opened #1175 "Bronze should not be used for iron tracks"
The vanilla tracks are now "iron track type" in Railcraft; however, they can be made of bronze. I suggest removing the bronze to track recipe.

[2017-04-26 04:46] liach commented on #1137
Number one is fixed by CovertJaguar/Railcraft-Localization#327, right?

Do you mean picking items through a block or picking items through an inventory right overhead?

[2017-04-26 05:25] CovertJaguar commented on #1175
Why? I see no reason to do this. Track should be more accessible, not less.

[2017-04-26 05:25] #1175 closed, assigned to nobody

[2017-04-26 05:28] #1162 closed, assigned to nobody

[2017-04-26 06:05] Ristellise commented on #1137
picking through a block. this is probably a oversigh by mojang but it is quite useful for hiddeb piston doors.

[2017-04-26 06:08] Ristellise opened #1176 "The mad hunt for localisation issues"
I came a across a couple of localisation issues previously and have forgotten. best way is to scan through all the blocks and tracks GUI.

I will leave it as an open project here. everyone can fix issues like this by creating a localisation string in the respective lines.

[2017-04-26 06:11] liach commented on #1176
You should also report this to the localization repo.

[2017-04-26 06:30] liach commented on #1175
That is like bronze -> Iron exploit when some other mods allow conversion of large amounts of tracks into iron ingots.

[2017-04-26 06:47] liach commented on #1143
Hmm, recently vanilla Minecraft team said that they encourage to use more block ids for different block types, instead of using metadata for different colors, etc.

[2017-04-26 06:53] liach commented on #882
Side note: https://github.com/CovertJaguar/Railcraft/commit/f51e32dac5ec5e6140bc2e3b6dbb28a75de149f3

[2017-04-26 09:09] liach commented on #1012
@ProsperCraft Does this happen in railcraft 10.1.1?

[2017-04-26 11:03] WesCook commented on #1173
Ah, so if I understand correctly the problem was that items being disabled would cause the villager to crash when the GUI was opened, and Neat simply exposed that information to the player sooner.  Is that right?

When removing Neat I found I couldn't actually open the trading GUI, but there may be additional checks in place there.

Thanks for looking into it in regardless.

[2017-04-26 11:59] Generalcamo commented on #1175
Localization could be better I will admit. Even without the bronze recipe, there is still the Iron, Refined Iron, Invar, and Steel recipes for "Iron" tracks.

[2017-04-26 13:56] liach commented on #1173
Dunno what caused the other behavior, but I've fixed a crash of the same stacktrace.

[2017-04-26 15:09] ProsperCraft commented on #1012
Sorry we quit hosting this pack.

[2017-04-26 18:29] purpleposeidon opened #1179 "Implement proper kit recipes"
To generalize, you get 2⅔ outfitted tracks per each rail, and/or 16 for each set of recipe-selector items.

Some points of interest:
- Routing: Other than the rails, basically free (1/16 redstone & an infinite-use golden ticket)
- Control: Gives 32 instead of the more usual 16

# Railcraft 1.7.10 Outfitted Track Costs

Locomotive = 16 locomotive / (6 standard + 2 signal lamps + 1 railbed)
Whistle

[2017-04-26 18:39] purpleposeidon commented on #1179
The kit parts recipe seems OK-cost wise, and I am fond of the 3 bronze vs 2 iron vs 1 steel thing. It does trouble me tho.

All kit recipes use a wooden plank and a redstone (excepting the buffer stop); this might as well go in the rolling machine with the nuggets. (Rolliing wood? Well the wood could become something more rollable.)

Crafting things out of 3 nuggets (or worse, 1 nugget) feels supe

[2017-04-26 22:50] #1012 closed, assigned to nobody

[2017-04-26 22:54] #1176 closed, assigned to nobody

[2017-04-26 23:06] CovertJaguar commented on #1169
I don't even know what this means.

[2017-04-26 23:10] CovertJaguar commented on #1175
As far as I know, its just called "Track" and "Standard Rail", no "Iron" anywhere.

[2017-04-26 23:13] CovertJaguar commented on #1143
Yes, well Mojang still only officially supports 256 block ids, so they are not a reliable source.

[2017-04-26 23:25] liach commented on #1123
Why close?

[2017-04-26 23:28] CovertJaguar commented on #1123
Because we have no idea how to replicate it and it seems that reporter can't either.

[2017-04-27 00:44] liach commented on #1123
He said it is in lan world

[2017-04-27 01:34] CovertJaguar commented on #1123
Oh, I must have misread it.

[2017-04-27 01:35] #1171 closed, assigned to liach

[2017-04-27 01:45] Generalcamo commented on #981
Definitely still a thing unfortunately. @CovertJaguar

[2017-04-27 02:03] liach commented on #981
Same error or just loading API from incompatible classloader?

[2017-04-27 02:05] liach commented on #981
@Generalcamo I cannot reproduce this issue in my test environment. How did you get that?

[2017-04-27 02:06] liach commented on #1169
He says train dispenser does not recycle trains. There should be a recycling station that only recycles empty container carts.

[2017-04-27 07:26] CovertJaguar commented on #1169
You mean the Cart Dispenser?

[2017-04-27 07:26] #1169 closed, assigned to nobody

[2017-04-27 07:27] CovertJaguar commented on #981
Uh...it shouldn't be

[2017-04-27 15:20] liach commented on #981
Isn't this fixed with the latest commit 51749de7a1d28c9cce5bd059979b8635bc3dfedb?

[2017-04-27 15:24] Generalcamo commented on #981
Right I mixed this one up.

[2017-04-27 15:24] #981 closed, assigned to liach

[2017-04-27 15:24] Generalcamo commented on #1179
Could just make a shapeless recipe for the plank + redstone, rather than relying on the rolling machine.

[2017-04-27 15:26] liach commented on #981
@CovertJaguar Will you releasee 10.1.2 then?

[2017-04-27 17:55] liach commented on #1123
I tried in lan world and it worked correctly.

[2017-04-27 18:37] Generalcamo opened #1180 "Split Railcraft villager up into careers"
Currently, the Railcraft Villager's trades are contained in a single villager. This is inconsistent with the Vanilla behavior introduced in 1.8 (See: http://minecraft.gamepedia.com/Villager#Professions_and_careers and http://minecraft.gamepedia.com/Trading), and makes that single villager blatently overpowered compared to others.

We should look into splitting this up so we don't have a single vil

[2017-04-27 22:59] liach commented on #1180
#851 is why I moved the milestone.

[2017-04-27 23:01] liach commented on #1153
This issue simply aims to fix existing trades, so I kept it for 10.2

[2017-04-28 00:10] liach commented on #1153
Found out it is an issue with stages

[2017-04-28 23:24] #813 closed

[2017-04-29 07:32] #1152 closed, assigned to liach

[2017-04-29 14:47] twitchyliquid64 commented on #1013
Is there any workaround?

[2017-04-29 15:55] liach commented on #1013
@twitchyliquid64 The rolling machine is back in 10.1.0 and later versions.

[2017-04-29 23:43] liach commented on #423
Hmm will consider thaumcraft only later.

[2017-04-30 01:13] MalkContent opened #1183 "[Feature Request] Buffer Stop Tracks and Booster Tracks interaction"
If Booster Tracks have full, opaque blockside on one end, they apply a directed boost to halted cars.
I don't know if it's doable, but I think it would be pretty neat, if that also worked when there was a Buffer Stop Track instead of a full, opaque blockside on the end :)

[2017-04-30 04:27] liach commented on #1183
We'd make another track kit for this.

[2017-04-30 06:29] CovertJaguar opened #1184 "Cart Uncrafting is bugged"
Cannot uncraft Chest Cart, per @Neptunepink

[2017-04-30 06:54] liach commented on #1184
This affects many users IMO.

[2017-04-30 07:01] BluestoneMC opened #1185 "Crash on Optifine with H. S. E. Transition Track"
The game keeps crashing when _breaking the block next to H. S. E. Transition Track_.
Unable to load the world again because it keeps crashing when loading the chunk.

Error: java.lang.NullPointerException: Tesselating block model

[2017-04-30 07:05] liach commented on #1185
@BluestoneMC Give the full crash report please.

[2017-04-30 07:34] BluestoneMC commented on #1185
[code]

[2017-04-30 07:39] liach commented on #1185
@sp614x I need your help.

[2017-04-30 07:40] liach commented on #1184
Confirmed.

[2017-04-30 07:44] liach commented on #1184
![2017-04-30_00 32 10](https://cloud.githubusercontent.com/assets/7806504/25562571/24f98508-2d3e-11e7-90ae-8fe38ef0b893.png)

[2017-04-30 10:12] MalkContent commented on #1183
That seems excessive. If it doesn't work/is too unintuitive with the booster track, couldn't you make the buffer stop track apply the boost to the cart in front of it?

[2017-04-30 13:32] liach commented on #1183
The concepts are different.

[2017-04-30 14:26] MalkContent commented on #1183
What concepts?
Bottom line is that I didn't want this request to result in new items as long as it doesn't have to.

[2017-04-30 14:56] liach commented on #1183
booster track is not going to have a new model.

[2017-04-30 15:18] MalkContent commented on #1183
i am just confused now :/ my bad. not having a super smart day today

[2017-04-30 21:31] #1153 closed, assigned to liach

[2017-04-30 21:44] CovertJaguar commented on #1185
I probably just return null to that function as it didn't appear to be used for anything useful.

[2017-04-30 21:50] CovertJaguar commented on #423
Seems like a strange use for Invar. Nickel-Steel probably flakes too much to be useful on Bores (and too expensive) irl. But I suppose we could add one anyway.

[2017-04-30 23:59] sp614x commented on #1185
It crashes with NullPointerException here: https://github.com/CovertJaguar/Railcraft/blob/mc-1.10.2/src/main/java/mods/railcraft/client/render/models/resource/OutfittedTrackModel.java#L204

No idea what can crash with NPE on this line, the state is already checked to be non-null. Maybe the source is not up to date.

With ConnectedTextures the method `getQuads()` may be called with a state which is

[2017-05-01 00:33] liach commented on #1185
@BluestoneMC Try without codechickenlib.

[2017-05-01 02:22] Generalcamo commented on #423
It was probably suggested due to the occurrence of Invar tools in other mods (Substratum/Foundry and Thermal Expansion come to mind). That said, I feel the difference between the three heads is pronounced as-is.

[2017-05-01 02:27] Generalcamo opened #1187 "Crowbar-only enchants are applied to other tools"
Crowbar-only enchantments (Wrecking, Destruction, Implosion) are being applied to tools other than the Crowbar. This can be done through a Book + Anvil, or through an enchantment table.

As a Sidenote: I don't mind if Implosion could be applied to Swords (and Axes secondarily), but the others being applied to pickaxes is too much.

[2017-05-01 02:29] liach commented on #1187
Are you testing in creative or survival?

[2017-05-01 02:30] liach commented on #1187
Lowered priority because it affects only a minority of users, and it does not crash, etc.

[2017-05-01 02:30] Generalcamo commented on #1187
Survival Multiplayer, reported by several people on the official server.

[2017-05-01 06:42] BluestoneMC commented on #1185
Removing codechickenlib and all depending mods didn't solve the issue.
Removing just optifine did, but I can't try if just turning off connected textures is enough because my game keeps crashing when I try to.

[2017-05-01 09:27] #1187 closed, assigned to nobody

[2017-05-01 09:29] CovertJaguar commented on #1187
Book + Anvil should not have been possible, unless something else is wrong. But that should fix the enchanting table issue.

I'd also be fine with allowing Implosion on other things, but I didn't do that here.

[2017-05-01 09:48] CovertJaguar commented on #1185
Isn't this the same issue in #1072?

[2017-05-01 10:47] BluestoneMC commented on #1185
Yes, the weird thing is it only happens with some rails. It never crashed with normal electric rails.

Also some project: red blocks do the same thing.

[2017-05-01 10:47] BluestoneMC commented on #1185
But turning off connected textures fixes the bug.

[2017-05-01 15:06] CovertJaguar commented on #1185
Normal Electric Rails don't use the custom model generator, so they wouldn't be subject to the problem.

[2017-05-01 15:17] CovertJaguar commented on #1183
Changing the vanilla track behavior isn't possible. But we could certainly add it to the Booster Track Kit. I'm just not entirely sure why you'd want that though since the Locking Track does the exact same thing, without the buffer requirement.

[2017-05-01 15:39] liach commented on #1183
Another mode in booster track?

[2017-05-01 16:25] Cassiobsk8 opened #1189 "[1.10.2-10.1.1] Whistle of locomotive playing vanilla sound on server"
In singleplayer everything works as it should, but when I'm playing on the server all the sounds of the whistles have been changed by these:
[https://www.youtube.com/watch?v=ICThDrUhe5A](url)
mod list: https://pastebin.com/k1PZdrRQ
I tried removing all the render mods like optifine and dynamicsurround but the problem continues

[2017-05-01 21:01] Generalcamo commented on #1189
I don't get a sound at all on SSP, haven't tried SMP.

[2017-05-01 21:04] MalkContent commented on #1183
The Locking Track only stops as far as i managed with it.
I want to be able to send the cart away again at some point.
For that I currently have a booster track in front of a cobble block.
I just wanted to replace the cobble block with the buffer stop track, because it looks fancy.

[2017-05-01 21:22] Generalcamo commented on #1189
Confirmed working (on SSP) in 10.1.0, classifying this as a regression.

[2017-05-01 23:35] Y0ungSandwich commented on #1162
I can't reproduce without block drops. Only things I have disabled are poor ores.

[2017-05-01 23:59] CovertJaguar commented on #1183
Hit the Locking Track with a crowbar a few times.

[2017-05-02 05:38] #1184 closed, assigned to nobody

[2017-05-02 05:53] liach commented on #1189
That seems to be a forge bug caused by registry

[2017-05-02 05:55] liach commented on #1189
https://github.com/MinecraftForge/MinecraftForge/issues/3613

[2017-05-02 16:21] MalkContent commented on #1183
oh, awesome, thanks! this makes this a non-issue, i guess.
close at will :)

[2017-05-02 17:41] #1183 closed, assigned to nobody

[2017-05-02 23:09] MalkContent opened #1190 "[1.10.2-10.1.1] Immersive Engineering Conveyors can't insert into Railcraft Inventories"
Railcraft Inventories tested are the Powered Rolling Machine and the Item Loader.
I suspect this is because Railcraft is not using the ItemHandler capability, but this is purely because iirc IE only uses that one to interact with other inventories. I might be completely wrong about this.
The Item Unloader IS capable of emptying its items into/into the conveyors and i think it fits with the suspici

[2017-05-02 23:47] liach commented on #1190
We use IInventory, the vanilla function.

[2017-05-03 02:26] CovertJaguar commented on #1190
And until Forge fixes the API properly, we will continue to use IInventory.

[2017-05-03 07:17] mezz commented on #1190
What needs to be fixed with the API?
Edit: nevermind, found it: https://github.com/MinecraftForge/MinecraftForge/issues/3344

[2017-05-03 09:51] CovertJaguar commented on #1190
Here is an example of a simplex noise cloud being used to generate saltpeter deposits:
https://github.com/CovertJaguar/Railcraft/blob/0280b6013ae6ba553a0729e7daad05e7a9a041dc/src/main/java/mods/railcraft/common/worldgen/WorldGenSaltpeter.java#L53-L53

[2017-05-03 11:08] Generalcamo commented on #1190
This isn't going to happen until 1.12 at the very least from the looks of it. Don't ask when Railcraft will be released for that version, it's looking like there will be another long wait for Forge like there was in the interim of 1.6 and 1.7.

[2017-05-03 14:08] Ghostlyr opened #1191 "[1.7.10] Tank carts + IC2 Universal Fluid Cells = Void Cart"
![noname](https://cloud.githubusercontent.com/assets/8511068/25664135/8693ac8a-303b-11e7-8eff-0354afc504d8.gif)
Steps to reproduce:
1. Place tank cart
2. Putin any universal fluid cell from ic2
3. Wait for the full filling and cry

MC: 1.7.10
Forge: 1644
Railcraft: 9.12.2.0
IC2exp: build 827

[2017-05-04 03:31] liach commented on #882
@CovertJaguar Can I mark this as `can't fix`?

[2017-05-04 09:59] CovertJaguar commented on #882
No, I have a possible fix in the wild being testing right this moment.

[2017-05-04 13:18] draknyte1 opened #1192 "Personal Anchor keeping chunks loaded when owner is offline [1.7.10]"
[code]

I see no reason why after the initial 5-15 minute period after the owner logs off, that this should keep chunks loaded. However during play on a server the past few days, we have noticed whole areas stay loaded several hours after the owner has left. Personal Anchors were chosen to prevent this, but.. they haven't worked.

Any suggestions or ideas?

Thanks.

[2017-05-05 11:01] CovertJaguar commented on #1192
You probably have a poorly coded mod that interacts with unloaded chunks. This can cause what is called chunk thrashing, also known as a Hopper Chunkloader. This behavior is very costly because it is constantly unloading and reloading chunks.

The Anchor does nothing to forcefully remove the chunks it was loading, it just removes the marker that said to keep them loaded.

[2017-05-06 00:24] draknyte1 commented on #1192
It's a large base consisting of tile entities from quite a few mods, as We're playing the Beyond Reality mod pack.

Any known culprits which exhibit this behaviour?

[2017-05-06 05:47] CovertJaguar commented on #1192
Sadly I can't help much there. It would probably be good if the personal anchor tried to unload the chunks forcefully, but I know other mods who tried to do that caused all kinds of problems.

[2017-05-06 06:28] draknyte1 commented on #1192
I've never messed with chunk (un)loading but I assume there's a way to see what mods or possibly tile entities are doing it?

Might look into writing up a quick debug mod if so~

[2017-05-06 10:55] CovertJaguar commented on #1192
Well if you are fine with core mods you could probably hook the code that loads chunks and print the stack traces.